<% provide(:title, 'Publisher Products') %>


	<header>
		<%= render 'share/backtotop' %>
	</header>

	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				
				<div class="col-left">
					<%= render 'share/dir_publishers_left'%>
				</div>
				
				<div class="col-midd">

					<div style="text-align: left;">
						<span class="normal pad-left-20">Publisher Products</span>
					</div>

					<div class="line-space-20"></div>

					<span class="pad-left-20">&laquo;<%= link_to 'Add Product', '/PublisherAddProduct', :class => 'links' %>&raquo;</span>
			
					<div class="line-space-20"></div>
			
					<% if @publisher_products.any? %>				

						<table>
							<tr>
								<td style="width: 400px;">
									<span class="normal pad-left-20" style="color: green">
										Product Name
									</span>
								</td>
								<td>
									<span class="normal pad-left-20" style="color: green">
										Has Description
									</span>									
								</td>								
							</tr>

							<tr>
								<td style="height: 10px;"></td>
								<td></td>
							</tr>
										
						<% for i in 0..(@publisher_products.count - 1) %>

							<tr>
								<td>
									<span class="normal pad-left-20">
										<%= link_to @publisher_products[i].name_product, {:controller => 'publisher_product_descriptions', :action => 'index', :id => @publisher_products[i].id}, :class => 'links pad-left-20' %>
									</span>
								</td>
								<td>
									<span class="normal pad-left-20">
										<% if @publisher_products[i].has_description %>
											<%= 'Yes' %>
										<% else %>
											<%= 'No' %>
										<% end %>
									</span>								
								</td>
							</tr>
							
						<% end %>

						</table>
			
					<% else %>
			
						<div>
							<span class="normal-red pad-left-20">No products</span>
						</div>
				
					<% end %>
			
				</div>
				
				<div class="col-right">
					<%= render 'share/dir_publishers_right' %>
				</div>												
			</div>
		</div>
	</div>

	<script>
	  
		$(window).load( function() {
	
		});
	  
	</script>		

