

		<%= render 'share/backtotop' %>

		<!-- <a name="anchor2"></a> -->    		      		     		
					
		<div class="seperator">
			<%= image_tag("logo-boxes-alone.png", alt: "") %>
			ARTICLES
		</div>
		
		<div style="clear: both; height: 10px;"></div>
		
		<div class="wrapper-articles">
				
			<div class="tmpl-container-2-column tmpl-margin-left tmpl-display-inline-block" style="vertical-align: top;">
				<div class="tmpl-governcell articles-tmpl-border-top-expect">	
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="100" class="article-type-2"></div>
					</div>
					<div class="articles-tmpl-cell-divider articles-hidden"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="102" class="article-type-2"></div>
					</div>
				</div>
				<div class="tmpl-governcell articles-tmpl-border-top-expect">	
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="105" class="article-type-2"></div>
					</div>
					<div class="articles-tmpl-cell-divider articles-hidden"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="99" class="article-type-2"></div>
					</div>
				</div>
				<div class="tmpl-governcell articles-tmpl-border-top-expect">	
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="89" class="article-type-2"></div>
					</div>
					<div class="articles-tmpl-cell-divider articles-hidden"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="112" class="article-type-2"></div>
					</div>
				</div>
				<div class="tmpl-governcell articles-tmpl-border-top-expect">	
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="106" class="article-type-2"></div>
					</div>
					<div class="articles-tmpl-cell-divider articles-hidden"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="103" class="article-type-2"></div>
					</div>
				</div>
				<div class="tmpl-governcell articles-tmpl-border-top-expect">	
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="76" class="article-type-2"></div>
					</div>
					<div class="articles-tmpl-cell-divider articles-hidden"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="63" class="article-type-2"></div>
					</div>
				</div>
				<div class="tmpl-governcell articles-tmpl-border-bottom-expect">			
					<div class="tmpl-outercell tmpl-kol3">
						<div class="articles-tmpl-cell-divider-horiz articles-hidden"></div>
						<div data-id="58" class="article-type-2"></div>					
					</div>
					<div class="articles-tmpl-cell-divider articles-hidden"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div class="articles-tmpl-cell-divider-horiz articles-hidden"></div>
						<div data-id="54" class="article-type-2"></div>
					</div>
				</div>
				<div class="tmpl-governcell">	
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="49" class="article-type-2"></div>
					</div>
					<div class="articles-tmpl-cell-divider articles-hidden"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="50" class="article-type-2"></div>
					</div>
				</div>
				<div class="tmpl-governcell">			
					<div class="tmpl-outercell tmpl-kol3">
						<div class="articles-tmpl-cell-divider-horiz articles-hidden"></div>
						<div data-id="47" class="article-type-2"></div>					
					</div>
					<div class="articles-tmpl-cell-divider articles-hidden"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div class="articles-tmpl-cell-divider-horiz articles-hidden"></div>
						<div data-id="48" class="article-type-2"></div>
					</div>
				</div>
			</div>
			<div class="tmpl-margin-left tmpl-display-inline-block" style="margin-left: 8px;">
				<a href="http://thelearningcounsel.com/ContactUs">
					<!-- <img class="k-img" height="686px" onerror="this.src='/assets/error-300-700-blue.png'" src="../repository/banner-2.png"> -->
					<%= image_tag("banner-2.jpg", alt: "", class: "k-img") %>
				</a>
				<div style="height: 20px;"></div>
				<a href="http://www.triumphlearning.com">
					<!-- <img src="/assets/waggle-ad.jpg"> -->
					<%= image_tag("waggle-ad.jpg", alt: "") %>
				</a>
			</div>
			
				
			<div class="tmpl-container-2-column tmpl-margin-left tmpl-display-inline-block" style="vertical-align: top;">
				<div class="tmpl-governcell">	
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="90" class="article-type-2"></div>
					</div>
					<div class="articles-tmpl-cell-divider articles-hidden"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="95" class="article-type-2"></div>
					</div>
				</div>
				<div class="tmpl-governcell">	
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="87" class="article-type-2"></div>
					</div>
					<div class="articles-tmpl-cell-divider articles-hidden"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="81" class="article-type-2"></div>
					</div>
				</div>
				<div class="tmpl-governcell">	
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="80" class="article-type-2"></div>
					</div>
					<div class="articles-tmpl-cell-divider articles-hidden"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="74" class="article-type-2"></div>
					</div>
				</div>
				<div class="tmpl-governcell">	
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="69" class="article-type-2"></div>
					</div>
					<div class="articles-tmpl-cell-divider articles-hidden"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="43" class="article-type-2"></div>
					</div>
				</div>
				<div class="tmpl-governcell articles-tmpl-border-bottom-expect">			
					<div class="tmpl-outercell tmpl-kol3">
						<div class="articles-tmpl-cell-divider-horiz articles-hidden"></div>
						<div data-id="24" class="article-type-2"></div>					
					</div>
					<div class="articles-tmpl-cell-divider articles-hidden"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div class="articles-tmpl-cell-divider-horiz articles-hidden"></div>
						<div data-id="26" class="article-type-2"></div>
					</div>
				</div>
			</div>			
		</div>
		<div style="height: 30px;"></div>
		
		
    <script>
                
		function scrollToAnchor(aid) {
			var a = $("a[name='" + aid + "']");
			$('html, body').animate({ scrollTop: a.offset().top }, 1000);
		}
            
		function in_archive_ids(ar, id) {
			b = false;
		    for(var i = 0; i < ar.length; i++) {
		        if(ar[i] != null) {
		        	b = true;
		        }
		    }
		    return b;
		}


		$(window).load( function() {
			
						                        // img_path, 				0
						                        // img_height, 				1
						                        // subtitle_1, 				2
						                        // subtitle_2, 				3			
						                        // img_path_carousel, 		4
						                        // img_height_carousel, 	5
						                        // subtitle_1_carousel, 	6
						                        // subtitle_2_carousel, 	7
						                        // author, 					8
						                        // type.downcase, 			9
						                        // slug						10
						                        // complete					11

			// *** cells
			$(".article-type-2").each(function() {
				var id = $(this).data("id");
				if(id != null) {
					if(in_archive_ids(gon.archives, id)) {
						var archive_img_path 	= gon.archives[id][0];
						var archive_type 		= gon.archives[id][9];
						var archive_slug 		= gon.archives[id][10];
						var archive_subtitle_1 	= gon.archives[id][2];
						var archive_subtitle_2 	= gon.archives[id][3];
						var archive_author 		= gon.archives[id][8];
						var archive_img_height	= gon.archives[id][1];
		
						var s_tmpl = null;
						var s_tmpl_sub = null;
						if(archive_subtitle_2.length > 0) {
							s_tmpl_sub = "1b";
						}
						else {
							s_tmpl_sub = "1a";
						}
						s_tmpl = "templates/article_template_" + archive_type.toLowerCase() + "_" + s_tmpl_sub;
						
						$.tmpl(s_tmpl, {
							img_width: 300,
							img_height: archive_img_height,
							slug: archive_slug,
							src_image: archive_img_path,
							subtitle_1: archive_subtitle_1,
							subtitle_2: archive_subtitle_2,
							author: archive_author 
						}).appendTo(this);
					}
					else {
						alert("page id = " + id.toString() + " not found in database");
					}
				}				
			});					
						
			// *** text link
			$(".article-type-3").each(function() {
				var id = $(this).data("id");
				if(id != null) {
					if(in_archive_ids(gon.archives, id)) {
						var archive_slug 		= gon.archives[id][10];
						var archive_subtitle_1 	= gon.archives[id][2];
		
						var s_tmpl = "templates/article_template_text";
						$.tmpl(s_tmpl, {
							slug: archive_slug,
							subtitle_1: archive_subtitle_1
						}).appendTo(this);
					}
					else {
						alert("page id = " + id.toString() + " not found in database");
					}
				}
			});					
			
						
			// *** position template blocks, calculate and add dimensions
			var j;
			var k;
			var l;
			var m;
			var p;
			var t;
			var kk;
			var ll;
			var mm;
			var nn;
			var upperCell;			

			$('.tmpl-governcell').each( function() {
				j = 0;
				k = 0;
				l = 0;
				m = 0;
				p = 0;
				s = 0;
				t = 0;
				kk = 0;	
				ll = 0;	
				mm = 0;
				dj = 0;
				djj = 0;
				$(this).children().each( function() {
					if ($(this).hasClass('tmpl-outercell')) {
						// console.log($(this).find('.id').attr('id'));
						var jj;
						if (!(jj = $(this).find("img").attr("height"))) {
							jj = 0;
						}
						var n = parseInt(jj);	
						n += 36;
						var upperCell = $(this).find('.tmpl-div-2a');
						upperCell.height(n);
					}
					if ($(this).hasClass('tmpl-outercell-double')) {
						if (!(djj = $(this).find("img").attr("height"))) {
							djj = 0;
						}
						dj = dj >= djj ? dj : djj;
						dn = parseInt(dj);																		
					}
				});

				$(this).children().each( function() {
					if ($(this).hasClass('tmpl-outercell')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						t = k;
					}
					if ($(this).hasClass('tmpl-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
				});
				
				m = s >= t ? s : t;
				m += 2;
				m = m <= 1000 ? m : 1000;
				$(this).height(m);
				$(this).children($('.articles-tmpl-cell-divider')).height(m);
			});

			$(".articles-tmpl-border-top-expect").addClass("articles-tmpl-border-top");
			$(".articles-tmpl-border-bottom-expect").addClass("articles-tmpl-border-bottom");
			$(".articles-tmpl-cell-divider").removeClass("articles-hidden");
			$(".articles-tmpl-cell-divider-horiz").removeClass("articles-hidden");

			$('a[href*=#]:not([href=#])').click(function() {
			    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
			        || location.hostname == this.hostname) {
			        var target = $(this.hash);
			        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           	if (target.length) {
		             	$('html,body').animate({
		                	scrollTop: target.offset().top
		            	}, 750);
		            	// return false;
		        	}
			    }
			});
			
			$('#prev').hover(function() {
				$('#prev img').attr("src","<%= asset_path('prev-arrow-hov.png') %>");
			}, function() {
				$('#prev img').attr("src","<%= asset_path('prev-arrow.png') %>");
			});
			$('#next').hover(function() {
				$('#next img').attr("src","<%= asset_path('next-arrow-hov.png') %>");
			}, function() {
				$('#next img').attr("src","<%= asset_path('next-arrow.png') %>");
			});
			
			
			
		});


		// $(window).bind('load', function() {
			// setTimeout( function(){
				// $("#small-slider-top").removeClass("display-none");
			// }, 1000);
		// });
		// $("#div_top_right").removeClass("visibility-hidden");
		
	</script>


