
	
	<div class="row" style="height: 10px"></div>
	
	<div class="row">
		
		<div class="col7">
			<div class="row">
				<div class="col2">
	  				<%= image_tag("image_learning_counsel.png", :alt => '') %>
				</div>
				<div class="col2">
	  				<%= image_tag("image_header_1.jpg", :alt => '') %>
				</div>
				<div class="col3">
	  				<%= image_tag("image_header_2.jpg", :alt => '') %>					
				</div>
				<div class="row-end">&nbsp;</div>		
			</div>
			<div class="row">
				<div class="col2" style="font-size: 10px">
					<p>News and Content on the Shift to Digital Curriculum</p>				
				</div>
				<div class="col5" style="font-size: 12px">
					<h4>Featured News Stream</h4>					
				</div>
				<div class="row-end">&nbsp;</div>										
			</div>			
		</div>
		
		<div class="col5">
			<div style="width: auto;height:120px;background-color:white;box-shadow: 1px 1px 10px #888888;padding: 10px 10px 10px 30px">
				<h3>Ad Block</h3>
			</div>
		</div>		
		<div class="row-end">&nbsp;</div>		
	</div>



	<div class="row" style="height: 10px"></div>
	
	<div class="row" style="background-color: yellow">
		
		<div class="col7">
			<div class="row">
				<div class="col7">
					<h3>EdMatchUp</h3>
				</div>
				<div class="row-end">&nbsp;</div>		
			</div>
			
			<div class="row">
				<div class="col7">
					<h4>Digital Curriculum Matching</h4>
				</div>				
				<div class="row-end">&nbsp;</div>										
			</div>
			
			<div class="row">
				<div class="col7">
					<h3>Get Started - It's Free</h3>
				</div>				
				<div class="row-end">&nbsp;</div>										
			</div>
			
			<div class="row">
				<div class="col3">
					<h4>SEARCH EdMatchUp</h4>					
				</div>				
				<div class="col4">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<div class="row-end">&nbsp;</div>										
			</div>									

			<div class="row">
				<div class="col1">
					<h5>Create</h5>
					<h5>Product</h5>
					<h5>or</h5>
					<h5>Inventory</h5>
					<h5>Profile</h5>
				</div>
				<div class="col6">
					<div class="row">
						<%= link_to image_tag("button_schools.jpg", alt: "Schools", :width => '70'), {:controller => 'users', :action => 'new', :id => 'School'} %>						
						<%= link_to image_tag("button_teachers.jpg", alt: "Teachers", :width => '70'), {:controller => 'users', :action => 'new', :id => 'Teacher'} %>						
						<%= link_to image_tag("button_students.jpg", alt: "Students", :width => '70'), {:controller => 'users', :action => 'new', :id => 'Student'} %>						
						<%= link_to image_tag("button_publishers.jpg", alt: "Publishers", :width => '70'), {:controller => 'users', :action => 'new', :id => 'Publisher'} %>
						<div class="row-end">&nbsp;</div>										
					</div>
				</div>				
				<div class="row-end">&nbsp;</div>										
			</div>			
			<div class="row">
				<div class="col6">
					<h4>Schools Teachers Students Publishers</h4>
				</div>						
			</div>												
		</div>
		
		
		
		<div class="col5">
			<div class="row">
				<div class="col5">
					<h4>How does it work?</h4>
				</div>
				<div class="row-end">&nbsp;</div>						
			</div>			
			<div class="row">
				<div class="col5">				
					<div>
		  				<%= image_tag("image_edmatchup_works.png", :width => '300',  :alt => '') %>			
					</div>
					<div class="row-end">&nbsp;</div>
				</div>						
			</div>
			
		</div>		
		<div class="row-end">&nbsp;</div>		
	</div>
	
	<div class="row" style="height: 200px; background-color: green"></div>  		
	<div class="row-end">&nbsp;</div>				
