

		<%= render 'share/backtotop' %>

		<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">
			<div class="kontainer-top">
				<div style="display: inline-block; width: 700px;">		
									
					<div id="prev" class="cycle-arrow-prev"></div>
					<div id="next" class="cycle-arrow-next"></div>
					
					<div class="cycle-slideshow" data-cycle-speed="500" data-cycle-pause-on-hover="true" data-cycle-fx="scrollHorz" data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="&gt; div" style="width: 604px; position: relative; height: 550px; overflow: hidden;">					
						<div style="position: absolute; top: 0px; left: 0px; z-index: 92; display: none;">
							<div class="rowfluid k-mainfeaturerow">
    							<div id="76"></div>
					        </div> 
						</div>
						<div style="position: absolute; top: 0px; left: 0px; z-index: 93; display: none;">
							<div class="rowfluid k-mainfeaturerow">
    							<div id="63"></div>
					        </div> 
						</div>
						<div style="position: absolute; top: 0px; left: 0px; z-index: 99; display: none;">
							<div class="rowfluid k-mainfeaturerow">
    							<div id="58"></div>
					        </div> 
						</div>										
						<div style="position: absolute; top: 0px; left: 0px; z-index: 98; display: none;">
							<div class="rowfluid k-mainfeaturerow">
    							<div id="54"></div>
					        </div> 
						</div>										
						<div style="position: absolute; top: 0px; left: 0px; z-index: 97; display: none;">
							<div class="rowfluid k-mainfeaturerow">
    							<div id="49"></div>
					        </div> 
						</div>
						<div style="position: absolute; top: 0px; left: 0px; z-index: 96; opacity: 1;">
							<div class="k-mainfeaturerow">
    							<div id="50"></div>
					        </div>
						</div>
						<div style="position: absolute; top: 0px; left: 0px; z-index: 95; display: none;">
							<div class="rowfluid k-mainfeaturerow">
    							<div id="47"></div>
					        </div> 
						</div>
						<div style="position: absolute; top: 0px; left: 0px; z-index: 94; display: none;">
							<div class="rowfluid k-mainfeaturerow">
    							<div id="48"></div>
					        </div> 
						</div>
					</div>
					<div style="clear: both; height: 0px; font-size: 1px; line-height: 0px;"></div>
				</div>
				<div id="div-top-right" class="visibility-hidden" style="display: inline-block; width: 320px; vertical-align: top; padding-left: 50px;">
					<table width="316px" class="right-table">
						<tr class="right-tr">
							<td style="padding-left: 40px;">
								<!-- <div class="search-function">
									Search Function Coming Soon
								</div> -->
								<div class="sub">
									<div class="suba">
										<a href="/LetterRegistration">Subscribe to Newsletter</a>
									</div>
								</div>
							</td>
						</tr>
						<tr class="right-tr-2">
							<td style="padding-left: 40px;">
								<div class="div-link-1">
									<a href="http://www.amplify.com/ela" target="_blank">
										<!-- <img src="../repository/ads/amplify.png" alt="Amplify" /> -->
										<%= image_tag("amplify.png", alt: "Amplify") %>
									</a>
								</div>
							</td>
						</tr>
						<tr class="right-tr">
							<td style="padding-left: 40px;">
								<div class="">
									<a href="/Events">
										<!-- <img src="../repository/web-banner4.jpeg" alt="Discussions" /> -->
										<%= image_tag("web-banner4.jpeg", alt: "Discussions") %>
									</a>
								</div>
							</td>
						</tr>
						<tr class="right-tr">
							<td>
								<div style="height: 20px;"></div>
							</td>
						</tr>
						<tr class="right-tr">
							<td style="padding-left: 40px;">
								<div class="title-gallery"></div>
							</td>
						</tr>		
					</table>
					<div id="test_template"></div>
				</div>
			</div>
		</div>					
					
		<div class="seperator">
			<%= image_tag("logo-boxes-alone.png", alt: "") %>
			WHAT'S HOT
		</div>
	
		<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">
			<section>			
				<div class="kontainer">
					<div style="height: 40px;"></div>
					<a name="anchor2"></a>    		      		     		

					<!-- start template single row -->
					<div class="tmpl-governcell ktop kbottom">	
						<div class="tmpl-outercell tmpl-kol3">
							<div id="89" class="id"></div>
						</div>
						<div class="k-cell-divider"></div>
						<div class="tmpl-outercell tmpl-kol3">
							<div id="102" class="id"></div>
						</div>
						<div class="k-cell-divider"></div>
						<div class="tmpl-outercell tmpl-kol3">
							<div id="103" class="id"></div>		
						</div>
					</div>
					<!-- end template single row -->

					<!-- start template single row -->
					<div class="tmpl-governcell ktop kbottom">	
						<div class="tmpl-outercell tmpl-kol3">
							<div id="99" class="id"></div>
						</div>
						<div class="k-cell-divider"></div>
						<div class="tmpl-outercell tmpl-kol3">
							<div id="105" class="id"></div>
						</div>
						<div class="k-cell-divider"></div>
						<div class="tmpl-outercell tmpl-kol3">
							<div id="106" class="id"></div>		
						</div>
					</div>
					<a href="/Articles" class="more-articles">See More Articles</a>
					<!-- end template single row -->				

				</div>
				<div class="seperator-2">
					<!-- <img src="/repository/logo-boxes-alone.png"> -->
					<%= image_tag("logo-boxes-alone.png", alt: "") %>
					EVENT NEWS
				</div>
				<a href="/Event-News">
					<!-- <img class="event-photos-button-home" src="/repository/event-photos-button.jpeg"> -->
					<%= image_tag("event-photos-button.jpeg", alt: "") %>
				</a>
				<div class="kontainer">
					<div style="height: 50px; position: relative;"></div>

					<!-- start template single row -->
					<div class="tmpl-governcell ktop">	
						<div class="tmpl-outercell tmpl-kol3">
							<div id="96" class="id"></div>
						</div>
						<div class="k-cell-divider"></div>
						<div class="tmpl-outercell tmpl-kol3">
							<div id="68" class="id"></div>
						</div>
						<div class="k-cell-divider"></div>
						<div class="tmpl-outercell tmpl-kol3 k-empty">
							<!-- <div id="ad1-upper" >
								<div id="ad1-upper-inner">
									Space Available
								</div>
							</div> -->		
						</div>
					</div>
					<!-- end template single row -->				
			
					<!-- start template single row -->		
					<div class="tmpl-governcell kbottom" id="alter-k-governcell-1">			
						<div class="tmpl-outercell tmpl-kol3">
							<div class="k-cell-divider-horiz"></div>
							<div id="86" class="id"></div>					
						</div>
						<div class="k-cell-divider" id="alter-k-cell-divider-1"></div>
						<div class="tmpl-outercell tmpl-kol3">
							<div class="k-cell-divider-horiz"></div>
							<div id="65" class="id"></div>
						</div>
						<div class="k-cell-divider" id="alter-k-cell-divider-2"></div>
						<div class="tmpl-outercell-double tmpl-kol3">
							<a href="https://www.readingkingdom.com/signup" class="k-link-a">
								<div class="k-inner-cell">
									<div class="tmpl-div-2a" style="padding-bottom: 0px; top: 170px;">
										<div class="k-img-cell-single-long">
											<a href="https://www.readingkingdom.com/signup" target="_blank">
												<!-- <img src="../repository/banners/banner-reading-kingdom-2-w317-h686.png" class="k-img" height="686px" onerror="this.src='/assets/error-300-700-blue.png'"> -->
												<%= image_tag("banner-reading-kingdom-2-w317-h686.png", alt: "", height: "686") %>
											</a>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<a href="/Event-Articles" class="more-events">See More on Events</a>
					<!-- end template single row -->				

					<div style="height: 100px;"></div>
				</div>

				<div class="seperator-3">
					<!-- <img src="/repository/logo-boxes-alone.png"> -->
					<%= image_tag("logo-boxes-alone.png", alt: "") %>
					COMMENTS and NEWS
				</div>
				<div class="kontainer">
					<div class="news-header">News</div>
					<div style="height: 10px; position: relative;"></div>
					<div class="k-governcell ktop kbottom">	
						<div class="k-outercell kol2">
							<div class="news-list">
								<div id="104"></div>
								<br>
								<div id="101"></div>
								<br>
								<div id="98"></div>
								<br>
								<div id="97"></div>
								<br>
								<div id="94"></div>
								<br>
								<div id="93"></div>
								<br>
								<div id="92"></div>
								<br>
								<div id="91"></div>
								<br>
								<div id="88"></div>
								<br>
								<div id="85"></div>
								<br>
								<div id="84"></div>
								<br>
								<div id="83"></div>
								<br>
								<div id="82"></div>
								<br>
								<div id="79"></div>
								<br>
								<div id="78"></div>
								<br>
								<div id="77"></div>
								<br>
								<div id="75"></div>
								<br>
								<div id="73"></div>
								<br>
								<div id="72"></div>
								<br>
								<div id="71"></div>
								<br>
								<div id="70"></div>
								<br>
								<div id="66"></div>
								<br>
								<div id="64"></div>
								<br>
								<div id="62"></div>
								<br>
								<div id="61"></div>
								<br>		
							</div>
						</div>
						<div class="k-cell-divider"></div>
						<div class="k-outercell kol2">
							<div class="news-list">
								<div id="60"></div>
								<br>
								<div id="59"></div>
								<br>
								<div id="53"></div>
								<br>
								<div id="40"></div>
								<br>
								<div id="41"></div>
								<br>
								<div id="42"></div>
								<br>
								<div id="34"></div>
								<br>
								<div id="35"></div>
								<br>
								<div id="36"></div> 
								<br>
								<div id="14"></div> 
								<br>
								<div id="15"></div> 
								<br>
								<div id="16"></div>
								<br>
								<div id="44"></div>
								<br>
								<div id="45"></div> 
								<br>
								<div id="46"></div>
								<br>
								<div id="17"></div>
								<br>
								<div id="20"></div>
								<br>					
								<div id="2"></div>			
								<br>
								<div id="19"></div>
								<br>
								<div id="13"></div>
								<br>
								<div id="9"></div>
							</div>
						</div>
					</div>
					<div style="height: 30px;"></div>
					<div class="k-governcell ktop kbottom">	
						<div class="k-outercell kol1">
							<a href="/CommunityRegistration" class="k-link-a">
								<div class="k-inner-cell" style="padding-top: 6px;">
									<div class="text_container b_container" style="text-align: center;">
										<!-- <img src="../repository/banner-3.png" width="850px" onerror="this.src='../altgraphics/error-300-200.png'"> -->
										<%= image_tag("banner-3.png", width: "850", alt: "") %>
									</div>
								</div>
							</a>	
						</div>
					</div>
					<div style="height: 100px;"></div>
				</div>			    
 				<%= render 'archives/article' %>
			</section>
		</div>
		<div style="height: 10px;"></div>
		
		
    <script>
                
		function scrollToAnchor(aid) {
			var a = $("a[name='" + aid + "']");
			$('html, body').animate({ scrollTop: a.offset().top }, 1000);
			// jQuery('html, body').animate({scrollTop: 100}, 1000);				
		}
            
        var archive_ids = [89,	// design
        				   102, // spotlight
        				   103,	// spotlight
						   99,	// innovation
						   100,	// spotlight
						   95,	// ideas
						   96,	// event news
						   68,	// event news
						   86,	// event news
						   65	// event news
        				  ];
                
		function in_archive_ids(ar, id) {
			b = false;
			// alert("in_archive_ids");
		    for(var i = 0; i < ar.length; i++) {
		        if(ar[i] == id) {
		        	b = true;
		        }
		    }
		    return b;
		}
		
		// var result = in_array(ArrayofPeople, 235);

		$(window).load( function() {
			
			
			// $("#test_template").html($.tmpl("templates/author", { name: "Jimmy" }).appendTo("#author"));
			// $.tmpl("templates/author", { name: "Jimmy" }).appendTo("#author");
			// $.tmpl("templates/author", { name: "Clyde" }).appendTo("#test_template");
			// $.tmpl("templates/article_template_1", { slug:  }).appendTo("#89");
			// $("#test_template").html("test Clyde");
			
			for( var i = 0; i < archive_ids.length; i++) {
				var id = archive_ids[i];
				if( in_archive_ids(archive_ids, id) ) {
					// [complete, img_path, type, slug, subtitle_1, subtitle_2, author]
					var complete = gon.archives[id][0];
					// alert(complete);
					if (complete) {
						var archive_img_path 	= gon.archives[id][1];
						var archive_type 		= gon.archives[id][2];
						var archive_slug 		= gon.archives[id][3];
						var archive_subtitle_1 	= gon.archives[id][4];
						var archive_subtitle_2 	= gon.archives[id][5];
						var archive_author 		= gon.archives[id][6];
						var archive_img_height	= gon.archives[id][7];
	
						// design
				   		// spotlight
				   		// innovation
				   		// ideas
				   		// event news
	
						var s_tmpl = null;
						var s_tmpl_sub = null;
						if(archive_subtitle_2.length > 0) {
							s_tmpl_sub = "1b";
						}
						else {
							s_tmpl_sub = "1a";
						}
						s_tmpl = "templates/article_template_" + archive_type.toLowerCase() + "_" + s_tmpl_sub;
						
						// if(id == 89) {
							// alert(archive_type);
							// alert(s_tmpl);
							$.tmpl(s_tmpl, {
								img_width: 300,
								img_height: archive_img_height,
								type: "design",
								type_design: "design",
								slug: archive_slug,
								src_image: archive_img_path,
								subtitle_1: archive_subtitle_1,
								subtitle_2: archive_subtitle_2,
								author: archive_author 
							}).appendTo("#" + id.toString());
						// }	
					}
				}
			}
			
			
			// *** position template blocks, calculate and add dimensions
			var j;
			var k;
			var l;
			var m;
			// var n;
			var p;
			var t;
			var jj;
			var kk;
			var ll;
			var mm;
			var nn;
			var upperCell;			

			$('.k-governcell').each( function() {
				j = 0;
				k = 0;
				l = 0;
				m = 0;
				// n = 0;
				p = 0;
				s = 0;
				t = 0;
				jj = 0;
				kk = 0;	
				ll = 0;	
				mm = 0;
				dj = 0;
				djj = 0;
				$(this).children().each( function() {
					if ($(this).hasClass('k-outercell')) {
						if (!(jj = $(this).find("img").attr("height"))) {
							jj = 0;
						}
						// console.log('jj = ' + jj);
						j = j >= jj ? j : jj;
						var n = parseInt(j);
						n += 6;
						upperCell = $(this).find('.k-b-container');
						upperCell.height(n);
					}
					if ($(this).hasClass('k-outercell-double')) {
						if (!(djj = $(this).find("img").attr("height"))) {
							djj = 0;
						}
						// console.log('djj = ' + djj);
						dj = dj >= djj ? dj : djj;
						dn = parseInt(dj);																		
					}
				});

				// n += 6;
				// upperCell = $(this).find('.k-b-container');
				// upperCell.height(n);
				// console.log('n = ' + $(this).find('.k-b-container').height());

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						t = k;
					}
					if ($(this).hasClass('k-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
				});
				
				m = s >= t ? s : t;
				m += 2;
				m = m <= 1000 ? m : 1000;
				// console.log('m = ' + m);
				$(this).height(m);
				$(this).children($('.k-cell-divider')).height(m);
			});


			$('.tmpl-governcell').each( function() {
				j = 0;
				k = 0;
				l = 0;
				m = 0;
				// n = 0;
				p = 0;
				s = 0;
				t = 0;
				jj = 0;
				kk = 0;	
				ll = 0;	
				mm = 0;
				dj = 0;
				djj = 0;
				$(this).children().each( function() {
					if ($(this).hasClass('tmpl-outercell')) {
						// console.log($(this).find('.id').attr('id'));
						if (!(jj = $(this).find("img").attr("height"))) {
							jj = 0;
						}
						// console.log('jj = ' + jj);
						j = j >= jj ? j : jj;
						var n = parseInt(j);	
						// console.log('n = ' + n);
						n += 36;
						var upperCell = $(this).find('.tmpl-div-2a');
						upperCell.height(n);
					}
					if ($(this).hasClass('tmpl-outercell-double')) {
						if (!(djj = $(this).find("img").attr("height"))) {
							djj = 0;
						}
						console.log('djj = ' + djj);
						dj = dj >= djj ? dj : djj;
						dn = parseInt(dj);																		
					}
				});
					// n += 6;
					// var upperCell = $(this).find('.tmpl-div-2a');
					// upperCell.height(n);
				// });

				$(this).children().each( function() {
					if ($(this).hasClass('tmpl-outercell')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						t = k;
					}
					if ($(this).hasClass('tmpl-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
				});
				
				m = s >= t ? s : t;
				m += 2;
				m = m <= 1000 ? m : 1000;
				console.log('m = ' + m);
				$(this).height(m);
				$(this).children($('.k-cell-divider')).height(m);
			});


			
			$("#alter-k-governcell-1").height(360);
			$("#alter-k-cell-divider-1").height(360);
			$("#alter-k-cell-divider-2").height(360);
			// $("#alter-k-cell-divider-horiz-1").height(360);
			// $("#alter-k-cell-divider-horiz-2").height(360);
			// $("#10").css({ 'padding-top' : 20 });
			// $("#25").css({ 'padding-top' : 20 });
			
			$('a[href*=#]:not([href=#])').click(function() {
			    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
			        || location.hostname == this.hostname) {
			        var target = $(this.hash);
			        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           	if (target.length) {
		             	$('html,body').animate({
		                	scrollTop: target.offset().top
		            	}, 750);
		            	// return false;
		        	}
			    }
			});
			
			$('#prev').hover(function() {
				$('#prev img').attr("src","<%= asset_path('prev-arrow-hov.png') %>");
			}, function() {
				$('#prev img').attr("src","<%= asset_path('prev-arrow.png') %>");
			});
			$('#next').hover(function() {
				$('#next img').attr("src","<%= asset_path('next-arrow-hov.png') %>");
			}, function() {
				$('#next img').attr("src","<%= asset_path('next-arrow.png') %>");
			});
			
			
			
		});


		$(window).bind('load', function() {
			// $("#small-slider-top").removeClass("display-none");
			setTimeout( function(){
				$("#small-slider-top").removeClass("display-none");
			}, 1000);
		});

		$("#div-top-right").removeClass("visibility-hidden");
		// $("#small-slider-top").removeClass("display-none");

		// var image = '../backgrounds/comp025.jpg';
		// img = $('<img />');
		// img.bind('load', function() {
		    // $('#loading').fadeOut(1000);
			// setTimeout( function(){
				// centerSignin();
				// showSignin();
				// formValidate();
			// }, 500);
		// });
		// img.attr('src', image);
		// $('#join-image').css({
			// background: '#F1F2E1 url(' + image + ') repeat right top'
		// })

		// var get_file = "../archives/article.htm";
		// $.get( get_file, function( data ) {
			// $( "#render" ).html( data );
		// });
		
	</script>

					<!-- start template single row --> 
					<!-- <div class="k-governcell ktop kbottom">	
						<div class="k-outercell kol3">
							<div id="65"></div>
						</div>
						<div class="k-cell-divider"></div>
						<div class="k-outercell kol3">
							<div id="37"></div>
						</div>
						<div class="k-cell-divider"></div>
						<div class="k-outercell kol3">
							<div id="68"></div>		
						</div>
					</div> -->
					<!-- end template single row --> 				
					
					<!-- start template single row --> 
					<!-- <div class="k-governcell ktop kbottom">	
						<div class="k-outercell kol3">
							<div id="3"></div>		
						</div>
						<div class="k-cell-divider"></div>
						<div class="k-outercell kol3">
					    	<div id="22"></div>
						</div>
						<div class="k-cell-divider"></div>
						<div class="k-outercell kol3">
							<div class="k-inner-cell"  style="padding-top: 2px;">
								<div class="text_container b_container line-video">
									<a class="video-text" href="/InternetSeminars">
										<img src="../repository/events/market-briefing-1.png" alt="market-briefing-1.png" width="300px">
										<table>
											<tr>
												<td style="vertical-align: top; height: 150px;">
													<span class="video-bytes">Digital</span><br>
													<span class="video-tv">Curriculum &amp; Devices</span><br><br>
													<span class="video-msyh">2014 Market Briefing</span>		
												</td>
												<td style="vertical-align: bottom; padding-left: 10px;">
													<img src="../repository/image-video-4.png" alt="image-video-4.png" width="100px">			
												</td>
											</tr>
										</table>
									</a>
								</div>
							</div>
							<div class="k-inner-cell"  style="padding-top: 2px;">
								<div class="text_container b_container line-empty">
									<a href="/Event-News/Illinois-Chicago-April-15">
										<div class="slider-border-2">
											<img src="../event_news_images_4/logo_chicago_02.jpg" alt="logo_chicago_02.jpg" />
										</div>
									</a>
								</div>
								<div class="k-b-headline">
									Chicago, IL, April 15<br>Photo Montage
								</div>			
							</div> 
						</div>
					</div> -->
					 <!-- end template single row --> 				

					<!-- start template single row --> 
					<!-- <div class="k-governcell ktop kbottom">	
						<div class="k-outercell kol3">
							<div id="7"></div>
						</div>
						<div class="k-cell-divider"></div>
						<div class="k-outercell kol3">
					    	<div id="4"></div>
						</div>
						<div class="k-cell-divider"></div>
						<div class="k-outercell kol3">
							<div id="8"></div>
						</div>
					</div> -->
					 <!-- end template single row -->				
					
					<!-- start template double row --> 
					<!-- <div class="k-governcell ktop">	
						<div class="k-outercell kol3 k-empty">
							<a href="#" class="k-link-a">
								<div class="k-inner-cell">
								</div>
							</a>	
						</div>
						<div class="k-cell-divider"></div>
						<div class="k-outercell kol3">
							<div class="k-inner-cell"  style="padding-top: 2px;">
								<div class="text_container b_container line-grow">
									<object type="application/x-shockwave-flash" data="http://www.youtube.com/v/UZePBZ-edfE&feature=youtu.be&noredirect=1" width="315" height="200">          	
							            <param name="wmode" value="opaque" />
							            <param name="quality" value="high" />
							            <param name="bgcolor" value="#E9E9E9" />
							            <param name="allowfullscreen" value="true" />
							         	<param name="allowscriptaccess" value="never" />
							         </object>
									<div class="headline-excelsiorcomics">
										<span>5 Key Areas of Successful K12 Tech Integration Planning</span>
									</div>
								</div>
							</div>
						</div>
						<div class="k-cell-divider"></div>
						<div class="k-outercell kol3">
							div id="1"></div> 
							New spot for past event photos 
							<a class="past-event-a" href="/Event-News">
								<div class="k-inner-cell" style="">
									<img  width="300" src="../event_news_images_3/logo_houston_002.JPG" data-cycle-title="Digital Curriculum Strategy Discussion" data-cycle-desc="Richmond, VA, May 6, 2014" />
									<div class="past-event-phots-h">
										Past Event Photos
									</div>
								</div>
							</a>
							<a href="#blogs"> 
								<div class="k-inner-cell" style="padding-top: 2px;">
									<div class="text_container b_container line-blog">
										<img src="../repository/article-blogs-and-links.png" alt="article-blogs-and-links.png" onerror="this.src='../altgraphics/error-300-200.png'">
										<div class="headline-junebug">
											<span class="gold">Blogs</span>
											<span class="red">&amp;</span>
											<span class="blue">Links</span>														
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="k-governcell kbottom">			
						<div class="k-outercell-double kol3">
							<div id="6"></div>
						</div>
						<div class="k-cell-divider"></div>
						<div class="k-outercell kol3">
							<div class="k-cell-divider-horiz"></div>
							<div id="18"></div>
						</div>
						<div class="k-cell-divider"></div>
						<div class="k-outercell kol3">
							<div class="k-cell-divider-horiz"></div>
							<div id="21"></div>
						</div>
					</div> -->
					<!-- end template double row -->
					
					<!-- start template single 2 cell row -->
					<!-- <div class="k-governcell ktop kbottom">	
						<div class="k-outercell kol2">
							<div id="26"></div>
						</div>
						<div class="k-cell-divider"></div>
						<div class="k-outercell kol2">
							<div id="24"></div>
						</div>
					</div> -->
					<!-- end template single row --> 
