

		<style type="text/css">
		
			/*@font-face {
				font-family: KlavikaExtraLight;
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebDisplayExtraLight.eot');
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebDisplayExtraLight.eot?#iefix') format('embedded-opentype'), url('http://www.inc.com/lib/fonts/klavika/KlavikaWebDisplayExtraLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaLight;
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicLight.eot');
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicLight.eot?#iefix') format('embedded-opentype'), url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaRegular;
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicRegular.eot');
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicRegular.eot?#iefix') format('embedded-opentype'), url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicRegular.woff') format('woff');
			}		
			@font-face {
				font-family: KlavikaMedium;
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicMedium.eot');
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicMedium.eot?#iefix') format('embedded-opentype'), url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicMedium.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBold;
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicBold.eot');
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicBold.eot?#iefix') format('embedded-opentype'), url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicBold.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBlack;
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebDisplayBlack.eot');
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebDisplayBlack.eot?#iefix') format('embedded-opentype'), url('http://www.inc.com/lib/fonts/klavika/KlavikaWebDisplayBlack.woff') format('woff');
			}*/

			@font-face {
				font-family: KlavikaExtraLight;
				src: url('/assets/KlavikaWebDisplayExtraLight.eot');
				src: url('/assets/KlavikaWebDisplayExtraLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayExtraLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaLight;
				src: url('/assets/KlavikaWebBasicLight.eot');
				src: url('/assets/KlavikaWebBasicLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaRegular;
				src: url('/assets/KlavikaWebBasicRegular.eot');
				src: url('/assets/KlavikaWebBasicRegular.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicRegular.woff') format('woff');
			}		
			@font-face {
				font-family: KlavikaMedium;
				src: url('/assets/KlavikaWebBasicMedium.eot');
				src: url('/assets/KlavikaWebBasicMedium.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicMedium.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBold;
				src: url('/assets/KlavikaWebBasicBold.eot');
				src: url('/assets/KlavikaWebBasicBold.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicBold.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBlack;
				src: url('/assets/KlavikaWebDisplayBlack.eot');
				src: url('/assets/KlavikaWebDisplayBlack.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayBlack.woff') format('woff');
			}
		
		</style>		
			
		<!-- <link href="/assets/entrepeneurs_screen.css" media="screen, projection" rel="stylesheet" type="text/css"> -->
		
							
		<script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> 
		<script type="text/javascript" src="/assets/entrepeneurs_jquery.js"></script>

		<script type="text/javascript" src="http://www.work.ua/js/mootools_1350549978.js"></script>
		<script type="text/javascript" src="http://www.work.ua/js/mootools-more_1380281301.js"></script>
		
		<!-- <script type="text/javascript" src="http://www.work.ua/ru/js/lp_1378193134.js"></script> -->
				
		
		<script type="text/javascript" src="http://www.work.ua/js/main_1377000345.js"></script>
		
		
		<!-- <script src="http://www.work.ua/js/cssua.min.js" type="text/javascript"></script> -->		
		
		
		<link href="/assets/screen_headlines.css" media="screen, projection" rel="stylesheet" type="text/css">

		<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
		
	    <script type="text/javascript">
	    	swfobject.embedSWF("/assets/865.swf", "myContent", "300", "120", "9.0.0");
	    </script> -->

	    
		<header>		
						
			<%= render 'share/backtotop' %>
			
	    	<%= render 'layouts/flash_alert' %>
	    	
			<div class="table-main">			
				<div class="row">
					<div class="cell-250">
						<div class="table-main">
							<div class="row">
								<div class="cell-250" style="padding-left: 24px;">
						  			<%= image_tag("image_learning_counsel.png", :alt => '') %>
						  		</div>
							</div>
							<div class="row">
								<div class="cell-125" style="padding-left: 24px;">
									<p style="font-family: msyh; font-size: 12px;">News and Context for the<br>Shift to Digital Curriculum</p>
						  		</div>
							</div>							
						</div>
					</div>
					<div class="cell-650">
						<div class="table-main">
							<div class="row">
								<div class="cell-650">
									<div id="main_header_adblock_1">									
										<h3>Space Available</h3>
									</div>					
								</div>			
							</div>							
						</div>
					</div>
					<div class="cell-100%">
						<div class="table-main">
							<div class="row">
								<div class="cell-100percent">
				 						<!-- link_to image_tag(“/assets/EdMatchUp_logo.png”, :class=>’′), :url =>{:controller=> ‘’,:action=>’’} -->															
									<div id="edmatchuplogo">
										<%= link_to image_tag("EdMatchUp_logo.png"), edmatchup_path %>															
									</div>							
						  		</div>
							</div>
							<div class="row">
								<div class="cell-100percent">
									<div align="center">
										<%= link_to image_tag("image_coming_soon_8k.png", :alt => 'Comming Soon'), edmatchup_path %>															
									</div>							
						  		</div>							
							</div>
						</div>
					</div>
				</div>					
			</div>	
			  		
			<!-- <div class="cell-100">
	  			 image_tag("image_header_1.jpg", :alt => '') 
	  			 					
	  		</div>
			<div class="cell-100">
				 image_tag("image_header_2.jpg", :alt => '') 
	  		</div> -->			  		
			
		</header>		
		
		<section>
			
			<div style="background-color: white;">
				
				
				<div style="height: 30px;"></div>
			    
			    
			    
			    
				<!-- <div align="center" style="margin-top:10px">
					<div id="sfw_865" align="center" style="height:170px;">&nbsp;</div>
					<script type="text/javascript">
						// <![CDATA[
						_wbn.push(function(){
						//var so = new SWFObject("http://i.work.ua/b/865.swf?2013043509", "swf", "728", "90", "6", "#ffffff");
						var so = new SWFObject("/assets/865.swf", "swf", "728", "90", "6", "#ffffff");
						so.addParam("quality", "best");
						so.addParam("menu", "false");
						so.addParam("wmode", "opaque");
						so.addParam("allowScriptAccess", "always");
						so.addVariable("url", "http://www.work.ua/go.php?bid=865");
						so.addVariable("target", "_blank");
						so.write("sfw_865");
						});
						// ]]>
					</script>
				</div>				 -->
			
				<!-- <div class="space-100"></div> -->
				
				<div id="container" class="inner">
												
					<script>
						$(document).ready(function() {
							$('#prev').hover(function() {$('#prev img').attr('src','http://images.inc.com/header/prev-arrow-hov.png')}, function() {$('#prev img').attr('src','http://images.inc.com/header/prev-arrow.png')})
							$('#next').hover(function() {$('#next img').attr('src','http://images.inc.com/header/next-arrow-hov.png')}, function() {$('#next img').attr('src','http://images.inc.com/header/next-arrow.png')})
						});
					</script>
					
					<!-- <span id="prev" style="float:left;left:-70px;top:215px;margin-top:0px;position:absolute;display:inline;">
						<img src="/assets/entrepeneurs_prev-arrow.png">						
					</span> -->											
												
					<span id="prev" style="float:left;left:-100px;top:215px;margin-top:0px;position:absolute;display:inline;">
						<div style="width: 50px; height: 150px;">
							<a class="scroll_video_prev" title="Previous" href="#"></a>
						</div>					
					</span>
					
					
					<!-- <span id="next" style="float:right;right:-70px;top:215px;margin-top:0px;position:absolute;display:inline;">
						<img src="/assets/entrepeneurs_next-arrow.png">
					</span> -->

					<span id="next" style="float:right;right:-80px;top:215px;margin-top:0px;position:absolute;display:inline;">
						<div style="width: 50px; height: 150px;">
							<a class="scroll_video_next" title="Next" href="#"></a>
						</div>					
					</span>
										

					<div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="0" data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="&gt; div" style="width:970px;position:relative;height:890px;">					
					
					<!-- <div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="0" data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="&gt; div" style="width:970px;position:relative;height:700px;"> -->					
					
					
						<div style="position: absolute; top: 0px; left: 0px; z-index: 101; opacity: 1;" class="slide cycle-slide cycle-slide-active">

							<!-- 1 -->															
							<div class="fluidrow mainfeaturerow">
					
								<div style="margin-left: 10%;">
							 		<a href="journals/k12_digital">
							 			<img src="/assets/article-k12-digital.png" class="mainfeatureimage" height="450">
							 		</a>
								</div>

								<div class="channel-article header perspective"><a href="journals/k12_digital"><span>PERSPECTIVE</span></a></div>
								
							    <div class="headlines">
						        	<div class="h1"><a href="journals/k12_digital">How BIG <em>is</em> the K-12 Digital Curriculum Market?</a></div>
						            <div class="h2">With so many schools in transition, executives want to know what others are doing with digital curriculum.  The question of what, how much of it, and more is being answered – from definitions to market size.<span class="byline">&nbsp;by&nbsp;<a href="#">Lei Lani Cauthen</a></span></div>
						        	<div class="space-20"></div>
						        </div>
					        </div>
							<br>
					        
					    	<div class="fluidrow">					    
								<!-- 2 -->																				    
								<div class="psubfeature">
									<div class="innerpcell-subfeature">
										<div class="bg-industry-news-green h1">
											<a href="journals/nationally_recognized">INDUSTRY NEWS</a>
										</div>
									    <div class="h2">
									    	<a href="journals/nationally_recognized" style="text-decoration: none;">
									    		Nationally Recognized 1:1 Initiative Chooses Prey to Protect Every Device
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>Jacob Hanson</a>
									    	</span>
								    	</div>
									</div>
								</div>								
								
								<!-- 3 -->																			    					    
								<div class="psubfeature">
									<div class="innerpcell-subfeature">
										<div class="bg-industry-news-orange h1">
											<a href="journals/pearson">INDUSTRY NEWS</a>
										</div>
									    <div class="h2">
									    	<a href="journals/pearson" style="text-decoration: none;">Pearson announces a strategic investment in English language learning platform Voxy</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The LC Staff</a>
									    	</span>
								    	</div>
									</div>
								</div>								
								
								<!-- 4 -->
								<div class="psubfeature">
									<div class="innerpcell-subfeature">
										<div class="bg-industry-news-violet h1">
											<a href="journals/tales_to_go">INDUSTRY NEWS</a>
										</div>
									    <div class="h2">
									    	<a href="journals/tales_to_go" style="text-decoration: none;">
									    	Tales2Go Releases Android Version of its Award-Winning Service	
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>Sue Hanson, Contributor</a>
									    	</span>
								    	</div>
									</div>
								</div>								
						
							</div>
												
						</div>
					
						<div style="position: absolute; top: 0px; left: 0px; z-index: 100; display: none;" class="slide cycle-slide">
							<div class="fluidrow mainfeaturerow">
								<!-- 5 -->																				    					
								<div style="margin-left: 14%;">
						 			<a href="journals/we_need">
						 				<img src="/assets/article-we-need.png" class="mainfeatureimage" height="450">
						 			</a>
								</div>
						 		
								<div class="channel-article header idea"><a href="journals/we_need"><span>IDEA</span></a></div>
						 		
							    <div class="headlines">
						        	<div class="h1"><a href="journals/we_need">WE NEED NEW WORDS FOR DIGITAL CURRICULUM</a></div>
						            <div class="h2">Digital Curriculum is a lot of things, but what it has yet to achieve is an agreed-upon set of words describing what it is and does to give it more context of what’s happening with it in schools today.<span class="byline">&nbsp;by&nbsp;<a href="#">LeiLani Cauthen</a></span></div>
						        </div>
						
					        </div> <!-- fluidrow //-->
					        
					    	<div class="fluidrow">
								<!-- 6 -->								    		
								<div class="psubfeature" onclick="">
									<div class="innerpcell-subfeature">
										<div class="bg-industry-news-pink h1">
											<a href="journals/tales_to_go_releases">INDUSTRY NEWS</a>
										</div>
									    <div class="h2">
									    	<a href="journals/tales_to_go_releases" style="text-decoration: none;">
									    		Tales2Go Releases Android Version of its Award-Winning Service
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>Jacob Hanson, Contributor</a>
									    	</span>
								    	</div>
									</div>
								</div>					
								<!-- 7 -->		
								<div class="psubfeature" onclick="">
									<div class="innerpcell-subfeature">
										<div class="bg-industry-news-brown h1">
											<a href="journals/unique_az">INDUSTRY NEWS</a>
										</div>
									    <div class="h2">
									    	<a href="journals/unique_az" style="text-decoration: none;">
									    		Unique AZ District Closes Achievement Gap with Blended Learning Approach
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>Jacob Hanson, Contributor</a>
									    	</span>
								    	</div>
									</div>
								</div>					
								<!-- 8 -->			
								<div class="psubfeature">
									<div class="innerpcell-subfeature">
										<div class="bg-industry-news-blue h1">
											<a href="journals/charter_school_assoc">INDUSTRY NEWS</a>
										</div>
									    <div class="h2">
									    	<a href="journals/charter_school_assoc" style="text-decoration: none;">
									    		Charter School Associates Selects observe4success as Classroom Observation Partner
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>Jacob Hanson, Contributor</a>
									    	</span>
								    	</div>
									</div>
								</div>								
						
							</div>
							<!-- fluidrow //-->
						</div>
					
					
					
						<div style="position: absolute; top: 0px; left: 0px; z-index: 99; display: none;" class="slide cycle-slide">
							<div class="fluidrow mainfeaturerow">
								<!-- 9 -->	

								<div style="margin-left: 16%;">
							 		<a href="journals/checklist_of_top_10">
							 			<img src="/assets/article-checklist-of-top-10.png" class="mainfeatureimage" height="450">
							 		</a>
								</div>
						 		
								<div class="channel-article header tactic"><a href="journals/checklist_of_top_10"><span>TACTIC</span></a></div>
						 		
							    <div class="headlines">
						        	<div class="h1"><a href="#">Checklist of Top 10 Benchmarks for Instructional Materials</a></div>
						            <div class="h2">How do you know you have quality digital learning content?  This question could be made incredibly complex, but luckily people in-the-know have given ten simple guidelines.<span class="byline">&nbsp;by&nbsp;<a href="#">The LC Staff</a></span></div>
						        </div>
						
					        </div> <!-- fluidrow //-->
					        
					    	<div class="fluidrow">
								<!-- 10 -->																				    					    
								<div class="psubfeature" onclick="">
									<div class="innerpcell-subfeature">

										<div class="bg-industry-news-pine h1">
											<a href="journals/tulsa_charter">INDUSTRY NEWS</a>
										</div>
									    <div class="h2">
									    	<a href="journals/tulsa_charter" style="text-decoration: none;">
									    		Tulsa Charter School sells cookies to fund purchase of observe4success
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The LC Staff</a>
									    	</span>
								    	</div>
										
										<!-- <div class="bg-grow h1"><a href="#">GROW</a></div>
									    <div class="h2"><a href="#"> Shift and Pivot: Monitor Your Audience, Then Self-Correct</a><span class="byline">&nbsp;by&nbsp;<a href="#">Debra Kaye</a></span></div>
									    <div class="shares sharrre" data-title="sharrre" data-url=""><span id="article-share"><span class="share-count">187</span> <span class="share-text">SHARES</span></span></div> -->
									    									    									
									</div>
								</div>					
								
								<!-- 11 -->			
								<div class="psubfeature">
									<div class="innerpcell-subfeature">
										<div class="bg-industry-news-tan h1">
											<a href="journals/mycore">INDUSTRY NEWS</a>
										</div>
									    <div class="h2">
									    	<a href="journals/mycore" style="text-decoration: none;">
									    		myCore now offers CCSS-Aligned Units and Lessons
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>Jacob Hanson, Contributor</a>
									    	</span>
								    	</div>
									</div>
								</div>								
																									    					    					    
								<div class="psubfeature" onclick="">
									<div class="innerpcell-subfeature">
										<div></div>
										
										<!-- <div class="bg-default h1">VIDEO&nbsp;|&nbsp;<a href="#">THE PLAYBOOK</a></div>
									    <div class="h2"><a href="#">Kick Your Employees Out of the Office. Seriously</a><span class="byline">&nbsp;by&nbsp;<a href="#">Christine Lagorio-Chafkin</a></span></div>
									    <div class="shares sharrre" data-title="sharrre" data-url=""><span id="article-share"><span class="share-count">170</span> <span class="share-text">SHARES</span></span></div> -->
									    
									</div>
								</div>								
								
								<!-- 12 -->																				    					    
								<!-- <div class="psubfeature" onclick="">
									<div class="innerpcell-subfeature">
										<div class="bg-people h1"><a href="#">PEOPLE</a></div>
									    <div class="h2"><a href="#">Is Obamacare Good for Small Businesses? It's Complicated</a><span class="byline">&nbsp;by&nbsp;<a href="#">Adam Bluestein</a></span></div>
									    <div class="shares sharrre" data-title="sharrre" data-url=""><span id="article-share"><span class="share-count">61</span> <span class="share-text">SHARES</span></span></div>
									</div>
								</div> -->								
						
							<!-- </div>  -->
							<!-- fluidrow //-->
					
						</div>
					
						<!-- <div style="position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 1;" class="slide cycle-slide">
							<div class="fluidrow mainfeaturerow">
								<div class="bg-grow caption"><a href="#">THE LEARNING COUNSEL</a></div>
						 		<div align="center" style="margin-bottom: 10px;"><a href="#" style="text-align: center;"><img src="/assets/smartboard_1.png" class="mainfeatureimage" height="450"></a></div>
					        </div>
					    	<div class="fluidrow">
							</div>
						</div> -->					
					
					</div> <!-- cycle-slideshow //-->		
								
				</div>
				<br>


				<!-- headlines -->
								
				<div id="outercontainer">
					<div class="container-bottom">
						<div id="phomepinboard" class="pinboard homepinboard">
							<div class="pinboardContent">
								<div id="phomepinboardUnit0">
									<div style="width: 100%; height: 30px; background-color: gray; margin-top: 4px; margin-bottom: 20px;"></div>
									<div class="fluidrow row1">
										
										<!-- 13 -->										
										<a href="journals/facing_down" class="pin50644 col1 pnormal">
											<div class="innerpcell">
												<div class="picontainer">
													<img class="pinboardimage" src="/assets/article-facing-down.jpeg" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-8.jpg'">
								            		<div class="catbox-article catbox thoughts_catbox">
								            			<span>THOUGHTS</span>
								            		</div>													
												</div>
												<div class="pheadline">
													Facing Down the Learning Content Disruption
													<span class="pbyline">by&nbsp<span class="pinnerlink">David Kafitz</span></span>
												</div>
											</div>
										</a>
								
										<!-- 14 -->								
										<a href="journals/whats_so_hard" class="pin51330 col2 pnormal" onclick=""; return false;">
											<div class="innerpcell">
												<div class="picontainer">
													<img class="pinboardimage" src="/assets/article-whats-so-hard.png" style="height: 200px;" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-3.jpg'">
								            		<div class="catbox-article catbox tactic_catbox">
								            			<span>TACTIC</span>
								            		</div>													
												</div>
												<div class="pheadline">
													What’s So Hard About Choosing Digital Curriculum?
													<span class="pbyline">by&nbsp;
														<span class="pinnerlink" onclick="">The LC Staff</span>
													</span>
												</div>									
											</div>
										</a>
								
										<!-- 15 -->								
										<a href="#" class="pin51320 col3 pnormal" onclick="">
											<div class="innerpcell">
												<div class="picontainer">
													<img class="pinboardimage" src="300x200-6.jpg" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-6.jpg'">
													<div class="linecolorbox bg-default"></div>
													<div class="catcolorbox bg-default">
														<span class="pinnerlink" onclick="">&nbsp</span>
													</div>
												</div>
												
												<!-- <div class="pheadline">
													Chill Out, Entrepreneurs: Obamacare Will Be Good For The Economy
													<span class="pbyline">by&nbsp;<span class="pinnerlink" onclick="innerLinkHandler(event);history.replaceState(null,null,'http://www.inc.com');phomepinboard.updateLocalStorage(0,'http://www.inc.com',51320);phomepinboard.intentionIntercept('http://www.inc.com/author/andrew-griffiths',0,'latestpinboard','normal','author','author','3562'); return false;">Andrew Griffiths</span>
													</span>
												</div> -->												
												
											</div>
										</a>
									</div>
									
									<div class="fluidrow row2">
										<!-- 16 -->										
										<a href="#" class="pin51130 col1 pnormal" onclick="">
											<div class="innerpcell">
												<div class="picontainer">
														<img class="pinboardimage" src="300x200-6.jpg" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-6.jpg'">
													<div class="linecolorbox bg-default"></div>
													<div class="catcolorbox bg-default">
															
														<span class="pinnerlink" onclick="">&nbsp</span>
													</div>
												</div>
												
												<!-- <div class="pheadline">
													Edmund Phelps: How 'Flourishing Economies' Are Born
													<img src="Entrepeneurs_files/videoicon_sm.png">
														<span class="pbyline">by&nbsp;<span class="pinnerlink" onclick=""></span></span>
												</div> -->												
												
											</div>
										</a>
										
										<!-- 17 -->
										<a href="journals/five_types" class="pin51323 col2 pnormal" onclick="">
											<div class="innerpcell">
												<div class="picontainer">
													<img class="pinboardimage" src="/assets/article-five-types.png" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-1.jpg'">
								            		<div class="catbox-article catbox thoughts_catbox">
								            			<span>THOUGHTS</span>
								            		</div>													
												</div>
												<div class="pheadline">
													FIVE TYPES OF CURRICULUM “THINGS”
													<span class="pbyline">by&nbsp;<span class="pinnerlink" onclick="">Lei Lani Cauthen</span></span>
												</div>
											</div>
										</a>
										
										<!-- <div style="border-bottom: medium none;" class="col3 pimubig">
											<div style="display: none;" id="gpt-imubig-ad-2" class="innerpcell">
												<iframe src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px none; vertical-align: bottom;" marginheight="0" marginwidth="0" name="google_ads_iframe_/4160/mv.inc/homepage/flexiblehalfpage_0" id="google_ads_iframe_/4160/mv.inc/homepage/flexiblehalfpage_0" frameborder="0" height="600" scrolling="no" width="300"></iframe>
												<div class="padvertlabel">Advertisement</div>
											</div>
										</div> -->										
										
									</div>
									
									<div class="fluidrow row3">
										<!-- 18 -->
										<a href="" onclick="">
											<div class="innerpcell">
												<div class="ptextcontainer picontainer line-money">																										
													<div class="ptextbox">

															<span class="pbyline">&nbsp;<span class="pinnerlink" onclick=""> </span></span>															
													</div>
													<div class="ptextcat">
														<span class="pinnerlink" onclick="">&nbsp</span>
													</div>
													
												</div>
											</div>
										</a>
										<!-- 19 -->
										<a href="">
											<div class="innerpcell">
												<div class="picontainer">
														<img class="pinboardimage" src="300x200-4.jpg" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-4.jpg'">
													<div class="linecolorbox bg-default"></div>
													<div class="catcolorbox bg-default">
														<span>&nbsp</span>
													</div>
												</div>
												<div class="pheadline">
													
												</div>
												<div class="ppartner">&nbsp <span class="ppartnername">&nbsp</span></div>
												
											</div>
										</a>
										<!-- 20 -->
										<a style="cursor: default;" href="#" class="pin51306 col3 pnormal" onclick="">
											<div style="visibility: hidden;" class="innerpcell">
												<div class="picontainer">
														<img class="pinboardimage" src="300x200-5.jpg" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-5.jpg'">
													<div class="linecolorbox bg-default"></div>
													<div class="catcolorbox bg-default">
														<span class="pinnerlink" onclick="">&nbsp</span>
													</div>
												</div>
												<div class="pheadline">
													
													<span class="pbyline">&nbsp;<span class="pinnerlink" onclick=""> </span></span>
												</div>
												
											</div>
										</a>
									</div>
									
									<!-- <div class="fluidrow row4">
										
										<a href="" class="pin51277 widerowcell prow1x3">
											<div class="innerpcell">
												<div class="icellcontainer line-default" onclick="">
													<div class="picontainer">
														<img class="pinboardimage" src="643x290-3.jpg" onerror="this.src='http://images.inc.com/refreshgraphics/643x290-3.jpg'">
													</div>
													<div class="pwiderightbox">
														<div class="pheadline">
															
														</div>
														<span class="pbyline">&nbsp;<span class="pinnerlink" onclick="">&nbsp</span></span>
														<div class="pdeck">
															
														</div>
													</div>
													<div class="widechannelheadline">
														<span class="pinnerlink" onclick="">&nbsp</span>
													</div>
												</div>
											</div>
										</a>
									</div> -->
																		
																				
									<div class="fluidrow row5">
										
										<!-- 22 -->																			
										<a href="journals/education_compared" class="pin51290 col1 pportrait" onclick="">
											<div class="innerpcell">
												<div class="picontainer">
													<div style="position: absolute; bottom: 0px;">
														<img class="pinboardimage" src="/assets/article-education-compared.jpg" onerror="this.src='http://images.inc.com/refreshgraphics/300x520-3.jpg'">
													</div>
													
													<!-- <div class="catcolorbox bg-default">
														<span class="pinnerlink" onclick="">Perspective</span>
													</div> -->													
													
													<div class="catcolorbox_pos">
									            		<div class="catbox-article catbox_pos perspective_catbox">
									            			<span>PERSPECTIVE</span>
									            		</div>
								            		</div>								            		
								            						            						
												</div>
												<div class="pheadline">
													Education Compared to All Other Industry
													<span class="pbyline">by&nbsp;<span class="pinnerlink" onclick="">LeiLani Cauthen</span></span>
												</div>
											</div>
										</a>
										
										<div class="col2 pimusmall">
											<!-- <div style="display: none;" id="gpt-imusmall-ad-3" class="innerpcell"> -->
																								
											<div id="gpt-imusmall-ad-3" class="innerpcell">
												
												<div class="padvertlabel">Advertisement</div>
											</div>
										</div>
										<!-- 23 -->			
										
										<!-- <a href="#" class="pin50247 col2 pnormal" onclick="">
											<div class="innerpcell">
												
												<div class="picontainer">
													<img class="pinboardimage" src="/assets/article-to-solution.png" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-4.jpg'">
													<div class="linecolorbox bg-default"></div>
													<div class="catcolorbox bg-default">
														To Solution or Element – That is the Question
														<span class="pinnerlink" onclick="">&nbsp</span>
													</div>
												</div>
												<div class="pheadline">
													
													<img src="Entrepeneurs_files/videoicon_sm.png">
														<span class="pbyline">&nbsp;<span class="pinnerlink" onclick="">&nbsp</span></span>
												</div>
												
											</div>
										</a> -->		
																		
										<a href="#" class="pin51303 col3 ptext" onclick="">
											<div class="innerpcell">
												<div class="ptextcontainer picontainer line-startup">
													
													<img class="pinboardimage" src="/assets/article-blogs-and-links.png" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-4.jpg'">

													<div class="headline-junebug">
														<span class="gold">Blogs</span>
														<span class="red">&amp;</span>
														<span class="blue">Links</span>														
													</div>
																										
													<div class="ptextbox">
														<span class="pbyline">&nbsp;<span class="pinnerlink" onclick=""></span></span>
													</div>
													<div class="ptextcat">
														<span class="pinnerlink" onclick=""></span>
													</div>
												</div>
											</div>
										</a>										
										
									</div>
									
									<!-- <div class="fluidrow row6" style="border-style: solid; border-width: 3px; border-color: red;"> -->
																				
									<div class="fluidrow row6">
										
										<div class="col1 pblank">
											<div class="innerpcell"></div>
										</div>
										<!-- 24 -->									
										<a href="journals/to_solution" class="pin50247 col2 pnormal" onclick="">
											<div class="innerpcell">
												<div class="picontainer">
													<img class="pinboardimage" src="/assets/article-to-solution-300-200.png" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-4.jpg'">
								            		<div class="catbox-article catbox tactic_catbox">
								            			<span>TACTIC</span>
								            		</div>													
												</div>
												<div class="pheadline">
													To Solution or Element – That is the Question
													<img src="Entrepeneurs_files/videoicon_sm.png">
														<span class="pbyline">By&nbsp;<span class="pinnerlink" onclick="">The LC Staff</span></span>
												</div>
											</div>
										</a>
										<!-- 24 -->																			
										<a href="#" class="pin51305 col3 pnormal" onclick="">
											<div class="innerpcell">
												<div class="picontainer">
														<img class="pinboardimage" src="300x200-2.jpg" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-2.jpg'">
													<div class="linecolorbox bg-default"></div>
													<div class="catcolorbox bg-default">
														<span class="pinnerlink" onclick="">&nbsp</span>
													</div>
												</div>
												<div class="pheadline">
													
													<span class="pbyline">&nbsp;<span class="pinnerlink" onclick="">&nbsp</span></span>
												</div>
											</div>
										</a>
										
									</div>
									
									<div class="fluidrow row7">
										<!-- 25 -->																													
										<a href="journals/coffee_chat" class="pin51316 widerowcell prow1x3">
											<div class="innerpcell">
												<div class="icellcontainer line-default" onclick="">
													<div class="picontainer">
														<img class="pinboardimage" src="/assets/article-coffee-chat.png" onerror="this.src='http://images.inc.com/refreshgraphics/643x290-4.jpg'">
													</div>
													<div class="pwiderightbox">
														<div class="pheadline">
														COFFEE CHAT WITH HOUSTON ISD	
														</div>
														<span class="pbyline">by&nbsp;<span class="pinnerlink" onclick="">The LC Staff</span></span>
														<div class="pdeck">
														Two of Houston Independent School District’s leaders, Beatriz Arnillas, and Angela Miller, answer questions of post by The Learning Counsel.  
														</div>
													</div>
													<div class="widechannelheadline">
														<span class="pinnerlink" onclick="">SPOTLIGHT</span>
													</div>
												</div>
											</div>
										</a>
									</div>
									
								</div> <!-- phomepinboardUnit0 -->
								
								<!-- <div id="phomepinboardUnit1">
									<div></div>
									<div class="fluidrow wideadunitrow row0">
										<div class="pwideadcontainer">
											<div style="display: none;" id="gpt-wide-ad-4" class="pwideadunit"></div>
										</div>
									</div>
								
									<div class="fluidrow row1">
										<a href="#" class="pin51291 widerowcell prow1x3">
											<div class="innerpcell">
												<div class="icellcontainer line-people" onclick="">
													<div class="picontainer">
														<img class="pinboardimage" src="643x290-2.jpg" onerror="this.src='http://images.inc.com/refreshgraphics/643x290-2.jpg'">														
													</div>
													<div class="pwiderightbox">
														<div class="pheadline">
															
														</div>
														<span class="pbyline">&nbsp;<span class="pinnerlink" onclick="">&nbsp</span></span>
														<div class="pdeck">
															
														</div>
													</div>
													<div class="widechannelheadline">
														<span class="pinnerlink" onclick="">&nbsp</span>
													</div>
												</div>
											</div>
										</a>
									</div> -->									
									
								
									<div class="fluidrow row2">
										<!-- 27 -->
										<a href="journals/wanted_new_leader" class="pin51299 col1 pnormal" onclick="">
											<div class="innerpcell">
												<div class="picontainer">
													<img class="pinboardimage" src="/assets/article-wanted-new-leader.png" height="200px" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-8.jpg'">
													<div class="linecolorbox bg-people"></div>
													
													
								            		<div class="catbox-article catbox people_catbox">
								            			<span>PEOPLE</span>
								            		</div>													
												</div>
												<div class="pheadline">
													WANTED: NEW LEADER & TEACHER FEATURES
													<span class="pbyline">by&nbsp;<span class="pinnerlink" onclick="">LeiLani Cauthen</span></span>
												</div>
											</div>
										</a>
										<a href="#" class="pin51304 col2 pnormal" onclick="">
											<div class="innerpcell">
												<div class="picontainer">
														<img class="pinboardimage" src="300x200-2.jpg" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-2.jpg'">
													<div class="linecolorbox bg-default"></div>
													<div class="catcolorbox bg-default">
														<span class="pinnerlink" onclick="">&nbsp</span>
													</div>
												</div>
												<div class="pheadline">
													
													<span class="pbyline">&nbsp;<span class="pinnerlink" onclick="">&nbsp</span></span>
												</div>
											</div>
										</a>
										<div style="border-bottom: medium none;" class="col3 pimubig">
											<div style="display: none;" id="gpt-imubig-ad-5" class="innerpcell">
												<div class="padvertlabel">Advertisement</div>
											</div>
										</div>
									</div>
								
									<!-- fluidrow row3 -->
								
									<!-- <div class="fluidrow row4">
										<a href="http://www.inc.com/jeff-gross/is-a-money-trying-to-buy-your-business-beware.html" class="pin50972 widerowcell prow1x3">
											<div class="innerpcell">
												<div class="icellcontainer line-money" onclick="history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',50972);phomepinboard.intentionIntercept('http://www.inc.com/jeff-gross/is-a-money-trying-to-buy-your-business-beware.html',1,'latestpinboard','row1x3','article','article','50972'); return false;">
													<div class="picontainer">
														<img class="pinboardimage" src="Entrepeneurs_files/monkey-texting_pan_12371.jpg" onerror="this.src='http://images.inc.com/refreshgraphics/643x290-8.jpg'">
													</div>
													<div class="pwiderightbox">
														<div class="pheadline">
															Is a Monkey Trying to Buy Your Business? Beware.
														</div>
														<span class="pbyline">by&nbsp;<span class="pinnerlink" onclick="innerLinkHandler(event);history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',50972);phomepinboard.intentionIntercept('http://www.inc.com/author/jeff-gross',1,'latestpinboard','row1x3','author','author','3607'); return false;">Jeff Gross</span></span>
														<div class="pdeck">
															Unlike 'Bigfoot' buyers, monkeys do exist. And they can cost you, big-time.
														</div>
														<div class="pshares sharrre" data-title="sharrre" data-url="http://www.inc.com/jeff-gross/is-a-money-trying-to-buy-your-business-beware.html"><span class="psharecount">169</span> SHARES</div>
													</div>
													<div class="widechannelheadline">
														<span class="pinnerlink" onclick="innerLinkHandler(event);history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',50972);phomepinboard.intentionIntercept('http://www.inc.com/money',1,'latestpinboard','row1x3','channel','channel','20'); return false;">MONEY</span>
													</div>
												</div>
											</div>
										</a>
									</div>
								
									<div class="fluidrow row5">
										<a href="http://www.inc.com/geoffrey-james/customer-service-an-opportunity-missed.html" class="pin51262 col1 pnormal" onclick="history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51262);phomepinboard.intentionIntercept('http://www.inc.com/geoffrey-james/customer-service-an-opportunity-missed.html',1,'latestpinboard','normal','article','article','51262'); return false;">
											<div class="innerpcell">
												<div class="picontainer">
														<img class="pinboardimage" src="Entrepeneurs_files/Kaytee-Riek-flickr-1725x810_27820.jpg" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-1.jpg'">
													<div class="linecolorbox bg-grow"></div>
													<div class="catcolorbox bg-grow">
														<span class="pinnerlink" onclick="innerLinkHandler(event);history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51262);phomepinboard.intentionIntercept('http://www.inc.com/grow',1,'latestpinboard','normal','channel','channel','24'); return false;">GROW</span>
													</div>
												</div>
												<div class="pheadline">
													Customer Service: An Opportunity Missed
													<span class="pbyline">by&nbsp;<span class="pinnerlink" onclick="innerLinkHandler(event);history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51262);phomepinboard.intentionIntercept('http://www.inc.com/author/geoffrey-james',1,'latestpinboard','normal','author','author','3160'); return false;">Geoffrey James</span></span>
												</div>
												<div class="pshares sharrre" data-title="sharrre" data-url="http://www.inc.com/geoffrey-james/customer-service-an-opportunity-missed.html"><span class="psharecount">135</span> SHARES</div>
											</div>
										</a>
									
										<div class="col2 pimusmall">
											<div style="display: none;" id="gpt-imusmall-ad-6" class="innerpcell"><iframe src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px none; vertical-align: bottom;" marginheight="0" marginwidth="0" name="google_ads_iframe_/4160/mv.inc/homepage/fixedrectangle_1" id="google_ads_iframe_/4160/mv.inc/homepage/fixedrectangle_1" frameborder="0" height="250" scrolling="no" width="300"></iframe><div class="padvertlabel">Advertisement</div></div>
										</div>
									
										<a href="http://www.inc.com/M-Jeffrey-Hoffman/three-ways-to-beat-the-competition.html" class="pin51307 col3 ptext" onclick="history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51307);phomepinboard.intentionIntercept('http://www.inc.com/M-Jeffrey-Hoffman/three-ways-to-beat-the-competition.html',1,'latestpinboard','text','article','article','51307'); return false;">
											<div class="innerpcell">
												<div class="ptextcontainer picontainer line-grow">
													<div class="ptextbox">
														3 WAYS TO BEAT THE COMPETITION
														<span class="pbyline">by&nbsp;<span class="pinnerlink" onclick="innerLinkHandler(event);history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51307);phomepinboard.intentionIntercept('http://www.inc.com/author/m-jeffrey-hoffman',1,'latestpinboard','normal','author','author','3601'); return false;">M. Jeffrey Hoffman</span></span>
														<div class="pshares sharrre" data-title="sharrre" data-url="http://www.inc.com/M-Jeffrey-Hoffman/three-ways-to-beat-the-competition.html"><span class="psharecount">106</span> SHARES</div>
													</div>
													<div class="ptextcat">
														<span class="pinnerlink" onclick="innerLinkHandler(event);history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51307);phomepinboard.intentionIntercept('http://www.inc.com/grow',1,'latestpinboard','text','channel','channel','24'); return false;">GROW</span>
													</div>
												</div>
											</div>
										</a>
									</div>
								
									<div class="fluidrow row6">
										<a href="http://www.inc.com/jon-miller/how-to-build-a-data-driven-marketing-team.html" class="pin51265 col1 pnormal" onclick="history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51265);phomepinboard.intentionIntercept('http://www.inc.com/jon-miller/how-to-build-a-data-driven-marketing-team.html',1,'latestpinboard','normal','article','article','51265'); return false;">
											<div class="innerpcell">
												<div class="picontainer">
													<img class="pinboardimage" src="Entrepeneurs_files/digital-mountains-1940x900_29457.jpg" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-6.jpg'">
												<div class="linecolorbox bg-grow"></div>
												<div class="catcolorbox bg-grow">
													<span class="pinnerlink" onclick="innerLinkHandler(event);history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51265);phomepinboard.intentionIntercept('http://www.inc.com/grow',1,'latestpinboard','normal','channel','channel','25'); return false;">GROW</span>
												</div>
												</div>
												<div class="pheadline">
													How to Build a Data-Driven Marketing Team
													<span class="pbyline">by&nbsp;<span class="pinnerlink" onclick="innerLinkHandler(event);history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51265);phomepinboard.intentionIntercept('http://www.inc.com/author/jon-miller',1,'latestpinboard','normal','author','author','3515'); return false;">Jon Miller</span></span>
												</div>
												<div class="pshares sharrre" data-title="sharrre" data-url="http://www.inc.com/jon-miller/how-to-build-a-data-driven-marketing-team.html"><span class="psharecount">280</span> SHARES</div>
											</div>
										</a>
										<a href="http://www.inc.com/les-mckeown/how-to-avoid-the-curse-of-success.html" class="pin51279 col2 pnormal" onclick="history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51279);phomepinboard.intentionIntercept('http://www.inc.com/les-mckeown/how-to-avoid-the-curse-of-success.html',1,'latestpinboard','normal','article','article','51279'); return false;">
											<div class="innerpcell">
												<div class="picontainer">
														<img class="pinboardimage" src="Entrepeneurs_files/cloudsovernewyorkpano_21375.jpg" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-3.jpg'">
													<div class="linecolorbox bg-grow"></div>
													<div class="catcolorbox bg-grow">
														<span class="pinnerlink" onclick="innerLinkHandler(event);history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51279);phomepinboard.intentionIntercept('http://www.inc.com/grow',1,'latestpinboard','normal','channel','channel','6'); return false;">GROW</span>
													</div>
												</div>
												<div class="pheadline">
													Better Believe It: There Is a Dark Side to Success
													<span class="pbyline">by&nbsp;<span class="pinnerlink" onclick="innerLinkHandler(event);history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51279);phomepinboard.intentionIntercept('http://www.inc.com/author/les-mckeown',1,'latestpinboard','normal','author','author','3361'); return false;">Les McKeown</span></span>
												</div>
												<div class="pshares sharrre" data-title="sharrre" data-url="http://www.inc.com/les-mckeown/how-to-avoid-the-curse-of-success.html"><span class="psharecount">116</span> SHARES</div>
											</div>
										</a>
										
										<a href="http://www.inc.com/abigail-tracy/amazon-launches-new-program-for-young-startups.html" class="pin51312 col3 pnormal" onclick="history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51312);phomepinboard.intentionIntercept('http://www.inc.com/abigail-tracy/amazon-launches-new-program-for-young-startups.html',1,'latestpinboard','normal','article','article','51312'); return false;">
											<div class="innerpcell">
												<div class="picontainer">
														<img class="pinboardimage" src="Entrepeneurs_files/1725x810_27904.jpg" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-7.jpg'">
													<div class="linecolorbox bg-default"></div>
													<div class="catcolorbox bg-default">
														<span class="pinnerlink" onclick="innerLinkHandler(event);history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51312);phomepinboard.intentionIntercept('http://www.inc.com/wire',1,'latestpinboard','normal','channel','channel','374'); return false;">WIRE</span>
													</div>
												</div>
												<div class="pheadline">
													New Cloud Service: Amazon Looks to Attract Young Companies
													<span class="pbyline">by&nbsp;<span class="pinnerlink" onclick="innerLinkHandler(event);history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51312);phomepinboard.intentionIntercept('http://www.inc.com/author/abigail-tracy',1,'latestpinboard','normal','author','author','3282'); return false;">Abigail Tracy</span></span>
												</div>
												<div class="pshares sharrre" data-title="sharrre" data-url="http://www.inc.com/abigail-tracy/amazon-launches-new-program-for-young-startups.html"><span class="psharecount">25</span> SHARES</div>
											</div>
										</a>
									</div>
								
									<div class="fluidrow row7">
										<a href="http://www.inc.com/dave-kerpen-what-i-wish-id-known-about-fundraising.html" class="pin51286 widerowcell prow1x3">
											<div class="innerpcell">
												<div class="icellcontainer line-money" onclick="history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51286);phomepinboard.intentionIntercept('http://www.inc.com/dave-kerpen-what-i-wish-id-known-about-fundraising.html',1,'latestpinboard','row1x3','article','article','51286'); return false;">
													<div class="picontainer">
														<img class="pinboardimage" src="Entrepeneurs_files/money-tight-closeup-1725x810_28055.jpg" onerror="this.src='http://images.inc.com/refreshgraphics/643x290-3.jpg'">
													</div>
													<div class="pwiderightbox">
														<div class="pheadline">
															What I Wish I'd Known About Fundraising
														</div>
														<span class="pbyline">by&nbsp;<span class="pinnerlink" onclick="innerLinkHandler(event);history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51286);phomepinboard.intentionIntercept('http://www.inc.com/author/dave-kerpen',1,'latestpinboard','row1x3','author','author','3417'); return false;">Dave Kerpen</span></span>
														<div class="pdeck">
															After being in the trenches, entrepreneur Dave Kerpen shares his key learnings about fundraising.
														</div>
														<div class="pshares sharrre" data-title="sharrre" data-url="http://www.inc.com/dave-kerpen-what-i-wish-id-known-about-fundraising.html"><span class="psharecount">154</span> SHARES</div>
													</div>
													<div class="widechannelheadline">
														<span class="pinnerlink" onclick="innerLinkHandler(event);history.replaceState(null,null,'http://www.inc.com/1');phomepinboard.updateLocalStorage(1,'http://www.inc.com',51286);phomepinboard.intentionIntercept('http://www.inc.com/money',1,'latestpinboard','row1x3','channel','channel','2'); return false;">MONEY</span>
													</div>
												</div>
											</div>
										</a>
									</div>									 -->									
									
								</div> <!-- phomepinboardUnit1 -->
							</div> <!-- pinboardContent -->  
						</div>
					</div>
				</div> <!--end  outer container//-->

				<div style="height: 30px;"></div>

				<div id="sfw_865" align="center" style="height:90px">&nbsp;Banner</div>
				<script type="text/javascript">
					// <![CDATA[
					_wbn.push(function(){
					var so = new SWFObject("/assets/865.swf", "swf", "728", "90", "6", "#ffffff");
					so.addParam("quality", "best");
					so.addParam("menu", "false");
					so.addParam("wmode", "opaque");
					so.addParam("allowScriptAccess", "always");
					so.addVariable("url", "http://www.work.ua/go.php?bid=865");
					so.addVariable("target", "_blank");
					so.write("sfw_865");
					});
					// ]]>
				</script>

				<div style="height: 30px;"></div>
								
			</div> <!--white -->
					

				<!-- <div id="sfw_866" align="center" style="height:90px">&nbsp;</div>
					<script type="text/javascript">
					// <![CDATA[
					_wbn.push(function(){
					var so = new SWFObject("http://i.work.ua/b/866.swf?941883883", "swf", "728", "90", "6", "#ffffff");
					so.addParam("quality", "best");
					so.addParam("menu", "false");
					so.addParam("wmode", "opaque");
					so.addParam("allowScriptAccess", "always");
					so.addVariable("url", "http://www.work.ua/go.php?bid=866");
					so.addVariable("target", "_blank");
					so.write("sfw_866");
					});
					// ]]>
					</script> -->

					
   				<!-- <div id="myContent">
      				<p>Alternative content</p>
    			</div>					
					
				<object>
					<param name="SRC" value="865.swf">
					<embed src="/assets/865.swf"></embed>
				</object> 					 -->
									

				<!-- <div align="center">			
					 button_to "Sign up", {:controller => 'users', :action => 'new', :id => 'Student'}, class: "button3" 
				</div>

				<div align="center">			
					 button_to "Sign up", {:controller => 'users', :action => 'new', :id => 'Student'}, class: "btn red large" 
				</div> -->
				
					
				<!-- <div style="height: 20px;"></div> -->
								
			</div>			    
			
		</section>
		