<% provide(:title, 'Sign In') %>
		
	<script src="/assets/jquery.validate.js"></script>

	<style>
		
	/* -- input form -- */
	
	
	#form-message {
		
		width: 600px;
		height: auto;
					
		display: block;
		
		/*background-color:rgba(86, 133, 78, 0.97);*/		
		
		/*background-color: #D5E8D8;*/
				
		/*background-color: #4F5C4F;*/		
		
		background-color: rgba(4, 26, 4, 0.96);
		
		
				
		
		/*background-color:rgba(86, 133, 78, 0.75);*/
		
		/*-moz-box-shadow:5px 5px 40px #fff;
		-webkit-box-shadow:5px 40px 5px #fff;
		box-shadow:5px 5px 40px #CCAE37;*/
		
	    /*box-shadow: 0 0 30px #CCAE37;*/
	   		   		    
	    transition: box-shadow 3s ease-in-out;				
			
		border-top-left-radius: 10px;
   		border-top-right-radius: 10px;		
		border-bottom-left-radius: 10px;
   		border-bottom-right-radius: 10px;
   		
		position: relative;
		
		
		/*text-align: center;			*/		
		
		padding-top: 30px;	   			   	
		padding-bottom: 30px;	
	}
	
	
	/**:focus {
		outline: none
	}*/
	
	.input-form {
		font-family: msyh;
		font-size: 16px;
		width: 300px;
		height: 24px;
		border-style:solid;
		border-radius: 6px;
		border-color: #13571F;
		border-width: 2px;
		padding-left: 6px;
		
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	.input-form:focus {
		/*border-color: #97FF47;*/
		
		color: #fff;
						
		background: url("/assets/submit_form_empty.png") no-repeat 278px 7px;						
				
		-webkit-box-shadow: 0 0 25px #ccc;
		-moz-box-shadow: 0 0 25px #ccc;
		box-shadow: 0 0 25px #ccc;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
	}

	div .error_label {
	    display: none;
		font-family: msyh;
		font-size: 12px;
		color: #851717;		    
	}

	div .errors {
		font-family: msyh;
		font-size: 11px;
		color: #851717;		    			
	}
	
	.input-label {
		font-family: msyh;
		font-size: 16px;
		width: 230px;
		height: 18px;
	}

	.success {
		color: #ACDDE3;		
		background: url("/assets/submit_form_tick.png") no-repeat 278px 5px;		
	}		
	
	.error {
		color: #851717;
		background: url("/assets/submit_form_empty.png") no-repeat 278px 7px;		
		border-color: #851717; 						
	}

	.required {
		color: orange;		
		background: url("/assets/submit_form_empty.png") no-repeat 278px 7px;		
		
		/*background: url("/assets/submit_form_asterisk_orange.png") no-repeat 218px 7px;*/		
		
	}
	
	.error-label {
		color: #851717;
	}

	.required-label {
		color: orange;		
	}
	
	.input-form-spacer {
		height: 8px;
	}

	.input-search-1 {
		background-color: white;
		color: black;
		font-family: Arial;
		width: 200px;
	}
		
	.message {
		height: 120px;
	}
		
	div .cell-right-contact {
		display: table-cell;
		width: 50%;
		text-align: left;
		align: top;		
	}

	div .cell-left-contact {
		display: table-cell;
		width: 28%;	
		align: top;
		text-align: right;		
		padding-right: 20px;
	}
	
	div .cell-submit-contact {
		display: table-cell;
		width: 50%;
		text-align: left;
		align: top;		
	}
		
	
	</style>					
					
				
	<header>					
    		
		<%= render 'layouts/flash_alert' %>
		
		<div class="shadow" style="position: relative; z-index: +2;">
			
		</div>

	</header>		
	
	<section>

		<div style="height: 140px;"></div>
		
		<div class="kontainer">

			<div id="mainkolumn" class="withsidebar">
	
	
				<div>			
					<h2 style="font-family: msyh; color: #26B821;">
						Sign In
					</h2>
				</div>
				
				<div style="height: 20px;"></div>
				
				<div id="form-message">
					
					
    	 <!-- form_for(:session, url: sessions_path) do |f| 	
	
		 f.label(:username, 'Username') 						
		 f.text_field :username, :class => "input-form", :autofocus => true 	
		 f.label(:password, 'Password') 
		 f.password_field :password, :class => "input-form" 
		 f.submit "Sign In", class: ""  -->

					
					   <!-- form_for @session, :html => {:id => "form_join"} do |f| -->					   
					    
					    
					    
					    
					    
					    
					<%= form_for(:session, url: sessions_path, :html => {:id => "form_join"}) do |f| %>
					<!-- = render 'shared/error_messages', object: f.object -->
					 <!-- hidden_field_tag :account_type, @account_type  -->
					 	
					<div class="errors">
						<div class="row">
							<div class="cell-left-contact" style="width: 190px;"></div>
							<div class="cell-right-contact">
								<p></p>
							</div>
						</div>
					</div>			
		
					<div class="error_label">
						<div class="row">
							<div class="cell-left-contact" style="width: 190px;"></div>
							<div class="cell-right-contact" style="width: 300px;">
								<p id="error_session_username"></p>
							</div>
						</div>
					</div>			
																				
					<div class="row">
						<div class="cell-left-contact">
							<%= f.label(:username, "Username or Email", :class => 'input-label required-label', :id => 'label_session_username') %>
						</div>
						<div class="cell-right-contact">
							 <%= f.text_field(:username, :class => "input-form required", :placeholder => 'Userame' ) %>					 
						</div>   
					</div>      		
			
					<div class="input-form-spacer"></div>
			
					<div class="error_label">
						<div class="row">
							<div class="cell-left-contact" style="width: 190px;"></div>
							<div class="cell-right-contact" style="width: 300px;">
								<p id="error_session_username"></p>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="cell-left-contact">
							<%= f.label(:password, "Password", :class => 'input-label required-label', :id => 'label_session_password') %>
						</div>
						<div class="cell-right-contact">
							<%= f.password_field(:password, :class => "input-form required" ) %>
						</div>      	
					</div>      		
					
					
					<div class="input-form-spacer"></div>
					<div class="input-form-spacer"></div>
					<div class="input-form-spacer"></div>
	
					<div class="row">
						<div class="cell-left-contact">
						</div>
						<div class="cell-right-contact" style="padding-left: 0px;">
							<%= f.submit "Submit", :class => 'btn submitcontact' %>
						</div>      	
					</div>      		
		
				<% end %>
						
						
						
						
						
						
						
						
						
						
						
				</div>		
	
				<br clear="all">

			</div>

			<div id="k-sidebar">
				<div id="k-sidebar_inner">
					
				</div>
			</div>

			<br clear="all">

		</div>

		
		<div style="height: 450px;"></div>
			
	</section>
	



	<script>

		function formValidate() {
						
			$("#form_join").validate({
			
				submitHandler: function(form) {
					form.submit();
				},
			
				debug: true,
				onkeyup: false,
				focusCleanup: true,
				
				rules: {
					'session[username]': {
						required: true
					},
					// 'session[email]': {
						// required: true
					// },
					
					'session[password]': {
						required: true
					}
				},
				invalidHandler: function(event, validator) {
					var errors = validator.numberOfInvalids();
					if (errors) {
						var message = errors == 1
						? 'You missed 1 field'
						: 'You missed ' + errors + ' fields';
						$("div.errors p").html(message);
						$("div.errors").show();
					} else {
						$("div.errors").hide();
					}
				},				
				messages: {
					'session[username]': {
						required: "Please enter your username or email"
					},
					// 'contact[email]': {
						// required: "Please enter an email address",
					// },

					'session[password]': {
						required: "Please enter a password"
					}
				},
				errorContainer: $("div .error_label"),				
				errorPlacement: function(error, element) {
					error.insertAfter('#error_' + element.attr('id'));
					$('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					//$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				},
				// invalid: function(element) {
					// $('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// $('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');					
				// },
				// highlight: function(element) {
					// $('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// //$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				// },
				// unhighlight: function(element) {
					// //$('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// //$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				// },
				error: function(label) {
					$('#' + label.attr('for')).removeClass('required').removeClass('success').addClass('error');
					$('#label_' + label.attr('for')).removeClass('required-label').addClass('error-label');
				},
				success: function(label) {
					$('#' + label.attr('for')).removeClass('required').removeClass('error').addClass('success');
					$('#label_' + label.attr('for')).removeClass('error-label').addClass('required-label');
				},				
				focus: function(element) {
				 	$('#' + element.attr('id')).removeClass('required').removeClass('error').removeClass('success').addClass('focus');
				}
			});
			
			$.validator.setDefaults({
				
				submitHandler: function() {
					form.submit();
				}
			});
		}

		
		function loadSession() {
			setTimeout( function(){$("#session_username").focus();}, 500);
		}

		$(document).ready(function(){
			loadSession();
			formValidate();
		});
	
	</script>
	































	<% if false %>
	<div class="table-yellow-edmatchup">
		<div class="row">
			<div class="cell-600">
				<table class="table-yellow">
					<div class="row">
						<div class="cell-100percent">
							<h3 style="padding: 0px 0px 0px 170px;">EdMatchUp</h3>
							<h4 style="padding: 0px 0px 0px 120px;">Digital Curriculum Matching</h4>
						</div>
					</div>
					<div class="row">
						<div class="cell-100percent">
							<h3 style="padding: 0px 0px 0px 130px;">Get Started - It's Free</h3>
							
						</div>
					</div>
					<div class="row">
						<div class="cell-100percent">
							<h4 style="padding: 0px 0px 0px 60px;display: inline-block;">SEARCH EdMatchUp</h4>													
							<input type="text" class="input-search-1" placeholder="Search" style="display: inline-block;">
						</div>
					</div>
					<div class="row">
						<div class="cell-100percent">
							<div style="display: inline-block;">
								<p style="line-height: 12px; font-size: 12px; font-weight: bolder; padding: 0px 0px 0px 60px;">
									Create<br>
									Product<br>
									or<br>
									Inventory<br>
									Profile<br><br><br>
								</p>
							</div>
							
							<% if !session[:signed_in] %>
								<%= render 'layouts/menu_accounts' %>
							<% else %>
								<%= render 'layouts/menu_accounts_signed_in' %>    							
							<% end %>
							
						</div>
					</div>
				</table>
			</div>
			<div class="cell-300" style="padding: 10px 20px 40px 0px;">
				<h4>How does it work?</h4>
	  			<%= image_tag("image_edmatchup_works.png", :width => '300',  :alt => '') %>
			</div>
		</div>
	</div>
	<% end %>
