<% provide(:title, 'Flipped Conferences') %>
<%= render 'share/backtotop_2' %>
<div class="flipped-conf">
	<ul class="fc-ul">
	   <li class="fc-li">
	      <%= render 'share/eventpages_tabs' %>
	   </li>
	   <li class="fc-li">
	      <div class="tab-container">
	      		<%= image_tag("event2pages/complete-main-flipped-banner-w900-h371.jpg", class: "banner", alt: "Flipped Conferences") %>
	            <div class="space-height-20"></div>
	            <h2 class="flipped-conf-title">The Flipped Conferences</h2>
	            <h2 class="flipped-conf-subtitle">Multiple Cities.<br/>
	               From Leaders, to IT, to Curriculum to Teachers,<br/>
	               a session track for everyone.
	            </h2>
	            <div class="orange-goal">
	               <h2>Goal</h2>
	               <p>Experience flipped sessions; discuss new leadership issues; create curriculum and IT
	                  synergies; get PD for blended and online learning; inspect up-and-coming industry dynamics like gamification.
	               </p>
	            </div>
	            <p class="blue-quote">“A week of sessions condensed into one day.”</p>
	            <p id="first-p">Just like the Learning Counsel’s Digital Curriculum Strategy Discussion meetings, the Flipped Conferences have the same open-discussion and leadership sessions – now enveloped in a larger event with other sessions for educators. The Flipped Conference was born out of a partnership with either the State where it is held, the local districts and/or a non-profit like the Colorado eLearning Collaborative to include special tracks for teachers and administrative personnel interested in all the new trends in the digital transition industry. We think it’s nice to hold hands and cross the digital transition together.</p>
	            <br/>
	            <p>The “Flippeds” are events custom designed to give all attendees an experience similar to that of the flipped-classroom ideal. Each Flipped Conference has a Goal and each track has a Learning Objective. For many of the sessions there will be “Prework,” a little like homework, but really a sneak preview of the topic an education leader will be presenting so that there is way more time for open discussion and projects live at the event. In addition, this new Flipped model lets us fit a whole lot more into a single day. Yayy!</p>
	            <br/>
	            <p>All attendees will be expected to be engaged learners – just like the ideal for students today. So come on and sign-up today.</p>
	            <br/>
	            <div class="clear-both"></div>
	            <p class="track-table-header">Sample Track Objectives:</p>
	            <%= image_tag("event2pages/flipped-arrows-w70-h90.jpg", class: "mini-arrows", alt: "Flipped Arrows") %>
	            <table class="track-table">
	               <tr>
	                  <td class="track1">
	                     <h3>TRACK 1 – LEADERSHIP<br/><br/></h3>
	                     <strong>Objective:</strong><br/>
	                     Learn leadership best practices and gain issue awareness for today.
	                     <br/><br/><br/><br/>
	                     <strong>Who should attend:</strong>
	                     District or school executives with responsibility for thought leadership
	                     <ul>
	                        <li>Budget & Finance</li>
	                        <li>Policy</li>
	                        <li>Interested professional educators</li>
	                     </ul>
	                  </td>
	                  <td class="track2">
	                     <h3 style="font-size: 14px;">TRACK 2 – IT,<br/>CURRICULUM & INSTRUCTION</h3>
	                     <strong>Objective:</strong><br/>
	                     Bring together curriculum and IT leaders to create teaching and learning environments that work.
	                     <br/><br/>
	                     <strong>Who should attend:</strong>
	                     <ul>
	                        <li>Curriculum Staff</li>
	                        <li>Technology Managers & staff</li>
	                        <li>Interested professional educators</li>
	                     </ul>
	                  </td>
	                  <td class="track3">
	                     <h3>TRACK 3 –PROFESSIONAL<br/>DEVELOPMENT</h3>
	                     <strong>Objective:</strong><br/>
	                     Provide a discussion forum for issues and practical methods of blended and/or online instruction.
	                     <br/><br/>
	                     <strong>Who should attend:</strong>
	                     <ul>
	                        <li>Teachers</li>
	                        <li>School and District Leaders</li>
	                        <li>Instructional Coaches</li>
	                     </ul>
	                  </td>
	                  <td class="track4">
	                     <h3>TRACK 4 – INDUSTRY<br/>DYNAMICS</h3>
	                     <strong>Objective:</strong><br/>
	                     Introduce the concepts and impacts of cutting edge technologies on leadership, teaching and learning.
	                     <br/><br/>
	                     <strong>Who should attend:</strong>
	                     <ul>
	                        <li>Teachers</li>
	                        <li>District and School Leaders</li>
	                        <li>Instructional Coaches</li>
	                        <li>Any interested professional educators</li>
	                     </ul>
	                  </td>
	               </tr>
	            </table>
	            <p id="last-p">Each Track will have at least five Sessions. We intend to make many of these be “Flipped” with materials for attendees to review in advance called “PreWork,” sort of like the homework given for flipped classrooms. In some instances, speakers can skip that and simply offer short summaries. Live at the actual event, speakers lead their sessions with that session’s project or discussion. This way every attendee is also a contributor, just like the ideal of the flipped classroom. We invite audience engagement and participation so panel discussions, round table discussions, or other platforms are encouraged.</p>
	            <p class="agenda-header">
	               Sample Track Agenda: <span id="agenda-header-span">(Subject to change, depending on city and facility.)</span>
	            </p>
	            <%= image_tag("event2pages/breakout-table-w900-h435.jpg", class: "banner", alt: "Breakout Table") %>            
	            <p class="previous-conf">
	               Get details on our previous Flipped Conference: <a href="/CBOL-Main">Colorado</a>
	            </p>
	      </div>
	   </li>
	</ul>
	<div id="bottom-graphic-2">
		<%= image_tag("lc-box-cloud.png") %>
	   	<div class="lc-landing-box-row-2"></div>
	</div>
	<div class="clear-both"></div>
</div>
<script>
   var offset_top = 0;
   jQuery(window).scroll(function() {
   	offset_top = $(window).scrollTop()
   	$('#eventstabs').css('top', offset_top);
   });
   
   $(window).load( function() {
   //$(document).ready(function(){
   	$("#tab7").addClass("active");
   });   
</script>