<% provide(:title, 'Create School Account') %>

	<div class="row" style="height: 10px"></div>
	
	<div class="row">
		
		<div class="col7">
			<div class="row">
				<div class="col2">
	  				<%= image_tag("image_learning_counsel.png", :alt => '') %>
				</div>
				<div class="col2">
	  				<%= image_tag("image_header_1.jpg", :alt => '') %>
				</div>
				<div class="col3">
	  				<%= image_tag("image_header_2.jpg", :alt => '') %>					
				</div>
				<div class="row-end">&nbsp;</div>		
			</div>
			<div class="row">
				<div class="col2" style="font-size: 10px">
					<p>News and Content on the Shift to Digital Curriculum</p>				
				</div>
				<div class="col5" style="font-size: 12px">
					<h4>Featured News Stream</h4>					
				</div>
				<div class="row-end">&nbsp;</div>										
			</div>			
		</div>
		
		<div class="col5">
			<div style="width: auto;height:120px;background-color:white;box-shadow: 1px 1px 10px #888888;padding: 10px 10px 10px 30px">
				<h3>Ad Block</h3>
			</div>
		</div>		
		<div class="row-end">&nbsp;</div>		
	</div>

	<div class="row" style="height: 10px"></div>
	<div class="row-end">&nbsp;</div>		
	


  
<div class="container" style="padding: 0px 0px 0px 0px; background-color: yellow; height: 400px">
	
	<div class="row" style="height: 20px;"></div>
	<div class="row-end">&nbsp;</div>			
	
	<div class="row">
		<div align="center">
			<h2>Create School Account</h2>
		</div>      		
		<div class="row-end">&nbsp;</div>				
	</div>      		
	
	<div class="row" style="height: 30px;"></div>
	<div class="row-end">&nbsp;</div>			
	
	<%= form_for(@institute) do |f| %>
	<!-- = render 'shared/error_messages', object: f.object -->			
	
<!-- 
  name                       :string(100)
  address                    :string(100)
  city                       :string(100)
  state                      :string(50)
  country                    :string(100)
  zip                        :integer
  main_phone                 :string(100)
  main_contact_email         :string(100)
  public_private             :string(10)
  number_students            :integer
  number_computing_devices   :integer
  post_rfp_link              :string(100)
  company_contact_name_first :string(100)
  company_contact_name_last  :string(100)
  name_title                 :string(50)
  company_contact_phone      :string(50)
  company_contact_email      :string(100)
  allow_add_products         :boolean -->

	
	<div class="row">
		<div class="col6" align="right">
			<%= f.label(:name, 'Name of School') %>							
		</div>
		<div class="col6" align="left">
			<%= f.text_field(:name, :class => "form-control") %>			
		</div>      	
		<div class="row-end">&nbsp;</div>		
	</div>      		
	<div class="row" style="height: 10px;"></div>      		
	<div class="row-end">&nbsp;</div>			
		      		
	<div class="row">
		<div class="col12" align="center">
			<%= f.submit "Submit", class: "" %>
		</div>
		<div class="row-end">&nbsp;</div>				
	</div>      		
						
	<% end %>
			
</div>

	<!-- <a href="#" class="easyui-linkbutton">Text Button</a> -->
		
<div style="height: 200px; background-color: green"></div>  		


