<div style="height: 14px;"></div>
<%= link_to 'My Home', '/Institutes', :class => 'links' %>
<div style="height: 14px;"></div>
<%= link_to 'My Profile', '/InstituteProfiles', :class => 'links' %>
<div style="height: 14px;"></div>
<%= link_to 'My Photos', '/InstituteImages', :class => 'links' %>
<div style="height: 14px;"></div>
<%= link_to 'My Settings', '/InstituteSettings', :class => 'links' %>
<div style="height: 14px;"></div>
<%= link_to 'My Searches', '/InstituteQueries', :class => 'links' %>
