<div style="height: 14px;"></div>
<%= link_to 'My Home', '/Publishers', :class => 'links' %>
<div style="height: 14px;"></div>
<%= link_to 'My Profile', '/PublisherProfiles', :class => 'links' %>
<div style="height: 14px;"></div>
<%= link_to 'My Photos', '/PublisherImages', :class => 'links' %>
<div style="height: 14px;"></div>
<%= link_to 'My Settings', '/PublisherSettings', :class => 'links' %>
<div style="height: 14px;"></div>
<%= link_to 'My Products', '/PublisherProducts', :class => 'links' %>
