<div class="wrapper">
  <div id="copyright" class="clear">
    <p><%= link_to 'Homepage', home_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'About Us', about_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'Contact Us', user_contacts_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'Blogs', blogs_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'Directory', directory_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'Industry News', news_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'Services', services_path %></p>
  </div>
</div>
