    <div id="topnav">
      <ul>
        <!-- <li class="active"> -->        	
        <li><%= link_to 'Home', home_path %></li>
        <li><%= link_to 'Styles', demostyle_path %></li>
        <li><%= link_to 'Full Width', demofullwidth_path %></li>
        <li><%= link_to '3 Columns', democolumns3_path %></li>
        <li><%= link_to 'Portfolio', demoportfolio_path %></li>
        <li class="last"><%= link_to 'Gallery', demogallery_path %></li>
      </ul>
    </div>
