<div>
	<%= link_to 'Home', home_path %><br />
	<%= link_to 'About', about_path %><br />
	<%= link_to 'Blogs', blogs_path %><br />
	<%= link_to 'Industry News', news_path %><br />
	<%= link_to 'Services', services_path %><br />
	<%= link_to 'Contact', contact_path %>
</div>
