<div>
	<%= link_to 'Home', home_path %><br />
	<%= link_to 'About', about_path %><br />
	<%= link_to 'Blogs', blogs_path %><br />
	<%= link_to 'Industry News', news_path %><br />
	<%= link_to 'Services', services_path %><br />
	<%= link_to 'Contact', user_contacts_path %><br />
	<%= link_to 'Contact List', login_path %><br /><br />
	<%= link_to 'Admin', login_path %>
</div>
