<div class="wrapper">
  <div id="copyright" class="clear">

    <p><%= link_to 'about_1', about_1_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'blogs_1', blogs_1_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'directory_1', directory_1_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'news_1', news_1_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'services_1', services_1_path %></p>
    
  </div>
</div>
