<% provide(:title, 'Directory') %>

<div class="wrapper row1">
  <div id="header" class="clear">
  	
	<%= render 'share/title'%>
  	
    <%= render 'share/site_search' %>  
    
    <%= render 'share/navigate' %>  
    
  </div>
</div>

<div class="wrapper row3">
  <div id="container" class="clear">
    <div id="content">
      <div id="comments" style="height: 480px">

			<div>
				<%= link_to "Return", :back %>
			</div>
			<h2></h2>      	
	        <h2>Create Login</h2>
			<br />
		    <div id="content">
		      <div id="respond">
				
				<%= form_for(:register, :url => {:action => 'create'}) do |f| %>
		      	
					<table summary="Create Password">
						
					  <tr>
					    <th><%= f.label(:username) %></th>
					    <td><%= f.text_field(:username) %></td>
					  </tr>
					  <tr>
					    <th><%= f.label(:password) %></th>
					    <td><%= f.password_field(:password) %></td>
					  </tr>
					  <tr>
					  	<th><%= f.label :password_confirmation, "Confirmation" %></th>
					  	<td><%= f.password_field :password_confirmation %></td>
					  </tr>
					  <tr>
					  	<th>
					  		<td>
						  	<%= f.label :account_type_user, "Free downloads" %>
						  	<%= f.radio_button :account_type, "user", :value => "user" %>
						  	<%= f.label :account_type_institute, "School" %>
						  	<%= f.radio_button :account_type, "institute", :value => "institute" %>
						  	<%= f.label :account_type_publisher, "Publisher" %>
						  	<%= f.radio_button :account_type, "publisher", :value => "publisher" %>
						  	</td>
						</th>							  	
					  </tr>
					  <tr>
					  	<th>
					  		
					  	</th>
					  	<td>
					  		<%= submit_tag('Submit') %>
					  		
					  	</td>
					  </tr>
					  
					</table>
		
			  
			  	<% end %>


		        
		      </div>
		      
		    </div>
        
      </div>
    </div>
  </div>
</div>
