<% provide(:title, 'Master Schedule') %>
<%= render 'share/backtotop' %>
<div class="event1pages-index">
	<ul class="e1p-ul" >
	   <li class="e1p-li">
		  <%= render 'share/eventpages_tabs' %>
	   </li>
	   <li class="e1p-li">
		  <div class="tab-container">
			 <div class="container">
				<%= image_tag("event1pages/david-boston.jpg", class: "head-img", alt: "Schedule Image") %>
				<h1 class="event-title-header">Schedule of Events</h1>
				<div class="event-sep-bar"></div>
				<!-- Main content on left here -->
				<div class="main-left">
				   <a href="/EventRegistration" class="kso">
					  <h2>ATTEND IN ONE OF THE CITIES</h2>
				   </a>
				   <div class="green-box">
					  <h2>DIGITAL CURRICULUM STRATEGY DISCUSSIONS</h2>
					  <h3>2015 Events</h3>
					  <table class="events-table">
						 <tr>
							<td>Jan. 27th</td>
							<td>Seattle, WA</td>
							<td>Digital Curriculum Strategy Discussion<br/>
							   T-Mobile Corporate Headquarters<br/>
							   Newport 2 Building, Conf Rm 1C (first floor)<br/>
							   3625 132nd Avenue SE<br/>
							   Bellevue, WA 98006
							</td>
						 </tr>
						 <tr>
							<td>Jan. 29th</td>
							<td>Phoenix, AZ</td>
							<td>Digital Curriculum Strategy Discussion<br/>
							   University of Phoenix - Main Campus<br/>
							   1625 West Fountainhead Parkway, Rm 401 (4th Floor)<br/>
							   Tempe, AZ 85282
							</td>
						 </tr>
						 <tr>
							<td>Feb. 10th</td>
							<td>Atlanta, GA</td>
							<td>Digital Curriculum Strategy Discussion<br/>
							   Gwinnett Online Campus<br/>
							   713 Hi Hope Road<br/>
							   Lawrenceville, GA 30043
							</td>
						 </tr>
						 <tr>
							<td>Feb. 19th</td>
							<td>Denver, CO</td>
							<td><%= image_tag("event1pages/co-final-logo.jpg") %> Colorado Blended & Online Learning| | Flipped Conference<br/>
							   Aurora Public Schools<br/>
							   Educational Services Center 1<br/>
							   15701 E. 1st Ave.<br/>
							   Aurora, CO 80011
							</td>
						 </tr>
						 <tr>
							<td>Mar. 4th</td>
							<td>Fresno, CA</td>
							<td>Digital Curriculum Strategy Discussion<br/>
							   Fresno County Office of Education<br/>
							   1111 Van Ness Avenue<br/>
							   Fresno, CA 93721
							</td>
						 </tr>
						 <tr>
							<td>Mar. 11th</td>
							<td>Minneapolis, MN</td>
							<td>Digital Curriculum Strategy Discussion<br/> within MASA/MASE Spring Conf.<br/>
							   Minneapolis Marriott Northwest<br/>
							   7025 Northland Drive<br/>
							   North Brooklyn Park, MN 55428
							</td>
						 </tr>
						 <tr>
							<td>Mar. 25th</td>
							<td>Los Angeles, CA</td>
							<td>Digital Curriculum Strategy Discussion<br/>
							   Los Angeles County Office of Education<br/>
							   9300 Imperial Highway, Room EC281<br/>
							   Downey, CA 90242
							</td>
						 </tr>
						 <tr>
							<td>Apr. 16th</td>
							<td>Charlotte, NC</td>
							<td>Digital Curriculum Strategy Discussion<br/>
							   Union County Public Schools<br/>
							   Professional Development Center<br/>
							   721 Brewer Drive<br/>
							   Monroe, NC 28112 
							</td>
						 </tr>
						 <tr>
							<td>Apr. 23rd</td>
							<td>Chicago, IL</td>
							<td>Digital Curriculum Strategy Discussion<br/>
							   Forest View Educational Center<br/>
							   2121 S. Goebbert Road<br/>
							   Arlington Heights, IL 60005
							</td>
						 </tr>
						 <tr>
							<td>Apr. 29th</td>
							<td>Houston, TX</td>
							<td>Digital Curriculum Strategy Discussion<br/>
							   The Kingdom Builders' Center<br/>
							   Promenade Room<br/>
							   6011 W. Orem<br/>
							   Houston, TX 77085
							</td>
						 </tr>
						 <tr>
							<td>May 14th</td>
							<td>Richmond, VA</td>
							<td>Digital Curriculum Strategy Discussion<br/>
							   University of Phoenix<br/>
							   9750 West Broad<br/>
							   Glen Allen, VA 23060
							</td>
						 </tr>
						 <tr>
							<td>May 27th</td>
							<td>Memphis, TN</td>
							<td>Digital Curriculum Strategy Discussion<br/>
							   FedEx Institute of Technology<br/>
							   at the University of Memphis<br/>
							   365 Innovation Drive<br/>
							   Memphis, TN 38152<br/>
							   2nd Floor - The Fishbowl Room
							</td>
						 </tr>
						 <tr>
							<td>Sept. 10th</td>
							<td>Dallas, TX</td>
							<td>Digital Curriculum Strategy Discussion</td>
						 </tr>
						 <tr>
							<td>Sept. 17th</td>
							<td>Tampa, FL</td>
							<td>Digital Curriculum Strategy Discussion</td>
						 </tr>
						 <tr>
							<td>Sept. 23rd</td>
							<td>Newark, NJ</td>
							<td>Digital Curriculum Strategy Discussion</td>
						 </tr>
						 <tr>
							<td>Sept. 30th</td>
							<td>San Jose, CA</td>
							<td>Digital Curriculum Strategy Discussion</td>
						 </tr>
						 <tr>
							<td>Oct. 7th</td>
							<td>Kansas City, MO<br/> (IA, NE, KS)</td>
							<td>Digital Curriculum Strategy Discussion</td>
						 </tr>
						 <tr>
							<td>Oct. 13th</td>
							<td>Baltimore, MD</td>
							<td>Digital Curriculum Strategy Discussion</td>
						 </tr>
						 <tr>
							<td>Oct. 15th</td>
							<td>Boston, MA</td>
							<td>Digital Curriculum Strategy Discussion</td>
						 </tr>
						 <tr>
							<td>Oct. 26th-27th</td>
							<td>Albuquerque, NM</td>
							<td>National Gathering<br/>
							   Hyatt Regency<br/> Tamaya Resort &amp; Spa<br/>
							   1300 Tuyuna Trail,<br/>
							   Santa Ana Pueblo, NM 87004
							</td>
						 </tr>
						 <tr>
							<td>Oct. 29th</td>
							<td>Sacramento, CA</td>
							<td>Digital Curriculum Strategy Discussion</td>
						 </tr>
						 <tr>
							<td>Nov. 5th</td>
							<td>San Diego, CA</td>
							<td>Digital Curriculum Strategy Discussion</td>
						 </tr>
					  </table>
					  <div class="space-height-50"></div>
				   </div>
				   <table class="david">
					  <tr>
						 <td><%= image_tag("event1pages/david-2.png", atl: "David") %></td>
						 <td>Host: <span class="lightgreen">Dr. David Kafitz, Ed. D.</span><br/><br/>
							Expert and charismatic change-agent helping schools move forward with a well-reasoned strategy for digital content and curriculum, professional development and IT strategy.<br/><br/> 
							Former Superintendent, Director of Technology Services, Principal, and Teacher in North Carolina Public Schools.
						 </td>
					  </tr>
				   </table>
				   <table class="lani">
					  <tr>
						 <td>Digital Curriculum Trends Speaker: <span class="lightgreen">LeiLani Cauthen<br/></span><br/>
							A Research Publisher and Media personality for 10 years, LeiLani will share the trends in schools for digital curriculum, insight into the future, and best practices.
						 </td>
						 <td>
							<!-- <img width="222" src="/repository/events/lani-brown.png" atl="Leilani" style="margin-left: 8px;"> -->
							<%= image_tag("event1pages/lani-brown-2.png", alt: "LeiLani") %>
						 </td>
					  </tr>
				   </table>
				   <a href="/EventRegistration" class="kso">
					  <h2>ATTEND IN ONE OF THE CITIES</h2>
				   </a>
				   <a href="/ContactUs" class="kso">
					  <h2>INVITE US TO CREATE AN EVENT</h2>
				   </a>
				   <div class="space-height-50"></div>
				</div>
				<!-- Side bare here -->
				<div class="side-bar-right">
				   <h2>Sponsors of the Digital Curriculum<br/>
					  Strategy Events 2015 for some<br/>
					  or all of the cities presented
				   </h2>
				   <%= image_tag("event1pages/t-Mobile-sized.png", alt: "T-Mobile") %>
				   <%= image_tag("event1pages/reading-kingdom-sized.png", alt: "Read Kingdom") %>
				   <%= image_tag("event1pages/HMH-logo.jpg", alt: "Houghton Mifflin Harcourt") %>
				   <%= image_tag("event1pages/samsung-sized.png", alt: "Samsung") %>
				   <%= image_tag("event1pages/FLVS-sized.png", alt: "Florida Visual") %>
				   <%= image_tag("event1pages/IXL-sized.png", alt: "IXL Learning") %>
				   <%= image_tag("event1pages/compass-sized.png", alt: "Compass Learning") %>
				   <%= image_tag("event1pages/myon-sized.png", alt: "MyOn") %>
				   <%= image_tag("event1pages/promethean-sized.png", alt: "Promethean") %>
				   <%= image_tag("event1pages/amplify-sized.png", alt: "Amplify") %>
				</div>
				<div class="bottom-logo-section">
				   <%= image_tag("event1pages/mcgrawhill-sized.png", alt: "McGraw Hill") %>
				   <%= image_tag("event1pages/edmentum-sized.png", alt: "Edmentum") %>
				   <%= image_tag("event1pages/atomic-sized.png", alt: "Atomic Learning") %>
				   <%= image_tag("event1pages/edgenuity-sized.png", alt: "Edgenuity") %>
				   <%= image_tag("event1pages/gale-sized.png", alt: "GALE") %>
				   <%= image_tag("event1pages/achieve3000-sized.png", alt: "Achieve 3000") %>
				   <%= image_tag("event1pages/aldebaran-sized.png", alt: "Aldebaran") %>
				   <%= image_tag("event1pages/knovation-sized.png", alt: "Knovation") %>
				   <%= image_tag("event1pages/pearson-sized.png", alt: "Pearson") %>
				   <%= image_tag("event1pages/triumph-sized.png", alt: "Triumph Learning") %>
				   <%= image_tag("event1pages/classworks-sized.png", alt: "Classworks") %>
				   <%= image_tag("event1pages/apex-sized.png", alt: "Apex Learning") %>
				   <%= image_tag("event1pages/dreambox-sized.png", alt: "Dream Box") %>
				   <%= image_tag("event1pages/lenovo-sized.png", alt: "Lenovo") %>
				   <%= image_tag("event1pages/insight-sized.png", alt: "Insight") %>
				</div>
			 </div>
		  </div>
	   </li>
	</ul>
	<div id="bottom-graphic-2">
	   <%= image_tag("lc-box-cloud.png") %>
	   <div class="lc-landing-box-row-2"></div>
	</div>
	<div class="clear-both"></div>
</div>
<script>
   var offset_top = 0;
   jQuery(window).scroll(function() {
   	offset_top = $(window).scrollTop()
   	$('#eventstabs').css('top', offset_top);
   });
   
   function resizeArea(){
   
   	var txtarea_id = "";
   	var lines = 0;
   	var txtarea;
   	var hght = 0;
   	for( i=1; i<= gon.cnt; i++) {
   		txtarea_id = "#txtarea_" + i;
   		if ( !($.isEmptyObject($(txtarea_id).val().match(/\n/g))) ) {
   			lines = $(txtarea_id).val().match(/\n/g).length + 1;
   		}
   		else {
   			lines = 1;
   		}
   		
   		switch(lines)
   		{
   		case 1:
   			hght = 26;	  
   		  break;
   		case 2:
   			hght = 54;	  
   		  break;
   		case 3:
   			hght = 82;	  
   		  break;
   		case 4:
   			hght = 110;	  
   		  break;
   		case 5:
   			hght = 138;	  
   		  break;
   
   		default:
   			hght = 166;
   		}				
   
   		$(txtarea_id).css({
   			height : hght
   		})			
   		
   		//alert("hght = " + hght);
   	}
   }
   
   
   $(window).load( function() {
   //$(document).ready(function(){
   
   	$("#tab2").addClass("active");
   
   	
   	// var s = "txtarea_<#%= i %#>"
   	// <#% i = 0 %#>
   	// <#% @reg_event_itins.each do |reg_event_itin| %#>
   		// <#% i = i + 1 %#>
   		// s = "#txtarea_<#%= i %#>";
   		// $(s).elastic();			
   	// <#% end %#>
   	
   	
   	resizeArea();
   	// alert(gon.cnt);
   	
   	// $("#txtarea_5").val().match(/\n/g).length
   	// alert($("#txtarea_5").val().match(/\n/g).length + 1);			
   	
   });
   
</script>
