
	<!-- <link rel="stylesheet" type="text/css" href="../styles/jquery-custom-tabs.css"/> -->
	
		
<style>
	
	
	#lc-landing {
		
	}	
		
	#lc-landing #page {
	  width: 800px;
	  /*margin-left: 235px;*/
	 	  
	  margin-left: auto;
	  margin-right: auto;
	  
	  
	  /*margin-right: auto;*/  
	  
	}
	
	#lc-landing #subscribe-box  {
	float: right; 
	margin-left: 20px;
	}
	
	#lc-landing #subscribe-box .form {   
		width: 255px;
		height: 289px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px; /* border radius */
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box; /* prevents bg color from leaking outside the border */
		background-color: #eaeaea; /* layer fill content */
		-moz-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
		-webkit-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
		box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
	}
	
	#lc-landing #subscribe-box .label { 
		height: 35px;
	    width: 240px;
		background-color: #414141; /* layer fill content */
		-moz-border-radius: 4px 4px 0 0;
		-webkit-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0; /* border radius */
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box; /* prevents bg color from leaking outside the border */
		-moz-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
		-webkit-box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
		box-shadow: 0 0 10px rgba(3,4,4,.35); /* drop shadow */
		}
	
	#lc-landing #subscribe-box h3 {  
		color: #ebeff1; /* text color */
		/*KlavikaMedium*/
		font-family: KlavikaMedium;
		/*font-family: "Quattrocento Sans", sans-serif;*/
		font-size: 15px;
		margin:0;
		padding-left: 15px;
	    padding-top: 15px;
		}
	#lc-landing #subscribe-box img {
	  float:left;
	  position: relative;
	  left: 116px;
	}
	
	
	
	/*#lc-landing .services-ov {
	    background-clip: padding-box;
	    background-color: #999999;
	    border: 1px solid #999999;
	    border-radius: 4px 4px 4px 4px;
	    height: 22px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 30px;
	    width: 200px;
	}
	
	#lc-landing .services-ov a:link {
	    color: #F2F2F2;
	    font-family: "Quattrocento Sans",sans-serif;
	    font-size: 13px;
	    padding: 0 8px 8px 7px;
	    text-decoration: none;
	}*/
	
	
	
	#lc-landing .services-ov {
	    background-clip: padding-box;
		
		
	  width: 232px;
		height: 22px;
		border: 1px solid #999;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		background-color: #999;
		margin-left: auto;
	    margin-right: auto;
	    margin-top: 30px;
	}
	
	#lc-landing .services-ov a:link {
	    /*padding: 0 8px 8px 7px;*/
	   	
		color: #f2f2f2;
		font-family: "Quattrocento Sans", sans-serif;
		font-size: 13px;
		text-decoration: none;
		padding: 2px 2px 3px;	
		position: abolute;
		margin-left: 8px;
	}
	
	
	
	
	.services-ov a:hover {color: #f2f2f2; text-decoration: none; background-color: #6a6a6a;}
	.services-ov a:active {color: #f2f2f2; text-decoration: none; background-color: #535353; /* layer fill content */
		-moz-box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */
		-webkit-box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */
		box-shadow: inset 1px 2px 0 rgba(3,4,4,.4); /* inner shadow */}
	.services-ov a:visited {color: #f2f2f2; text-decoration: none;}
	
	#lc-landing p {
		color: #333;
		/*font-family: "Quattrocento";*/
		font-family: KlavikaLight;
		/*font-size: 11px;*/
		width: 820px;
		line-height: 1.2em;	
	  	/*font-size: 1.15em;*/
		font-size: 1.0em;		
		}
	
	#lc-landing a {
		color: #C4740C;
		}
	
	#lc-landing .table p {
		color: #333;
		/*font-family: "Quattrocento";*/
		font-family: KlavikaLight;
		font-size: 13px;
		/*width: 400px;*/
		line-height: 1.2em;	
	  	font-size: 1.15em;
		}
	
	#lc-landing ul li {
		color: #000;
		font-family: KlavikaMedium;
		/*font-family: "Quattrocento";*/	
		font-size: 16px;
		margin-left: 30px;
		font-weight: 600;
		line-height: 1.2em;		
		}
		
	#lc-landing .page-title {
	  font-size: 35px;
	  color: #808080;
	  margin-left: auto;
	  margin-right: auto;
	  width: 580px;
	}
	
	#lc-landing .page-title-centered {
	  font-size: 40px;
	  color: #808080;
	  margin-left: auto;
	  margin-right: auto;
	  width: 580px;
	}
	
	#lc-landing .center {
		text-align: center;
		margin-right: 17%;
	}
	
	#lc-landing .sub-title {
	  font-size: 30px;
	  color: #34633A;
	  margin-left: auto;
	  margin-right: auto;
	  /*width: 500px;*/  
	  width: 470px;
	  
	}
	
	#lc-landing .green-this {
	    color: #41b737;
		font-style: bold;
		}
		
	#lc-landing .bold-close {	
		color: #34633a;
		size: 22px;
		font-weight: bold;
		}
	
	
	#lc-landing #bottom-graphic img {
	  bottom: 220px;
	  position: relative;
	  float:left;
	}
	
	/*#lc-landing .box-row {*/	
	.lc-landing-box-row {
	  background: url(../repository/lc-boxes.png) white repeat-x;
	  height: 59px;
	  margin-left: 440px;
	  margin-top: 30px;
	}
	
	.spacer {
		height: 20px;
	}
			
	#lc-landing table tr td {
		vertical-align: top;
	}			
	
</style>	
	




<%= render 'share/backtotop_2' %>

<ul class="lc-inline">
<li>
<%= render 'share/eventpages_tabs' %>
</li>
<li>
	
<div id="tab-container">

<div id="lc-landing">
		
<div id="page">

<img src="../repository/events/main-discussions-banner.png" alt="main-discussions-banner.png" width="800px">

<div class="spacer"></div>
<div class="spacer"></div>

<style>
	
	#tbl-event-schedule {
	}
	#tbl-event-schedule .sched-1 {
		font-family: Arial, Helvetica, sans-serif;
		color: #555;
		font-size: 18px;
		line-height: 1.0em;
		font-weight: 400;
		width: 230px; 
		text-align: left; 
		padding-top: 4px;
	}
	#tbl-event-schedule .sched-2 {
		font-family: Arial, Helvetica, sans-serif;
		color: #1B237A;
		font-size: 18px;
		line-height: 1.0em;
		font-weight: 400;
		width: 170px; 
		text-align: left; 
		padding-top: 4px;
	}
	#tbl-event-schedule .sched-3 {
		width: 350px;
		text-align: right;
	}
	#tbl-event-schedule .txtarea {
		border: none;
		background-color: #fff;
		resize: none;	
		height: 160px;
		color: #555;
		/*font-family: KlavikaRegular;*/
		font-family: Arial, Helvetica, sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.0em;	
		padding: 0;
		margin: 0;
	}
	
	/*element.style {
	    height: 90px;
	}*/
	
</style>

<% if @reg_event_itins.any? %>
	<table id="tbl-event-schedule" width="800px" style="font-size:1.0em;">
	<% i = 0 %>
	<% @reg_event_itins.each do |reg_event_itin| %>
		<% i += 1 %>
		<tr>
			<td class="sched-1"><%= reg_event_itin.date_event_text %></td>
			<td class="sched-2"><%= reg_event_itin.city_state %></td>
			<td class="sched-3">
				<textarea id="txtarea_<%= i %>" class="txtarea" cols="28" disabled="disabled"><%= reg_event_itin.address %></textarea>
			</td>
		</tr>
		<tr><td><div style="height: 20px;"></td><td></td><td></td></div></tr>
	<% end %>
	</table>
<% end %>

<div style="height: 20px;"></div>

<div class="spacer"></div>

<p>
    <strong>We’ve invited executives from local districts and schools to attend the full day.  
    	<span style="color: blue;">Attendance is</span><span style="color: green;"> Free </span><span style="color: blue;">to educators.</span></strong> 
    		
    		<!-- Attendance is</span><span style="color: green;"> FREE</span><span style="color: blue;">to District Executives</span>: </strong> -->
    		    		
</p>

<div class="spacer"></div>

<table width="500" style="font-size:1.15em;">

<tr><td>&ndash;School Board Members</td></tr>
<tr><td>&ndash;Superintendents</td></tr>
<tr><td>&ndash;Principals</td></tr>
<tr><td>&ndash;Chief Academic Officers</td></tr>
<tr><td>&ndash;District Curriculum Directors</td></tr>
<tr><td>&ndash;District &amp; School Curriculum &amp; Instructional Designers</td></tr>
<tr><td>&ndash;Professional Development Directors</td></tr>
<tr><td>&ndash;CIOs, CTOs, Directors of Technology</td></tr>
<tr><td>&ndash;Instructional Technologists</td></tr>
<tr><td>&ndash;Library and Media Specialists</td></tr>

</table>

<div class="spacer"></div>
<div class="spacer"></div>

<p>
    <strong>Discussion Agenda – 7:30am – 4:00pm</strong>
</p>

<table>
	<tr>
		<td style="padding-left: 0px;">
			<img src="../repository/events/agenda-3-w600-h686.png" alt="agenda-3-w600-h686.png">
		</td>
	</tr>
</table>


<div class="spacer"></div>

<div>
	<p style="font-size: "><img src="../repository/events/david-w140-h140.png" alt="david-w140-h140.png" align="left" style="margin-right: 10px;">
	<em>Host:</em>  Dr. David Kafitz, EdD., VP School Relations, The Learning Counsel</br></br>
	Expert and charismatic change-agent helping schools move forward with a well-reasoned strategy for digital content and curriculum, professional development and IT strategy. Former Superintendent, Director of Technology Services, Principal, and Teacher in North Carolina Public Schools.
	</p>  
</div>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<div>
	<p><img src="../repository/events/lani-w140-h140.png" alt="lani-w140-h140.png" align="left" style="margin-right: 10px;">
	<em>Digital Curriculum Trends Speaker:</em>  LeiLani Cauthen, CEO & Publisher, The Learning Counsel</br></br>
	A Research Publisher and Media personality for 10 years, LeiLani will share the trends in schools for digital curriculum, insight into the future, and best practices.</p>  
</div>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<p>
    &ndash;<strong> Special presentation </strong>by The Learning Counsel on the state-of-developments in curriculum trends nationally.
</p>

<div class="spacer"></div>

<p>
	&ndash; A professional “provocateur” to lead attendees in discussions with each other and through    <strong>half-hour presentations by several digital curriculum publishers</strong> on topics related to digital curriculum, tablets and mobility,
    educational games, and analytics. These presentations get the “wheels turning” for what’s industry current.
</p>

<div class="spacer"></div>

<p>
    &ndash; A special template and discussion time <strong>building a comprehensive digital curriculum strategy. </strong>
</p>

<div class="spacer"></div>

<p>
	Complimentary Continental Breakfast, Snack Breaks, Lunch, and Reception.
</p>

<div class="spacer"></div>


<div class="spacer"></div>
<div class="spacer"></div>
<p>
    <strong style="color: #96328E">SPONSORS (As of March 21, 2014)</strong>
</p>

<div class="spacer"></div>

<table>
	<tr>
		<td style="width: 380px; height: 160px; padding-top: 36px;">
			<img src="../logosponsor/edgenuity-360w.png" alt="edgenuity-360w.png">
		</td>
		<td style="width: 360px; height: 160px; padding-top: 0px;">
			<img src="../logosponsor/beyond-360w.png" alt="beyond-360w.png">
		</td>
	</tr>
	<tr>
		<td style="width: 380px; height: 160px; padding-top: 0px;">
			<img src="../logosponsor/promethean-360w.png" alt="promethean-360w.png">
		</td>
		<td style="width: 360px; height: 160px; padding-top: 30px;">
			<img src="../logosponsor/tmo-magenta-blk-360w.png" alt="tmo-magenta-blk-360w.png">			
		</td>
	</tr>
	<tr><td style="height: 30px;"></td><td></td></tr>	
	<tr>
		<td style="width: 380px; height: 160px; padding-top: 0px;">
			<img src="../logosponsor/ixl-learning-360w.png" alt="ixl-learning-360w.png">
		</td>
		<td style="width: 380px; height: 160px; padding-top: 0px;">
			<img src="../logosponsor/reading-kingdom-360w.png" alt="reading-kingdom-360w.png">
		</td>
	</tr>
	<tr><td style="height: 30px;"></td><td></td></tr>
	<tr>
		<td style="width: 380px; height: 160px; padding-top: 0px;">
			<img src="../logosponsor/flvs-w360.png" alt="flvs-w360.png">
		</td>
		<td style="width: 380px; height: 160px; padding-top: 0px;">
			<img src="../logosponsor/atomiclearning-w360.png" alt="atomiclearning-w360.png">			
		</td>
	</tr>
	<tr><td style="height: 30px;"></td><td></td></tr>
	<tr>
		<td style="width: 380px; height: 160px; padding-top: 0px;">
			<img src="../logosponsor/edmentum-w360.png" alt="edmentum-w360.png">
		</td>
		<td style="width: 380px; height: 160px; padding-top: 0px;">
			<img src="../logosponsor/compass-learning-w360.png" alt="compass-learning-w360.png">
		</td>
	</tr>
	<tr><td style="height: 30px;"></td><td></td></tr>
	<tr>
		<td style="width: 380px; height: 160px; padding-top: 30px;">
			<img src="../logosponsor/mcgraw-hill-w360.png" alt="mcgraw-hill-w360.png">
		</td>
		<td style="width: 380px; height: 160px; padding-top: 0px;">
			<img src="../logosponsor/myon-w360.png" alt="myon-w360.png">
		</td>
	</tr>
	<tr><td style="height: 30px;"></td><td></td></tr>
	<tr>
		<td style="width: 380px; height: 160px; padding-top: 0px;">
			<img src="../logosponsor/pearson-w360.png" alt="pearson-w360.png">
		</td>
		<td style="width: 380px; height: 160px; padding-top: 0px;">
			<img src="../logosponsor/amplify-w360.png" alt="amplify-w360.png">
		</td>
	</tr>
	
</table>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<p>
	<a href="/EventRegistration" class="k-link"><strong>ATTEND IN ONE OF THE CITIES</strong></a>	
</p>

<div class="spacer"></div>

<p>
	<a href="/ContactUs" class="k-link"><strong>INVITE US TO CREATE AN EVENT IN YOUR CITY</strong></a>	
</p>



</div>


</div>

<div style="height: 100px;"></div>

</div>

</li>

</ul>

	
<div id="bottom-graphic">
<img src="../repository/lc-box-cloud.png"/>
<div class="lc-landing-box-row"></div>
</div>

<div style="clear: both;"></div>



<script>

		var offset_top = 0;
		jQuery(window).scroll(function() {
			offset_top = $(window).scrollTop()
			$('#eventstabs').css('top', offset_top);
		});

		function resizeArea(){

			var txtarea_id = "";
			var lines = 0;
			var txtarea;
			var hght = 0;
			for( i=1; i<= gon.cnt; i++) {
				txtarea_id = "#txtarea_" + i;
				if ( !($.isEmptyObject($(txtarea_id).val().match(/\n/g))) ) {
					lines = $(txtarea_id).val().match(/\n/g).length + 1;
				}
				else {
					lines = 1;
				}
				
				switch(lines)
				{
				case 1:
					hght = 26;	  
				  break;
				case 2:
					hght = 54;	  
				  break;
				case 3:
					hght = 82;	  
				  break;
				case 4:
					hght = 110;	  
				  break;
				case 5:
					hght = 138;	  
				  break;

				default:
					hght = 166;
				}				

				$(txtarea_id).css({
					height : hght
				})			
				
				//alert("hght = " + hght);
			}
		}
	
	
		$(window).load( function() {
		//$(document).ready(function(){

			$("#tab2").addClass("active");

			
			// var s = "txtarea_<#%= i %#>"
			// <#% i = 0 %#>
			// <#% @reg_event_itins.each do |reg_event_itin| %#>
				// <#% i = i + 1 %#>
				// s = "#txtarea_<#%= i %#>";
				// $(s).elastic();			
			// <#% end %#>
			
			
			resizeArea();
			// alert(gon.cnt);
			
			// $("#txtarea_5").val().match(/\n/g).length
			// alert($("#txtarea_5").val().match(/\n/g).length + 1);			
			
		});
	
</script>


