<% provide(:title, 'Publishers Profile') %>


	<header>
		<%= render 'share/backtotop' %>
	</header>

	<div class="container">
		<div style="display: table;">
			<div =style="display: table-row;">
				
					<div style="text-align: left;">
						<span class="normal pad-left-20">Publisher Product: </span>
					</div>

					<div class="line-space-20"></div>

<% if false %>				
				<div style="display: table-cell; width: 600px;" class="boxtemp-green">
					<span class="normal">My Profile:</span>
					<br />
					<br />					
					<span class="normal">ID: <%= @publisher.id %></span>
					<br />
					<span class="normal">Created: <%= @publisher.created_at %></span>
					<br />
					<span class="normal">Updated: <%= @publisher.updated_at %></span>						
					<br />
					<span class="normal">Phone: <%= @publisher.phone %></span>
					<br />
					<br />
		 			 <!-- button_to "Edit", {:action => 'edit', :id => @publisher.id } --> 
		 			
		 			<%= link_to('Edit', {:action => 'edit', :id => @publisher.id }, :class => 'links' ) %> 
<% end %>
		 			 
				</div>
			</div>
		</div>
	</div>
					
	<script>

		$(window).load( function() {
		//$(document).ready(function(){

		});
	
	</script>

