<% provide(:title, 'Institute Queries') %>


	<style>
		
		.form-display-col1 {
			width: 200px;
		}
		.form-display-col2 {
			width: 400px;
		}
		
	</style>

	<header>
		<%= render 'share/backtotop' %>
	</header>

	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				
				<div class="col-left">
					<%= render 'share/dir_institutes_left'%>
				</div>
				
				<div class="col-midd">

					<div style="text-align: left;">
						<span class="normal pad-left-20">Institute Queries</span>
					</div>

					<div class="line-space-20"></div>
					
					<div>
						<span class="normal pad-left-20">
							<em>
							<%= @institute_query.name_query %>
							</em>
						</span>
					</div>
					
					<div>
						<span class="normal pad-left-20">
							Query Id: <%= @institute_query.id %>
						</span>
					</div>

					<div class="line-space-20"></div>

					 	<table>
					 		<tr>
					 			<td class="form-display-col1">
					 				<span class="small pad-left-20">Created:</span></div>
					 			</td>
					 			<td class="form-display-col2">
					 				<span class="small pad-left-20"><%= @institute_query.created_at.to_s(:long) %></span></div>
					 			</td>
					 		</tr>
					 		<tr><td style="height: 10px;"></td><td></td></tr>
					 		<tr>
					 			<td>
					 				<span class="small pad-left-20">Updated:</span></div>
					 			</td>
					 			<td>
					 				<span class="small pad-left-20"><%= @institute_query.updated_at.to_s(:long) %></span></div>
					 			</td>
					 		</tr>
					 		<tr><td style="height: 10px;"></td><td></td></tr>
					 		<tr>
					 			<td>
					 				<span class="small pad-left-20">Description:</span></div>
					 			</td>
					 			<td>
					 				<span class="small pad-left-20"><%= @institute_query.name_query %></span></div>
					 			</td>
					 		</tr>

					 		<tr><td style="height: 10px;"></td><td></td></tr>
					 		<tr>
					 			<td>
					 				<span class="small pad-left-20">Type of Content or Curriculum:</span></div>
					 			</td>
					 			<td>
					 				<span class="small pad-left-20"><%= @institute_query.type_content %></span></div>
					 			</td>
					 		</tr>
					 		<tr><td style="height: 10px;"></td><td></td></tr>
					 		<tr>
					 			<td>
					 				<span class="small pad-left-20">Subject Category:</span></div>
					 			</td>
					 			<td>
					 				<span class="small pad-left-20"><%= @institute_query.subject_category %></span></div>
					 			</td>
					 		</tr>
					 		<tr><td style="height: 10px;"></td><td></td></tr>
					 		<tr>
					 			<td>
					 				<span class="small pad-left-20">Key Word Description:</span></div>
					 			</td>
					 			<td>
					 				<span class="small pad-left-20"><%= @institute_query.word_description %></span></div>
					 			</td>
					 		</tr>
					 	</table>
						<div class="line-space-20"></div>
						<div class="pad-left-20">
							<span class="normal">
								<%= button_to "Edit", {:action => 'edit', :id => @institute_query.id } %>
							</span>
						</div>
						<div class="line-space-20"></div>
						<div class="pad-left-20">
							<span class="normal">
								<%= button_to "Execute", {:action => 'execute', :id => @institute_query.id } %>
							</span>
						</div>
						
			
				</div>
				
				<div class="col-right">
					<%= render 'share/dir_institutes_right' %>
				</div>												
			</div>
		</div>
	</div>

	<script>
	  
		//$(window).load( function() {
	
		//});
	  
	</script>		
