<% provide(:title, 'Home') %>

<div class="wrapper row1">
  <div id="header" class="clear">
    <div class="fl_left">

	<%= render 'share/title'%>
    
    <%= render 'share/site_search' %>  
    	
    <%= render 'share/navigate' %>  
        
  	</div>
  </div>
</div>

<div class="wrapper row2">
  <div id="hpage_featured" class="clear">
  	
  	
    <div id="featured_slide">
      <ul>
      	
      	
        <li><%= image_tag("ruby-in-black.jpeg") %>
          <div class="panel-overlay">
            <h2>The Learning Counsel</h2>
            <p>Welcome to The Learning Counsel. <a href="#">Continue Reading &raquo;</a></p>
          </div>
        </li>
        
        <li><%= image_tag("RoR-silver.jpeg") %>
          <div class="panel-overlay">
            <h2>Ruby on Rails</h2>          	
          </div>
        </li>
        
        <li><%= image_tag("snapshot2.png") %>
        </li>
        
        <li><%= image_tag("ruby-classic-sky-blue.jpeg") %>
          <div class="panel-overlay">
          </div>
        </li>
        
      </ul>
    </div>
    
    
    
    <div class="intro clear">
      
      <div class="welcome clear"><%= image_tag("old-train.jpeg", :class => 'imgl') %> 
        <div class="fl_right">
          <h2>The Learning Counsel</h2>
        </div>
      </div>
            
      <div class="popular">
        <div class="fl_right">
      	
      	
	        <h2>Listings and Accounts</h2>
	        <ul class="clear">
	          <li><%= link_to "&raquo;".html_safe + ' Schools', institutes_path %></li>
			</ul>          
	        <ul class="clear">
	          <li><%= link_to "&raquo;".html_safe + ' Publishers', publishers_path %></li>
	        </ul>
	        <ul class="clear">
	          <li><%= link_to "&raquo;".html_safe + ' EdMatch Service', edmatchs_path %></li>
			</ul>          	        
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper row3">
  <div id="container" class="clear">
    <div id="homepage" class="clear">
      
      <div id="content">
      	
        <div id="latestnews">
          <h2>Articles</h2>
          <ul>
            <li>
              <p><strong>Wanted Teacher Features of the 22nd Century</strong></p>
			  <div style="height: 5px"></div>
			  <p>by LeiLani Cauthen, <em>The Learning Counsel -- Sept 2013 </em></p>
			  <div style="height: 5px"></div>			  
              <p>
              	 My dad was a teacher that taught high school English, history, ran the
				 photography class, and coached basketball. It was a pretty small school
				 district and teachers were multi-taskers. He would be the first to
				 question an educational system that, for sake of efficiency, used more
				 technology and fewer teachers.
			  </p>
              <p class="readmore"><a href="/blogs">Read The Full Story &raquo;</a></p>
            </li>
            
            <li>
              <p><strong>Facing down the learning content disruption</strong></p>
			  <div style="height: 5px"></div>
			  <p>by David Kafitz, <em>The Learning Counsel -- Sept 2013 </em></p>
			  <div style="height: 5px"></div>
              <p>
              	 Schools and higher ed institutions are facing down a serious disruption in 
              	 learning content, going from paper to digital in all things. For nearly
              	 100 years, classroom teaching has centered primarily on the textbook. 
              </p>
              <p class="readmore"><a href="/blogs">Read The Full Story &raquo;</a></p>
            </li>
          </ul>
        </div>
        
        
        
        
        
        <div id="quicklinks">
		  <div style="height: 5px"></div>        	
          <!-- <h2></h2>
          <ul>
            <li>
              <p><a href="#">Make an Application <%= image_tag("demo200x80.gif", :alt => '200x80') %></a></p>
            </li>
            <li>
              <p><a href="#">Order a Prospectus <%= image_tag("demo200x80.gif", :alt => '200x80') %></a></p>
            </li>
            <li class="last">
              <p><a href="#">Support Us <%= image_tag("demo200x80.gif", :alt => '200x80') %></a></p>
            </li>            
          </ul> -->

        </div>
      </div>
            
      
      
      
      <div id="column">
        <div class="holder">
          <h2>Featured Videos</h2>
		  <p style="display: block; width: 100%; text-align: center; line-height: normal;"><a>RSA Animate - Changing Education Paradigms</a></p>
          <object type="application/x-shockwave-flash" data="http://www.youtube.com/v/zDZFcDGpL4U" width="300" height="250">
            <param name="wmode" value="opaque" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#E9E9E9" />
            <param name="allowfullscreen" value="true" />
            <param name="allowscriptaccess" value="never" />
          </object>
          <p>Every country on earth, at the moment, is reforming public education...</p>
        </div>
        
        <h1></h1>
        
        
        
        <div class="holder">
          <p style="display: block; width: 100%; text-align: center; line-height: normal;"><a>The 2013 Free Education Technology</a></p>
          <p style="display: block; width: 100%; text-align: center; line-height: normal;"><a>Resources eBook</a></p>          
          <object type="application/x-shockwave-flash" data="http://www.youtube.com/v/XsNlrgN7mCo" width="300" height="250">
            <param name="wmode" value="opaque" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#E9E9E9" />
            <param name="allowfullscreen" value="true" />
            <param name="allowscriptaccess" value="never" />
          </object>
        </div>
        
        
        
        
        
        
        <h1></h1>
        
        <div class="holder last">
          <h2>Industry News</h2>
          <ul class="staffmembers">
          	
            <li class="clear"><%= image_tag("image_chart_1.jpeg", :class => 'imgl', :alt => '80x80') %>
              <div class="fl_left">
                <p><strong>Achieve3000 Expands on Successful Formula</strong></p>
                <p>LAKEWOOD, N.J. – Aug. 21, 2013 – Achieve3000 today</p>
				<p><%= link_to "&raquo;".html_safe + ' more', news_path %></p>
              </div>
            </li>
            
            <li class="clear"><%= image_tag("image_student_1.jpeg", :class => 'imgl', :alt => '80x80') %>
              <div class="fl_left">
                <p><strong>Follett, Hachette Book Group Partner to Distribute Children’s Ebooks&nbsp;</strong></p>
				<p><%= link_to "&raquo;".html_safe + ' more', news_path %></p>
              </div>
            </li>
            
            <li class="clear"><%= image_tag("image_student_2.jpeg", :class => 'imgl', :alt => '80x80') %>
              <div class="fl_left">
                <p><strong>MOORESVILLE GRADED SCHOOL DISTRICT TRANSFORMS SOCIAL STUDIES CURRICULUM WITH DISCOVERY EDUCATION DIGITAL TEXTBOOK</strong></p>
				<p><%= link_to "&raquo;".html_safe + ' more', news_path %></p>
                <!-- <p><a href="#">View Full Profile &raquo;</a></p> -->
              </div>
            </li>
            
          </ul>
        </div>
      </div>
      
      
      
    </div>
  </div>
</div>
