<h1>The Learning Counsel</h1>
<p>The world's nexus for digital learning, educational materials, industry news, and more...</p>

<div>
	<table>
		<tr>
			<td width="40"></td>
			<td>
				<%= image_tag('books.jpeg') %>
				<img src="/images/books.jpeg" />				
			</td>
			<td width="300"></td>
			<td>
				<%= image_tag('RoR-silver.jpeg') %>
				<img src="/images/RoR-silver.jpeg" />				
			</td>			
		</tr>
		<tr>
			<td width="40"></td>
			<td>
				<%= image_tag('image_student_1.jpeg') %>
				<img src="/images/image_student_1.jpeg" />				
			</td>
			<td width="300"></td>
			<td>
				<%= image_tag('old-train.jpeg') %>
				<img src="/images/old-train.jpeg" />				
			</td>			
		</tr>
		<tr>
			<td width="40"></td>
			<td>
				<%= image_tag('image_chart_1.jpeg') %>
				<img src="/images/image_chart_1.jpeg" />				
			</td>
			<td width="300"></td>
			<td>
				<%= image_tag('gems-jagged.jpeg') %>
				<img src="/images/gems-jagged.jpeg" />				
			</td>						
		</tr>		
	</table>
</div>

	
