<% provide(:title, 'Home') %>


    	<!-- = stylesheet_link_tag "prettyPhoto", media: "all", "data-turbolinks-track" => true  -->
    	
    	
<script type="text/javascript">
$(document).ready(function () {
    $("a[rel^='prettyPhoto']").prettyPhoto({
        theme: 'dark_rounded',
        overlay_gallery: false
    });
});
</script>




<div class="wrapper row1">
  <div id="header" class="clear">
    <div class="fl_left">

	<%= render 'share/title'%>
    
    <%= render 'share/site_search' %>  
    	
    <%= render 'share/navigate' %>
      
  	</div>
  </div>
</div>

<div class="wrapper row2">
  <div id="hpage_featured" class="clear">
  	
  	
    <div id="featured_slide">
      <ul>
      	
      	
        <li><%= image_tag("ruby-in-black.jpeg") %>
          <div class="panel-overlay">
            <h2>The Learning Counsel</h2>
            <p>Welcome to The Learning Counsel. <a href="#">Continue Reading &raquo;</a></p>
          </div>
        </li>
        
        <li><%= image_tag("RoR-silver.jpeg") %>
          <div class="panel-overlay">
            <h2>Ruby on Rails</h2>          	
          </div>
        </li>
        
        <li><%= image_tag("snapshot2.png") %>
        </li>
        
        <li><%= image_tag("ruby-red-silver.jpeg") %>
        </li>

        <li><%= image_tag("RoR-train-small.jpeg") %>
        </li>
        
      </ul>
    </div>
    
    
    
    <div class="intro clear">
      
      <div class="welcome clear"><%= image_tag("image_tablets.jpg", :class => 'imgl', :width => '200') %> 
        <div class="fl_right">
          <!-- <h2>The Learning Counsel</h2> -->
                    
      		<p><strong><em>Search Learning Content Data, Reviews, News,</em></strong></p>
      		<p><strong><em>&amp; More ...</em></strong></p>
      		
        </div>
      </div>
            
      <div class="popular">
        <div class="fl_right">
	        <h2>Listings and Accounts</h2>
	        <ul class="clear">
	          <li><%= link_to "&raquo;".html_safe + ' Schools', institutes_path %></li>
			</ul>          
	        <ul class="clear">
	          <li><%= link_to "&raquo;".html_safe + ' Publishers', publishers_path %></li>
	        </ul>
	        <ul class="clear">
	          <li><%= link_to "&raquo;".html_safe + ' EdMatchUp  Service', edmatchs_path %></li>
			</ul>
	        <ul class="clear">
	          <li><%= link_to "&raquo;".html_safe + ' About EdMatchUp', edmatchup_path %></li>
			</ul>          	        			          	        
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper row3">
  <div id="container" class="clear">
    <div id="homepage" class="clear">
      
      <div id="content">
      	
        <div id="latestnews">
          <h2>About our EdMatchUp Service</h2>
          <ul>
            <li>
              <p><strong><em>Free</em> Directory</strong></p>
              <p>
              	A free directory of digital content and curriculum for any school to use...
			  </p>
              <p class="readmore"><a href="/edmatchup">Read more &raquo;</a></p>
            </li>
            <li>
              <p><strong><em>Free</em> profile for Publishers</strong></p>
              <p>
              	Any publisher, offering commercially free or for-profit digital content 
              	or curriculum, can create a free profile...
			  </p>
              <p class="readmore"><a href="/edmatchup">Read more &raquo;</a></p>
            </li>
            <li>
              <p><strong><em>Free</em> inventory analysis for Schools</strong></p>
              <p>
              	Any teacher, school or publisher can create a free profile of what they already 
              	have or are using...
			  </p>
              <p class="readmore"><a href="/edmatchup">Read more &raquo;</a></p>
            </li>
            <li>
              <p><strong><em>Free</em> gap analysis and MatchUp</strong></p>
              <p>
              	At the end of inventory, schools or teachers can use the match-up feature to tell 
              	them key facts about their digital content and curriculum strategy...
			  </p>
              <p class="readmore"><a href="/edmatchup">Read more &raquo;</a></p>
            </li>
            <li>
              <p><strong>EdMatchUp Game</strong></p>
              <p>
              	By creating a profile, schools are automatically part of an annual "game" to be 
              	one of the best in comprehensive strategy and tactics around digital content and 
              	curriculum...
			  </p>
              <p class="readmore"><a href="/edmatchup">Read more &raquo;</a></p>
            </li>
          </ul>
        	
          <div style="height: 20px"></div>
        	
          <h2>Articles</h2>
          <ul>
            <li>
              <p><strong>Wanted Teacher Features of the 22nd Century</strong></p>
			  <div style="height: 5px"></div>
			  <p>by LeiLani Cauthen, <em>The Learning Counsel -- Sept 2013 </em></p>
			  <div style="height: 5px"></div>			  
              <p>
              	 My dad was a teacher that taught high school English, history, ran the
				 photography class, and coached basketball. It was a pretty small school
				 district and teachers were multi-taskers. He would be the first to
				 question an educational system that, for sake of efficiency, used more
				 technology and fewer teachers.
			  </p>
              <p class="readmore"><a href="/blogs">Read the full article &raquo;</a></p>
            </li>
            
            <li>
              <p><strong>Facing down the learning content disruption</strong></p>
			  <div style="height: 5px"></div>
			  <p>by David Kafitz, <em>The Learning Counsel -- Sept 2013 </em></p>
			  <div style="height: 5px"></div>
              <p>
              	 Schools and higher ed institutions are facing down a serious disruption in 
              	 learning content, going from paper to digital in all things. For nearly
              	 100 years, classroom teaching has centered primarily on the textbook. 
              </p>
              <p class="readmore"><a href="/blogs">Read the full article &raquo;</a></p>
            </li>
          </ul>
        </div>
        
        
        
        
        
        <div id="quicklinks">
		  <div style="height: 5px"></div>        	
          <!-- <h2></h2> -->
          <ul>
          	
          	<li class="clear">
			    <div id="gallery" class="clear">
			      <ul>
			        <li><a href="/assets/image_ed_flow_chart_large.jpg" rel="prettyPhoto[gallery1]" title=""><%= image_tag("/assets/image_ed_flow_chart_small.png", :alt => '', :width => '200') %></a></li>
			        <li style="display: none;"><a href="/assets/image_shopping_cart.jpg" rel="prettyPhoto[gallery1]" title=""><%= image_tag("/assets/image_shopping_cart.jpg", :alt => '', :width => '200') %></a></li>
			        <li style="display: none;"><a href="/assets/image_handshake.jpg" rel="prettyPhoto[gallery1]" title=""><%= image_tag("/assets/image_handshake.jpg", :alt => '', :width => '200') %></a></li>
			        <li style="display: none;"><a href="/assets/image_victors.jpg" rel="prettyPhoto[gallery1]" title=""><%= image_tag("/assets/image_victors.jpg", :alt => '', :width => '200') %></a></li>
			        <li style="display: none;"><a href="/assets/image_laptop.jpg" rel="prettyPhoto[gallery1]" title=""><%= image_tag("/assets/image_laptop.jpg", :alt => '', :width => '200') %></a></li>
			      </ul>
			    </div>
          	</li>
            <div style="height: 10px"></div>            
            <li>
              <p><a href="#"><%= image_tag("image_tablet_1.jpg", :width => '200') %></a></p>
            </li>
            <div style="height: 30px"></div>            
            <li>
              <p><a href="#"><%= image_tag("image_student_tablet.jpg", :width => '200') %></a></p>
            </li>
            <div style="height: 30px"></div>                        
            <li class="last">
              <p><a href="#"><%= image_tag("image_apple_tablet.jpg", :width => '200') %></a></p>
            </li>
          </ul>
        </div>
      </div>
            
      
      
      
      <div id="column">
        <div class="holder">
          <h2>Featured Videos</h2>
		  <p style="display: block; width: 100%; text-align: center; line-height: normal;"><a>RSA Animate - Changing Education Paradigms</a></p>
          <object type="application/x-shockwave-flash" data="http://www.youtube.com/v/zDZFcDGpL4U" width="300" height="250">
            <param name="wmode" value="opaque" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#E9E9E9" />
            <param name="allowfullscreen" value="true" />
            <param name="allowscriptaccess" value="never" />
          </object>
          <p>Every country on earth, at the moment, is reforming public education...</p>
        </div>
        
        <h1></h1>
        
        
        
        <div class="holder">
          <p style="display: block; width: 100%; text-align: center; line-height: normal;"><a>The 2013 Free Education Technology</a></p>
          <p style="display: block; width: 100%; text-align: center; line-height: normal;"><a>Resources eBook</a></p>          
          <object type="application/x-shockwave-flash" data="http://www.youtube.com/v/XsNlrgN7mCo" width="300" height="250">
            <param name="wmode" value="opaque" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#E9E9E9" />
            <param name="allowfullscreen" value="true" />
            <param name="allowscriptaccess" value="never" />
          </object>
        </div>
        
        
        
        
        
        
        <h1></h1>
        
        <div class="holder last">
          <h2>Industry News</h2>
          <ul class="staffmembers">
          	
            <li class="clear"><%= image_tag("image_chart_1.jpeg", :class => 'imgl', :alt => '80x80') %>
              <div class="fl_left">
                <p><strong>Achieve3000 Expands on Successful Formula</strong></p>
                <p>LAKEWOOD, N.J. – Aug. 21, 2013 – Achieve3000 today</p>
				<p><%= link_to "&raquo;".html_safe + ' more', news_path %></p>
              </div>
            </li>
            
            <li class="clear"><%= image_tag("image_student_1.jpeg", :class => 'imgl', :alt => '80x80') %>
              <div class="fl_left">
                <p><strong>Follett, Hachette Book Group Partner to Distribute Children’s Ebooks&nbsp;</strong></p>
				<p><%= link_to "&raquo;".html_safe + ' more', news_path %></p>
              </div>
            </li>
            
            <li class="clear"><%= image_tag("image_student_2.jpeg", :class => 'imgl', :alt => '80x80') %>
              <div class="fl_left">
                <p><strong>MOORESVILLE GRADED SCHOOL DISTRICT TRANSFORMS SOCIAL STUDIES CURRICULUM WITH DISCOVERY EDUCATION DIGITAL TEXTBOOK</strong></p>
				<p><%= link_to "&raquo;".html_safe + ' more', news_path %></p>
                <!-- <p><a href="#">View Full Profile &raquo;</a></p> -->
              </div>
            </li>
            
          </ul>
        </div>
      </div>
      
      
      
    </div>
  </div>
</div>
