<% provide(:title, 'Create Account') %>

	<div class="row" style="height: 10px"></div>
	
	<div class="row">
		
		<div class="col7">
			<div class="row">
				<div class="col2">
	  				<%= image_tag("image_learning_counsel.png", :alt => '') %>
				</div>
				<div class="col2">
	  				<%= image_tag("image_header_1.jpg", :alt => '') %>
				</div>
				<div class="col3">
	  				<%= image_tag("image_header_2.jpg", :alt => '') %>					
				</div>
				<div class="row-end">&nbsp;</div>		
			</div>
			<div class="row">
				<div class="col2" style="font-size: 10px">
					<p>News and Content on the Shift to Digital Curriculum</p>				
				</div>
				<div class="col5" style="font-size: 12px">
					<h4>Featured News Stream</h4>					
				</div>
				<div class="row-end">&nbsp;</div>										
			</div>			
		</div>
		
		<div class="col5">
			<div style="width: auto;height:120px;background-color:white;box-shadow: 1px 1px 10px #888888;padding: 10px 10px 10px 30px">
				<h3>Ad Block</h3>
			</div>
		</div>		
		<div class="row-end">&nbsp;</div>		
	</div>

	<div class="row" style="height: 10px"></div>
	<div class="row-end">&nbsp;</div>		
	


  
<div class="container" style="padding: 0px 0px 0px 0px; background-color: yellow; height: 400px">
	
	<div class="row" style="height: 20px;"></div>
	<div class="row-end">&nbsp;</div>			
	
	<div class="row">
		<div align="center">
			<h2><%= @account_type %></h2>
		</div>      		
		<div class="row-end">&nbsp;</div>				
	</div>      		
	
	<div class="row" style="height: 30px;"></div>
	<div class="row-end">&nbsp;</div>			
	
	<%= form_for(@user) do |f| %>
		<%= hidden_field_tag :account_type, @account_type  %>
	<!-- = render 'shared/error_messages', object: f.object -->			
	
	<div class="row">
		<div class="col6" align="right">
			<div class="">
					<%= f.label(:name_first, "First Name") %>							
			</div>
		</div>
		<div class="col6" align="left">
			<div class="" style="width: auto;">
					<%= f.text_field(:name_first, :class => "form-control") %>
			</div>
		</div>      	
		<div class="row-end">&nbsp;</div>		
	</div>      		
	<div class="row" style="height: 10px;"></div>      		
	<div class="row-end">&nbsp;</div>			
	<div class="row">
		<div class="col6" align="right">
			<div class="">
				<%= f.label(:name_last, "Last Name") %>
			</div>
		</div>
		<div class="col6" align="left">
			<div class="" style="width: auto;">
				<%= f.text_field(:name_last, :class => "form-control") %>
			</div>
		</div>
		<div class="row-end">&nbsp;</div>				      		
	</div>      		
	<div class="row" style="height: 10px;"></div>      		      		
	<div class="row">
		<div class="col6" align="right">
			<div class="">
				<%= f.label(:email, "Email") %>
			</div>
		</div>
		<div class="col6" align="left">
			<div class="" style="width: auto;">
				<%= f.text_field(:email, :class => "form-control") %>
			</div>
		</div>
		<div class="row-end">&nbsp;</div>				      		
	</div>      		
	<div class="row" style="height: 10px;"></div>     
	<div class="row-end">&nbsp;</div>			 		
	<div class="row">
		<div class="col6" align="right">
			<div class="">
				<%= f.label(:username, "Username") %>
			</div>
		</div>
		<div class="col6" align="left">
			<div class="" style="width: auto;">
				<%= f.text_field(:username, :class => "form-control") %>
			</div>
		</div>
		<div class="row-end">&nbsp;</div>				      		
	</div>      		
	<div class="row" style="height: 10px;"></div>
	<div class="row-end">&nbsp;</div>			      		
	<div class="row">
		<div class="col6" align="right">
			<div class="">
				<%= f.label(:password, "Password") %>
			</div>
		</div>
		<div class="col6" align="left">
			<div class="" style="width: auto;">
				<%= f.password_field(:password, :class => "form-control") %>
			</div>
		</div>      	
		<div class="row-end">&nbsp;</div>					
	</div>      		
	<div class="row" style="height: 10px;"></div>
	<div class="row-end">&nbsp;</div>			      		
	<div class="row">
		<div class="col6" align="right">
			<div class="">
				<%= f.label(:password_confirmation, "Confirmation") %>
			</div>
		</div>
		<div class="col6" align="left">
			<div class="" style="width: auto;">
				<%= f.password_field(:password_confirmation, :class => "form-control") %>
			</div>
		</div>      	
		<div class="row-end">&nbsp;</div>					
	</div>      		
	<div class="row" style="height: 10px;"></div>
	<div class="row-end">&nbsp;</div>			      		
	<div class="row">
		<div class="col12" align="center">
			<div class="">
				<%= f.submit "Create Password", class: "btn btn-large btn-success" %>
			</div>
		</div>
		<div class="row-end">&nbsp;</div>				
	</div>      		
						
	<% end %>
			
</div>

	<!-- <a href="#" class="easyui-linkbutton">Text Button</a> -->
		
<div class="container" style="height: 200px; background-color: green">
</div>  		


				
				<!-- 
	  	= f.label :account_type_user, "Free downloads" 
	  	= f.radio_button :account_type, "user", :value => "user" 
	  	= f.label :account_type_institute, "School" 
	  	= f.radio_button :account_type, "institute", :value => "institute" 
	  	= f.label :account_type_publisher, "Publisher" 
	  	= f.radio_button :account_type, "publisher", :value => "publisher" 
		 -->			  

