
	<style>

		.contact-wrapper {
			text-align: left;
		}	
    	.contact-header {
    		font-family:Arial, Helvetica, sans-serif;
    		font-size: 22px;
    		color: black;
    	}
    	
    	.contact-message {
    		font-family:Arial, Helvetica, sans-serif;
    		font-size: 14px;
    		color: black;    		
    	}
		.contact-green {
			color: #003D05;
		}
		
		.txtarea {
			border: none;
			background-color: #fff;
			resize: none;	
			height: 600px;
    		font-family:Arial, Helvetica, sans-serif;
    		font-size: 14px;
			color: #000;
			line-height: 1.2em;		
		}
	
	</style>

	<div class="contact-wrapper">
		<span class="contact-header contact-green">
		    Your message was sent.
		</span>
		<br>
		<br>
		<span class="contact-message">
		    Please await a prompt reply. 
		</span>
		<br>
		<br>
		<br>
		<br>
		<table style="width: 800px; vertical-align: top;">
			<tr>
				<td width="160px">
					<span>Name</span>
				</td>
				<td width="300px">
					 <span><%= @contact.name %></span>
				</td>
			</tr>
			<tr><td style="height: 10px;"></td><td></td></tr>
			<tr>
				<td>
					<span>Email</span>
				</td>
				<td>
					 <span><%= @contact.email %></span>
				</td>
			</tr>
			<tr><td style="height: 10px;"></td><td></td></tr>
			<tr>
				<td>
					<span>Phone</span>
				</td>
				<td>
					 <span><%= @contact.phone %></span>
				</td>
			</tr>
			<tr><td style="height: 10px;"></td><td></td></tr>
			<tr>
				<td>
					<span>Subject</span>
				</td>
				<td>
					 <span><%= @contact.subject %></span>
				</td>
			</tr>
			<tr><td style="height: 10px;"></td><td></td></tr>
			<tr>
				<td style="vertical-align: top;">
					<span>Message</span>
				</td>
				<td>
					<textarea class="txtarea" cols="50" disabled="disabled"><%= @contact.message %></textarea>
				</td>
			</tr>
		</table>

	</div>
