<% @page_title = "Contact List" %>

<%#= link_to("<< Back to Menu", {:controller => 'access', :action => 'menu'}, :class => 'back-link') %>

<div class="contact list">
  <h2><p>Contacts and Messages</p></h2>
  
  <table class="listing" summary="Contacts list">
    <tr align="left">
      <th width="220">Name</th>
      <th width="300">Email</th>
      <th width="300">Subject</th>
      <th width="600">Message</th>
    </tr>
    <% @contacts.each do |contact| %>
    <tr align="left" class="<%= cycle('odd', 'even') %>">
      <td width="220"><%= contact.name %></td>
      <td width="300"><%= contact.email %></td>
      <td width="300"><%= contact.subject %></td>
      <td width="600"><%= contact.message %></td>
      
      <td class="actions">
        <%#= link_to('Edit', {:action => 'edit', :id => admin_user.id}, :class => 'action edit') %>
        <%#= link_to('Delete', {:action => 'delete', :id => admin_user.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>

</div>
