<% provide(:title, 'Contact Us') %>
<div class="contacts-new-header">
	<%= render 'share/backtotop_2' %>
	<div class="contacts">
		<div class="contacts-seperator"><img src="/repository/logo-icon-come-together.png">CONTACT US</div>
		<div class="contacts-inside">
			<div class="table contacts-inside-table">
				<div class="row">
					<div class="cell-600">
						<div class="contacts-inside-table-container-1">
							<p class="clear-both">
								Join us for an upcoming Learning Counsel event, get information on Digital 
								Curriculum Strategies, or simply connect with us with any questions or comments.
							</p>
						</div>
					</div>
					<div class="cell-350">
						<div class="contacts-inside-table-container-2">
							<p><strong>CONTACT INFO:</strong></p>
							<br/>
							<p>The Learning Counsel</p>
							<p>P.O. Box 1315</p>
							<p>Fair Oaks, CA 95628</p>
							<p>subscriptions@learningcounsel.com</p>
							<p>888-611-7709</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-contacts-squares">&nbsp;</div>
	</div>
</div>
<div class="contacts-new">
	<div class="top-contacts-squares">&nbsp;</div>
	<div id="join-image">
		<div style="height: 18px;"></div>
		<div id="form_contact" class="form-contact" tabindex="1">
			<%= form_for( @contact, :html => {:id => "form_contact_us"}) do |f| %>
			<div class="table-white">
				<div id="contact_flash_error" class="row alert">
					<!-- <#%= @contact_flash_error if defined? @contact_flash_error %#> -->
					<%= @contact_flash_msg %>
				</div>
			</div>
			<div class="errors">
				<div class="row">
					<div class="cell-left-contact"></div>
					<div class="cell-right-contact"></div>
					<div class="cell-error-contact" style="padding-left: 20px;">
						<p></p>
					</div>					
				</div>
			</div>
			<div class="input-form-spacer"></div>
			<div class="table" style="width: 100%;">
				<div class="row">
					<div class="cell-left-contact">
						<%= f.label(:name, "Name", :class => 'input-label required-label', :id => 'label_contact_name') %>
					</div>
					<div class="cell-right-contact">
						<%= f.text_field(:name, :class => "input-form required", :placeholder => 'Name', :tabindex => '2') %>					 
					</div>
					<div class="cell-error-contact" id="state_contact_name">
						<p id="error_contact_name"></p>
					</div>
				</div>
				<div class="input-form-spacer"></div>
				<div class="row">
					<div class="cell-left-contact">
						<%= f.label(:email, "Email", :class => 'input-label required-label', :id => 'label_contact_email') %>
					</div>
					<div class="cell-right-contact">
						<%= f.text_field(:email, :class => "input-form required", :placeholder => 'email@example.com', :tabindex => '3' ) %>
					</div>
					<div class="cell-error-contact" id="state_contact_email">
						<p id="error_contact_email"></p>
					</div>
				</div>
				<div class="input-form-spacer"></div>
				<div class="row">
					<div class="cell-left-contact">
						<%= f.label(:phone, "Phone (*optional)", :class => 'input-label required-label', :id => 'label_contact_phone') %>
					</div>
					<div class="cell-right-contact">
						<%= f.text_field(:phone, :class => "input-form required", :placeholder => 'Phone', :tabindex => '4') %>					 
					</div>
					<div class="cell-error-contact">
						<p id="error_contact_phone"></p>
					</div>
				</div>
				<div class="input-form-spacer"></div>
				<div class="row">
					<div class="cell-left-contact">
						<%= f.label(:subject, "Subject", :class => 'input-label required-label', :id => 'label_contact_subject') %>
					</div>
					<div class="cell-right-contact">		
						<%= f.text_field(:subject, :class => "input-form required", :placeholder => 'Subject', :tabindex => '5') %>					 
					</div>
					<div class="cell-error-contact" id="state_contact_subject">
						<p id="error_contact_subject"></p>
					</div>
				</div>
				<div class="input-form-spacer"></div>
				<div class="row">
					<div class="cell-left-contact message-around-text">
						<%= f.label(:message, "Message", :class => 'input-label required-label', :id => 'label_contact_message') %>
					</div>
					<div class="cell-right-contact">
						<%= f.text_area(:message, :class => "input-form required message", :spellcheck => 'false', :placeholder => 'Message', :tabindex => '6') %>
					</div>
					<div class="cell-error-contact message-around-text" id="state_contact_message">
						<p id="error_contact_message"></p>
					</div>
				</div>
				<div class="input-form-spacer"></div>
				<div class="input-form-spacer"></div>
				<div class="row">
					<div class="cell-left-contact">
					</div>
					<div id="id_recaptcha" class="cell-right-contact" style="padding-left: 0px;">
						<%= recaptcha_tags %>
					</div>
				</div>
				<div class="input-form-spacer"></div>
				<!-- <div class="input-form-spacer"></div> -->
				<!-- <div class="input-form-spacer"></div> -->
				<div class="row">
					<div class="cell-left-contact">
					</div>
					<div class="cell-right-contact">
						<div class="submit-button-contact" style="padding-left: 0px;">
							<%= f.submit "Submit", :id => 'btn_submit', :class => 'btn submitcontact', :tabindex => '8' %>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<div class="bottom-contacts-squares">&nbsp;</div>
</div>
<div class="contacts-new-bottom-space "></div>

<!-- <div class="footer-box-cloud-container">
    <#%= image_tag("lc-box-cloud.png", alt: "lc-box-cloud.png") %#>
    <div class="box-cloud-row"></div>
</div> -->

<script>
function formValidate() {
				
	$("#form_contact_us").validate({		
		submitHandler: function(form) {
			form.submit();
		},		
		debug: true,
		onkeyup: false,
		focusCleanup: true,
		focusInvalid: false,
		validClass: "success",			
		rules: {
			'contact[name]': {
				required: true,
				minlength: 1,						
				maxlength: 100						
			},
			'contact[email]': {
				required: true,
				maxlength: 100,
				email: true
			},
			'contact[phone]': {
				required: false,
				minlength: 1,						
				maxlength: 100						
			},
			'contact[subject]': {
				required: true,
				minlength: 1,						
				maxlength: 254						
			},
			'contact[message]': {
				required: true,
				minlength: 1,						
				maxlength: 4000						
			}							
		},
		invalidHandler: function(event, validator) {
			var errors = validator.numberOfInvalids();
			if (errors) {
				var message = errors == 1
				// ? 'You missed 1 field'
				// : 'You missed ' + errors + ' fields';
				? '* Required field(s) missed'
	        	: '* Required field(s) missed'; 
				$("div.errors p").html(message);
				$("div.errors").show();
				$("#btn_submit").blur();
				$("#form_contact").focus();						
			} else {
				$("div.errors").hide();
			}
		},				
		messages: {
			'contact[name]': {
				required: "*",
				maxlength: "Exceeds 255 characters"							
			},
			'contact[email]': {
				required: "*",
				maxlength: "Exceeds 255 characters",
				email: "Please enter a valid email address"
			},					
			'contact[phone]': {
				required: "*",
				maxlength: "Exceeds 255 characters"							
			},
			'contact[subject]': {
				required: "*",
				maxlength: "Exceeds 255 characters"							
			},
			'contact[message]': {
				required: "*",
				maxlength: "Exceeds 4000 characters"							
			}
		},				
		errorPlacement: function(error, element) {
			error.insertAfter('#error_' + element.attr('id'));
			// $('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
		},
		success: function(label) {
			$('#' + label.attr('for')).removeClass('required').removeClass('error').addClass('success');
			$('#label_' + label.attr('for')).removeClass('error-label').addClass('required-label');
			$('#error_' + label.attr('for')).html("");
			$('#state_' + label.attr('for')).removeClass("state-background-empty").addClass("state-background-tick");
		}
	});
}
function errorMessageUpdate( element ) {		
	if ($('#' + element).hasClass('error')) {
		if ($('#' + element).val().length > 0) {
			$('#' + element).removeClass('required').removeClass('success').addClass('error');
			$('#label_' + element).removeClass('required-label').addClass('error-label');
		}
		else {
			$('#' + element).removeClass('success').addClass('error').addClass('required');
			$('#label_' + element).removeClass('success-label').removeClass('error-label').addClass('required-label');
			$('#state_' + element).removeClass("state-background-tick").addClass("state-background-empty");							
		}
	}
	else {			
		if ($('#' + element).val().length > 0) {
			$('#' + element).removeClass('required').addClass('success');
			$('#label_' + element).removeClass('error-label').addClass('required-label');
		}
		else {
			$('#' + element).removeClass('success').addClass('required');
			$('#label_' + element).removeClass('success-label').removeClass('error-label').addClass('required-label');
			$('#state_' + element).removeClass("state-background-tick").addClass("state-background-empty");						
		}
	}
}
// Validation after reCaptcha failed and all fields are filled
function onFilledFormValidation() {
	var ifFieldsEmpty = false;
	$(".input-form").each(function() {
		if($(this).val() === "" && $(this).attr("id") != "contact_phone")
			ifFieldsEmpty = true;
	});
	if(!ifFieldsEmpty)
		$("div #form_contact_us").valid();
}	
$(window).load( function() {
	formValidate();
	onFilledFormValidation();
	$("#contact_name").on("blur", function () {
		errorMessageUpdate('contact_name');
	});
	$("#contact_email").on("blur", function () {
		errorMessageUpdate('contact_email');
	});
	$("#contact_phone").on("blur", function () {
		errorMessageUpdate('contact_phone');
	});
	$("#contact_subject").on("blur", function () {
		errorMessageUpdate('contact_subject');
	});
	$("#contact_message").on("blur", function () {
		errorMessageUpdate('contact_message');
	});
	// 'Enter' key events
	$("#contact_name").keypress(function(e){
		if(e.keyCode==13) {
			e.preventDefault();
			$("#contact_email").focus();
		}
	});
	$("#contact_email").keypress(function(e){
		if(e.keyCode==13) {
			e.preventDefault();
			$("#contact_phone").focus();
		}
	});
	$("#contact_phone").keypress(function(e){
		if(e.keyCode==13) {
			e.preventDefault();
			$("#contact_subject").focus();
		}
	});
	$("#contact_subject").keypress(function(e){
		if(e.keyCode==13) {
			e.preventDefault();
			$("#contact_message").focus();
		}
	});
	// $("input[name=recaptcha_response_field]").attr("tabindex","7");
	
	$("#form_contact_us").on("submit", function() {
		$("#contact_flash_error").html("");
	})
	
});
</script>