<% provide(:title, 'Contact') %>

<div class="wrapper row1">
  <div id="header" class="clear">
  	
	<%= render 'share/title'%>
  	
    <%= render 'share/site_search' %>  
    
    <%= render 'share/navigate' %>  
    
  </div>
</div>

<div class="wrapper row3">
  <div id="container" class="clear">
    <h1>Please leave us a message.</h1>
    <p></p>
    
	<%= form_for(:contact,:url => {:action => 'create'}) do |f| %>
    
    <table>
    	<tr>
    		<td>
		    	<%= f.label(:name) %><span>*</span>
			</td>
			<td>
		    	<%= f.text_field(:name, :class => "form-value") %>
			</td>	
    	</tr>
    	<tr>
    		<td>
		    	<%= f.label(:email) %><span>*</span>
			</td>
			<td>
		    	<%= f.text_field(:email, :class => "form-value") %>				
			</td>	
    	</tr>
    	<tr>
    		<td>
		    	<%= f.label(:subject) %><span>*</span>    			
			</td>
			<td>
		    	<%= f.text_field(:subject, :class => "form-value") %>				
			</td>	
    	</tr>
    	<tr>
    		<td>
		    	<%= f.label(:message) %><span>*</span>    			
			</td>
			<td>
		    	<%= f.text_area(:message, :class => "form-value") %>				
			</td>	
    	</tr>
    	<tr>
    		<td>
    			
    		</td>
    		<td>
				<%= submit_tag('Submit', :class => "form-submit") %>
    			
			</td>
    	</tr>
	
    </table>

	<% end %>
    
  </div>
</div>
				
								
