<div class="wrapper row1">
  <div id="header" class="clear">
  	
	<%= render 'share/title'%>
  	
    <%= render 'share/site_search' %>  
    
    <%= render 'share/navigate' %>  
    
  </div>
</div>

<div class="wrapper row3">
  <div id="container" class="clear">
    <div id="content">
      <div id="comments" style="height: 480px">

	 		<p><%= render(:partial => "share/menu_admin") %></p>            	
  	
			<p><%= link_to "&laquo; Back".html_safe, :back %></p>
				
			<div id="content">
			  
			  <h2><p><em>Register List</em></p></h2>
			
				<div class="pagination">
					<%= will_paginate %>
				</div>
					
				<div style="height: 20px"></div>	
					
			    <table id="registers" style="width: 1000px; height: 300px;" title="Registers" >    	    	
				    <tr>
					    <th field="id" width = "40">ID</th>
					    <th field="created_at" width = "180">Created</th>
					    <th field="updated_at" width = "180">Updated</th>			    		    	
					    <th field="username" width = "200">Name</th>
					    <th field="account_id" width = "40">Account ID</th>					    
					    <th field="has_account" width = "200">Has Account</th>
					    <th field="account_type" width = "200">Account Type</th>
					</tr>
					<% @admin_contacts.each do |contact| %>
				    <tr>
					    <td><%= register.id %></td>
					    <td><%= register.created_at %></td>
					    <td><%= register.updated_at %></td>
					    <td><%= register.username %></td>
					    <td><%= register.account_id %></td>
					    <td><%= register.has_account %></td>
					    <td><%= register.account_type %></td>
					    
					    <td><%= link_to('View', {:action => 'view', :id => register.id}) %></td>			    
					</tr>
					<% end %>	    	
			    </table>
					
				<div style="height: 10px"></div>	
						
				<div>
					<%= will_paginate %>
			  	</div>
			  	
			</div>
    
      </div>
    </div>
  </div>
</div>
