

		<%= render 'share/backtotop' %>

		<div class="wrapper-1">
			<div class="kontainer-top">
				<div class="div-top-left">		
									
					<!-- 
					<div id="89" class="article-type-2"></div>
					<div id="102" class="article-type-2"></div>
					<div id="103" class="article-type-2"></div>		
					<div id="99" class="article-type-2"></div>
					<div id="105" class="article-type-2"></div>
					<div id="106" class="article-type-2"></div> 
					-->		

					<div id="prev" class="cycle-arrow-prev"></div>
					<div id="next" class="cycle-arrow-next"></div>
					
					<div class="cycle-slideshow cycle-slideshow-style" data-cycle-speed="500" data-cycle-pause-on-hover="true" data-cycle-fx="scrollHorz" data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="&gt; div">					
						<div class="cycle-pos z-99 hidden">
							<div class="rowfluid k-mainfeaturerow">
    							<div data-id="122" class="article-type-1"></div>
					        </div> 
						</div>
						<div class="cycle-pos z-98 hidden">
							<div class="rowfluid k-mainfeaturerow">
    							<div data-id="123" class="article-type-1"></div>
					        </div> 
						</div>
						<div class="cycle-pos z-97 hidden">
							<div class="rowfluid k-mainfeaturerow">
    							<div data-id="113" class="article-type-1"></div>
					        </div> 
						</div>
						<div class="cycle-pos z-96 hidden">
							<div class="rowfluid k-mainfeaturerow">
    							<div data-id="89" class="article-type-1"></div>
					        </div> 
						</div>
						<div class="cycle-pos z-95 hidden">
							<div class="rowfluid k-mainfeaturerow">
    							<div data-id="102" class="article-type-1"></div>
					        </div> 
						</div>
						<div class="cycle-pos z-94 hidden">
							<div class="rowfluid k-mainfeaturerow">
    							<div data-id="103" class="article-type-1"></div>
					        </div> 
						</div>										
						<div class="cycle-pos z-93 hidden">
							<div class="rowfluid k-mainfeaturerow">
    							<div data-id="99" class="article-type-1"></div>
					        </div> 
						</div>			
						<div class="cycle-pos z-92 hidden">
							<div class="rowfluid k-mainfeaturerow">
    							<div data-id="105" class="article-type-1"></div>
					        </div> 
						</div>
						<div class="cycle-pos z-91 hidden">
							<div class="k-mainfeaturerow">
    							<div data-id="106" class="article-type-1"></div>
					        </div>
						</div>
						<div class="cycle-pos z-90 hidden">
							<div class="k-mainfeaturerow">
    							<div data-id="111" class="article-type-1"></div>
					        </div>
						</div>
						<div class="cycle-pos z-89 hidden">
							<div class="k-mainfeaturerow">
    							<div data-id="112" class="article-type-1"></div>
					        </div>
						</div>						
					</div>
					
					<div class="clear-both"></div>
				</div>
				<div id="div_top_right" class="div-top-right">
					<table width="316px" class="right-table">
						<tr class="right-tr">
							<td class="padding-left-40">
								<!-- <div class="search-function">
									Search Function Coming Soon
								</div> -->
								<div class="sub">
									<div class="suba">
										<a href="/LetterRegistration">Subscribe to Newsletter</a>
									</div>
								</div>
							</td>
						</tr>
						<tr class="right-tr-2">
							<td class="padding-left-40">
								<div class="div-link-1">
									<a href="http://www.amplify.com/ela" target="_blank">
										<%= image_tag("amplify.png", alt: "Amplify") %>
									</a>
								</div>
							</td>
						</tr>
						<tr class="right-tr">
							<td class="padding-left-40">
								<div class="">
									<a href="/Events">
										<%= image_tag("web-banner4.jpg", alt: "Discussions") %>
									</a>
								</div>
							</td>
						</tr>
						<tr class="right-tr">
							<td>
								<div class="height-20"></div>
							</td>
						</tr>
						<tr class="right-tr">
							<td class="padding-left-40">
								<div class="title-gallery"></div>
							</td>
						</tr>		
					</table>
				</div>
			</div>
		</div>					
		<div class="seperator">
			<%= image_tag("logo-boxes-alone.png", alt: "") %>
			WHAT'S HOT
		</div>
		<div class="wrapper-1">
			<div class="tmpl-container-3-column tmpl-margin-left">
				<div class="height-40"></div>
				<a name="anchor2"></a>    		      		     		
				<div class="tmpl-governcell index-tmpl-border-top-expect">	
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="90" class="article-type-2"></div>
					</div>
					<div class="index-tmpl-cell-divider index-hidden"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="95" class="article-type-2"></div>
					</div>
					<div class="index-tmpl-cell-divider index-hidden"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="100" class="article-type-2"></div>		
					</div>
				</div>
				
				<!-- <a href="/Articles" class="more-articles">See More Articles</a> -->
			</div>
			<div class="tmpl-container-3-column tmpl-margin-left">				
				<a href="/Articles" class="more-articles">See More Articles</a>
			</div>
			<div style="height: 70px;"></div>
			<div class="seperator-2">
				<%= image_tag("logo-boxes-alone.png", alt: "") %>
				EVENT NEWS
			</div>
			<div style="height: 10px;"></div>
			<div class="tmpl-margin-left">
				<a href="/Event-News">
					<%= image_tag("event-photos-button.jpg", alt: "") %>
				</a>
			</div>
			
			<div style="height: 20px;"></div>
			
			<div class="tmpl-container-2-column tmpl-margin-left tmpl-display-inline-block">
				<div class="tmpl-governcell index-tmpl-border-top-expect">	
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="96" class="article-type-2"></div>
					</div>
					<div class="index-tmpl-cell-divider index-hidden"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div data-id="68" class="article-type-2"></div>
					</div>
					<!-- <div class="k-cell-divider"></div>
					<div class="tmpl-outercell tmpl-kol3 k-empty"></div> -->
				</div>
				<div class="tmpl-governcell index-tmpl-border-bottom-expect">			
					<div class="tmpl-outercell tmpl-kol3">
						<div class="k-cell-divider-horiz"></div>
						<div data-id="86" class="article-type-2"></div>					
					</div>
					<div class="k-cell-divider"></div>
					<div class="tmpl-outercell tmpl-kol3">
						<div class="k-cell-divider-horiz"></div>
						<div data-id="65" class="article-type-2"></div>
					</div>
					<!-- <div class="k-cell-divider"></div> -->
				</div>
			</div>

			<div class="tmpl-display-inline-block" style="vertical-align: top; margin-left: 8px;">
				<a href="https://www.readingkingdom.com/signup" target="_blank"">
					<!-- <img src="../repository/banners/banner-reading-kingdom-2-w317-h686.png" class="k-img" height="686px" onerror="this.src='/assets/error-300-700-blue.png'"> -->
					<%= image_tag("banner-reading-kingdom-w317-h686.jpg", alt: "", height: "686") %>
				</a>
			</div>

			<div>
				<a href="/Event-Articles" class="more-events">See More on Events</a>
			</div>
			
			<div class="height-100"></div>

			<div class="seperator-3">
				<%= image_tag("logo-boxes-alone.png", alt: "") %>
				COMMENTS and NEWS
			</div>
			<div class="kontainer">
				<div class="news-header">News</div>
				<div class="height-10 position-relative"></div>
				<div class="k-governcell ktop kbottom">	
					<div class="k-outercell kol2">
						<div style="height: 6px;"></div>
						<div class="news-list">
							<div data-id="121" class="article-type-3"></div>
							<br>
							<div data-id="114" class="article-type-3"></div>
							<br>
							<div data-id="109" class="article-type-3"></div>
							<br>
							<div data-id="108" class="article-type-3"></div>
							<br>
							<div data-id="107" class="article-type-3"></div>
							<br>
							<div data-id="104" class="article-type-3"></div>
							<br>
							<div data-id="101" class="article-type-3"></div>
							<br>
							<div data-id="98" class="article-type-3"></div>
							<br>
							<div data-id="97" class="article-type-3"></div>
							<br>
							<div data-id="94" class="article-type-3"></div>
							<br>
							<div data-id="93" class="article-type-3"></div>
							<br>
							<div data-id="92" class="article-type-3"></div>
							<br>
							<div data-id="91" class="article-type-3"></div>
							<br>
							<div data-id="88" class="article-type-3"></div>
							<br>
							<div data-id="85" class="article-type-3"></div>
							<br>
							<div data-id="84" class="article-type-3"></div>
							<br>
							<div data-id="83" class="article-type-3"></div>
							<br>
							<div data-id="82" class="article-type-3"></div>
							<br>
							<div data-id="79" class="article-type-3"></div>
							<br>
							<div data-id="78" class="article-type-3"></div>
							<br>
							<div data-id="77" class="article-type-3"></div>
							<br>
							<div data-id="75" class="article-type-3"></div>
							<br>
							<div data-id="73" class="article-type-3"></div>
							<br>
							<div data-id="72" class="article-type-3"></div>
							<br>
							<div data-id="71" class="article-type-3"></div>
							<br>
							<div data-id="70" class="article-type-3"></div>
							<br>
							<div data-id="66" class="article-type-3"></div>
							<br>							
						</div>
					</div>
					<div class="k-cell-divider"></div>
					<div class="k-outercell kol2">
						<div style="height: 6px;"></div>
						<div class="news-list">
							<div data-id="64" class="article-type-3"></div>
							<br>
							<div data-id="62" class="article-type-3"></div>
							<br>
							<div data-id="61" class="article-type-3"></div>
							<br>
							<div data-id="60" class="article-type-3"></div>
							<br>
							<div data-id="59" class="article-type-3"></div>
							<br>
							<div data-id="53" class="article-type-3"></div>
							<br>
							<div data-id="40" class="article-type-3"></div>
							<br>
							<div data-id="41" class="article-type-3"></div>
							<br>
							<div data-id="42" class="article-type-3"></div>
							<br>
							<div data-id="34" class="article-type-3"></div>
							<br>
							<div data-id="35" class="article-type-3"></div>
							<br>
							<div data-id="36" class="article-type-3"></div> 
							<br>
							<div data-id="14" class="article-type-3"></div> 
							<br>
							<div data-id="15" class="article-type-3"></div> 
							<br>
							<div data-id="16" class="article-type-3"></div>
							<br>
							<div data-id="44" class="article-type-3"></div>
							<br>
							<div data-id="45" class="article-type-3"></div> 
							<br>
							<div data-id="46" class="article-type-3"></div>
							<br>
							<div data-id="17" class="article-type-3"></div>
							<br>
							<div data-id="20" class="article-type-3"></div>
							<br>					
							<div data-id="2" class="article-type-3"></div>			
							<br>
							<div data-id="19" class="article-type-3"></div>
							<br>
							<div data-id="13" class="article-type-3"></div>
							<br>
							<div data-id="9" class="article-type-3"></div>
							<br>		
							<div data-id="100" class="article-type-3"></div>
							<br>		
						</div>
					</div>
				</div>
				<div class="height-30"></div>
				<div class="k-governcell ktop kbottom">	
					<div class="k-outercell kol1">
						<a href="/CommunityRegistration" class="k-link-a">
							<div class="k-inner-cell" class="padding-top-6">
								<div class="text_container b_container text-align-center">
									<!-- <img src="../repository/banner-3.png" width="850px" onerror="this.src='../altgraphics/error-300-200.png'"> -->
									<%= image_tag("banner-3.jpg", width: "850", alt: "") %>
								</div>
							</div>
						</a>	
					</div>
				</div>
				<div class="height-100"></div>
			</div>			    
			<!-- <#%= render 'archives/article' %#> -->
		</div>
		<div class="height-10"></div>
		
		
    <script>
                
		function scrollToAnchor(aid) {
			var a = $("a[name='" + aid + "']");
			$('html, body').animate({ scrollTop: a.offset().top }, 1000);
		}
            
		function in_archive_ids(ar, id) {
			b = false;
		    for(var i = 0; i < ar.length; i++) {
		        if(ar[i] != null) {
		        	b = true;
		        }
		    }
		    return b;
		}
		

		$(window).load( function() {

			// $("#render_slider").html("<#%= j render 'homes/slider' %#>");
						
						                        // img_path, 				0
						                        // img_height, 				1
						                        // subtitle_1, 				2
						                        // subtitle_2, 				3			
						                        // img_path_carousel, 		4
						                        // img_height_carousel, 	5
						                        // subtitle_1_carousel, 	6
						                        // subtitle_2_carousel, 	7
						                        // author, 					8
						                        // type.downcase, 			9
						                        // slug						10
						                        // complete					11
			
			// *** carousel
			$(".article-type-1").each(function() {
				var id = $(this).data("id");
				if(id != null) {
					if(in_archive_ids(gon.archives, id)) {
						var archive_img_path_carousel 	= gon.archives[id][4];
						var archive_type 				= gon.archives[id][9];
						var archive_slug 				= gon.archives[id][10];
						var archive_subtitle_1_carousel = gon.archives[id][6];
						var archive_subtitle_2_carousel = gon.archives[id][7];
						var archive_author 				= gon.archives[id][8];
		
						var s_tmpl = null;
						s_tmpl = "templates/article_template_carousel_" + archive_type.toLowerCase();
						$.tmpl(s_tmpl, {
							src_image: archive_img_path_carousel,
							slug: archive_slug,
							subtitle_1: archive_subtitle_1_carousel,
							subtitle_2: archive_subtitle_2_carousel,
							author: archive_author 							
						}).appendTo(this);
					}
					else {
						alert("page id = " + id.toString() + " not found in database");
					}
				}
			});					

			// *** cells
			$(".article-type-2").each(function() {
				var id = $(this).data("id");
				if(id != null) {
					if(in_archive_ids(gon.archives, id)) {
						var archive_img_path 	= gon.archives[id][0];
						var archive_type 		= gon.archives[id][9];
						var archive_slug 		= gon.archives[id][10];
						var archive_subtitle_1 	= gon.archives[id][2];
						var archive_subtitle_2 	= gon.archives[id][3];
						var archive_author 		= gon.archives[id][8];
						var archive_img_height	= gon.archives[id][1];
		
						var s_tmpl = null;
						var s_tmpl_sub = null;
						if(archive_subtitle_2.length > 0) {
							s_tmpl_sub = "1b";
						}
						else {
							s_tmpl_sub = "1a";
						}
						s_tmpl = "templates/article_template_" + archive_type.toLowerCase() + "_" + s_tmpl_sub;
						
						$.tmpl(s_tmpl, {
							img_width: 300,
							img_height: archive_img_height,
							slug: archive_slug,
							src_image: archive_img_path,
							subtitle_1: archive_subtitle_1,
							subtitle_2: archive_subtitle_2,
							author: archive_author 
						}).appendTo(this);
					}
					else {
						alert("page id = " + id.toString() + " not found in database");
					}
				}				
			});					
						
			// *** text link
			$(".article-type-3").each(function() {
				var id = $(this).data("id");
				if(id != null) {
					if(in_archive_ids(gon.archives, id)) {
						var archive_slug 		= gon.archives[id][10];
						var archive_subtitle_1 	= gon.archives[id][2];
		
						var s_tmpl = "templates/article_template_text";
						$.tmpl(s_tmpl, {
							slug: archive_slug,
							subtitle_1: archive_subtitle_1
						}).appendTo(this);
					}
					else {
						alert("page id = " + id.toString() + " not found in database");
					}
				}
			});					
						
						
			// *** position template blocks, calculate and add dimensions
			var j;
			var k;
			var l;
			var m;
			var p;
			var t;
			var kk;
			var ll;
			var mm;
			var nn;
			var upperCell;			

			$('.tmpl-governcell').each( function() {
				j = 0;
				k = 0;
				l = 0;
				m = 0;
				p = 0;
				s = 0;
				t = 0;
				kk = 0;	
				ll = 0;	
				mm = 0;
				dj = 0;
				djj = 0;
				$(this).children().each( function() {
					if ($(this).hasClass('tmpl-outercell')) {
						// console.log($(this).find('.id').attr('id'));
						var jj;
						if (!(jj = $(this).find("img").attr("height"))) {
							jj = 0;
						}
						var n = parseInt(jj);	
						n += 36;
						var upperCell = $(this).find('.tmpl-div-2a');
						upperCell.height(n);
					}
					if ($(this).hasClass('tmpl-outercell-double')) {
						if (!(djj = $(this).find("img").attr("height"))) {
							djj = 0;
						}
						dj = dj >= djj ? dj : djj;
						dn = parseInt(dj);																		
					}
				});

				$(this).children().each( function() {
					if ($(this).hasClass('tmpl-outercell')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						t = k;
					}
					if ($(this).hasClass('tmpl-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
				});
				
				m = s >= t ? s : t;
				m += 2;
				m = m <= 1000 ? m : 1000;
				$(this).height(m);
				$(this).children($('.k-cell-divider')).height(m);
			});

			$(".index-tmpl-border-top-expect").addClass("index-tmpl-border-top");
			$(".index-tmpl-border-bottom-expect").addClass("index-tmpl-border-bottom");
			$(".index-tmpl-cell-divider").removeClass("index-hidden");
			$(".index-tmpl-cell-divider-horiz").removeClass("index-hidden");

			$('a[href*=#]:not([href=#])').click(function() {
			    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
			        || location.hostname == this.hostname) {
			        var target = $(this.hash);
			        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           	if (target.length) {
		             	$('html,body').animate({
		                	scrollTop: target.offset().top
		            	}, 750);
		            	// return false;
		        	}
			    }
			});
			
			$('#prev').hover(function() {
				$('#prev img').attr("src","<%= asset_path('prev-arrow-hov.png') %>");
			}, function() {
				$('#prev img').attr("src","<%= asset_path('prev-arrow.png') %>");
			});
			$('#next').hover(function() {
				$('#next img').attr("src","<%= asset_path('next-arrow-hov.png') %>");
			}, function() {
				$('#next img').attr("src","<%= asset_path('next-arrow.png') %>");
			});
			

			img = $('<img />');
			img.bind("load", function() {				
			}).each(function() {
			  	// if(this.complete) {
			  	 	// $(this).load();
			  	// }
			});			
			$('body').removeClass('hidden');
			$(".cycle-slideshow .cycle-pos").removeClass("hidden");
			
		});


		// $(window).bind('load', function() {
			// setTimeout( function(){
				// $("#small-slider-top").removeClass("display-none");
			// }, 1000);
		// });
		// $("#div_top_right").removeClass("visibility-hidden");
		
	</script>
