<% provide(:title, 'Publishers Add Product') %>


	<script src="/assets/jquery.validate.js"></script>
	<script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script>

    <style>
    	
    	.main {
    		font-family:Arial, Helvetica, sans-serif;
    		font-size: 20px;
    		color: black;
    		min-height: 700px;
    	}
    	
    	.links {
    		font-family:Arial, Helvetica, sans-serif;
    		font-size: 16px;
    		color: brown;    		
    	}
    	
    	h1 {
    		font-size: 22px;
    	}
    	p {
    		font-size: 16px;
    	}
    	
		.input-upload {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			width: 340px;
			height: 22px;
			border-style:solid;
			background-color: #fff;
			border-color: #000;
			border-width: 1px;
			padding-left: 6px;
			color: #888;
		}
    	
    	.submit-upload {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
    		height: 22px;
    	}
    	
    </style>


	<header>
		<%= render 'share/backtotop' %>
	</header>

	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				
				<div class="col-left">
					<%= render 'share/dir_publishers_left'%>
				</div>
				
				<div class="col-midd">

					<div style="text-align: left;">
						<span class="normal pad-left-20">Publisher Products</span>
					</div>

					<div class="line-space-20"></div>

					<div class="table-form" style="width: 600px;">
						<div class="row">
							<div class="cell-100percent" tabindex="1">
								
						    	<%= form_for @publisher_product_description, :html => {:id => 'form_publisher_product_description_new' } do |f| %>	
								<!-- = render 'shared/error_messages', object: f.object -->			

								<!-- 
								pricing_model_index		dd pricing_model
								name_product 			tf
								type_content_index		dd type_content string
								core_supplemental		cb
								source_url				tf
								subject_category_index	dd 	subject_category string
								topic					tf
								lesson_plan_subject		tf
								word_description		ta
								age_appropriate			dd				
								grade_index				dd  grade
								metadata				upload
								platform_index			dd platform string
								versions				tf
								-->

								<div class="input-form-spacer"></div>
		
								<div class="row">
									<div class="cell-left-form">
										<%= f.label(:name_product, 'Product Name', class: 'input-label-form') %>							
									</div>
									<div class="cell-right-form">
										<%= f.text_field :name_product, :class => 'input-form', :tabindex => '2', :autofocus => true %>	
									</div>
									<div class="cell-error" id="state_name_product"><p id="error_name_product"></p></div>      					   							 								      	
								</div>

								<div class="input-form-spacer"></div>
		
								<div class="row">
									<div class="cell-left-form">
										<%= f.label(:type_content_index, "Type of Content<br>or Curriculum".html_safe, class: 'input-label-form') %>							
									</div>
									<div class="cell-right-form">
										
								   		<%= f.select(:type_content_index,
								   				[['-Select-', '0'],								   		
								   				['App', '1'],
								   				['Lesson Plan Document','2'],
								   				['Digital Curriculum','3'],
								   				['eBook','4'],
								   				['Game','5'],
								   				['Software - School Management','6'],
								   				['Software - Other','7'],
								   				['Online Course','8'],
								   				['Tools','9'],
								   				['Video','10']],
								   				{}, 
								   				{ :class => 'form-select', :id => 'select_type_content_index', :tabindex => '3' } ) %>

									</div>
									<div class="cell-error" id="state_type_content_index"><p id="error_type_content_index"></p></div>      					   							 								      	
								</div>

		 <!-- f.check_box :city_workshop_1 
		<label id="label_city_workshop_1" class="input-label required-label label_cb" for="city_workshop_1" onclick="cb_city_workshop('1');" tabindex="15">Columbia, SC</label> -->

								<div class="input-form-spacer"></div>


		
								<div class="row">
									<table>
										<tr>
											<td style="width: 200px;"></td>
											<td>
												<label id="label_core_supplemental_core" class="input-label-form" for="core_supplemental_core" onclick="rd_public_private('public');" tabindex="4">Core</label>												
											</td>
											<td>
												<%= f.radio_button :core_supplemental, 'core', :autofocus => false %>		
											</td>
											<td style="width: 50px;"></td>
											<td>
												<label id="label_core_supplemental_supplemental" class="input-label-form" for="core_supplemental_supplemental" onclick="rd_public_private('public');" tabindex="5">Supplemental</label>
											</td>
											<td>
												<%= f.radio_button :core_supplemental, 'supplemental', :autofocus => false %>
											</td>
										</tr>
										<tr>
											<td></td>
											<td>
												<div class="cell-error" id="state_core_supplemental_core"><p id="error_core_supplemental_core"></p></div>												
											</td>
											<td>
											</td>
											<td></td>
											<td>
												<div class="cell-error" id="state_core_supplemental_supplemental"><p id="error_core_supplemental_supplemental"></p></div>												
											</td>
											<td>
											</td>
										</tr>
									</table>
								</div>

								<div class="input-form-spacer"></div>
		
								<div class="row">
									<div class="cell-left-form">
										<%= f.label(:source_url, 'Product or Source URL', class: 'input-label-form') %>							
									</div>
									<div class="cell-right-form">
										<%= f.text_field :source_url, :class => 'input-form', :tabindex => '6', :autofocus => false %>	
									</div>
									<div class="cell-error" id="state_source_url"><p id="error_source_url"></p></div>      					   							 								      	
								</div>

								<div class="input-form-spacer"></div>

								<div class="row">
									<div class="cell-left-form">
										<%= f.label(:subject_category_index, 'Subject Category', class: 'input-label-form') %>							
									</div>
									<div class="cell-right-form">
										
								   		<%= f.select( :subject_category_index, 
								   				[['-Select-', '0'],								   		
								   				['Language Arts', '1'],
								   				['Science','2'],
								   				['Music & Drama','3'],
								   				['Physical Educations','4'],
								   				['Arts','5'],
								   				['Professional Development','6'],
								   				['Extra-Curricular','7']],
								   				{}, 
								   				{ :class => 'form-select', :id => 'select_subject_category_index', :tabindex => '7' } ) %>
										
									</div>
									<div class="cell-error" id="state_subject_category_index"><p id="error_subject_category_index"></p></div>      					   							 								      	
								</div>

								<div class="input-form-spacer"></div>
		
								<div class="row">
									<div class="cell-left-form">
										<%= f.label(:topic, 'Topic', class: 'input-label-form') %>							
									</div>
									<div class="cell-right-form">
										<%= f.text_field :topic, :class => 'input-form', :tabindex => '8', :autofocus => false %>	
									</div>
									<div class="cell-error" id="state_topic"><p id="error_topic"></p></div>      					   							 								      	
								</div>

								<div class="input-form-spacer"></div>
		
								<div class="row">
									<div class="cell-left-form">
										<%= f.label(:lesson_plan_subject, 'Lesson Plan Subject', class: 'input-label-form') %>							
									</div>
									<div class="cell-right-form">
										<%= f.text_field :lesson_plan_subject, :class => 'input-form', :tabindex => '9', :autofocus => false %>	
									</div>
									<div class="cell-error" id="state_lesson_plan_subject"><p id="error_lesson_plan_subject"></p></div>      					   							 								      	
								</div>

								<div class="input-form-spacer"></div>
		
								<div class="row">
									<div class="cell-left-form"  style="vertical-align: top; padding-top: 6px;">
										<%= f.label(:word_description, 'Description - up to 30 words', class: 'input-label-form') %>							
									</div>
									<div class="cell-right-form">
										<%= f.text_area :word_description, :class => 'input-form-word-description-1', :tabindex => '10', :autofocus => false %>	
									</div>
									<div class="cell-error" id="state_word_description"><p id="error_word_description"></p></div>      					   							 								      	
								</div>

								<div class="input-form-spacer"></div>

								<div class="row">
									<div class="cell-left-form">
										<%= f.label(:age_appropriate_index, 'Age Appropriate', class: 'input-label-form') %>							
									</div>
									<div class="cell-right-form">
										
								   		<%= f.select( :age_appropriate_index, 
								   				[['-Select-', '0'],								   		
								   				['2 to 5', '1'],
								   				['5 to 10','2'],
								   				['10 to 15','3'],
								   				['15 to 18','4']],
								   				{}, 
								   				{ :class => 'form-select', :id => 'select_age_appropriate_index', :tabindex => '11' } ) %>
										
									</div>
									<div class="cell-error" id="state_age_appropriate_index"><p id="error_age_appropriate_index"></p></div>      					   							 								      	
								</div>

								<div class="input-form-spacer"></div>

								<div class="row">
									<div class="cell-left-form">
										<%= f.label(:grade_index, 'Grade', class: 'input-label-form') %>							
									</div>
									<div class="cell-right-form">
										
								   		<%= f.select( :grade_index, 
								   				[['-Select-', '0'],								   		
								   				['grade 1', '1'],
								   				['grade 2','2'],
								   				['grade 3','3'],
								   				['grade 4','4']],
								   				{}, 
								   				{ :class => 'form-select', :id => 'select_grade_index', :tabindex => '12' } ) %>
										
									</div>
									<div class="cell-error" id="state_grade_index"><p id="error_age_grade_index"></p></div>      					   							 								      	
								</div>

								<div class="input-form-spacer"></div>

								<div class="row">
									<div class="cell-left-form">
										<%= f.label(:platform_index, 'Platform', class: 'input-label-form') %>							
									</div>
									<div class="cell-right-form">
										
								   		<%= f.select( :platform_index, 
								   				[['-Select-', '0'],								   		
								   				['Apple iOS', '1'],
								   				['Kindle Android','2'],
								   				['Google Android','3'],
								   				['Linux','4'],
								   				['Microsoft','5'],
								   				['HTML','6'],
								   				['Nook','7'],								   				
								   				['Other','8']],
								   				{}, 
								   				{ :class => 'form-select', :id => 'select_platform_index', :tabindex => '13' } ) %>
										
									</div>
									<div class="cell-error" id="state_platform_index"><p id="error_age_platform_index"></p></div>      					   							 								      	
								</div>

								<div class="input-form-spacer"></div>
		
								<div class="row">
									<div class="cell-left-form">
										<%= f.label(:versions, 'Versions', class: 'input-label-form') %>							
									</div>
									<div class="cell-right-form">
										<%= f.text_field :versions, :class => 'input-form', :tabindex => '14', :autofocus => false %>	
									</div>
									<div class="cell-error" id="state_versions"><p id="error_versions"></p></div>      					   							 								      	
								</div>
								
								<div class="input-form-spacer"></div>
		
								<div class="row">
									<div class="cell-left-form">
										<%= f.label(:pricing_model_index, 'Pricing Model', class: 'input-label-form') %>							
									</div>
									<div class="cell-right-form">
										
								   		<%= f.select(:pricing_model_index,
								   				[['-Select-', '0'],								   		
								   				['Free', '1'],
								   				['Premium','2']],
								   				{}, 
								   				{ :class => 'form-select', :id => 'select_pricing_model_index', :tabindex => '15' } ) %>

									</div>
									<div class="cell-error" id="state_pricing_model_index"><p id="error_pricing_model_index"></p></div>      					   							 								      	
								</div>
		
								<div class="input-form-spacer"></div>
								<div class="input-form-spacer"></div>
		
								<div class="row">
									<div style="width: 600px; text-align: center;">
									<%= f.submit 'Submit', class: 'form-btn', :tabindex => '16' %>
									</div>      					   							 	
								</div>      		
													
								<% end %>
								
							</div>
							
						</div>
						
					</div>
			
<% if false %>			
					<div class="table-form" style="width: 600px;">
						<div class="row">
							<div class="cell-100percent" tabindex="1">
			
								<div class="row">
									<div class="cell-left-form" style="vertical-align: top; padding-top: 6px;">
										<!-- <span class="input-label-form">Metadata - upload</span> -->
										<%= f.label(:metadata, 'Metadata', class: 'input-label-form') %>
									</div>
									<div class="cell-right-form">
										<%= form_tag({action: :upload}, multipart: true) do %>
											<table>
												<tr>
													<td>
														<%= file_field_tag 'upload_file', :class => 'input-upload' %>			
													</td>
											 		<td>
														 <!-- submit_tag "Upload", :class => 'submit-upload' --> 
													</td>
												</tr>
											</table> 
										<% end %>
									</div>
								</div>

								<div class="input-form-spacer"></div>
								<div class="input-form-spacer"></div>
		
								<div class="row">
									<div class="cell-left-form"  style="vertical-align: top; padding-top: 6px;">
										<%= f.label(:metadata, 'Metadata', class: 'input-label-form') %>							
									</div>
									<div class="cell-right-form">
										<%= f.text_area :metadata, :class => 'input-form-word-description-1', :tabindex => '17', :autofocus => false %>	
									</div>
									<div class="cell-error" id="state_metadata"><p id="error_metadata"></p></div>      					   							 								      	
								</div>
			
							</div>
						</div>
					</div>			
<% end %>			
			
			
				</div>
				
				<div class="col-right">
					<%= render 'share/dir_publishers_right' %>
				</div>												
			</div>
		</div>
	</div>


					
	<script>


		function formValidate() {
						
			$("#form_admin_new").validate({
			
				submitHandler: function(form) {
					form.submit();
				},
			
				debug: true,
				onkeyup: false,
				focusCleanup: true,
				// invalidClass: "error",
				// validClass: "success",
				
				rules: {
					'admin_user[name_first]': {
						required: true,
						minlength: 1,						
						maxlength: 30						
					},
					'admin_user[name_first]': {
						required: true,
						minlength: 1,
						maxlength: 30												
					},
					'admin_user[email]': {
						required: true,
						maxlength: 100,
						email: true
					},															
					'admin_user[username]': {
						required: true,
						minlength: 1,
						maxlength: 30
					},
					'admin_user[password]': {
						required: true,
						minlength: 4,
						maxlength: 50
					},
					'admin_user[password_confirmation]': {
						equalTo: "#admin_user_password"
					}
				},
				invalidHandler: function(event, validator) {
					var errors = validator.numberOfInvalids();
					if (errors) {
						var message = errors == 1
						? 'You missed 1 field'
						: 'You missed ' + errors + ' fields';
						$("div.errors p").html(message);
						$("div.errors").show();
					} else {
						$("div.errors").hide();
					}
				},				
				messages: {
					'admin_user[name_first]': {
						required: "*",
						maxlength: "First name exceeds 30 characters"							
					},
					'admin_user[name_last]': {
						required: "*",
						maxlength: "Last name exceeds 30 characters"							
					},
					'admin_user[username]': {
						required: "*",
						minlength: "Username at least 2 characters",
						maxlength: "Username exceeds 15 characters"
					},
					'admin_user[password]': {
						required: "*",
						minlength: "Password at least 4 characters long",
						maxlength: "Password exceeds 20 characters"
					},
					'admin_user[password_confirmation]': {
						equalTo: "Passwords must match"
					},
					'admin_user[email]': {
						required: "*",
						maxlength: "Email address exceeds 40 characters",
						email: "Please enter a valid email address"
					}										
				},
				errorContainer: $("div .error_label"),				
				errorPlacement: function(error, element) {
					error.insertAfter('#error_' + element.attr('id'));
					$('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					//$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				},
				// invalid: function(element) {
					// $('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// $('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');					
				// },
				// highlight: function(element) {
					// $('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// //$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				// },
				// unhighlight: function(element) {
					// //$('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// //$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				// },
				error: function(label) {
					$('#' + label.attr('for')).removeClass('required').removeClass('success').addClass('error');
					$('#label_' + label.attr('for')).removeClass('required-label').addClass('error-label');
				},
				success: function(label) {
					$('#' + label.attr('for')).removeClass('required').removeClass('error').addClass('success');
					$('#label_' + label.attr('for')).removeClass('error-label').addClass('required-label');
					
					$('#state_' + label.attr('for')).css ({			
						background: 'url("/assets/submit_form_tick.png") no-repeat 0px 5px'
					});
 
					$('#error_' + label.attr('for')).html("");
				},				
				focus: function(element) {
				 	$('#' + element.attr('id')).removeClass('required').removeClass('error').removeClass('success').addClass('focus');
				}
			});
			
			$.validator.setDefaults({
				
				submitHandler: function() {
					form.submit();
				}
				//$('#user_username');
				
				// submitHandler: function() { alert("submitted!"); }
				// debug: true,
				// onkeyup: false,
				// focusCleanup: true,
				// errorClass: "invalid",
				// validClass: "success"
			});
		}

		$(window).load( function() {
		//$(document).ready(function(){

			// formValidate();

		});
	
	</script>
