
<% provide(:title, 'Event Registration') %>

	<script src="/assets/jquery.validate.js"></script>
			
	<link rel="stylesheet" type="text/css" href="../styles/dropdown.css"/>
	
	<!-- <link rel="stylesheet" type="text/css" href="../styles/styles.css"/> -->					
					

					
					
	<style>
	
	#join-image {
		height: 1560px;
	}
	
	.form-reg-event {
		
		width: 960px;
		height: auto;
		display: none;
						
		/*background-color: rgba(180, 180, 180, 0.94);*/
		
		background-color: rgba(0, 0, 0, 0.8);

		
		/*-moz-box-shadow:5px 5px 40px #fff;
		-webkit-box-shadow:5px 40px 5px #fff;
		box-shadow:5px 5px 40px #CCAE37;*/
	   		   		    
	    transition: box-shadow 3s ease-in-out;				
			
		border-top-left-radius: 10px;
   		border-top-right-radius: 10px;		
		border-bottom-left-radius: 10px;
   		border-bottom-right-radius: 10px;
   		
		position: relative;
		text-align: center;			
		padding-top: 20px;	   			   	
		padding-bottom: 20px;	
	}
	
	/*#joinClose {
		right: 6px;
		top: 6px;
		position: absolute;
		display: block
	}*/
		
	/**:focus {
		outline: none
	}*/
	
	#loading {
		background:url("/assets/icon_loading.gif") no-repeat center center;
		height: 100px; width: 100px;
		position: fixed; left: 47%; top: 50%; z-index: 1000;
		margin: -25px 0 0 -25px;
	}				
				
	
	.input-form {
		font-family: msyh;
		font-size: 16px;
		width: 300px;
		height: 24px;
		border-style:solid;
		border-radius: 6px;
		/*border-color: #13571F; green*/		
		border-color: #005C9E; /*blue*/
		
		
		border-width: 2px;
		padding-left: 6px;
		
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	.input-form:focus {
		/*border-color: #97FF47;*/
		
		color: #fff;
						
		background: url("/assets/submit_form_empty.png") no-repeat 278px 7px;						
				
		-webkit-box-shadow: 0 0 25px #ccc;
		-moz-box-shadow: 0 0 25px #ccc;
		box-shadow: 0 0 25px #ccc;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
	}

	.input-form-dropdown {
		font-family: msyh;
		font-size: 16px;
		width: 310px;
		height: 30px;
		border-style:solid;
		border-radius: 6px;
		/*border-color: #13571F; green*/		
		border-color: #005C9E; /*blue*/
		
		
		border-width: 2px;
		padding-left: 6px;
		
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		
		text-decoration: none;
	}

	.input-form-dropdown:focus {
		/*border-color: #97FF47;*/
		
		color: #fff;
						
		background: url("/assets/submit_form_empty.png") no-repeat 278px 7px;						
				
		-webkit-box-shadow: 0 0 25px #ccc;
		-moz-box-shadow: 0 0 25px #ccc;
		box-shadow: 0 0 25px #ccc;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
		
		text-decoration: none;		
		
		outline: 0;
		
	}

	div .error_label {
	    display: none;
		font-family: msyh;
		font-size: 12px;
		color: #851717;		    
	}

	div .errors {
		font-family: msyh;
		font-size: 16px;
		
		/*color: #851717;*/
				
		color: #FC7777;		
	}

	.select-errors {
		color: #FC7777;
	}


	/*.input-form:invalid {
		color: #851717;
		background: url("/assets/submit_form_cancel.png") no-repeat 216px 7px;									
	}

	.input-form:error {
		color: #851717;
		background: url("/assets/submit_form_cancel.png") no-repeat 216px 7px;									
	}

	.input-form:required {
		color: orange;		
		background: url("/assets/submit_form_asterisk_orange.png") no-repeat 218px 7px;
	}

	.input-form:success {
		color: #ACDDE3;		
		background: url("/assets/submit_form_tick.png") no-repeat 218px 5px;
	}
	
	.input-form:valid {
		color: #ACDDE3;		
		background: url("/assets/submit_form_tick.png") no-repeat 218px 5px;
	}*/	
	
	.input-label {
		font-family: msyh;
		font-size: 16px;
		width: 220px;
		height: 18px;
	}

	/*.input-label:focus {
		color: #43B557;
	}

	.input-label:error {
		color: #851717;
	}

	.input-label:required {
		color: orange;		
	}

	.input-label:success {
		color: orange;		
	}*/		
		
		
		
		
	.success {
		color: #ACDDE3;		
		/*background: url("/assets/submit_form_tick.png") no-repeat 278px 5px;*/		

		background: url("/assets/submit_form_empty.png") no-repeat 278px 1px;		
				
	}		

	.error {
		/*color: #851717;*/		
		color: #FC7777;
		
		background: url("/assets/submit_form_empty.png") no-repeat 278px 1px;		
			
		border-color: #851717; 						
	}

	.required {
		/*color: orange;		*/
				
		/*background: url("/assets/submit_form_asterisk_orange.png") no-repeat 278px 7px;		*/
		
		background: url("/assets/submit_form_empty.png") no-repeat 278px 1px;		
				
	}
	
	.error-label {
		/*color: #851717;*/		
		color: #FC7777;
	}

	.required-label {
		color: orange;
	}
	
	.input-form-spacer {
		height: 16px;
	}

	.input-search-1 {
		background-color: white;
		color: black;
		font-family: Arial;
		width: 200px;
	}
				
	div .cell-right-reg-event {
		display: table-cell;
		width: 330px;
		text-align: left;
		align: top;		
	}

	div .cell-left-reg-event {
		display: table-cell;
		width: 280px;	
		align: top;
		text-align: right;		
		padding-right: 20px;
	}
	
	div .cell-submit-reg-event {
		display: table-cell;
		width: 330px;
		text-align: left;
		align: top;		
	}
		
	div .cell-error-reg-event {
		display: inline-block;
		width: 300px;
		height: 18px;
		vertical-align: bottom;
		text-align: left;
	}
		
	div .cell-right-reg-event-cb {
		display: table-cell;
		width: 430px;
		text-align: left;
		align: top;		
	}

	div .cell-error-reg-event-cb {
		display: inline-block;
		width: 200px;
		height: 18px;
		vertical-align: bottom;
		text-align: left;
	}
		
	.button-border {
		width: 480px; 
		border-style: solid; 
		border-width: 2px; 
		border-color: #005C9E; 
		border-radius: 6px; 
		padding-right: 6px; 
		padding-top: 6px; 
		padding-bottom: 6px;
	}
		
		
		
	#label_cb {
		text-decoration: none;
	}		
	#label_cb:focus {
		text-decoration: underline;
		/*color:#FF9900;*/		
		color: #FFF480;		
		outline: none;
	}		
		
	.cb-errors {
		color: #FC7777;
		font-family: msyh;
		font-size: 14px;
		font-weight: 400;
	}

	/*div .cell-error-reg-commun {
		display: inline-block;
		width: 300px;
		height: 18px;
		vertical-align: bottom;
		text-align: left;
	}*/
	
			
	/*.message {
		height: 120px;
	}*/
			
	</style>					
					
					
	<!-- <script id="dropdown-data-selected" type="text/x-dot-template">
		{{=it.label}}
		<span class="people">{{=it.people}}<br /><span class="desc">People</span></span>
		<i>&darr;</i>
	</script>
	
			
	<script id="dropdown-data" type="text/x-dot-template">
		<div class="dropdown" tabindex="13">
		    <div class="selected">
		      {{=it.selected.label}}
		      
		      <span class="people">{{=it.selected.people}}
		      	<br />
		      	<span class="desc">People</span>			      
		      </span>			      
		      
		      <i>&darr;</i>
		    </div>
		    <ul>
		        {{~it.items :item:index}}
		        
		        
		        <li data-index="{{=index}}">{{=item.label}}<span class="people">{{=item.people}}</span></li>			        
		        
		        {{~}}
		    </ul>
		</div>
	</script> -->		
					
	<!-- <script id="dropdown-data1-selected" type="text/x-dot-template">
		{{=it.label}}<i>&darr;</i>
	</script>
	
	<script id="dropdown-data1" type="text/x-dot-template">
		<div class="dropdown1" id="dropdown1" tabindex="15">
		    <div class="selected">{{=it.selected.label}}<i>&darr;</i></div>
		    <ul>
		        {{~it.items :item:index}}
		        <li data-index="{{=index}}">{{=item.label}}</li>
		        {{~}}
		    </ul>
		</div>
	</script>		 -->
	
	
	<script id="dropdown-data2-selected" type="text/x-dot-template">
		{{=it.label}}<i>&darr;</i>
	</script>
					
	<script id="dropdown-data2" type="text/x-dot-template">
		<div class="dropdown2" id="dropdown2" tabindex="5">
		    <div class="selected">{{=it.selected.label}}<i>&darr;</i></div>
		    <ul>
		        {{~it.items :item:index}}
		        <li data-index="{{=index}}">{{=item.label}}</li>
		        {{~}}
		    </ul>
		</div>
	</script>		
					

<div style="width: 1000px; margin-right: auto; margin-left: auto; background: #fff;">
		
	<header>					

			<%= render 'share/backtotop_2' %>
    	     	
    	<!-- <div class="shadow" style="position: relative; z-index: +2;"> -->    		
			
			<!-- <div style="height: 40px;"> -->
												
			<div class="table-white">

				<!-- <div class="row" style="height: 50px;">
					<div class="cell-100percent">
						<div id="errorContainer">
						    
						</div>		
					</div>
				</div>				 -->
				
								
				<div class="row">
					
					<div class="cell-100" style="padding-left: 24px;">
			  			<img src="../repository/form-welcome.png" alt="form-welcome.png" height="150px" >
			  		</div>
					
					<div class="cell-600">
						<h2 style="font-family: msyh; color: #005187;">
							School executives are welcome to attend in any city free of charge.  
							The attendance fee for private sector company representatives who are 
							not sponsors is <span style="color: #49A3E3;">$125</span> per person per city.   If you mark you are with a company, 
							we will check if you are a sponsor, and if not, send you a credit card form to fill out for processing.  
					</div>
					<!-- <p>
						<button class="btn blue small">Join</button>
					</p>
					<p>
						<button class="btn blue small">Cancel</button>
					</p> -->											
				</div>

				<div class="row" style="height: 30px;">
				</div>
				
			</div>
			
			
		<!-- </div>	 -->
				
		
		<!-- <div id="loading"> </div> -->
		
						
	</header>		
	
</div>


<div style="width: 1000px; margin-right: auto; margin-left: auto;">
	
	<section>

	<div id="join-image" class="shadow-inset">

		
		<div id="form_reg_event" class="form-reg-event" tabindex="1">
			
			<!-- <a id="joinClose" class="btn-joinClose" onclick="hideSignin();"><img src="/assets/submit_form_close.png" width="20" alt="" /></a> --> 			

			<!-- <a id="joinClose" class="btn-joinClose" onclick=""><img src="/assets/submit_form_close.png" width="20" alt="" /></a> -->
 			
    		  <!-- form_for(@user, :id => "join_form", :url => {:controller => "users", :action => "create"}) do |f|  -->
    		      		     		
			<%= form_for( @reg_event, :html => {:id => "form_join"}) do |f| %> 
			  			 
			<!-- = render 'shared/error_messages', object: f.object -->
			 <!-- hidden_field_tag :account_type, @account_type  -->
			 	
			<div class="errors" style="height: 30px;">
				<div class="row">
					<div class="cell-left-reg-event"></div>
					<div class="cell-right-reg-event">
						<p></p>
					</div>
				</div>
			</div>			

			<div class="input-form-spacer"></div>
			<!--name_first-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:name_first, "First Name", :class => 'input-label required-label', :id => 'label_reg_event_name_first') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:name_first, :class => "input-form required", :placeholder => 'First Name', :tabindex => '2') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_name_first"><p id="error_reg_event_name_first"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--name_last-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:name_last, "Last Name", :class => 'input-label required-label', :id => 'label_reg_event_name_last') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:name_last, :class => "input-form required", :placeholder => 'Last Name', :tabindex => '3') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_name_last"><p id="error_reg_event_name_last"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--name_title-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:name_title, "Title", :class => 'input-label required-label', :id => 'label_reg_event_name_title') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:name_title, :class => "input-form required", :placeholder => 'Title', :tabindex => '4') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_name_title"><p id="error_reg_event_name_title"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--type_affiliation-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:type_affiliation, "Institution or Company?", :class => 'input-label required-label', :id => 'label_reg_event_type_affiliation') %>
				</div>
				<div class="cell-right-reg-event">
					
					<select name="reg_event[type_affiliation]" id="reg_event_type_affiliation" class="" style="display: none;" data-template="#dropdown-data2">
					    <option value="0" selected="selected" id="option-default">-Institution or Company?-</option>	
					    <option value="1">Institution</option>
					    <option value="2">Company</option>
					    <option value="3">OTHER</option>
					</select>										
					
					 <!-- f.text_field(:type_affiliation, :class => "input-form required", :placeholder => 'Institution or Company?', :tabindex => '5') -->
					 					 					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_type_affiliation"><p id="error_reg_event_type_affiliation" class="select-errors"></p></div>     
			</div>      		

			<div class="input-form-spacer"></div>
			<!--name_affiliation-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:name_affiliation, "Institution or Company Name", :class => 'input-label required-label', :id => 'label_reg_event_name_affiliation') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:name_affiliation, :class => "input-form required", :placeholder => 'Institution or Company Name', :tabindex => '6') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_name_affiliation"><p id="error_reg_event_name_affiliation"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--address-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:address, "Address", :class => 'input-label required-label', :id => 'label_reg_event_address') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:address, :class => "input-form required", :placeholder => 'Address', :tabindex => '7') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_address"><p id="error_reg_event_address"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--city-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:city, "City", :class => 'input-label required-label', :id => 'label_reg_event_city') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:city, :class => "input-form required", :placeholder => 'City', :tabindex => '8') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_city"><p id="error_reg_event_city"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--state-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:state, "State", :class => 'input-label required-label', :id => 'label_reg_event_state') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:state, :class => "input-form required", :placeholder => 'State', :tabindex => '9') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_state"><p id="error_reg_event_state"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--zip-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:zip, "Zip", :class => 'input-label required-label', :id => 'label_reg_event_zip') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:zip, :class => "input-form required", :placeholder => 'Zip', :tabindex => '10') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_zip"><p id="error_reg_event_zip"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--phone-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:phone, "Phone", :class => 'input-label required-label', :id => 'label_reg_event_phone') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:phone, :class => "input-form required", :placeholder => 'Phone', :tabindex => '11') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_phone"><p id="error_reg_event_phone"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--email-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:email, "Email", :class => 'input-label required-label', :id => 'label_reg_event_email') %>
				</div>
				<div class="cell-right-reg-event">
					<%= f.text_field(:email, :class => "input-form required", :placeholder => 'email@example.com', :tabindex => '12' ) %>
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_email"><p id="error_reg_event_email"></p></div>      	
			</div>      		

			<div class="input-form-spacer"></div>
			<!--email_cc_1 -->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:email_cc_1, "(*optional) cc Email", :class => 'input-label required-label', :id => 'label_reg_event_email_cc_1') %>
				</div>
				<div class="cell-right-reg-event">
					<%= f.text_field(:email_cc_1, :class => "input-form required", :placeholder => 'email@example.com', :tabindex => '13' ) %>
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_email_cc_1"><p id="error_reg_event_email_cc_1"></p></div>      	
			</div>      		

			<div class="input-form-spacer"></div>
			<!--email_cc_2-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:email_cc_2, "(*optional) cc Email", :class => 'input-label required-label', :id => 'label_reg_event_email_cc_2') %>
				</div>
				<div class="cell-right-reg-event">
					<%= f.text_field(:email_cc_2, :class => "input-form required", :placeholder => 'email@example.com', :tabindex => '14' ) %>
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_email_cc_2"><p id="error_reg_event_email_cc_2"></p></div>      	
			</div>      		

			<div class="input-form-spacer"></div>
			
			
			<!-- city_workshop start -->
			<div class="input-form-spacer"></div>
			<div class="input-form-spacer"></div>
			
			<div class="row">
				<div class="cell-left-reg-event">
					 <!-- f.label(:level, "Level", :class => 'input-label required-label', :id => 'label_reg_commun_level')  -->					
					<label class="input-label required-label">Workshops (select all that apply):</label>
				</div>
				
				<div id="border_city_workshop" class="button-border" style="width: 416px;">
					<div class="cell-right-reg-event-cb">

						<div style="height: 2px;"></div>
						<div style="margin-left: 20px;">
							
																							    <!-- 
																							    <option value="1">Charleston/Columbia, SC</option>
																							    <option value="2">Houston, TX</option>
																							    <option value="3">Albuquerque, NM</option>
																							    <option value="4">Chicago, IL</option>
																							    <option value="5">Fresno, CA (Central)</option>
																							    <option value="6">Columbus, OH</option>
																							    <option value="7">San Bernadino, CA</option>
																							    <option value="8">Richmond, VA</option>
																							    <option value="9">Milwaukee, MI</option>
																							    <option value="10">Las Vegas</option>
																							    <option value="11">Newark, NJ</option>
																							    <option value="12">Tucson/Santa Fe, AZ</option>
																							    <option value="13">Tampa, FL</option>
																							    <option value="14">OTHER</option> 
																							    -->							
					    
							
							<%= f.check_box :city_workshop_1 %>
							<label id="label_city_workshop_1" class="input-label required-label label_cb" for="city_workshop_1" onclick="cb_city_workshop('1');" tabindex="15">Charleston/Columbia, SC</label>
							<br>
							<br>
							<%= f.check_box :city_workshop_2 %>
							<label id="label_city_workshop_2" class="input-label required-label label_cb" for="city_workshop_2" onclick="cb_city_workshop('2');" tabindex="16">Houston, TX</label>
							<br>
							<br>
							<%= f.check_box :city_workshop_3 %>
							<label id="label_city_workshop_3" class="input-label required-label label_cb" for="city_workshop_3" onclick="cb_city_workshop('3');" tabindex="17">Albuquerque, NM</label>
							<br>
							<br>
							<%= f.check_box :city_workshop_4 %>
							<label id="label_city_workshop_4" class="input-label required-label label_cb" for="city_workshop_4" onclick="cb_city_workshop('4');" tabindex="18">Chicago, IL</label>
							<br>
							<br>
							<%= f.check_box :city_workshop_5 %>
							<label id="label_city_workshop_5" class="input-label required-label label_cb" for="city_workshop_5" onclick="cb_city_workshop('5');" tabindex="19">Fresno, CA (Central)</label>
							<br>
							<br>
							<%= f.check_box :city_workshop_6 %>
							<label id="label_city_workshop_6" class="input-label required-label label_cb" for="city_workshop_6" onclick="cb_city_workshop('6');" tabindex="20">Columbus, OH</label>
							<br>
							<br>
							<%= f.check_box :city_workshop_7 %>
							<label id="label_city_workshop_7" class="input-label required-label label_cb" for="city_workshop_7" onclick="cb_city_workshop('7');" tabindex="21">San Bernadino, CA</label>
							<br>
							<br>
							<%= f.check_box :city_workshop_8 %>
							<label id="label_city_workshop_8" class="input-label required-label label_cb" for="city_workshop_8" onclick="cb_city_workshop('8');" tabindex="22">Richmond, VA</label>
							<br>
							<br>
							<%= f.check_box :city_workshop_9 %>
							<label id="label_city_workshop_9" class="input-label required-label label_cb" for="city_workshop_9" onclick="cb_city_workshop('9');" tabindex="23">Milwaukee, MI</label>
							<br>
							<br>
							<%= f.check_box :city_workshop_10 %>
							<label id="label_city_workshop_10" class="input-label required-label label_cb" for="city_workshop_10" onclick="cb_city_workshop('10');" tabindex="24">Las Vegas</label>
							<br>
							<br>
							<%= f.check_box :city_workshop_11 %>
							<label id="label_city_workshop_11" class="input-label required-label label_cb" for="city_workshop_11" onclick="cb_city_workshop('11');" tabindex="25">Newark, NJ</label>
							<br>
							<br>
							<%= f.check_box :city_workshop_12 %>
							<label id="label_city_workshop_12" class="input-label required-label label_cb" for="city_workshop_12" onclick="cb_city_workshop('12');" tabindex="26">Tucson/Santa Fe, AZ</label>
							<br>
							<br>
							<%= f.check_box :city_workshop_13 %>
							<label id="label_city_workshop_13" class="input-label required-label label_cb" for="city_workshop_13" onclick="cb_city_workshop('13');" tabindex="27">Tampa, FL</label>
							<br>
							<br>


						</div>
												
					</div>
				</div>
				
				<div style="display: table-cell; padding-left: 20px; padding-bottom: 4px;">
					<div class="cell-error-reg-event-cb" id="state_reg_event_city_workshop"><p id="error_reg_event_city_workshop" class="cb-errors"></p></div>      
				</div>
			</div>      		
			<!-- city_workshop end -->

			<div class="input-form-spacer"></div>
			<div class="input-form-spacer"></div>
			<div class="input-form-spacer"></div>
	
			<div class="row">
				<div class="cell-left-reg-event">
				</div>
				<div class="cell-submit-reg-event" style="padding-left: 0px;">
					<%= f.submit "Submit", :id => 'btn_submit', :class => 'btn submitregevent', :tabindex => '28' %>
				</div>      	
			</div>      		

			<!-- <div class="space-150"></div> -->
				
		<!-- </div> -->
		
		<% end %>

		</div>		
			


		<!-- <div id="mainpage" class="shadow" style="background-color: #fff; height: 500px; position: relative; z-index: +1;"></div> -->

		<!-- <div id="mainpage" class="shadow" style="background-color: #fff; height: 50px; position: relative; top: 550px; z-index: +1;"></div> -->
				
	
	
	</div>
	
	</section>
	
</div>


<div style="height: 300px;"></div>




    <!-- <script src="../scripts/jquery.js"></script> -->


    <script src="../scripts/dot.js"></script>    
    <script src="../scripts/jquery-dropdown-dot.js"></script>


    <!-- <script type="text/javascript">
	    $(document).ready(function() {
			$('select').dropdown({
			    'changed': function(data) {
			        
			    }
			});	    
	    });
    </script> -->
    
	<script>

		function showSignin() {
	
			$("#form_reg_event").fadeIn(1000);

			// $("#form_signin").css({
				// 'visibility': 'visible'
			// }, function(){ fadeIn("slow"); });


			loadSignin();
			
		}
	
		// function showSignin() {
// 	
			// var a = $("#mainpage");
			// var b = $("#mainfooter");
// 		
			// a.animate({
				// "top": "+=50px"
			// }, 1000, function(){ loadSignin(); });
// 		
			// b.animate({
				// "top": "+=50px"
			// }, 1000);
		// }
// 		
		// function hideSignin() {
// 		
			// disableSignin();
// 			
			// var a = $("#mainpage");
			// var b = $("#mainfooter");
// 		
			// a.animate({
				// "top": "-=50px"
			// }, 1000);
// 			
			// b.animate({
				// "top": "-=50px"
			// }, 1000);
		// }

		function loadSignin() {
			glowBoxGold();

			$("#form_reg_event").fadeIn( "slow", function(){$("#form_reg_event").css({'boxShadow': '0 0 30px #0800FA'}) } );

			setTimeout( function(){
				glowBoxBlack();
			}, 2500);
			
			setTimeout( function(){$("#reg_event_name_first").focus();}, 1000);
		}
		
		function disableSignin() {
			$("#form_reg_event").fadeOut("slow");
		}
		
		function centerSignin() {
			
			var a = $("#join-image").width();
			var b = $("#form_reg_event").width();
			
			var l = ((a/2) - (b/2));
			
			$("#form_reg_event").css({
				left : l
			})

			var h1 = $("#join-image").height();

			// var h1 = 2000;
			
			var h2 = (h1 * (0.94));
			
			$("#form_reg_event").css({
				height : h2
			})			

			var t = ((h1/2) - (h2/2)) * (0.5)

			$("#form_reg_event").css({
				top : t
			})
						
		}

		function glowBoxGold() {
			$("#form_reg_event").css({
				'boxShadow': '0 0 30px #CCAE37'
			})
		}

		function glowBoxBlack() {
			$("#form_reg_event").css({
				'boxShadow': '0 0 30px #000'
			})
		}

		function glowBoxBlue() {
			$("#form_reg_event").css({				
				'boxShadow': '0 0 5px #ACDDE3'
			})
		}
		

		validatorCalled = false;
		var val = null;
		//var formval = null;
		
		function formValidate() {
						
			//formval = $("#form_join").validate({

			var selectValid2;
			var validCityWorkshop;
			
			$("#form_join").validate({
			
				submitHandler: function(form) {

					//form.submit();
					
					// selectValid1 = validateSelect1();
					selectValid2 = validateSelect2();
					validCityWorkshop = validateCityWorkshop();
					
					
					//var s = 'selectValid1 = ' + selectValid1 + ' selectValid2 = ' + selectValid2;
					//alert(s);
					
					// if ( selectValid1 && selectValid2 ) {
					if ( selectValid2 && validCityWorkshop ) {						
						form.submit();
					}
					else
					{
						var errors = 0;
						// if (!selectValid1) {
							// errors += 1;
						// }
						if (!selectValid2) {
							errors += 1;
						}			
						if ( !validCityWorkshop ) {
							errors += 1;
						}					
						if (errors) {
							var message = errors == 1
							? '1 required field missed'
							: errors + ' required fields missed';
							$("div.errors p").html(message);
							$("div.errors").show();
							$("#btn_submit").blur();
							$("#form_reg_event").focus();						
						} else {
							$("div.errors").hide();
						}
					}
				},
			
				debug: true,
				onkeyup: false,
				focusCleanup: true,
				focusInvalid: false,
				// invalidClass: "error",
				// validClass: "success",
				rules: {
					'reg_event[name_first]': {
						required: true,
						minlength: 1,						
						maxlength: 50						
					},
					'reg_event[name_last]': {
						required: true,
						minlength: 1,						
						maxlength: 50						
					},
					'reg_event[name_title]': {
						required: true,
						minlength: 1,						
						maxlength: 50						
					},
					'reg_event[type_affiliation]': {
						required: true,
						minlength: 1,						
						maxlength: 50						
					},
					'reg_event[name_affiliation]': {
						required: true,
						minlength: 1,						
						maxlength: 50						
					},
					'reg_event[address]': {
						required: true,
						minlength: 1,						
						maxlength: 50						
					},
					'reg_event[city]': {
						required: true,
						minlength: 1,						
						maxlength: 50						
					},
					'reg_event[state]': {
						required: true,
						minlength: 1,						
						maxlength: 50						
					},
					'reg_event[zip]': {
						required: true,
						minlength: 1,						
						maxlength: 50						
					},
					'reg_event[phone]': {
						required: true,
						minlength: 1,						
						maxlength: 50						
					},
					'reg_event[email]': {
						required: true,
						maxlength: 100,
						email: true
					},
					'reg_event[email_cc_1]': {
						required: false,
						maxlength: 100,
						email: true
					},
					'reg_event[email_cc_2]': {
						required: false,
						maxlength: 100,
						email: true
					}

					// 'reg_event[city_workshop]': {
						// required: true,
						// minlength: 1,						
						// maxlength: 50						
					// }
				},
				invalidHandler: function(event, validator) {
					validatorCalled = true;					
					val = validator;
					var errors = validator.numberOfInvalids();
					// if (!validateSelect1()) {
						// errors += 1;
					// }
					if (!validateSelect2()) {
						errors += 1;
					}		
					if ( !validateCityWorkshop() ) {
						errors += 1;
					}													
					if (errors) {
						var message = errors == 1
						? '1 required field missed'
						: errors + ' required fields missed';
						$("div.errors p").html(message);
						$("div.errors").show();
						$("#btn_submit").blur();
						$("#form_reg_event").focus();						
					} else {
						$("div.errors").hide();
					}
				},			
				messages: {
					'reg_event[name_first]': {
						required: "*",
						maxlength: "Name exceeds 50 characters"							
					},
					'reg_event[name_last]': {
						required: "*",
						maxlength: "Name exceeds 50 characters"							
					},
					'reg_event[name_title]': {
						required: "*",
						maxlength: "Name exceeds 50 characters"							
					},
					'reg_event[type_affiliation]': {
						required: "*",
						maxlength: "Name exceeds 50 characters"							
					},
					'reg_event[name_affiliation]': {
						required: "*",
						maxlength: "Name exceeds 50 characters"							
					},
					'reg_event[address]': {
						required: "*",
						maxlength: "Name exceeds 50 characters"							
					},
					'reg_event[city]': {
						required: "*",
						maxlength: "Name exceeds 50 characters"							
					},
					'reg_event[state]': {
						required: "*",
						maxlength: "Name exceeds 50 characters"							
					},
					'reg_event[zip]': {
						required: "*",
						maxlength: "Name exceeds 50 characters"							
					},
					'reg_event[phone]': {
						required: "*",
						maxlength: "Name exceeds 50 characters"							
					},
					'reg_event[email]': {
						required: "*",
						maxlength: "Email address exceeds 100 characters",
						email: "Invalid form on email address"
					},
					'reg_event[email_cc_1]': {
						required: "*",
						maxlength: "Email address exceeds 100 characters",
						email: "Invalid form on email address"
					},					
					'reg_event[email_cc_2]': {
						required: "*",
						maxlength: "Email address exceeds 100 characters",
						email: "Invalid form on email address"
					}					
										
					// 'reg_event[city_workshop]': {
						// required: "*",
						// maxlength: "Subject exceeds 50 characters"							
					// }
				},
				errorContainer: $("div .error_label"),				
				errorPlacement: function(error, element) {
					error.insertAfter('#error_' + element.attr('id'));
					$('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					//$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				},
				// invalid: function(element) {
				// },
				// highlight: function(element) {
					// $('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// //$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				// },
				// unhighlight: function(element) {
					// //$('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// //$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				// },
				error: function(label) {
					$('#' + label.attr('for')).removeClass('required').removeClass('success').addClass('error');
					$('#label_' + label.attr('for')).removeClass('required-label').addClass('error-label');
					
				},
				success: function(label) {
					$('#' + label.attr('for')).removeClass('required').removeClass('error').addClass('success');
					$('#label_' + label.attr('for')).removeClass('error-label').addClass('required-label');
					
					$('#state_' + label.attr('for')).css ({			
						background: 'url("/assets/submit_form_tick.png") no-repeat 0px 5px'
					});

					$('#error_' + label.attr('for')).html("");
				},				
				focus: function(element) {
				 	//$('#' + element.attr('id')).removeClass('required').removeClass('error').removeClass('success').addClass('focus');
				 	
				 	//$('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('focus');
				}
			});

			// $.validator.setDefaults({
				// submitHandler: function() {
					// form.submit();
				// }
			// });
		}


		function updateErrorCount () {

			//val = formval.validator;
			
			//alert('updateErrorCount');
			
			if ((val !== undefined) && (val !== null)) {

				var errors = val.numberOfInvalids();
				
				// if (!validateSelect1()) {
					// errors += 1;
				// }
				if (!validateSelect2()) {
					errors += 1;
				}
				if ( !validateCityWorkshop() ) {
					errors += 1;
				}					
				
				if (errors) {
					var message = errors == 1
					? '1 required field missed'
					: errors + ' required fields missed';
					$("div.errors p").html(message);
					$("div.errors").show();
				} else {
					$("div.errors").hide();
				}
				
				val.reset();
			}					
		}
		
		function errorMessageUpdate( element ) {
			
			updateErrorCount();

			if ($('#' + element).hasClass('error')) {
				if ($('#' + element).val().length > 0) {
					$('#' + element).removeClass('required').removeClass('success').addClass('error');
					$('#label_' + element).removeClass('required-label').addClass('error-label');
				}
				else {
					$('#' + element).removeClass('success').removeClass('error').addClass('required');
					$('#label_' + element).removeClass('success-label').removeClass('error-label').addClass('required-label');				
					
					$('#' + element).css ({			
						'border-color' : '#851717'
					});
					
					$('#state_' + element).css ({			
						background: 'url("/assets/submit_form_empty.png") no-repeat 0px 1px'
					});					
				}
			}
			else {			
				if ($('#' + element).val().length > 0) {
					$('#' + element).removeClass('required').removeClass('error').addClass('success');
					$('#label_' + element).removeClass('error-label').addClass('required-label');
					
					$('#' + element).css ({			
						'border-color' : '#005C9E'
					});					
				}
				else {
					$('#' + element).removeClass('success').removeClass('error').addClass('required');
					$('#label_' + element).removeClass('success-label').removeClass('error-label').addClass('required-label');		
					
					$('#state_' + element).css ({			
						background: 'url("/assets/submit_form_empty.png") no-repeat 0px 1px'
					});
									
				}
			}
		}

		$("#reg_event_name_first").on("blur", function () {
			errorMessageUpdate('reg_event_name_first');
		});

		$("#reg_event_name_last").on("blur", function () {
			errorMessageUpdate('reg_event_name_last');
		});

		$("#reg_event_name_title").on("blur", function () {
			errorMessageUpdate('reg_event_name_title');
		});

		$("#reg_event_type_affiliation").on("blur", function () {
			errorMessageUpdate('reg_event_type_affiliation');
		});

		$("#reg_event_name_affiliation").on("blur", function () {
			errorMessageUpdate('reg_event_name_affiliation');
		});

		$("#reg_event_address").on("blur", function () {
			errorMessageUpdate('reg_event_address');
		});

		$("#reg_event_city").on("blur", function () {
			errorMessageUpdate('reg_event_city');
		});

		$("#reg_event_state").on("blur", function () {
			errorMessageUpdate('reg_event_state');
		});

		$("#reg_event_zip").on("blur", function () {
			errorMessageUpdate('reg_event_zip');
		});

		$("#reg_event_phone").on("blur", function () {
			errorMessageUpdate('reg_event_phone');
		});

		$("#reg_event_email").on("blur", function () {
			errorMessageUpdate('reg_event_email');
		});

		$("#reg_event_email_cc_1").on("blur", function () {
			errorMessageUpdate('reg_event_email_cc_1');
		});

		$("#reg_event_email_cc_2").on("blur", function () {
			errorMessageUpdate('reg_event_email_cc_2');
		});

		// $("#reg_event_city_workshop").on("blur", function () {
			// updateErrorCount();
		// });
// 
		// $("#reg_event_type_affiliation").on("focusout", function () {
			// alert('focusout');
			// updateErrorCount();
		// });
// 
		// $(".dropdown2").on("focusout", function () {
			// alert('focusout');
			// updateErrorCount();
		// });
// 
		// $(".dropdown2").on("blur", function () {
			// alert('blur');
			// updateErrorCount();
		// });



		//var selectValid1 = false;
		var selectValid2 = false;
		
		// function selectStatus1() {
// 			
			// if ($("#reg_event_city_workshop option:selected").val() == '0') {
				// $('#state_reg_event_city_workshop').css ({			
					// background: 'url("/assets/submit_form_empty.png") no-repeat 0px 5px'
				// });
// 				
				// $('.dropdown1').css ({			
					// color: '#838383'
				// });
// 				
				// selectValid1 = false;						
			// }
			// else {
				// $('#state_reg_event_city_workshop').css ({			
					// background: 'url("/assets/submit_form_tick.png") no-repeat 0px 5px'
				// });
// 				
				// $('.dropdown1').css ({			
					// color: '#ACDDE3'
				// });			
// 		
				// if( !selectValid1 ) {
					// $('.dropdown1').css ({			
						// 'border-color' : '#005C9E'
					// });
// 					
					// $('.dropdown1 > .selected i').css ({			
						// 'color' : '#005C9E',
						// 'border-left-color' : '#005C9E' 
					// });
// 					
					// $('#error_reg_event_city_workshop').html("");					
				// }
// 				
				// selectValid1 = true;		
			// }
// 			
			// updateErrorCount();			
		// }

		function selectStatus2() {
			
			if ($("#reg_event_type_affiliation option:selected").val() == '0') {
				$('#state_reg_event_type_affiliation').css ({			
					background: 'url("/assets/submit_form_empty.png") no-repeat 0px 5px'
				});
				
				$('.dropdown2').css ({			
					color: '#838383'
				});
				
				selectValid2 = false;						
			}
			else {
				$('#state_reg_event_type_affiliation').css ({			
					background: 'url("/assets/submit_form_tick.png") no-repeat 0px 5px'
				});
				
				$('.dropdown2').css ({			
					color: '#ACDDE3'
				});			
		
				if( !selectValid2 ) {
					$('.dropdown2').css ({			
						'border-color' : '#005C9E'
					});
					
					$('.dropdown2 > .selected i').css ({			
						'color' : '#005C9E',
						'border-left-color' : '#005C9E' 
					});
					
					$('#error_reg_event_type_affiliation').html("");					
				}
				
				selectValid2 = true;		
			}
			
			updateErrorCount();			
		}

		// function validateSelect1() {
// 			
			// if ($("#reg_event_city_workshop option:selected").val() == '0') {
				// // $('#state_reg_event_city_workshop').css ({			
					// // background: 'url("/assets/submit_form_empty.png") no-repeat 0px 5px'
				// // });
// // 				
				// // $('.dropdown').css ({			
					// // color: '#838383'
				// // });
// 				
				// $('.dropdown1').css ({			
					// 'border-color' : '#851717'
				// });
// 				
				// $('.dropdown1 > .selected i').css ({			
					// 'color' : '#851717',
					// 'border-left-color' : '#851717' 
				// });
// 		
				// $('#error_reg_event_city_workshop').html("*");
// 		
				// selectValid1 = false;		
			// }
			// else {
				// $('.dropdown1').css ({			
					// 'border-color' : '#005C9E'
				// });
// 				
				// $('.dropdown1 > .selected i').css ({			
					// 'color' : '#005C9E',
					// 'border-left-color' : '#005C9E' 
				// });
// 
				// $('#error_reg_event_city_workshop').html("");
// 				
				// selectValid1 = true;		
			// }
// 			
			// return selectValid1;
		// }

		function validateSelect2() {
			
			if ($("#reg_event_type_affiliation option:selected").val() == '0') {
				// $('#state_reg_event_city_workshop').css ({			
					// background: 'url("/assets/submit_form_empty.png") no-repeat 0px 5px'
				// });
// 				
				// $('.dropdown').css ({			
					// color: '#838383'
				// });
				
				$('.dropdown2').css ({			
					'border-color' : '#851717'
				});
				
				$('.dropdown2 > .selected i').css ({			
					'color' : '#851717',
					'border-left-color' : '#851717' 
				});
		
				$('#error_reg_event_type_affiliation').html("*");
		
				selectValid2 = false;		
			}
			else {
				$('.dropdown2').css ({			
					'border-color' : '#005C9E'
				});
				
				$('.dropdown2 > .selected i').css ({			
					'color' : '#005C9E',
					'border-left-color' : '#005C9E' 
				});

				$('#error_reg_event_type_affiliation').html("");
				
				selectValid2 = true;		
			}
			
			return selectValid2;
		}

// .dropdown > .selected i {
    // position: absolute;
    // top: -2px;
    // right: 8px;
    // bottom: 0;
    // width: 40px;
    // line-height: 40px;
    // border-left: 2px solid #005C9E;
    // text-align: center;
    // /*color: #999;*/
//        
    // color: #005C9E;
//     
// }


		function cb_city_workshop(caller) {
			var cb = "#reg_event_city_workshop_" + caller;
			if($(cb).is(':checked')) {
				$(cb).prop('checked', false);
			}
			else {
				$(cb).prop('checked', true);
			}
			validateCityWorkshop();			
		}



		function validateCityWorkshop() {

			var isChecked = false;
			var cb;
			for (var i = 1; i < 14; i++ ) {
				cb = "#reg_event_city_workshop_" + i;
				if($(cb).is(':checked')) {
					isChecked = true;
				}
						
			}
			
			if ( !isChecked ) {
				if (validatorCalled ) {
					$("#border_city_workshop").css ({
						'border-color' : '#851717'
					});
					
					$('#error_reg_event_city_workshop').html("*<br>Please select an option");
				}
	
				$("#state_reg_event_city_workshop").css ({			
					background: 'url("/assets/submit_form_empty.png") no-repeat 0px 5px'
				});				
			}
			else {
				$("#border_city_workshop").css ({
					'border-color' : '#005C9E'
				});
				
				$('#error_reg_event_city_workshop').html("");
				
				$("#state_reg_event_city_workshop").css ({			
					background: 'url("/assets/submit_form_tick.png") no-repeat 0px 5px'
				});
			}

			// if ( validatorCalled ) {
				// updateErrorCount();
			// }

			
			return isChecked;
		}


		$(window).load( function() {
		//$(document).ready(function(){
			
			var image = '../backgrounds/comp025.jpg';

			// var image = '../backgrounds/comp020.gif';

			// var image = '../backgrounds/multi134.jpg';

			// var image = '../backgrounds/background-image-proxy.jpeg';


			img = $('<img />');
			
			img.bind('load', function() {
				
			    // $('#loading').fadeOut(1000);

				setTimeout( function(){
					centerSignin();
					showSignin();
					formValidate();
				}, 500);
			});
 			
			img.attr('src', image);
 			
			$('#join-image').css({
				//background: '#F1F2E1 url(' + image + ') no-repeat right top'
				background: '#F1F2E1 url(' + image + ') repeat right top'
				
			})
				
				
			$('select').dropdown({
			    'changed': function(data) {
			        // selectStatus1();
			        selectStatus2();	
			    }
			});	    
				
				
			// var lb;
			// for (var i = 1; i < 14; i++ ) {
				// lb = "#label_city_workshop_" + i;
	    		// $(lb).keypress(function(e){
	      			// if(e.keyCode==13)
	      			// $(lb).click();
	    		// });				
			// }
				
				
    		$('#label_city_workshop_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_1').click();
    		});				
    		$('#label_city_workshop_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_2').click();
    		});				
    		$('#label_city_workshop_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_3').click();
    		});				
    		$('#label_city_workshop_4').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_4').click();
    		});				
    		$('#label_city_workshop_5').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_5').click();
    		});				
    		$('#label_city_workshop_6').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_6').click();
    		});				
    		$('#label_city_workshop_7').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_7').click();
    		});				
    		$('#label_city_workshop_8').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_8').click();
    		});				
    		$('#label_city_workshop_9').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_9').click();
    		});				
    		$('#label_city_workshop_10').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_10').click();
    		});				
    		$('#label_city_workshop_11').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_11').click();
    		});				
    		$('#label_city_workshop_12').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_12').click();
    		});				
    		$('#label_city_workshop_13').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_13').click();
    		});				

			$('input:checkbox').on('change', function() {
				validateCityWorkshop();
			});
				
			// $(window).bind("load", function() {
			    // $('#loading').fadeOut(2000);
			// });
				
			// $("#form_signin").fadeOut();
			
		});
	
	</script>
	