
<% provide(:title, 'Event Registration') %>

	<script src="/assets/jquery.validate.js"></script>
			
	<link rel="stylesheet" type="text/css" href="../styles/dropdown.css"/>
					
					
	<style>
	
	/*@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);*/
	
	#join-image {
		height: 1990px;
	}
	.form-reg-event {
		width: 960px;
		height: auto;
		display: none;
		background-color: rgba(0, 0, 0, 0.8);
	    transition: box-shadow 3s ease-in-out;				
		border-top-left-radius: 10px;
   		border-top-right-radius: 10px;		
		border-bottom-left-radius: 10px;
   		border-bottom-right-radius: 10px;
		position: relative;
		text-align: center;			
		padding-top: 20px;	   			   	
		padding-bottom: 20px;
	}
	#loading {
		background:url("/assets/icon_loading.gif") no-repeat center center;
		height: 100px; width: 100px;
		position: fixed; left: 47%; top: 50%; z-index: 1000;
		margin: -25px 0 0 -25px;
	}				
	.input-form {
		font-family: msyh;
		font-size: 16px;
		width: 300px;
		height: 24px;
		border-style:solid;
		border-radius: 6px;
		border-color: #005C9E; /*blue*/
		border-width: 2px;
		padding-left: 6px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	.input-form:focus {
		color: #fff;
		background: url("/assets/submit_form_empty.png") no-repeat 278px 7px;						
		-webkit-box-shadow: 0 0 25px #ccc;
		-moz-box-shadow: 0 0 25px #ccc;
		box-shadow: 0 0 25px #ccc;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
	}
	.input-form-dropdown {
		font-family: msyh;
		font-size: 16px;
		width: 310px;
		height: 30px;
		border-style:solid;
		border-radius: 6px;
		border-color: #005C9E; /*blue*/
		border-width: 2px;
		padding-left: 6px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		text-decoration: none;
	}
	.input-form-dropdown:focus {
		color: #fff;
		background: url("/assets/submit_form_empty.png") no-repeat 278px 7px;						
		-webkit-box-shadow: 0 0 25px #ccc;
		-moz-box-shadow: 0 0 25px #ccc;
		box-shadow: 0 0 25px #ccc;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
		text-decoration: none;		
		outline: 0;
	}
	div .error_label {
	    display: none;
		font-family: msyh;
		font-size: 12px;
		color: #851717;		    
	}
	div .errors {
		font-family: msyh;
		font-size: 16px;
		color: #FC7777;		
	}
	.select-errors {
		color: #FC7777;
	}
	.input-label {
		font-family: msyh;
		font-size: 16px;
		width: 220px;
		height: 18px;
	}
	.success {
		color: #ACDDE3;		
		background: url("/assets/submit_form_empty.png") no-repeat 278px 1px;		
	}		
	.error {
		color: #FC7777;
		background: url("/assets/submit_form_empty.png") no-repeat 278px 1px;		
		border-color: #851717; 						
	}
	.required {
		background: url("/assets/submit_form_empty.png") no-repeat 278px 1px;		
	}
	.error-label {
		/*color: #851717;*/		
		color: #FC7777;
	}
	.required-label {
		color: orange;
	}
	.input-form-spacer {
		height: 16px;
	}
	.input-search-1 {
		background-color: white;
		color: black;
		font-family: Arial;
		width: 200px;
	}
	div .cell-right-reg-event {
		display: table-cell;
		/*width: 330px;*/
		width: 330px;
		text-align: left;
		align: top;		
	}
	div .cell-left-reg-event {
		display: table-cell;
		/*width: 280px;*/
		width: 350px;	
		align: top;
		text-align: right;		
		padding-right: 20px;
	}
	div .cell-submit-reg-event {
		display: table-cell;
		width: 330px;
		text-align: left;
		align: top;		
	}
	div .cell-error-reg-event {
		display: inline-block;
		/*width: 300px;*/
		width: 230px;
		height: 18px;
		vertical-align: bottom;
		text-align: left;
	}
	div .cell-right-reg-event-cb {
		display: table-cell;
		width: 430px;
		text-align: left;
		align: top;		
	}
	div .cell-error-reg-event-cb {
		display: inline-block;
		width: 200px;
		height: 18px;
		vertical-align: bottom;
		text-align: left;
	}
	.button-border {
		width: 480px;
		border-style: solid; 
		border-width: 2px; 
		border-color: #005C9E; 
		border-radius: 6px; 
		padding-right: 6px; 
		padding-top: 6px; 
		padding-bottom: 6px;
	}
	#label_cb {
		text-decoration: none;
	}		
	#label_cb:focus {
		text-decoration: underline;
		/*color:#FF9900;*/		
		color: #FFF480;		
		outline: none;
	}		
	.cb-errors {
		color: #FC7777;
		font-family: msyh;
		font-size: 14px;
		font-weight: 400;
	}
	input[type=checkbox] {
	    display:none;
	}			
	input[type=radio] {
	    display:none;
	}			
	.cb-button {
		width: 20px;
		height: 21px; 
		border-style: solid; 
		border-width: 2px; 
		border-color: #005C9E; 
		border-radius: 6px;		
		margin-bottom: -8px;
		display: inline-block;
		margin-right: 6px;
	}
	.cb-background {
		/*background-color: #ACDDE3;*/
		background-color: #0FEAFF;
		/*background-image: url("/assets/checkbox_tick.png");		
		background-repeat: no-repeat;
		background-position: 2px 3px;*/
	}	
	.cb-align {
		vertical-align: top;
	}		
	.cb-pad {
		padding-top: 5px;		
	}
	.cb-col-1 {
		width: 0px;
	}
	.cb-col-2 {
		width: 200px;
		color: orange;		
	}
	.cb-col-3 {
		width: 80px;
	}
	.cb-col-4 {
		width: 200px;
		color: orange;				
	}
	.cb-valign {
		margin-bottom: 1px;
	}
	.cb-spacer {
		height: 20px;
	}
	/*div .cell-right-reg-event-wide {
		display: table-cell;
		width: 500px;
		text-align: left;
		align: top;		
	}*/
	div .cell-left-reg-event-narrow {
		display: table-cell;
		/*width: 100px;*/
		width: 170px;	
		align: top;
		text-align: right;		
		padding-right: 20px;
	}
	div .cell-center-reg-event {
		display: table-cell;
		width: 700px;	
		align: top;
		text-align: right;		
		padding-right: 20px;
	}
	div .cell-right-reg-event-cb-wide {
		display: table-cell;
		width: 800px;
		text-align: left;
		align: top;		
	}
	.input-label-wide {
		font-family: msyh;
		font-size: 16px;
		width: 700px;
		height: 18px;
	}
	.rd-button {
		width: 18px;
		height: 18px; 
		border-style: solid; 
		border-width: 2px; 
		border-color: #005C9E; 
		border-radius: 18px;		
		margin-bottom: -4px;
		display: inline-block;
		margin-right: 0px;
	}
	.rd-background {
		background-image: url("/assets/radio_tick.png");		
		background-repeat: no-repeat;
		background-position: 1px 1px;
	}	
	.sessions {
		font-size: 12px;	
	}
	.text-form-top {
		color: #023363;
		font-family: msyh;
		font-size: 16px;
		line-height: 1.1em;
	}
	.submitregevent.btn {
		background-color: inherit;
		color: #3A8EC9;
		font-family: msyh;
		font-size: 16px;
		width: 310px;
		height: 30px;
		border-style:solid;
		border-radius: 6px;
		border-color: #005C9E;
		border-width: 2px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;		
	}
	.submitregevent.btn:focus {
		border-color: #47FFFF;
		color: #18C9C9;
		-webkit-box-shadow: 0 0 25px #ccc;
		-moz-box-shadow: 0 0 25px #ccc;
		box-shadow: 0 0 25px #ccc;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05)
	}		
	h2.form-header {
		/*font-family: msyh;*/
		font-family: 'QuattrocentoSans-Regular', sans-serif;		
		font-size: 20px;
		color: #555;	
	}
	
	
	</style>					
					
	
	<script id="dropdown-data1-selected" type="text/x-dot-template">
		{{=it.label}}<i>&darr;</i>
	</script>
	
	<script id="dropdown-data1" type="text/x-dot-template">
		<div class="dropdown1" id="dropdown1" tabindex="5">
		    <div class="selected">{{=it.selected.label}}<i>&darr;</i></div>
		    <ul>
		        {{~it.items :item:index}}
		        <li data-index="{{=index}}">{{=item.label}}</li>
		        {{~}}
		    </ul>
		</div>
	</script>		


<ul class="lc-inline">
<li>
<%= render 'share/eventpages_tabs' %>
<li>

<li>
<div id="tab-container">

<div style="width: 1000px; margin-right: auto; margin-left: auto; background: #fff;">

		
	<header>					

			<%= render 'share/backtotop_2' %>
    	     	
			<div class="table-white">

				<div class="row">
					<div class="cell-800">
						<div style="background: #3D3D3D; width: 100%; text-align: center; height: 40px; padding-top: 15px; border: 4px solid #41B737;">
							<span style="font-family: msyhb; font-size: 22px; font-weight: 400; color: #41B737;">LIVE EVENTS REGISTRATION</span>
						</div>						
					</div>
				</div>		

				<div style="height: 20px;"></div>
								
				<div class="row">
					
					<div class="cell-700" style="padding-left: 32px;">
						<h2 class="form-header">
							<a href="/ContactUs"><img src="../repository/events/events-reg-form-1.png" alt="events-reg-form-1.png" height="150px" align="left" ></a>
							<strong>WELCOME to REGISTRATION </strong>for Learning Counsel events! School executives and educators are welcome to attend
							 in any city FREE of charge representing their institution.  
						</h2>
						<br>
						<h2 class="form-header">
							<!-- <span style="color: #000"><strong>Schools & Districts: </strong></span> --> 
							Register for upcoming events and we'll keep you posted on any changes, dates and final venues via email. 
							You must be present at the event to win any drawing. 							
						</h2>
						<br>						
						<h2 class="form-header">
							If you are a private sector registrant, please note that there is an attendance fee for you unless your company is already sponsoring. 
							We will contact you after your registration.  
						</h2>
					</div>
				</div>

				<a name="anchor1"></a>    		      		     		

				<div class="row" style="height: 30px;"></div>
				
			</div>
		
		<div id="loading"> </div>
						
	</header>		
	
</div>


<div style="width: 1000px; margin-right: auto; margin-left: auto;">
	
	<section>

	<div id="join-image" class="shadow-inset">

		
		<div id="form_reg_event" class="form-reg-event" tabindex="1">
			
			<%= form_for( @reg_event, :html => {:id => "form_join"}) do |f| %> 
			  			 
			<div class="errors" style="height: 50px;">
				<div class="row">
					<div class="cell-left-reg-event"></div>
					<div class="cell-right-reg-event"></div>
					<div class="cell-error-reg-event"></div>					
				</div>
			</div>			

			<div class="input-form-spacer"></div>
			<!--name_first-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:name_first, "First Name", :class => 'input-label required-label', :id => 'label_reg_event_name_first') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:name_first, :class => "input-form required", :placeholder => 'First Name', :tabindex => '2') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_name_first"><p id="error_reg_event_name_first"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--name_last-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:name_last, "Last Name, Mr, Mrs, Ms, Dr", :class => 'input-label required-label', :id => 'label_reg_event_name_last') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:name_last, :class => "input-form required", :placeholder => 'Last Name', :tabindex => '3') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_name_last"><p id="error_reg_event_name_last"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--name_title-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:name_title, "Position Title", :class => 'input-label required-label', :id => 'label_reg_event_name_title') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:name_title, :class => "input-form required", :placeholder => 'Title', :tabindex => '4') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_name_title"><p id="error_reg_event_name_title"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--type_affiliation-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:type_affiliation, "Institution or Company?", :class => 'input-label required-label', :id => 'label_reg_event_type_affiliation') %>
				</div>
				<div class="cell-right-reg-event">
					
					<select name="reg_event[type_affiliation]" id="reg_event_type_affiliation" class="" style="display: none;" data-template="#dropdown-data1">
					    <option value="0" selected="selected" id="option-default">-Institution or Company?-</option>	
					    <option value="1">Institution</option>
					    <option value="2">Company</option>
					    <option value="3">OTHER</option>
					</select>										
					 					 					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_type_affiliation"><p id="error_reg_event_type_affiliation" class="select-errors"></p></div>     
			</div>      		

			<div class="input-form-spacer"></div>
			<!--name_affiliation-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:name_affiliation, "Institution or Company Name", :class => 'input-label required-label', :id => 'label_reg_event_name_affiliation') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:name_affiliation, :class => "input-form required", :placeholder => 'Institution or Company Name', :tabindex => '6') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_name_affiliation"><p id="error_reg_event_name_affiliation"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--address-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:address, "Address", :class => 'input-label required-label', :id => 'label_reg_event_address') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:address, :class => "input-form required", :placeholder => 'Address', :tabindex => '7') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_address"><p id="error_reg_event_address"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--city-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:city, "City", :class => 'input-label required-label', :id => 'label_reg_event_city') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:city, :class => "input-form required", :placeholder => 'City', :tabindex => '8') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_city"><p id="error_reg_event_city"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--state-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:state, "State", :class => 'input-label required-label', :id => 'label_reg_event_state') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:state, :class => "input-form required", :placeholder => 'State', :tabindex => '9') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_state"><p id="error_reg_event_state"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--zip-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:zip, "Zip", :class => 'input-label required-label', :id => 'label_reg_event_zip') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:zip, :class => "input-form required", :placeholder => 'Zip', :tabindex => '10') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_zip"><p id="error_reg_event_zip"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--phone-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:phone, "Phone", :class => 'input-label required-label', :id => 'label_reg_event_phone') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:phone, :class => "input-form required", :placeholder => 'Phone', :tabindex => '11') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_phone"><p id="error_reg_event_phone"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--phone_mobile-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:phone_mobile, "(*optional) Mobile Phone<br>for a text reminder<br>before the Event".html_safe, :class => 'input-label required-label', :id => 'label_reg_event_phone_mobile') %>
				</div>
				<div class="cell-right-reg-event">
					 <%= f.text_field(:phone_mobile, :class => "input-form required", :placeholder => 'Mobile Phone', :tabindex => '12') %>					 
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_phone_mobile"><p id="error_reg_event_phone_mobile"></p></div>      					   
			</div>      		

			<div class="input-form-spacer"></div>
			<!--email-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:email, "Email", :class => 'input-label required-label', :id => 'label_reg_event_email') %>
				</div>
				<div class="cell-right-reg-event">
					<%= f.text_field(:email, :class => "input-form required", :placeholder => 'email@example.com', :tabindex => '13' ) %>
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_email"><p id="error_reg_event_email"></p></div>      	
			</div>      		

			<div class="input-form-spacer"></div>
			<!--email_cc_1 -->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:email_cc_1, "(*optional) cc Email", :class => 'input-label required-label', :id => 'label_reg_event_email_cc_1') %>
				</div>
				<div class="cell-right-reg-event">
					<%= f.text_field(:email_cc_1, :class => "input-form required", :placeholder => 'email@example.com', :tabindex => '14' ) %>
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_email_cc_1"><p id="error_reg_event_email_cc_1"></p></div>      	
			</div>      		

			<div class="input-form-spacer"></div>
			<!--email_cc_2-->
			<div class="row">
				<div class="cell-left-reg-event">
					<%= f.label(:email_cc_2, "(*optional) cc Email", :class => 'input-label required-label', :id => 'label_reg_event_email_cc_2') %>
				</div>
				<div class="cell-right-reg-event">
					<%= f.text_field(:email_cc_2, :class => "input-form required", :placeholder => 'email@example.com', :tabindex => '15' ) %>
				</div>
				<div class="cell-error-reg-event" id="state_reg_event_email_cc_2"><p id="error_reg_event_email_cc_2"></p></div>      	
			</div>      		

			<div class="input-form-spacer"></div>
			
			<!-- city_workshop start -->
			<div class="input-form-spacer"></div>
			<div class="input-form-spacer"></div>
			
			<div style="padding-left: 244px; text-align: left;">
				<label class="input-label-wide required-label">
					Workshops
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Select all that apply</label>								
			</div>

			<div class="input-form-spacer"></div>
			
			<div class="row">

				<div class="cell-left-reg-event-narrow">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
				
				<div id="border_city_workshop" class="button-border">
					
					<div class="input-form-spacer"></div>
					
					<div class="cell-right-reg-event-cb-wide">

						<div style="height: 2px;"></div>
						<div style="margin-left: 20px;">
							
						    <!-- 
						    <option value="1">Columbia, SC</option>
						    <option value="2">Houston, TX</option>
						    <option value="3">Albuquerque, NM</option>
						    <option value="4">Fresno, CA (Central)</option>						    
						    <option value="5">Chicago, IL</option>
						    <option value="6">San Bernadino, CA</option>						    
						    <option value="7">Richmond, VA</option>
						    <option value="8">Minneapolis, MN</option> 
						    <option value="9">Detroit, MI</option>
						    <option value="10">Las Vegas, NV</option>
						    <option value="11">San Jose, CA</option>						    
						    <option value="12">Newark, NJ</option>
						    <option value="13">Tucson/Santa Fe, AZ</option>
						    <option value="14">Tampa, FL</option>
						    -->							
					    
							<table id="table1">

								<tr class="cb-spacer"><td></td><td></td><td></td><td></td></tr>
								<tr>
									<td class="cb-col-1">
									</td>
									<td class="cb-col-2">
										<label class="input-label required-label label_cb"></label>
									</td>
									<td class="cb-col-3"></td>
									<td class="cb-col-4">
										<span>2014</span>
									</td>									
								</tr>
								<tr class="cb-spacer"></tr>								
								<tr>
									<td class="cb-col-1">
										<div id="cb_workshop_1_legacy" class="cb-button cb-valign"></div>
										 <!-- f.check_box :city_workshop_1 --> 
									</td>
									<td class="cb-col-2">
										<!-- <label id="label_city_workshop_1" class="input-label required-label label_cb" for="city_workshop_1" onclick="cb_city_workshop('1');" tabindex="15" >Columbia, SC</label> -->
										<label id="label_city_workshop_1" class="input-label required-label label_cb" for="city_workshop_1" tabindex="" style="text-decoration: line-through">Columbia, SC</label>
									</td>
									<td class="cb-col-3"></td>
									<td class="cb-col-4">
										<span>Feb 27</span>
									</td>
								</tr>
								<tr class="cb-spacer"></tr>
								<tr>
									<td class="cb-col-1">
										<div id="cb_workshop_2_legacy" class="cb-button cb-valign"></div>							
										 <!-- f.check_box :city_workshop_2 --> 
									</td>
									<td class="cb-col-2">
										<!-- <label id="label_city_workshop_2" class="input-label required-label label_cb" for="city_workshop_2" onclick="cb_city_workshop('2');" tabindex=""  style="text-decoration: line-through">Fresno, CA (Central)</label> -->
										<label id="label_city_workshop_2" class="input-label required-label label_cb" for="city_workshop_2" tabindex="" style="text-decoration: line-through">Fresno, CA (Central)</label>
									</td>
									<td class="cb-col-3"></td>										
									<td class="cb-col-4">
										<span>April 2</span>
									</td>	
								</tr>
								<tr class="cb-spacer"></tr>
								<tr>
									<td class="cb-col-1">
										<div id="cb_workshop_4_legacy" class="cb-button cb-valign"></div>							
										 <!-- f.check_box :city_workshop_4  -->
									</td>
									<td class="cb-col-2">
										<!-- <label id="label_city_workshop_4" class="input-label required-label label_cb" for="city_workshop_4" onclick="cb_city_workshop('4');" tabindex="24">Houston, TX</label> -->
										<label id="label_city_workshop_4" class="input-label required-label label_cb" for="city_workshop_4" tabindex="" style="text-decoration: line-through">Houston, TX</label>
									</td>
									<td class="cb-col-3"></td>									
									<td class="cb-col-4">
										<span>April 10</span>
									</td>	
								</tr>
								<tr class="cb-spacer"></tr>
								<tr>
									<td class="cb-col-1">
										<div id="cb_workshop_3_legacy" class="cb-button cb-valign"></div>							
										 <!-- f.check_box :city_workshop_3  -->
									</td>
									<td class="cb-col-2">
										<!-- <label id="label_city_workshop_3" class="input-label required-label label_cb" for="city_workshop_3" onclick="cb_city_workshop('3');" tabindex="28">Chicago, IL</label> -->
										<label id="label_city_workshop_3" class="input-label required-label label_cb" for="city_workshop_3" tabindex="" style="text-decoration: line-through">Chicago, IL</label>
									</td>					
									<td class="cb-col-3"></td>									
									<td class="cb-col-4">
										<span>April 15</span>
									</td>	
								</tr>
								<tr class="cb-spacer"></tr>
								<tr>
									<td class="cb-col-1">
										<div id="cb_workshop_6_legacy" class="cb-button cb-valign"></div>							
										 <!-- f.check_box :city_workshop_6  -->
									</td>
									<td class="cb-col-2">
										<!-- <label id="label_city_workshop_6" class="input-label required-label label_cb" for="city_workshop_6" onclick="cb_city_workshop('6');" tabindex="36">Richmond, VA</label> -->									
										<label id="label_city_workshop_6" class="input-label required-label label_cb" for="city_workshop_6" tabindex="" style="text-decoration: line-through">Richmond, VA</label>									
									</td>					
									<td class="cb-col-3"></td>									
									<td class="cb-col-4">
										<span>May 6</span>
									</td>		
								</tr>
								<tr class="cb-spacer"></tr>
								<tr>
									<td class="cb-col-1">
										<div id="cb_workshop_5_legacy" class="cb-button cb-valign"></div>							
										<!-- f.check_box :city_workshop_5 -->
									</td>
									<td class="cb-col-2">
										<!-- <label id="label_city_workshop_5" class="input-label required-label label_cb" for="city_workshop_5" onclick="cb_city_workshop('5');" tabindex="32">Los Angeles /<br>San Bernadino, CA</label> -->
										<label id="label_city_workshop_5" class="input-label required-label label_cb" for="city_workshop_5" tabindex="" style="text-decoration: line-through">LA/San Bernadino, CA</label>
									</td>				
									<td class="cb-col-3"></td>									
									<td class="cb-col-4">
										<span>May 22</span>
									</td>	
								</tr>
								<tr class="cb-spacer"></tr>
								<tr>
									<td class="cb-col-1">
										<div id="cb_workshop_7" class="cb-button cb-valign"></div>							
										<%= f.check_box :city_workshop_7 %>
									</td>
									<td class="cb-col-2">
										<!-- <label id="label_city_workshop_7" class="input-label required-label label_cb" for="city_workshop_7" onclick="cb_city_workshop('7');" tabindex="40">Minneapolis, MN</label> -->
										<label id="label_city_workshop_7" class="input-label required-label label_cb" for="city_workshop_7" tabindex="" style="text-decoration: line-through">Minneapolis, MN</label>
									</td>		
									<td class="cb-col-3"></td>									
									<td class="cb-col-4">
										<span>June 17</span>
									</td>		
								</tr>
								<tr class="cb-spacer"></tr>
								<tr>
									<td class="cb-col-1">
										<div id="cb_workshop_8" class="cb-button cb-valign"></div>							
										<%= f.check_box :city_workshop_8 %>
									</td>
									<td class="cb-col-2">
										<!-- <label id="label_city_workshop_8" class="input-label required-label label_cb" for="city_workshop_8" onclick="cb_city_workshop('8');" tabindex="44">Detroit, MI</label> -->
										<label id="label_city_workshop_8" class="input-label required-label label_cb" for="city_workshop_8" tabindex="" style="text-decoration: line-through">Detroit, MI</label>
									</td>
									<td class="cb-col-3"></td>									
									<td class="cb-col-4">
										<span>June 24</span>
									</td>	
								</tr>
								<tr class="cb-spacer"></tr>
								<tr>
									<td class="cb-col-1">
										<div id="cb_workshop_9" class="cb-button cb-valign"></div>							
										<%= f.check_box :city_workshop_9 %>
									</td>
									<td class="cb-col-2">
										<label id="label_city_workshop_9" class="input-label required-label label_cb" for="city_workshop_9" onclick="cb_city_workshop('9');" tabindex="48">Denver, CO</label>
									</td>		
									<td class="cb-col-3"></td>									
									<td class="cb-col-4">
										<span>Sept 9</span>
									</td>
								</tr>
								<tr class="cb-spacer"></tr>
								<tr>
									<td class="cb-col-1">
										<div id="cb_workshop_10" class="cb-button cb-valign"></div>							
										<%= f.check_box :city_workshop_10 %>
									</td>
									<td class="cb-col-2">
										<label id="label_city_workshop_10" class="input-label required-label label_cb" for="city_workshop_10" onclick="cb_city_workshop('10');" tabindex="52">Dallas, TX</label>
									</td>		
									<td class="cb-col-3"></td>									
									<td class="cb-col-4">
										<span>Sept 18</span>
									</td>
								</tr>
								<tr class="cb-spacer"></tr>
								<tr>
									<td class="cb-col-1">
										<div id="cb_workshop_11" class="cb-button cb-valign"></div>							
										<%= f.check_box :city_workshop_11 %>
									</td>
									<td class="cb-col-2">
										<label id="label_city_workshop_11" class="input-label required-label label_cb" for="city_workshop_11" onclick="cb_city_workshop('11');" tabindex="56">Newark, NJ</label>
									</td>	
									<td class="cb-col-3"></td>									
									<td class="cb-col-4">
										<span>Sept 25</span>
									</td>
								</tr>
								<tr class="cb-spacer"></tr>
								<tr>
									<td class="cb-col-1">
										<div id="cb_workshop_12" class="cb-button cb-valign"></div>							
										<%= f.check_box :city_workshop_12 %>
									</td>
									<td class="cb-col-2">
										<label id="label_city_workshop_12" class="input-label required-label label_cb" for="city_workshop_12" onclick="cb_city_workshop('12');" tabindex="60">San Jose, CA</label>
									</td>	
									<td class="cb-col-3"></td>									
									<td class="cb-col-4">
										<span>Sept 30</span>
									</td>	
								</tr>
								<tr class="cb-spacer"></tr>
								<tr>
									<td class="cb-col-1">
										<div id="cb_workshop_14" class="cb-button cb-valign"></div>							
										<%= f.check_box :city_workshop_14 %>
									</td>
									<td class="cb-col-2">
										<label id="label_city_workshop_14" class="input-label required-label label_cb" for="city_workshop_14" onclick="cb_city_workshop('14');" tabindex="64">Tampa, FL</label>
									</td>	
									<td class="cb-col-3"></td>									
									<td class="cb-col-4">
										<span>Oct 16</span>
									</td>	
								</tr>
								<tr class="cb-spacer"></tr>
								<tr>
									<td class="cb-col-1">
										<div id="cb_workshop_13" class="cb-button cb-valign"></div>							
										<%= f.check_box :city_workshop_13 %>
									</td>
									<td class="cb-col-2">
										<label id="label_city_workshop_13" class="input-label required-label label_cb" for="city_workshop_13" onclick="cb_city_workshop('13');" tabindex="68">Boston, MA</label>
									</td>	
									<td class="cb-col-3"></td>									
									<td class="cb-col-4">
										<span>Oct 28</span>
									</td>
								</tr>
							</table>
								
							<table id="table2">
								<tr class="cb-spacer"></tr>
								<tr>
									<td style="width: 80px;"></td>
									<td style="color: orange;">
										<div id="cb_workshop_15" class="cb-button cb-valign"></div>							
										<%= f.check_box :city_workshop_15 %>
									</td>
									<td style="width: 300px; color: orange;">
										<label id="label_city_workshop_15" class="input-label required-label label_cb" for="city_workshop_15" onclick="cb_city_workshop('15');" tabindex="72">National "The Gathering" Event</label>
									</td>
								</tr>
								<tr style="height: 15px;"></tr>
								<tr>	
									<td style="width: 80px;"></td>
									<td></td>									
									<td style="color: orange; padding-left: 60px;">
										<span>November 2-3</span>
									</td>	
								</tr>
							</table>

							<div style="height: 24px;"></div>

						</div>
												
					</div>
				</div>
				
				<div style="display: table-cell; padding-left: 20px;">
					<div style="display: table;">
						<div style="display: table-row; height: 16px;"></div>
						<div style="display: table-row;">
							<div style="display: table-cell;">

								<div class="cell-error-reg-event-cb" id="state_reg_event_city_workshop">
									<p id="error_reg_event_city_workshop" class="cb-errors"></p>
								</div>      
								
							</div>							
						</div>
					</div>
				</div>
			</div>      		
			<!-- city_workshop end -->

			<div class="input-form-spacer"></div>
			<div class="input-form-spacer"></div>
			<div class="input-form-spacer"></div>
	
			<div class="row">
				<div class="cell-left-reg-event">
				</div>
				<div class="cell-submit-reg-event" style="padding-left: 0px;">
					<%= f.submit "Submit", :id => 'btn_submit', :class => 'btn submitregevent', :tabindex => '73' %>
				</div>      	
			</div>      		

			<!-- <div class="space-150"></div> -->
				
		<!-- </div> -->
		
		<!-- </div> -->
		
		<% end %>

		</div>		
			


		<!-- <div id="mainpage" class="shadow" style="background-color: #fff; height: 500px; position: relative; z-index: +1;"></div> -->

		<!-- <div id="mainpage" class="shadow" style="background-color: #fff; height: 50px; position: relative; top: 550px; z-index: +1;"></div> -->
				
	
	
	</div>
	
	</section>
	
</div>


<div style="height: 100px;"></div>

</div>

<li>

</ul>

    <!-- <script src="../scripts/jquery.js"></script> -->


    <script src="../scripts/dot.js"></script>    
    <script src="../scripts/jquery-dropdown-dot.js"></script>


    <!-- <script type="text/javascript">
	    $(document).ready(function() {
			$('select').dropdown({
			    'changed': function(data) {
			        
			    }
			});	    
	    });
    </script> -->
    
	<script>

		var offset_top = 0;
		jQuery(window).scroll(function() {
			offset_top = $(window).scrollTop()
			$('#eventstabs').css('top', offset_top);
		});

		function scrollToAnchor(aid) {
			var a = $("a[name='" + aid + "']");
			$('html, body').animate({ scrollTop: a.offset().top }, 1000);
			// jQuery('html, body').animate({scrollTop: 100}, 1000);				
		}


		function showSignin() {
	
			$("#form_reg_event").fadeIn(1000);

			// $("#form_signin").css({
				// 'visibility': 'visible'
			// }, function(){ fadeIn("slow"); });


			loadSignin();
			
		}
	
		// function showSignin() {
// 	
			// var a = $("#mainpage");
			// var b = $("#mainfooter");
// 		
			// a.animate({
				// "top": "+=50px"
			// }, 1000, function(){ loadSignin(); });
// 		
			// b.animate({
				// "top": "+=50px"
			// }, 1000);
		// }
// 		
		// function hideSignin() {
// 		
			// disableSignin();
// 			
			// var a = $("#mainpage");
			// var b = $("#mainfooter");
// 		
			// a.animate({
				// "top": "-=50px"
			// }, 1000);
// 			
			// b.animate({
				// "top": "-=50px"
			// }, 1000);
		// }

		function loadSignin() {
			glowBoxGold();

			$("#form_reg_event").fadeIn( "slow", function(){$("#form_reg_event").css({'boxShadow': '0 0 30px #0800FA'}) } );

			setTimeout( function(){
				glowBoxBlack();
			}, 2500);
			
			setTimeout( function(){$("#reg_event_name_first").focus();}, 1000);
		}
		
		function disableSignin() {
			$("#form_reg_event").fadeOut("slow");
		}
		
		function centerSignin() {
			
			var a = $("#join-image").width();
			var b = $("#form_reg_event").width();
			
			var l = ((a/2) - (b/2));
			
			$("#form_reg_event").css({
				left : l
			})

			var h1 = $("#join-image").height();

			// var h1 = 2000;
			
			var h2 = (h1 * (0.96));
			
			$("#form_reg_event").css({
				height : h2
			})			

			var t = ((h1/2) - (h2/2)) * (0.5)

			$("#form_reg_event").css({
				top : t
			})
						
		}

		function glowBoxGold() {
			$("#form_reg_event").css({
				'boxShadow': '0 0 30px #CCAE37'
			})
		}

		function glowBoxBlack() {
			$("#form_reg_event").css({
				'boxShadow': '0 0 30px #000'
			})
		}

		function glowBoxBlue() {
			$("#form_reg_event").css({				
				'boxShadow': '0 0 5px #ACDDE3'
			})
		}
		

		var validatorCalled = false;
		var val = null;
		//var formval = null;
		
		function formValidate() {
						
			//formval = $("#form_join").validate({

			var selectValid2;
			var validCityWorkshop;
			
			$("#form_join").validate({
			
				submitHandler: function(form) {

					validatorCalled = true;					

					//form.submit();
					
					// selectValid1 = validateSelect1();
					// selectValid2 = validateSelect2();
					validCityWorkshop = validateCityWorkshop();
					
					
					//var s = 'selectValid1 = ' + selectValid1 + ' selectValid2 = ' + selectValid2;
					//alert(s);
					
					// if ( selectValid1 && selectValid2 ) {
					// if ( selectValid2 && validCityWorkshop ) {						
					if ( validCityWorkshop ) {						
						form.submit();
					}
					else
					{
						var errors = 0;
						// if (!selectValid1) {
							// errors += 1;
						// }
						// if (!selectValid2) {
							// errors += 1;
						// }			
						if ( !validCityWorkshop ) {
							errors += 1;
						}					
						if (errors) {
							var message = errors == 1
							? '1 required field missed'
							: errors + ' required fields missed';
							$("div.errors p").html(message);
							$("div.errors").show();
							$("#btn_submit").blur();
							$("#form_reg_event").focus();		
							scrollToAnchor('anchor1');											
						} else {
							$("div.errors").hide();
						}
					}
				},
			
				debug: true,
				onkeyup: false,
				focusCleanup: true,
				focusInvalid: false,
				// invalidClass: "error",
				// validClass: "success",
				rules: {
					'reg_event[name_first]': {
						required: true,
						minlength: 1,						
						maxlength: 100						
					},
					'reg_event[name_last]': {
						required: true,
						minlength: 1,						
						maxlength: 100						
					},
					'reg_event[name_title]': {
						required: true,
						minlength: 1,						
						maxlength: 200						
					},
					'reg_event[type_affiliation]': {
						required: true,
						minlength: 1,						
						maxlength: 200						
					},
					'reg_event[name_affiliation]': {
						required: true,
						minlength: 1,						
						maxlength: 100						
					},
					'reg_event[address]': {
						required: true,
						minlength: 1,						
						maxlength: 100						
					},
					'reg_event[city]': {
						required: true,
						minlength: 1,						
						maxlength: 100						
					},
					'reg_event[state]': {
						required: true,
						minlength: 1,						
						maxlength: 50						
					},
					'reg_event[zip]': {
						required: true,
						minlength: 1,						
						maxlength: 50						
					},
					'reg_event[phone]': {
						required: true,
						minlength: 1,						
						maxlength: 50						
					},
					'reg_event[phone_mobile]': {
						required: false,
						minlength: 1,						
						maxlength: 100						
					},					
					'reg_event[email]': {
						required: true,
						maxlength: 100,
						email: true
					},
					'reg_event[email_cc_1]': {
						required: false,
						maxlength: 100,
						email: true
					},
					'reg_event[email_cc_2]': {
						required: false,
						maxlength: 100,
						email: true
					}

					// 'reg_event[city_workshop]': {
						// required: true,
						// minlength: 1,						
						// maxlength: 50						
					// }
				},
				invalidHandler: function(event, validator) {
					val = validator;
					var errors = validator.numberOfInvalids();
					validatorCalled = true;					
					
					// if (!validateSelect1()) {
						// errors += 1;
					// }
					if (!validateSelect2()) {
						errors += 1;
					}		
					if ( !validateCityWorkshop() ) {
						errors += 1;
					}													
					if (errors) {
						var message = errors == 1
						? '1 required field missed'
						: errors + ' required fields missed';
						$("div.errors p").html(message);
						$("div.errors").show();
						$("#btn_submit").blur();
						$("#form_reg_event").focus();		
						scrollToAnchor('anchor1');										
					} else {
						$("div.errors").hide();
					}
				},			
				messages: {
					'reg_event[name_first]': {
						required: "*",
						maxlength: "Exceeds 100 characters"							
					},
					'reg_event[name_last]': {
						required: "*",
						maxlength: "Exceeds 100 characters"							
					},
					'reg_event[name_title]': {
						required: "*",
						maxlength: "Exceeds 200 characters"							
					},
					'reg_event[type_affiliation]': {
						required: "*",
						maxlength: "Exceeds 200 characters"							
					},
					'reg_event[name_affiliation]': {
						required: "*",
						maxlength: "Exceeds 100 characters"							
					},
					'reg_event[address]': {
						required: "*",
						maxlength: "Exceeds 100 characters"							
					},
					'reg_event[city]': {
						required: "*",
						maxlength: "Exceeds 100 characters"							
					},
					'reg_event[state]': {
						required: "*",
						maxlength: "Exceeds 50 characters"							
					},
					'reg_event[zip]': {
						required: "*",
						maxlength: "Exceeds 50 characters"							
					},
					'reg_event[phone]': {
						required: "*",
						maxlength: "Exceeds 100 characters"							
					},
					'reg_event[phone]': {
						required: "*",
						maxlength: "Exceeds 100 characters"							
					},					
					'reg_event[email]': {
						required: "*",
						maxlength: "Exceeds 100 characters",
						email: "Invalid form on email address"
					},
					'reg_event[email_cc_1]': {
						required: "*",
						maxlength: "Exceeds 100 characters",
						email: "Invalid form on email address"
					},					
					'reg_event[email_cc_2]': {
						required: "*",
						maxlength: "Exceeds 100 characters",
						email: "Invalid form on email address"
					}					
										
					// 'reg_event[city_workshop]': {
						// required: "*",
						// maxlength: "Subject exceeds 50 characters"							
					// }
				},
				errorContainer: $("div .error_label"),				
				errorPlacement: function(error, element) {
					error.insertAfter('#error_' + element.attr('id'));
					$('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					//$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				},
				// invalid: function(element) {
				// },
				// highlight: function(element) {
					// $('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// //$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				// },
				// unhighlight: function(element) {
					// //$('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// //$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				// },
				error: function(label) {
					$('#' + label.attr('for')).removeClass('required').removeClass('success').addClass('error');
					$('#label_' + label.attr('for')).removeClass('required-label').addClass('error-label');
					
				},
				success: function(label) {
					$('#' + label.attr('for')).removeClass('required').removeClass('error').addClass('success');
					$('#label_' + label.attr('for')).removeClass('error-label').addClass('required-label');
					
					$('#state_' + label.attr('for')).css ({			
						background: 'url("/assets/submit_form_tick.png") no-repeat 0px 5px'
					});

					$('#error_' + label.attr('for')).html("");
				},				
				focus: function(element) {
				 	//$('#' + element.attr('id')).removeClass('required').removeClass('error').removeClass('success').addClass('focus');
				 	
				 	//$('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('focus');
				}
			});

			// $.validator.setDefaults({
				// submitHandler: function() {
					// form.submit();
				// }
			// });
		}


		function updateErrorCount () {

			//val = formval.validator;
			
			//alert('updateErrorCount');
			
			if ((val !== undefined) && (val !== null)) {

				var errors = val.numberOfInvalids();
				
				// if (!validateSelect1()) {
					// errors += 1;
				// }
				// if (!validateSelect2()) {
					// errors += 1;
				// }
				if ( !validateCityWorkshop() ) {
					errors += 1;
				}					
				
				if (errors) {
					var message = errors == 1
					? '1 required field missed'
					: errors + ' required fields missed';
					$("div.errors p").html(message);
					$("div.errors").show();
				} else {
					$("div.errors").hide();
				}
				
				val.reset();
			}					
		}
		
		function errorMessageUpdate( element ) {
			
			updateErrorCount();

			if ($('#' + element).hasClass('error')) {
				if ($('#' + element).val().length > 0) {
					$('#' + element).removeClass('required').removeClass('success').addClass('error');
					$('#label_' + element).removeClass('required-label').addClass('error-label');
				}
				else {
					$('#' + element).removeClass('success').removeClass('error').addClass('required');
					$('#label_' + element).removeClass('success-label').removeClass('error-label').addClass('required-label');				
					
					$('#' + element).css ({			
						'border-color' : '#851717'
					});
					
					$('#state_' + element).css ({			
						background: 'url("/assets/submit_form_empty.png") no-repeat 0px 1px'
					});					
				}
			}
			else {			
				if ($('#' + element).val().length > 0) {
					$('#' + element).removeClass('required').removeClass('error').addClass('success');
					$('#label_' + element).removeClass('error-label').addClass('required-label');
					
					$('#' + element).css ({			
						'border-color' : '#005C9E'
					});					
				}
				else {
					$('#' + element).removeClass('success').removeClass('error').addClass('required');
					$('#label_' + element).removeClass('success-label').removeClass('error-label').addClass('required-label');		
					
					$('#state_' + element).css ({			
						background: 'url("/assets/submit_form_empty.png") no-repeat 0px 1px'
					});
									
				}
			}
		}

		$("#reg_event_name_first").on("blur", function () {
			errorMessageUpdate('reg_event_name_first');
		});

		$("#reg_event_name_last").on("blur", function () {
			errorMessageUpdate('reg_event_name_last');
		});

		$("#reg_event_name_title").on("blur", function () {
			errorMessageUpdate('reg_event_name_title');
		});

		$("#reg_event_type_affiliation").on("blur", function () {
			errorMessageUpdate('reg_event_type_affiliation');
		});

		$("#reg_event_name_affiliation").on("blur", function () {
			errorMessageUpdate('reg_event_name_affiliation');
		});

		$("#reg_event_address").on("blur", function () {
			errorMessageUpdate('reg_event_address');
		});

		$("#reg_event_city").on("blur", function () {
			errorMessageUpdate('reg_event_city');
		});

		$("#reg_event_state").on("blur", function () {
			errorMessageUpdate('reg_event_state');
		});

		$("#reg_event_zip").on("blur", function () {
			errorMessageUpdate('reg_event_zip');
		});

		$("#reg_event_phone").on("blur", function () {
			errorMessageUpdate('reg_event_phone');
		});

		$("#reg_event_phone_mobile").on("blur", function () {
			errorMessageUpdate('reg_event_phone_mobile');
		});

		$("#reg_event_email").on("blur", function () {
			errorMessageUpdate('reg_event_email');
		});

		$("#reg_event_email_cc_1").on("blur", function () {
			errorMessageUpdate('reg_event_email_cc_1');
		});

		$("#reg_event_email_cc_2").on("blur", function () {
			errorMessageUpdate('reg_event_email_cc_2');
		});

		// $("#reg_event_city_workshop").on("blur", function () {
			// updateErrorCount();
		// });
// 
		// $("#reg_event_type_affiliation").on("focusout", function () {
			// alert('focusout');
			// updateErrorCount();
		// });
// 
		// $(".dropdown2").on("focusout", function () {
			// alert('focusout');
			// updateErrorCount();
		// });
// 
		// $(".dropdown2").on("blur", function () {
			// alert('blur');
			// updateErrorCount();
		// });



		//var selectValid1 = false;
		
		// function selectStatus1() {
// 			
			// if ($("#reg_event_city_workshop option:selected").val() == '0') {
				// $('#state_reg_event_city_workshop').css ({			
					// background: 'url("/assets/submit_form_empty.png") no-repeat 0px 5px'
				// });
// 				
				// $('.dropdown1').css ({			
					// color: '#838383'
				// });
// 				
				// selectValid1 = false;						
			// }
			// else {
				// $('#state_reg_event_city_workshop').css ({			
					// background: 'url("/assets/submit_form_tick.png") no-repeat 0px 5px'
				// });
// 				
				// $('.dropdown1').css ({			
					// color: '#ACDDE3'
				// });			
// 		
				// if( !selectValid1 ) {
					// $('.dropdown1').css ({			
						// 'border-color' : '#005C9E'
					// });
// 					
					// $('.dropdown1 > .selected i').css ({			
						// 'color' : '#005C9E',
						// 'border-left-color' : '#005C9E' 
					// });
// 					
					// $('#error_reg_event_city_workshop').html("");					
				// }
// 				
				// selectValid1 = true;		
			// }
// 			
			// updateErrorCount();			
		// }

		var selectValid2 = false;

		function selectStatus2() {
			
			// alert($("#reg_event_type_affiliation option:selected").val());
			
			if ($("#reg_event_type_affiliation option:selected").val() == '0') {
				$('#state_reg_event_type_affiliation').css ({			
					background: 'url("/assets/submit_form_empty.png") no-repeat 0px 5px'
				});
				
				$('.dropdown2').css ({			
					color: '#838383'
				});
				
				selectValid2 = false;						
			}
			else {
				$('#state_reg_event_type_affiliation').css ({			
					background: 'url("/assets/submit_form_tick.png") no-repeat 0px 5px'
				});
				
				$('.dropdown2').css ({			
					color: '#ACDDE3'
				});			
		
				if( !selectValid2 ) {
					$('.dropdown2').css ({			
						'border-color' : '#005C9E'
					});
					
					$('.dropdown2 > .selected i').css ({			
						'color' : '#005C9E',
						'border-left-color' : '#005C9E' 
					});
					
					$('#error_reg_event_type_affiliation').html("");					
				}
				
				selectValid2 = true;		
			}
			
			if(validatorCalled) {
				validateSelect2();
			}
			
			updateErrorCount();			
		}

		// function validateSelect1() {
// 			
			// if ($("#reg_event_city_workshop option:selected").val() == '0') {
				// // $('#state_reg_event_city_workshop').css ({			
					// // background: 'url("/assets/submit_form_empty.png") no-repeat 0px 5px'
				// // });
// // 				
				// // $('.dropdown').css ({			
					// // color: '#838383'
				// // });
// 				
				// $('.dropdown1').css ({			
					// 'border-color' : '#851717'
				// });
// 				
				// $('.dropdown1 > .selected i').css ({			
					// 'color' : '#851717',
					// 'border-left-color' : '#851717' 
				// });
// 		
				// $('#error_reg_event_city_workshop').html("*");
// 		
				// selectValid1 = false;		
			// }
			// else {
				// $('.dropdown1').css ({			
					// 'border-color' : '#005C9E'
				// });
// 				
				// $('.dropdown1 > .selected i').css ({			
					// 'color' : '#005C9E',
					// 'border-left-color' : '#005C9E' 
				// });
// 
				// $('#error_reg_event_city_workshop').html("");
// 				
				// selectValid1 = true;		
			// }
// 			
			// return selectValid1;
		// }

		function validateSelect2() {
			
			if ($("#reg_event_type_affiliation option:selected").val() == '0') {
				$('.dropdown2').css ({			
					'border-color' : '#851717'
				});
				
				$('.dropdown2 > .selected i').css ({			
					'color' : '#851717',
					'border-left-color' : '#851717' 
				});
		
				$('#error_reg_event_type_affiliation').html("*");
		
				selectValid2 = false;
			}
			else {
				$('.dropdown2').css ({			
					'border-color' : '#005C9E'
				});
				
				$('.dropdown2 > .selected i').css ({			
					'color' : '#005C9E',
					'border-left-color' : '#005C9E' 
				});

				$('#error_reg_event_type_affiliation').html("");
				
				selectValid2 = true;		
			}
			
			return selectValid2;
		}


		function cb_city_workshop(caller) {
			
			var rd = "#opt_city_workshop_" + caller + "_session";
			
			var cb = "#reg_event_city_workshop_" + caller;
			var sb = "#cb_workshop_" + caller;
			if($(cb).is(':checked')) {
				$(cb).prop('checked', false);
				
				$(sb).removeClass("cb-background");
				
				$(rd).css ({			
					visibility: 'hidden'
				});							
			}
			else {
				$(cb).prop('checked', true);

				$(sb).addClass("cb-background");
				
				$(rd).css ({			
					visibility: 'visible'
				});
			}
			validateCityWorkshop();			
		}



		function validateCityWorkshop() {

			var isChecked = false;
			var cb;
			for (var i = 1; i < 16; i++ ) {
				cb = "#reg_event_city_workshop_" + i;
				if($(cb).is(':checked')) {
					isChecked = true;
				}
			}
			
			if ( !isChecked ) {
				if (validatorCalled ) {
					$("#border_city_workshop").css ({
						'border-color' : '#851717'
					});
					
					$('#error_reg_event_city_workshop').html("*<br>Please select an option");
				}
	
				$("#state_reg_event_city_workshop").css ({			
					background: 'url("/assets/submit_form_empty.png") no-repeat 0px 5px'
				});				
			}
			else {								
				$("#border_city_workshop").css ({
					'border-color' : '#005C9E'
				});
				
				$('#error_reg_event_city_workshop').html("");
				
				$("#state_reg_event_city_workshop").css ({			
					background: 'url("/assets/submit_form_tick.png") no-repeat 0px 5px'
				});
			}

			// if ( validatorCalled ) {
				// updateErrorCount();
			// }

			
			return isChecked;
		}





		// radio - no validations required on radios

		// radio city_workshop_1
		function set_rd_city_workshop_1_session_1() {
			var rd ="#reg_event_city_workshop_1_session_1";
			var sd = "#rd_city_workshop_1_session_1";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_1_session_1() {
			var sd = "#rd_city_workshop_1_session_1";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_1_session_2() {
			var rd ="#reg_event_city_workshop_1_session_2";
			var sd = "#rd_city_workshop_1_session_2";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_1_session_2() {
			var sd = "#rd_city_workshop_1_session_2";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_1_session_3() {
			var rd ="#reg_event_city_workshop_1_session_3";
			var sd = "#rd_city_workshop_1_session_3";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_1_session_3() {
			var sd = "#rd_city_workshop_1_session_3";

			$(sd).removeClass("rd-background");			
		}

		function rd_city_workshop_1_session(caller) {

			switch (caller)
			{
			  case '1':
			  		set_rd_city_workshop_1_session_1();
			  		unset_rd_city_workshop_1_session_2();
			  		unset_rd_city_workshop_1_session_3();
			  	break;
			  case '2':
			  		set_rd_city_workshop_1_session_2();
			  		unset_rd_city_workshop_1_session_1();
			  		unset_rd_city_workshop_1_session_3();
			  	break;
			  case '3':
			  		set_rd_city_workshop_1_session_3();
			  		unset_rd_city_workshop_1_session_1();
			  		unset_rd_city_workshop_1_session_2();
			  	break;

			  default:
			  //
			}
		}


		// radio city_workshop_2
		function set_rd_city_workshop_2_session_1() {
			var rd ="#reg_event_city_workshop_2_session_1";
			var sd = "#rd_city_workshop_2_session_1";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_2_session_1() {
			var sd = "#rd_city_workshop_2_session_1";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_2_session_2() {
			var rd ="#reg_event_city_workshop_2_session_2";
			var sd = "#rd_city_workshop_2_session_2";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_2_session_2() {
			var sd = "#rd_city_workshop_2_session_2";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_2_session_3() {
			var rd ="#reg_event_city_workshop_2_session_3";
			var sd = "#rd_city_workshop_2_session_3";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_2_session_3() {
			var sd = "#rd_city_workshop_2_session_3";

			$(sd).removeClass("rd-background");			
		}

		function rd_city_workshop_2_session(caller) {

			switch (caller)
			{
			  case '1':
			  		set_rd_city_workshop_2_session_1();
			  		unset_rd_city_workshop_2_session_2();
			  		unset_rd_city_workshop_2_session_3();
			  	break;
			  case '2':
			  		set_rd_city_workshop_2_session_2();
			  		unset_rd_city_workshop_2_session_1();
			  		unset_rd_city_workshop_2_session_3();
			  	break;
			  case '3':
			  		set_rd_city_workshop_2_session_3();
			  		unset_rd_city_workshop_2_session_1();
			  		unset_rd_city_workshop_2_session_2();
			  	break;

			  default:
			  //
			}
		}

		// radio city_workshop_3
		function set_rd_city_workshop_3_session_1() {
			var rd ="#reg_event_city_workshop_3_session_1";
			var sd = "#rd_city_workshop_3_session_1";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_3_session_1() {
			var sd = "#rd_city_workshop_3_session_1";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_3_session_2() {
			var rd ="#reg_event_city_workshop_3_session_2";
			var sd = "#rd_city_workshop_3_session_2";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_3_session_2() {
			var sd = "#rd_city_workshop_3_session_2";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_3_session_3() {
			var rd ="#reg_event_city_workshop_3_session_3";
			var sd = "#rd_city_workshop_3_session_3";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_3_session_3() {
			var sd = "#rd_city_workshop_3_session_3";

			$(sd).removeClass("rd-background");			
		}

		function rd_city_workshop_3_session(caller) {

			switch (caller)
			{
			  case '1':
			  		set_rd_city_workshop_3_session_1();
			  		unset_rd_city_workshop_3_session_2();
			  		unset_rd_city_workshop_3_session_3();
			  	break;
			  case '2':
			  		set_rd_city_workshop_3_session_2();
			  		unset_rd_city_workshop_3_session_1();
			  		unset_rd_city_workshop_3_session_3();
			  	break;
			  case '3':
			  		set_rd_city_workshop_3_session_3();
			  		unset_rd_city_workshop_3_session_1();
			  		unset_rd_city_workshop_3_session_2();
			  	break;

			  default:
			  //
			}
		}

		// radio city_workshop_4
		function set_rd_city_workshop_4_session_1() {
			var rd ="#reg_event_city_workshop_4_session_1";
			var sd = "#rd_city_workshop_4_session_1";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_4_session_1() {
			var sd = "#rd_city_workshop_4_session_1";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_4_session_2() {
			var rd ="#reg_event_city_workshop_4_session_2";
			var sd = "#rd_city_workshop_4_session_2";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_4_session_2() {
			var sd = "#rd_city_workshop_4_session_2";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_4_session_3() {
			var rd ="#reg_event_city_workshop_4_session_3";
			var sd = "#rd_city_workshop_4_session_3";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_4_session_3() {
			var sd = "#rd_city_workshop_4_session_3";

			$(sd).removeClass("rd-background");			
		}

		function rd_city_workshop_4_session(caller) {

			switch (caller)
			{
			  case '1':
			  		set_rd_city_workshop_4_session_1();
			  		unset_rd_city_workshop_4_session_2();
			  		unset_rd_city_workshop_4_session_3();
			  	break;
			  case '2':
			  		set_rd_city_workshop_4_session_2();
			  		unset_rd_city_workshop_4_session_1();
			  		unset_rd_city_workshop_4_session_3();
			  	break;
			  case '3':
			  		set_rd_city_workshop_4_session_3();
			  		unset_rd_city_workshop_4_session_1();
			  		unset_rd_city_workshop_4_session_2();
			  	break;

			  default:
			  //
			}
		}

		// radio city_workshop_5
		function set_rd_city_workshop_5_session_1() {
			var rd ="#reg_event_city_workshop_5_session_1";
			var sd = "#rd_city_workshop_5_session_1";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_5_session_1() {
			var sd = "#rd_city_workshop_5_session_1";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_5_session_2() {
			var rd ="#reg_event_city_workshop_5_session_2";
			var sd = "#rd_city_workshop_5_session_2";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_5_session_2() {
			var sd = "#rd_city_workshop_5_session_2";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_5_session_3() {
			var rd ="#reg_event_city_workshop_5_session_3";
			var sd = "#rd_city_workshop_5_session_3";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_5_session_3() {
			var sd = "#rd_city_workshop_5_session_3";

			$(sd).removeClass("rd-background");			
		}

		function rd_city_workshop_5_session(caller) {

			switch (caller)
			{
			  case '1':
			  		set_rd_city_workshop_5_session_1();
			  		unset_rd_city_workshop_5_session_2();
			  		unset_rd_city_workshop_5_session_3();
			  	break;
			  case '2':
			  		set_rd_city_workshop_5_session_2();
			  		unset_rd_city_workshop_5_session_1();
			  		unset_rd_city_workshop_5_session_3();
			  	break;
			  case '3':
			  		set_rd_city_workshop_5_session_3();
			  		unset_rd_city_workshop_5_session_1();
			  		unset_rd_city_workshop_5_session_2();
			  	break;

			  default:
			  //
			}
		}

		// radio city_workshop_6
		function set_rd_city_workshop_6_session_1() {
			var rd ="#reg_event_city_workshop_6_session_1";
			var sd = "#rd_city_workshop_6_session_1";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_6_session_1() {
			var sd = "#rd_city_workshop_6_session_1";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_6_session_2() {
			var rd ="#reg_event_city_workshop_6_session_2";
			var sd = "#rd_city_workshop_6_session_2";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_6_session_2() {
			var sd = "#rd_city_workshop_6_session_2";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_6_session_3() {
			var rd ="#reg_event_city_workshop_6_session_3";
			var sd = "#rd_city_workshop_6_session_3";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_6_session_3() {
			var sd = "#rd_city_workshop_6_session_3";

			$(sd).removeClass("rd-background");			
		}

		function rd_city_workshop_6_session(caller) {

			switch (caller)
			{
			  case '1':
			  		set_rd_city_workshop_6_session_1();
			  		unset_rd_city_workshop_6_session_2();
			  		unset_rd_city_workshop_6_session_3();
			  	break;
			  case '2':
			  		set_rd_city_workshop_6_session_2();
			  		unset_rd_city_workshop_6_session_1();
			  		unset_rd_city_workshop_6_session_3();
			  	break;
			  case '3':
			  		set_rd_city_workshop_6_session_3();
			  		unset_rd_city_workshop_6_session_1();
			  		unset_rd_city_workshop_6_session_2();
			  	break;

			  default:
			  //
			}
		}
		
		// radio city_workshop_7
		function set_rd_city_workshop_7_session_1() {
			var rd ="#reg_event_city_workshop_7_session_1";
			var sd = "#rd_city_workshop_7_session_1";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_7_session_1() {
			var sd = "#rd_city_workshop_7_session_1";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_7_session_2() {
			var rd ="#reg_event_city_workshop_7_session_2";
			var sd = "#rd_city_workshop_7_session_2";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_7_session_2() {
			var sd = "#rd_city_workshop_7_session_2";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_7_session_3() {
			var rd ="#reg_event_city_workshop_7_session_3";
			var sd = "#rd_city_workshop_7_session_3";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_7_session_3() {
			var sd = "#rd_city_workshop_7_session_3";

			$(sd).removeClass("rd-background");			
		}

		function rd_city_workshop_7_session(caller) {

			switch (caller)
			{
			  case '1':
			  		set_rd_city_workshop_7_session_1();
			  		unset_rd_city_workshop_7_session_2();
			  		unset_rd_city_workshop_7_session_3();
			  	break;
			  case '2':
			  		set_rd_city_workshop_7_session_2();
			  		unset_rd_city_workshop_7_session_1();
			  		unset_rd_city_workshop_7_session_3();
			  	break;
			  case '3':
			  		set_rd_city_workshop_7_session_3();
			  		unset_rd_city_workshop_7_session_1();
			  		unset_rd_city_workshop_7_session_2();
			  	break;

			  default:
			  //
			}
		}
		
		// radio city_workshop_8
		function set_rd_city_workshop_8_session_1() {
			var rd ="#reg_event_city_workshop_8_session_1";
			var sd = "#rd_city_workshop_8_session_1";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_8_session_1() {
			var sd = "#rd_city_workshop_8_session_1";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_8_session_2() {
			var rd ="#reg_event_city_workshop_8_session_2";
			var sd = "#rd_city_workshop_8_session_2";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_8_session_2() {
			var sd = "#rd_city_workshop_8_session_2";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_8_session_3() {
			var rd ="#reg_event_city_workshop_8_session_3";
			var sd = "#rd_city_workshop_8_session_3";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_8_session_3() {
			var sd = "#rd_city_workshop_8_session_3";

			$(sd).removeClass("rd-background");			
		}

		function rd_city_workshop_8_session(caller) {

			switch (caller)
			{
			  case '1':
			  		set_rd_city_workshop_8_session_1();
			  		unset_rd_city_workshop_8_session_2();
			  		unset_rd_city_workshop_8_session_3();
			  	break;
			  case '2':
			  		set_rd_city_workshop_8_session_2();
			  		unset_rd_city_workshop_8_session_1();
			  		unset_rd_city_workshop_8_session_3();
			  	break;
			  case '3':
			  		set_rd_city_workshop_8_session_3();
			  		unset_rd_city_workshop_8_session_1();
			  		unset_rd_city_workshop_8_session_2();
			  	break;

			  default:
			  //
			}
		}
		
		// radio city_workshop_9
		function set_rd_city_workshop_9_session_1() {
			var rd ="#reg_event_city_workshop_9_session_1";
			var sd = "#rd_city_workshop_9_session_1";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_9_session_1() {
			var sd = "#rd_city_workshop_9_session_1";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_9_session_2() {
			var rd ="#reg_event_city_workshop_9_session_2";
			var sd = "#rd_city_workshop_9_session_2";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_9_session_2() {
			var sd = "#rd_city_workshop_9_session_2";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_9_session_3() {
			var rd ="#reg_event_city_workshop_9_session_3";
			var sd = "#rd_city_workshop_9_session_3";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_9_session_3() {
			var sd = "#rd_city_workshop_9_session_3";

			$(sd).removeClass("rd-background");			
		}

		function rd_city_workshop_9_session(caller) {

			switch (caller)
			{
			  case '1':
			  		set_rd_city_workshop_9_session_1();
			  		unset_rd_city_workshop_9_session_2();
			  		unset_rd_city_workshop_9_session_3();
			  	break;
			  case '2':
			  		set_rd_city_workshop_9_session_2();
			  		unset_rd_city_workshop_9_session_1();
			  		unset_rd_city_workshop_9_session_3();
			  	break;
			  case '3':
			  		set_rd_city_workshop_9_session_3();
			  		unset_rd_city_workshop_9_session_1();
			  		unset_rd_city_workshop_9_session_2();
			  	break;

			  default:
			  //
			}
		}
		
		// radio city_workshop_10
		function set_rd_city_workshop_10_session_1() {
			var rd ="#reg_event_city_workshop_10_session_1";
			var sd = "#rd_city_workshop_10_session_1";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_10_session_1() {
			var sd = "#rd_city_workshop_10_session_1";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_10_session_2() {
			var rd ="#reg_event_city_workshop_10_session_2";
			var sd = "#rd_city_workshop_10_session_2";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_10_session_2() {
			var sd = "#rd_city_workshop_10_session_2";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_10_session_3() {
			var rd ="#reg_event_city_workshop_10_session_3";
			var sd = "#rd_city_workshop_10_session_3";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_10_session_3() {
			var sd = "#rd_city_workshop_10_session_3";

			$(sd).removeClass("rd-background");			
		}

		function rd_city_workshop_10_session(caller) {

			switch (caller)
			{
			  case '1':
			  		set_rd_city_workshop_10_session_1();
			  		unset_rd_city_workshop_10_session_2();
			  		unset_rd_city_workshop_10_session_3();
			  	break;
			  case '2':
			  		set_rd_city_workshop_10_session_2();
			  		unset_rd_city_workshop_10_session_1();
			  		unset_rd_city_workshop_10_session_3();
			  	break;
			  case '3':
			  		set_rd_city_workshop_10_session_3();
			  		unset_rd_city_workshop_10_session_1();
			  		unset_rd_city_workshop_10_session_2();
			  	break;

			  default:
			  //
			}
		}
		
		// radio city_workshop_11
		function set_rd_city_workshop_11_session_1() {
			var rd ="#reg_event_city_workshop_11_session_1";
			var sd = "#rd_city_workshop_11_session_1";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_11_session_1() {
			var sd = "#rd_city_workshop_11_session_1";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_11_session_2() {
			var rd ="#reg_event_city_workshop_11_session_2";
			var sd = "#rd_city_workshop_11_session_2";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_11_session_2() {
			var sd = "#rd_city_workshop_11_session_2";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_11_session_3() {
			var rd ="#reg_event_city_workshop_11_session_3";
			var sd = "#rd_city_workshop_11_session_3";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_11_session_3() {
			var sd = "#rd_city_workshop_11_session_3";

			$(sd).removeClass("rd-background");			
		}

		function rd_city_workshop_11_session(caller) {

			switch (caller)
			{
			  case '1':
			  		set_rd_city_workshop_11_session_1();
			  		unset_rd_city_workshop_11_session_2();
			  		unset_rd_city_workshop_11_session_3();
			  	break;
			  case '2':
			  		set_rd_city_workshop_11_session_2();
			  		unset_rd_city_workshop_11_session_1();
			  		unset_rd_city_workshop_11_session_3();
			  	break;
			  case '3':
			  		set_rd_city_workshop_11_session_3();
			  		unset_rd_city_workshop_11_session_1();
			  		unset_rd_city_workshop_11_session_2();
			  	break;

			  default:
			  //
			}
		}
		
		// radio city_workshop_12
		function set_rd_city_workshop_12_session_1() {
			var rd ="#reg_event_city_workshop_12_session_1";
			var sd = "#rd_city_workshop_12_session_1";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_12_session_1() {
			var sd = "#rd_city_workshop_12_session_1";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_12_session_2() {
			var rd ="#reg_event_city_workshop_12_session_2";
			var sd = "#rd_city_workshop_12_session_2";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_12_session_2() {
			var sd = "#rd_city_workshop_12_session_2";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_12_session_3() {
			var rd ="#reg_event_city_workshop_12_session_3";
			var sd = "#rd_city_workshop_12_session_3";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_12_session_3() {
			var sd = "#rd_city_workshop_12_session_3";

			$(sd).removeClass("rd-background");			
		}

		function rd_city_workshop_12_session(caller) {

			switch (caller)
			{
			  case '1':
			  		set_rd_city_workshop_12_session_1();
			  		unset_rd_city_workshop_12_session_2();
			  		unset_rd_city_workshop_12_session_3();
			  	break;
			  case '2':
			  		set_rd_city_workshop_12_session_2();
			  		unset_rd_city_workshop_12_session_1();
			  		unset_rd_city_workshop_12_session_3();
			  	break;
			  case '3':
			  		set_rd_city_workshop_12_session_3();
			  		unset_rd_city_workshop_12_session_1();
			  		unset_rd_city_workshop_12_session_2();
			  	break;

			  default:
			  //
			}
		}
		
		// radio city_workshop_13
		function set_rd_city_workshop_13_session_1() {
			var rd ="#reg_event_city_workshop_13_session_1";
			var sd = "#rd_city_workshop_13_session_1";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_13_session_1() {
			var sd = "#rd_city_workshop_13_session_1";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_13_session_2() {
			var rd ="#reg_event_city_workshop_13_session_2";
			var sd = "#rd_city_workshop_13_session_2";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_13_session_2() {
			var sd = "#rd_city_workshop_13_session_2";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_13_session_3() {
			var rd ="#reg_event_city_workshop_13_session_3";
			var sd = "#rd_city_workshop_13_session_3";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_13_session_3() {
			var sd = "#rd_city_workshop_13_session_3";

			$(sd).removeClass("rd-background");			
		}

		function rd_city_workshop_13_session(caller) {

			switch (caller)
			{
			  case '1':
			  		set_rd_city_workshop_13_session_1();
			  		unset_rd_city_workshop_13_session_2();
			  		unset_rd_city_workshop_13_session_3();
			  	break;
			  case '2':
			  		set_rd_city_workshop_13_session_2();
			  		unset_rd_city_workshop_13_session_1();
			  		unset_rd_city_workshop_13_session_3();
			  	break;
			  case '3':
			  		set_rd_city_workshop_13_session_3();
			  		unset_rd_city_workshop_13_session_1();
			  		unset_rd_city_workshop_13_session_2();
			  	break;

			  default:
			  //
			}
		}
		
		// radio city_workshop_14
		function set_rd_city_workshop_14_session_1() {
			var rd ="#reg_event_city_workshop_14_session_1";
			var sd = "#rd_city_workshop_14_session_1";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_14_session_1() {
			var sd = "#rd_city_workshop_14_session_1";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_14_session_2() {
			var rd ="#reg_event_city_workshop_14_session_2";
			var sd = "#rd_city_workshop_14_session_2";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_14_session_2() {
			var sd = "#rd_city_workshop_14_session_2";

			$(sd).removeClass("rd-background");			
		}

		function set_rd_city_workshop_14_session_3() {
			var rd ="#reg_event_city_workshop_14_session_3";
			var sd = "#rd_city_workshop_14_session_3";

			$(rd).prop('checked',true);

			$(sd).addClass("rd-background");			
		}
		function unset_rd_city_workshop_14_session_3() {
			var sd = "#rd_city_workshop_14_session_3";

			$(sd).removeClass("rd-background");			
		}

		function rd_city_workshop_14_session(caller) {

			switch (caller)
			{
			  case '1':
			  		set_rd_city_workshop_14_session_1();
			  		unset_rd_city_workshop_14_session_2();
			  		unset_rd_city_workshop_14_session_3();
			  	break;
			  case '2':
			  		set_rd_city_workshop_14_session_2();
			  		unset_rd_city_workshop_14_session_1();
			  		unset_rd_city_workshop_14_session_3();
			  	break;
			  case '3':
			  		set_rd_city_workshop_14_session_3();
			  		unset_rd_city_workshop_14_session_1();
			  		unset_rd_city_workshop_14_session_2();
			  	break;

			  default:
			  //
			}
		}




		$(window).load( function() {
		//$(document).ready(function(){
			
			var image = '../backgrounds/comp025.jpg';

			// var image = '../backgrounds/comp020.gif';

			// var image = '../backgrounds/multi134.jpg';

			// var image = '../backgrounds/background-image-proxy.jpeg';


			img = $('<img />');
			
			img.bind('load', function() {
				
			    $('#loading').fadeOut(1000);

				setTimeout( function(){
					centerSignin();
					showSignin();
					formValidate();
				}, 500);
			});
 			
			img.attr('src', image);
 			
			$('#join-image').css({
				//background: '#F1F2E1 url(' + image + ') no-repeat right top'
				background: '#F1F2E1 url(' + image + ') repeat right top'
				
			})
				
				
			$('select').dropdown({
			    'changed': function(data) {
			        // selectStatus1();
			        selectStatus2();	
			    }
			});	    
				
				
			$('#cb_workshop_1').on('click', function() {
				cb_city_workshop(1);
			});
			$('#cb_workshop_2').on('click', function() {
				cb_city_workshop(2);
			});
			$('#cb_workshop_3').on('click', function() {
				cb_city_workshop(3);
			});
			$('#cb_workshop_4').on('click', function() {
				cb_city_workshop(4);
			});
			$('#cb_workshop_5').on('click', function() {
				cb_city_workshop(5);
			});
			$('#cb_workshop_6').on('click', function() {
				cb_city_workshop(6);
			});
			$('#cb_workshop_7').on('click', function() {
				cb_city_workshop(7);
			});
			$('#cb_workshop_8').on('click', function() {
				cb_city_workshop(8);
			});
			$('#cb_workshop_9').on('click', function() {
				cb_city_workshop(9);
			});
			$('#cb_workshop_10').on('click', function() {
				cb_city_workshop(10);
			});
			$('#cb_workshop_11').on('click', function() {
				cb_city_workshop(11);
			});
			$('#cb_workshop_12').on('click', function() {
				cb_city_workshop(12);
			});
			$('#cb_workshop_13').on('click', function() {
				cb_city_workshop(13);
			});
			$('#cb_workshop_14').on('click', function() {
				cb_city_workshop(14);
			});
			$('#cb_workshop_15').on('click', function() {
				cb_city_workshop(15);
			});
				
				
			// var lb;
			// for (var i = 1; i < 14; i++ ) {
				// lb = "#label_city_workshop_" + i;
	    		// $(lb).keypress(function(e){
	      			// if(e.keyCode==13)
	      			// $(lb).click();
	    		// });				
			// }
				
				
    		$('#label_city_workshop_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_1').click();
    		});				
    		$('#label_city_workshop_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_2').click();
    		});				
    		$('#label_city_workshop_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_3').click();
    		});				
    		$('#label_city_workshop_4').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_4').click();
    		});				
    		$('#label_city_workshop_5').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_5').click();
    		});				
    		$('#label_city_workshop_6').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_6').click();
    		});				
    		$('#label_city_workshop_7').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_7').click();
    		});				
    		$('#label_city_workshop_8').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_8').click();
    		});				
    		$('#label_city_workshop_9').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_9').click();
    		});				
    		$('#label_city_workshop_10').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_10').click();
    		});				
    		$('#label_city_workshop_11').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_11').click();
    		});				
    		$('#label_city_workshop_12').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_12').click();
    		});				
    		$('#label_city_workshop_13').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_13').click();
    		});				
    		$('#label_city_workshop_14').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_14').click();
    		});				
    		$('#label_city_workshop_15').keypress(function(e){
      			if(e.keyCode==13)
      			$('#label_city_workshop_15').click();
    		});				

			$('input:checkbox').on('change', function() {
				validateCityWorkshop();
			});
				




				
			$("#opt_city_workshop_1_session").css ({			
				visibility: 'hidden'
			});
			$("#reg_event_city_workshop_1_session_3").prop('checked',true);
			$("#rd_city_workshop_1_session_3").addClass("rd-background");			

			$("#opt_city_workshop_2_session").css ({			
				visibility: 'hidden'
			});
			$("#reg_event_city_workshop_2_session_3").prop('checked',true);
			$("#rd_city_workshop_2_session_3").addClass("rd-background");			

			$("#opt_city_workshop_3_session").css ({			
				visibility: 'hidden'
			});
			$("#reg_event_city_workshop_3_session_3").prop('checked',true);
			$("#rd_city_workshop_3_session_3").addClass("rd-background");			

			$("#opt_city_workshop_4_session").css ({			
				visibility: 'hidden'
			});
			$("#reg_event_city_workshop_4_session_3").prop('checked',true);
			$("#rd_city_workshop_4_session_3").addClass("rd-background");			

			$("#opt_city_workshop_5_session").css ({			
				visibility: 'hidden'
			});
			$("#reg_event_city_workshop_5_session_3").prop('checked',true);
			$("#rd_city_workshop_5_session_3").addClass("rd-background");			

			$("#opt_city_workshop_6_session").css ({			
				visibility: 'hidden'
			});
			$("#reg_event_city_workshop_6_session_3").prop('checked',true);
			$("#rd_city_workshop_6_session_3").addClass("rd-background");			

			$("#opt_city_workshop_7_session").css ({			
				visibility: 'hidden'
			});
			$("#reg_event_city_workshop_7_session_3").prop('checked',true);
			$("#rd_city_workshop_7_session_3").addClass("rd-background");			

			$("#opt_city_workshop_8_session").css ({			
				visibility: 'hidden'
			});
			$("#reg_event_city_workshop_8_session_3").prop('checked',true);
			$("#rd_city_workshop_8_session_3").addClass("rd-background");			

			$("#opt_city_workshop_9_session").css ({			
				visibility: 'hidden'
			});
			$("#reg_event_city_workshop_9_session_3").prop('checked',true);
			$("#rd_city_workshop_9_session_3").addClass("rd-background");			

			$("#opt_city_workshop_10_session").css ({			
				visibility: 'hidden'
			});
			$("#reg_event_city_workshop_10_session_3").prop('checked',true);
			$("#rd_city_workshop_10_session_3").addClass("rd-background");			

			$("#opt_city_workshop_11_session").css ({			
				visibility: 'hidden'
			});
			$("#reg_event_city_workshop_11_session_3").prop('checked',true);
			$("#rd_city_workshop_11_session_3").addClass("rd-background");			

			$("#opt_city_workshop_12_session").css ({			
				visibility: 'hidden'
			});
			$("#reg_event_city_workshop_12_session_3").prop('checked',true);
			$("#rd_city_workshop_12_session_3").addClass("rd-background");			

			$("#opt_city_workshop_13_session").css ({			
				visibility: 'hidden'
			});
			$("#reg_event_city_workshop_13_session_3").prop('checked',true);
			$("#rd_city_workshop_13_session_3").addClass("rd-background");			

			$("#opt_city_workshop_14_session").css ({			
				visibility: 'hidden'
			});
			$("#reg_event_city_workshop_14_session_3").prop('checked',true);
			$("#rd_city_workshop_14_session_3").addClass("rd-background");			




			// radio workshop 1				
			$('#rd_city_workshop_1_session_1').on('click', function() {
				rd_city_workshop_1_session('1');
			});
    		$('#label_city_workshop_1_session_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_1_session_1').click();
    		});				

			$('#rd_city_workshop_1_session_2').on('click', function() {
				rd_city_workshop_1_session('2');
			});
    		$('#label_city_workshop_1_session_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_1_session_2').click();
    		});				

			$('#rd_city_workshop_1_session_3').on('click', function() {
				rd_city_workshop_1_session('3');
			});
    		$('#label_city_workshop_1_session_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_1_session_3').click();
    		});				
				
			// radio workshop 2				
			$('#rd_city_workshop_2_session_1').on('click', function() {
				rd_city_workshop_2_session('1');
			});
    		$('#label_city_workshop_2_session_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_2_session_1').click();
    		});				

			$('#rd_city_workshop_2_session_2').on('click', function() {
				rd_city_workshop_2_session('2');
			});
    		$('#label_city_workshop_2_session_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_2_session_2').click();
    		});				

			$('#rd_city_workshop_2_session_3').on('click', function() {
				rd_city_workshop_2_session('3');
			});
    		$('#label_city_workshop_2_session_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_2_session_3').click();
    		});				

			// radio workshop 3				
			$('#rd_city_workshop_3_session_1').on('click', function() {
				rd_city_workshop_3_session('1');
			});
    		$('#label_city_workshop_3_session_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_3_session_1').click();
    		});				

			$('#rd_city_workshop_3_session_2').on('click', function() {
				rd_city_workshop_3_session('2');
			});
    		$('#label_city_workshop_3_session_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_3_session_2').click();
    		});				

			$('#rd_city_workshop_3_session_3').on('click', function() {
				rd_city_workshop_3_session('3');
			});
    		$('#label_city_workshop_3_session_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_3_session_3').click();
    		});				

			// radio workshop 4				
			$('#rd_city_workshop_4_session_1').on('click', function() {
				rd_city_workshop_4_session('1');
			});
    		$('#label_city_workshop_4_session_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_4_session_1').click();
    		});				

			$('#rd_city_workshop_4_session_2').on('click', function() {
				rd_city_workshop_4_session('2');
			});
    		$('#label_city_workshop_4_session_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_4_session_2').click();
    		});				

			$('#rd_city_workshop_4_session_3').on('click', function() {
				rd_city_workshop_4_session('3');
			});
    		$('#label_city_workshop_4_session_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_4_session_3').click();
    		});				

			// radio workshop 5				
			$('#rd_city_workshop_5_session_1').on('click', function() {
				rd_city_workshop_5_session('1');
			});
    		$('#label_city_workshop_5_session_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_5_session_1').click();
    		});				

			$('#rd_city_workshop_5_session_2').on('click', function() {
				rd_city_workshop_5_session('2');
			});
    		$('#label_city_workshop_5_session_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_5_session_2').click();
    		});				

			$('#rd_city_workshop_5_session_3').on('click', function() {
				rd_city_workshop_5_session('3');
			});
    		$('#label_city_workshop_5_session_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_5_session_3').click();
    		});				

			// radio workshop 6				
			$('#rd_city_workshop_6_session_1').on('click', function() {
				rd_city_workshop_6_session('1');
			});
    		$('#label_city_workshop_6_session_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_6_session_1').click();
    		});				

			$('#rd_city_workshop_6_session_2').on('click', function() {
				rd_city_workshop_6_session('2');
			});
    		$('#label_city_workshop_6_session_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_6_session_2').click();
    		});				

			$('#rd_city_workshop_6_session_3').on('click', function() {
				rd_city_workshop_6_session('3');
			});
    		$('#label_city_workshop_6_session_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_6_session_3').click();
    		});				

			// radio workshop 7				
			$('#rd_city_workshop_7_session_1').on('click', function() {
				rd_city_workshop_7_session('1');
			});
    		$('#label_city_workshop_7_session_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_7_session_1').click();
    		});				

			$('#rd_city_workshop_7_session_2').on('click', function() {
				rd_city_workshop_7_session('2');
			});
    		$('#label_city_workshop_7_session_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_7_session_2').click();
    		});				

			$('#rd_city_workshop_7_session_3').on('click', function() {
				rd_city_workshop_7_session('3');
			});
    		$('#label_city_workshop_7_session_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_7_session_3').click();
    		});				

			// radio workshop 8				
			$('#rd_city_workshop_8_session_1').on('click', function() {
				rd_city_workshop_8_session('1');
			});
    		$('#label_city_workshop_8_session_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_8_session_1').click();
    		});				

			$('#rd_city_workshop_8_session_2').on('click', function() {
				rd_city_workshop_8_session('2');
			});
    		$('#label_city_workshop_8_session_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_8_session_2').click();
    		});				

			$('#rd_city_workshop_8_session_3').on('click', function() {
				rd_city_workshop_8_session('3');
			});
    		$('#label_city_workshop_8_session_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_8_session_3').click();
    		});				

			// radio workshop 9				
			$('#rd_city_workshop_9_session_1').on('click', function() {
				rd_city_workshop_9_session('1');
			});
    		$('#label_city_workshop_9_session_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_9_session_1').click();
    		});				

			$('#rd_city_workshop_9_session_2').on('click', function() {
				rd_city_workshop_9_session('2');
			});
    		$('#label_city_workshop_9_session_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_9_session_2').click();
    		});				

			$('#rd_city_workshop_9_session_3').on('click', function() {
				rd_city_workshop_9_session('3');
			});
    		$('#label_city_workshop_9_session_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_9_session_3').click();
    		});				

			// radio workshop 10				
			$('#rd_city_workshop_10_session_1').on('click', function() {
				rd_city_workshop_10_session('1');
			});
    		$('#label_city_workshop_10_session_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_10_session_1').click();
    		});				

			$('#rd_city_workshop_10_session_2').on('click', function() {
				rd_city_workshop_10_session('2');
			});
    		$('#label_city_workshop_10_session_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_10_session_2').click();
    		});				

			$('#rd_city_workshop_10_session_3').on('click', function() {
				rd_city_workshop_10_session('3');
			});
    		$('#label_city_workshop_10_session_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_10_session_3').click();
    		});				

			// radio workshop 11				
			$('#rd_city_workshop_11_session_1').on('click', function() {
				rd_city_workshop_11_session('1');
			});
    		$('#label_city_workshop_11_session_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_11_session_1').click();
    		});				

			$('#rd_city_workshop_11_session_2').on('click', function() {
				rd_city_workshop_11_session('2');
			});
    		$('#label_city_workshop_11_session_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_11_session_2').click();
    		});				

			$('#rd_city_workshop_11_session_3').on('click', function() {
				rd_city_workshop_11_session('3');
			});
    		$('#label_city_workshop_11_session_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_11_session_3').click();
    		});				

			// radio workshop 12				
			$('#rd_city_workshop_12_session_1').on('click', function() {
				rd_city_workshop_12_session('1');
			});
    		$('#label_city_workshop_12_session_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_12_session_1').click();
    		});				

			$('#rd_city_workshop_12_session_2').on('click', function() {
				rd_city_workshop_12_session('2');
			});
    		$('#label_city_workshop_12_session_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_12_session_2').click();
    		});				

			$('#rd_city_workshop_12_session_3').on('click', function() {
				rd_city_workshop_12_session('3');
			});
    		$('#label_city_workshop_12_session_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_12_session_3').click();
    		});				

			// radio workshop 13				
			$('#rd_city_workshop_13_session_1').on('click', function() {
				rd_city_workshop_13_session('1');
			});
    		$('#label_city_workshop_13_session_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_13_session_1').click();
    		});				

			$('#rd_city_workshop_13_session_2').on('click', function() {
				rd_city_workshop_13_session('2');
			});
    		$('#label_city_workshop_13_session_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_13_session_2').click();
    		});				

			$('#rd_city_workshop_13_session_3').on('click', function() {
				rd_city_workshop_13_session('3');
			});
    		$('#label_city_workshop_13_session_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_13_session_3').click();
    		});				

			// radio workshop 14				
			$('#rd_city_workshop_14_session_1').on('click', function() {
				rd_city_workshop_14_session('1');
			});
    		$('#label_city_workshop_14_session_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_14_session_1').click();
    		});				

			$('#rd_city_workshop_14_session_2').on('click', function() {
				rd_city_workshop_14_session('2');
			});
    		$('#label_city_workshop_14_session_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_14_session_2').click();
    		});				

			$('#rd_city_workshop_14_session_3').on('click', function() {
				rd_city_workshop_14_session('3');
			});
    		$('#label_city_workshop_14_session_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_city_workshop_14_session_3').click();
    		});				
				
				
				
			// $(window).bind("load", function() {
			    // $('#loading').fadeOut(2000);
			// });
				
			// $("#form_signin").fadeOut();
			
			$("#tab4").addClass("active");
			
		});
	
	</script>
	