<% provide(:title, 'Event Registration') %>

	<%= render 'share/backtotop' %>

	<ul class="lc-inline eventpages-ul-1">
		<li class="eventpages-li-1">
			<%= render 'share/eventpages_tabs' %>
			<a href="http://www.amplify.com/ela" target="_blank" class="event-reg-ad">
				<%= image_tag("amplify.png", alt: "amplify.png") %>
			</a>
		</li>
		<li class="eventpages-li-1">
			<div id="tab-container" class="reg-events-new">
				<div class="reg-events-wrapper-index-1">
					<div class="table-white">
						<div class="row">
							<div class="cell-100percent">
								<div class="event">
									<div style="margin-top:50px;" class="seperator-event">
										<%= image_tag("logo-icon-come-together.png", alt: "logo-icon-come-together.png") %>
										LIVE EVENT REGISTRATION
									</div>
									<div class="event-inside">
										<br><br><br>
										<p style="clear:both;">
											<a href="/ContactUs">
												<%= image_tag("events-reg-form-1.png", alt: "events-reg-form-1.png", height: "150px", align: "left") %>
											</a>
											<strong>WELCOME to REGISTRATION </strong>for Learning Counsel events! School executives and educators are welcome to attend
											 in any city FREE of charge representing their institution.  
										</p>
										<br>
										<p>
											Register for upcoming events and we'll keep you posted on any changes, dates and final venues via email. 
											You must be present at the event to win any drawing. 							
										</p>
										<br>
										<p style="padding-bottom: 20px;">
											If you are a private sector registrant, please note that there is an attendance fee for you unless your company is already sponsoring. 
											We will contact you after your registration.  
										</p>
										<div class="bottom-event-squares">&nbsp;</div>
									</div>
								</div>
							</div>
						</div>
						<a name="anchor1"></a>    		      		     		
						<div class="row" style="height: 30px;">
							<div  class="cell-100percent" style="padding-left: 300px;">
					    		<% unless flash[:captcha].nil? %>
								<div class="alert"><%= flash[:captcha] %></div>
					      		<% end %>
							</div>
						</div>
						<div class="row" style="height: 10px;"></div>
					</div>
				</div>
				<div class="reg-events-wrapper-index-1">
					<div class="top-event-squares">&nbsp;</div>
					<section>
						<div id="join-image" class="">
							<div id="form_reg_event" class="form-reg-event" tabindex="1">
								<%= form_for( @reg_event, :html => {:id => "form_join"}) do |f| %> 
									<!-- 
									$("div.errors p").html(message);
									$("div.errors").show(); 
									-->
									<div class="errors" style="height: 30px; text-align: left; padding-left: 300px;">
										<p></p>
										<!-- <div class="row">
											<div class="cell-left-reg-event padding-top-1"></div>
											<div class="cell-right-reg-event"></div>
											<div class="cell-error-reg-event"></div>										
										</div> -->
									</div>			
									<div class="input-form-spacer"></div>
								<div class="table">
									<!--name_first-->
									<div class="row">
										<div class="cell-left-reg-event padding-top-1">
											<%= f.label(:name_first, "First Name", :class => 'input-label required-label', :id => 'label_reg_event_name_first') %>
										</div>
										<div class="cell-right-reg-event">
											 <%= f.text_field(:name_first, :class => "input-form required", :placeholder => 'First Name', :tabindex => '2', :autofocus => true) %>					 
										</div>
										<div class="cell-error-reg-event" id="state_reg_event_name_first"><p id="error_reg_event_name_first"></p></div>      					   
									</div>      		
									<div class="input-form-spacer"></div>
									<!--name_last-->
									<div class="row">
										<div class="cell-left-reg-event padding-top-1">
											<%= f.label(:name_last, "Last Name", :class => 'input-label required-label', :id => 'label_reg_event_name_last') %>
										</div>
										<div class="cell-right-reg-event">
											 <%= f.text_field(:name_last, :class => "input-form required", :placeholder => 'Last Name', :tabindex => '3') %>					 
										</div>
										<div class="cell-error-reg-event" id="state_reg_event_name_last"><p id="error_reg_event_name_last"></p></div>      					   
									</div>      		
									<div class="input-form-spacer"></div>
									<!--name_title_sir-->
									<div class="row">
										<div class="cell-left-reg-event padding-top-1">
											<%= f.label(:name_title_sir, "Mr, Mrs, Ms, Dr", :class => 'input-label required-label', :id => 'label_reg_event_name_title') %>
										</div>
										<div class="cell-right-reg-event">
											 <%= f.text_field(:name_title_sir, :class => "input-form required", :placeholder => 'Mr, Mrs, Ms, Dr', :tabindex => '4') %>					 
										</div>
										<div class="cell-error-reg-event" id="state_reg_event_name_title_sir"><p id="error_reg_event_name_title_sir"></p></div>      					   
									</div>      		
									<div class="input-form-spacer"></div>
									<!--name_title-->
									<div class="row">
										<div class="cell-left-reg-event padding-top-1">
											<%= f.label(:name_title, "Position Title", :class => 'input-label required-label', :id => 'label_reg_event_name_title') %>
										</div>
										<div class="cell-right-reg-event">
											 <%= f.text_field(:name_title, :class => "input-form required", :placeholder => 'Title', :tabindex => '5') %>					 
										</div>
										<div class="cell-error-reg-event" id="state_reg_event_name_title"><p id="error_reg_event_name_title"></p></div>      					   
									</div>      		
									<div class="input-form-spacer"></div>
									<div class="input-form-spacer"></div>
								</div>
									
									<!--type_affiliation-->			
									<div style="width: 100%;">
										<div style="width: 360px; margin-left: 300px;">
											<div class="" style="display: table; text-align: center;">
												<div class="row-radio-1">						
													<div class="cell-radio-1">
														<label id="label_type_affiliation_school" class="input-label required-label label-hover" for="type_affiliation_school" tabindex="6">School/District</label>
													</div>
													<div class="cell-radio-1">
														<label id="label_type_affiliation_company" class="input-label required-label label-hover" for="type_affiliation_company" tabindex="7">Company</label>
													</div>
													<div class="cell-radio-1">
														<label id="label_type_affiliation_other" class="input-label required-label label-hover" for="type_affiliation_other" tabindex="8">Other</label>
													</div>
													<div class="cell-radio-2">
													</div>
												</div>							
												<div class="row-radio-2"></div>
												<div class="row-radio-1">						
													<div class="cell-radio-1">
														<div id="rd_type_affiliation_school" class="rd-button-test" style="margin: 0 auto;"></div>
														<%= f.radio_button(:type_affiliation, 1) %>
													</div>
													<div class="cell-radio-1">
														<div id="rd_type_affiliation_company" class="rd-button-test" style="margin: 0 auto;"></div>
														<%= f.radio_button(:type_affiliation, 2) %>
													</div>
													<div class="cell-radio-1">
														<div id="rd_type_affiliation_other" class="rd-button-test" style="margin: 0 auto;"></div>
														<%= f.radio_button(:type_affiliation, 3) %>
													</div>							
													<div id="error_radio" class="cell-radio-2 error-radio">
														<span id="error_radio_span" class="visibility-hidden">*</span>
													</div>							
												</div>
											</div>
										</div>
									</div>
																		
									<% if false %>
									<div class="row">
										<div class="cell-left-reg-event padding-top-1">
											<%= f.label(:type_affiliation, "School/District or Company?", :class => 'input-label required-label', :id => 'label_reg_event_type_affiliation') %>
										</div>
										<div class="cell-right-reg-event">
											<select name="reg_event[type_affiliation]" id="reg_event_type_affiliation" class="" style="display: none;" data-template="#dropdown-data1">
											    <option value="0" selected="selected" id="option-default">-School/District or Company?-</option>	
											    <option value="1">School/District</option>
											    <option value="2">Company</option>
											    <option value="3">OTHER</option>
											</select>										
										</div>
										<div class="cell-error-reg-event" id="state_reg_event_type_affiliation"><p id="error_reg_event_type_affiliation" class="select-errors"></p></div>     
									</div>      		
									<% end %>
									
									<div class="input-form-spacer"></div>
									<div class="input-form-spacer"></div>
									
								<div class="table">
									<!--name_affiliation-->
									<div class="row">
										<div class="cell-left-reg-event padding-top-1">
											<%= f.label(:name_affiliation, "School/District or Company Name", :class => 'input-label required-label', :id => 'label_reg_event_name_affiliation') %>
										</div>
										<div class="cell-right-reg-event">
											 <%= f.text_field(:name_affiliation, :class => "input-form required", :placeholder => 'School/District or Company Name', :tabindex => '9') %>					 
										</div>
										<div class="cell-error-reg-event" id="state_reg_event_name_affiliation"><p id="error_reg_event_name_affiliation"></p></div>      					   
									</div>      		
									<div class="input-form-spacer"></div>
									<!--address-->
									<div class="row">
										<div class="cell-left-reg-event padding-top-1">
											<%= f.label(:address, "Address", :class => 'input-label required-label', :id => 'label_reg_event_address') %>
										</div>
										<div class="cell-right-reg-event">
											 <%= f.text_field(:address, :class => "input-form required", :placeholder => 'Address', :tabindex => '10') %>					 
										</div>
										<div class="cell-error-reg-event" id="state_reg_event_address"><p id="error_reg_event_address"></p></div>      					   
									</div>      		
									<div class="input-form-spacer"></div>
									<!--city-->
									<div class="row">
										<div class="cell-left-reg-event padding-top-1">
											<%= f.label(:city, "City", :class => 'input-label required-label', :id => 'label_reg_event_city') %>
										</div>
										<div class="cell-right-reg-event">
											 <%= f.text_field(:city, :class => "input-form required", :placeholder => 'City', :tabindex => '11') %>					 
										</div>
										<div class="cell-error-reg-event" id="state_reg_event_city"><p id="error_reg_event_city"></p></div>      					   
									</div>      		
									<div class="input-form-spacer"></div>
									<!--state-->
									<div class="row">
										<div class="cell-left-reg-event padding-top-1">
											<%= f.label(:state, "State", :class => 'input-label required-label', :id => 'label_reg_event_state') %>
										</div>
										<div class="cell-right-reg-event">
											 <%= f.text_field(:state, :class => "input-form required", :placeholder => 'State', :tabindex => '12') %>					 
										</div>
										<div class="cell-error-reg-event" id="state_reg_event_state"><p id="error_reg_event_state"></p></div>      					   
									</div>      		
									<div class="input-form-spacer"></div>
									<!--zip-->
									<div class="row">
										<div class="cell-left-reg-event padding-top-1">
											<%= f.label(:zip, "Zip", :class => 'input-label required-label', :id => 'label_reg_event_zip') %>
										</div>
										<div class="cell-right-reg-event">
											 <%= f.text_field(:zip, :class => "input-form required", :placeholder => 'Zip', :tabindex => '13') %>					 
										</div>
										<div class="cell-error-reg-event" id="state_reg_event_zip"><p id="error_reg_event_zip"></p></div>      					   
									</div>      		
									<div class="input-form-spacer"></div>
									<!--phone-->
									<div class="row">
										<div class="cell-left-reg-event padding-top-1">
											<%= f.label(:phone, "Phone", :class => 'input-label required-label', :id => 'label_reg_event_phone') %>
										</div>
										<div class="cell-right-reg-event">
											 <%= f.text_field(:phone, :class => "input-form required", :placeholder => 'Phone', :tabindex => '14') %>					 
										</div>
										<div class="cell-error-reg-event" id="state_reg_event_phone"><p id="error_reg_event_phone"></p></div>      					   
									</div>      		
									<div class="input-form-spacer"></div>
									<!--phone_mobile-->
									<div class="row">
										<div class="cell-left-reg-event padding-top-1">
											<%= f.label(:phone_mobile, "(*optional) Mobile Phone<br>for a text reminder<br>before the Event".html_safe, :class => 'input-label required-label', :id => 'label_reg_event_phone_mobile') %>
										</div>
										<div class="cell-right-reg-event">
											 <%= f.text_field(:phone_mobile, :class => "input-form required", :placeholder => 'Mobile Phone', :tabindex => '15') %>					 
										</div>
										<div class="cell-error-reg-event" id="state_reg_event_phone_mobile"><p id="error_reg_event_phone_mobile"></p></div>      					   
									</div>      		
									<div class="input-form-spacer"></div>
									<!--email-->
									<div class="row">
										<div class="cell-left-reg-event padding-top-1">
											<%= f.label(:email, "Email", :class => 'input-label required-label', :id => 'label_reg_event_email') %>
										</div>
										<div class="cell-right-reg-event">
											<%= f.text_field(:email, :class => "input-form required", :placeholder => 'email@example.com', :tabindex => '16' ) %>
										</div>
										<div class="cell-error-reg-event" id="state_reg_event_email"><p id="error_reg_event_email"></p></div>      	
									</div>      		
									<div class="input-form-spacer"></div>
									<!--email_cc_1 -->
									<div class="row">
										<div class="cell-left-reg-event padding-top-1">
											<%= f.label(:email_cc_1, "(*optional) cc Email", :class => 'input-label required-label', :id => 'label_reg_event_email_cc_1') %>
										</div>
										<div class="cell-right-reg-event">
											<%= f.text_field(:email_cc_1, :class => "input-form required", :placeholder => 'email@example.com', :tabindex => '17' ) %>
										</div>
										<div class="cell-error-reg-event" id="state_reg_event_email_cc_1"><p id="error_reg_event_email_cc_1"></p></div>      	
									</div>      		
									<div class="input-form-spacer"></div>
									<!--email_cc_2-->
									<div class="row">
										<div class="cell-left-reg-event padding-top-1">
											<%= f.label(:email_cc_2, "(*optional) cc Email", :class => 'input-label required-label', :id => 'label_reg_event_email_cc_2') %>
										</div>
										<div class="cell-right-reg-event">
											<%= f.text_field(:email_cc_2, :class => "input-form required", :placeholder => 'email@example.com', :tabindex => '18' ) %>
										</div>
										<div class="cell-error-reg-event" id="state_reg_event_email_cc_2"><p id="error_reg_event_email_cc_2"></p></div>      	
									</div>      		
									<div class="input-form-spacer"></div>
									<div class="input-form-spacer"></div>
									<div class="row">
										<div class="cell-left-reg-event padding-top-1">
											<!-- <label class="input-label required-label"><br><br>Workshops</label> -->
											<div>
												<label class="input-label required-label">
													Workshops
												</label>
											</div>
											<div>
												<label class="input-label required-label">
													<em>Select all that apply</em>
												</label>								
											</div>								
										</div>
										<div id="border_level" class="button-border" style="width: 416px;">
											<div class="cell-right-reg-event-cb">
												<div style="height: 2px;"></div>
												<div style="margin-left: 20px;">
													<table id="table1" class="cb-table">
														<tr class="cb-spacer"><td></td><td></td><td></td><td></td></tr>
														<tr>
															<td class="cb-col-1">
															</td>
															<td class="cb-col-2">
																<label class="input-label required-label label-cb"></label>
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>2015</span>
															</td>									
														</tr>
						
														<!-- 
														1  Phoenix, AZ			Jan 14 
														2  Seattle, WA			Jan 28
														3  Atlanta, GA			Feb 10
														4  Denver, CO			Feb 19
														5  Fresno, CA			Mar 4
														6  Minneapolis, MN		Mar 12
														7  Los Angeles, CA		Mar 24
														8  Charlotte, NC		Apr 16
														9  Chicago, IL			Apr 23
														10 Houston, TX			Apr 29
														11 Richmond, VA			May 14
														12 Memphis, TN			May TBD
														13 Tampa, FL			Sep 17
														14 Dallas, TX			Sep 19
														15 Newark, NJ			Sep 23
														16 San Jose, CA			Sep 30
														17 Kansas City, MO		Oct 7
														18 Boston, MA			Oct 15
														19 Santa Fe, NM			Oct 26-27
														-->								
						
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_2" class="cb-button-test-expired cb-valign"></div>
																 <%= f.check_box :city_workshop_2 %> 
															</td>
															<td class="cb-col-2">
																<span id="label_city_workshop_2" class="input-label required-label label-cb-expired reg-events-line-through" for="city_workshop_2" tabindex="">Seattle, WA</span>
																<!-- <span id="label_city_workshop_2" class="input-label required-label label-cb" for="city_workshop_2" onclick="cb_city_workshop('2');" tabindex="17" >Seattle, WA</span> -->
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Jan 27</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>								
														<tr>
															<td class="cb-col-1">
																<!-- <div id="cb_workshop_1_legacy" class="cb-button cb-valign"></div> -->
																<div id="cb_workshop_1" class="cb-button-test-expired cb-valign"></div>
																 <!-- <#%= f.check_box :city_workshop_1 %#> --> 
																 <%= f.check_box :city_workshop_1 %> 
															</td>
															<td class="cb-col-2">
																<span id="label_city_workshop_1" class="input-label required-label label-cb-expired reg-events-line-through" for="city_workshop_1" tabindex="">Phoenix, AZ</span>
																<!-- <span id="label_city_workshop_1" class="input-label required-label label-cb" for="city_workshop_1" onclick="cb_city_workshop('1');" tabindex="18" >Phoenix, AZ</span> -->
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Jan 29</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_3" class="cb-button-test-expired cb-valign"></div>
																 <%= f.check_box :city_workshop_3 %> 
															</td>
															<td class="cb-col-2">
																<span id="label_city_workshop_3" class="input-label required-label label-cb-expired reg-events-line-through" for="city_workshop_3" tabindex="">Atlanta, GA</span>
																<!-- <span id="label_city_workshop_3" class="input-label required-label label-cb" for="city_workshop_3" onclick="cb_city_workshop('3');" tabindex="19" >Atlanta, GA</span> -->
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Feb 10</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_4" class="cb-button-test-expired cb-valign"></div>
																 <%= f.check_box :city_workshop_4 %> 
															</td>
															<td class="cb-col-2">
																<span id="label_city_workshop_4" class="input-label required-label label-cb-expired reg-events-line-through" for="city_workshop_4" tabindex="">Denver, CO</span>
																<!-- <span id="label_city_workshop_4" class="input-label required-label label-cb" for="city_workshop_4" onclick="cb_city_workshop('4');" tabindex="20" >Denver, CO</span> -->
																<img src="/repository/schedule/co-final-logo.jpeg" style="width: 50px; vertical-align: middle;">
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Feb 19</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_5" class="cb-button-test-expired cb-valign"></div>
																 <%= f.check_box :city_workshop_5 %> 
															</td>
															<td class="cb-col-2">
																<span id="label_city_workshop_5" class="input-label required-label label-cb-expired reg-events-line-through" for="city_workshop_5" tabindex="">Fresno, CA</span>
																<!-- <span id="label_city_workshop_5" class="input-label required-label label-cb" for="city_workshop_5" onclick="cb_city_workshop('5');" tabindex="21" >Fresno, CA</span> -->
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Mar 4</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_6" class="cb-button-test-expired cb-valign"></div>
																 <%= f.check_box :city_workshop_6 %> 
															</td>
															<td class="cb-col-2">
																<span id="label_city_workshop_6" class="input-label required-label label-cb-expired reg-events-line-through" for="city_workshop_6">Minneapolis, MN</span>
																<!-- <span id="label_city_workshop_6" class="input-label required-label label-cb" for="city_workshop_6" onclick="cb_city_workshop('6');" tabindex="22" >Minneapolis, MN</span> -->
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Mar 11</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_7" class="cb-button-test-expired cb-valign"></div>
																 <%= f.check_box :city_workshop_7 %> 
															</td>
															<td class="cb-col-2">
																<span id="label_city_workshop_7" class="input-label required-label label-cb-expired reg-events-line-through" for="city_workshop_7">Los Angeles, CA</span>
																<!-- <span id="label_city_workshop_7" class="input-label required-label label-cb" for="city_workshop_7" onclick="cb_city_workshop('7');" tabindex="23">Los Angeles, CA</span> -->
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Mar 25</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_8" class="cb-button-test-expired cb-valign"></div>
																 <%= f.check_box :city_workshop_8 %> 
															</td>
															<td class="cb-col-2">
																<!-- <span id="label_city_workshop_8" class="input-label required-label label-cb" for="city_workshop_8" onclick="cb_city_workshop('8');" tabindex="24">Charlotte, NC</span> -->
																<span id="label_city_workshop_8" class="input-label required-label label-cb-expired reg-events-line-through" for="city_workshop_8">Charlotte, NC</span>
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Apr 16</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_9" class="cb-button-test-expired cb-valign"></div>
																 <%= f.check_box :city_workshop_9 %> 
															</td>
															<td class="cb-col-2">
																<!-- <span id="label_city_workshop_9" class="input-label required-label label-cb" for="city_workshop_9" onclick="cb_city_workshop('9');" tabindex="25">Chicago, IL</span> -->
																<span id="label_city_workshop_9" class="input-label required-label label-cb-expired reg-events-line-through" for="city_workshop_9">Chicago, IL</span>
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Apr 23</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_10" class="cb-button-test-expired cb-valign"></div>
																 <%= f.check_box :city_workshop_10 %> 
															</td>
															<td class="cb-col-2">
																<!-- <span id="label_city_workshop_10" class="input-label required-label label-cb" for="city_workshop_10" onclick="cb_city_workshop('10');" tabindex="26">Houston, TX</span> -->
																<span id="label_city_workshop_10" class="input-label required-label label-cb-expired reg-events-line-through" for="city_workshop_10">Houston, TX</span>
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Apr 29</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_11" class="cb-button-test-expired cb-valign"></div>
																 <%= f.check_box :city_workshop_11 %> 
															</td>
															<td class="cb-col-2">
																<!-- <span id="label_city_workshop_11" class="input-label required-label label-cb" for="city_workshop_11" onclick="cb_city_workshop('11');" tabindex="27">Richmond, VA</span> -->
																<span id="label_city_workshop_11" class="input-label required-label label-cb-expired reg-events-line-through" for="city_workshop_11">Richmond, VA</span>
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>May 14</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_12" class="cb-button-test-expired cb-valign"></div>
																 <%= f.check_box :city_workshop_12 %> 
															</td>
															<td class="cb-col-2">
																<!-- <span id="label_city_workshop_12" class="input-label required-label label-cb" for="city_workshop_12" onclick="cb_city_workshop('12');" tabindex="28">Memphis, TN</span> -->
																<span id="label_city_workshop_12" class="input-label required-label label-cb-expired reg-events-line-through" for="city_workshop_12">Memphis, TN</span>
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>May 27</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_14" class="cb-button-test cb-valign"></div>
																 <%= f.check_box :city_workshop_14 %> 
															</td>
															<td class="cb-col-2">
																<span id="label_city_workshop_14" class="input-label required-label label-cb" for="city_workshop_14" onclick="cb_city_workshop('14');" tabindex="29">Dallas, TX</span>
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Sept 10</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_13" class="cb-button-test cb-valign"></div>
																 <%= f.check_box :city_workshop_13 %> 
															</td>
															<td class="cb-col-2">
																<span id="label_city_workshop_13" class="input-label required-label label-cb" for="city_workshop_13" onclick="cb_city_workshop('13');" tabindex="30">Tampa, FL</span>
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Sept 17</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_15" class="cb-button-test cb-valign"></div>
																 <%= f.check_box :city_workshop_15 %> 
															</td>
															<td class="cb-col-2">
																<span id="label_city_workshop_15" class="input-label required-label label-cb" for="city_workshop_15" onclick="cb_city_workshop('15');" tabindex="31">Newark, NJ</span>
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Sept 23</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_16" class="cb-button-test cb-valign"></div>
																 <%= f.check_box :city_workshop_16 %> 
															</td>
															<td class="cb-col-2">
																<span id="label_city_workshop_16" class="input-label required-label label-cb" for="city_workshop_16" onclick="cb_city_workshop('16');" tabindex="32">San Jose, CA</span>
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Sept 30</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_17" class="cb-button-test cb-valign"></div>
																 <%= f.check_box :city_workshop_17 %> 
															</td>
															<td class="cb-col-2">
																<span id="label_city_workshop_17" class="input-label required-label label-cb" for="city_workshop_17" onclick="cb_city_workshop('17');" tabindex="33">Kansas City, MO (IA, NE, KS)</span>
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Oct 7</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_20" class="cb-button-test cb-valign"></div>
																 <%= f.check_box :city_workshop_20 %> 
															</td>
															<td class="cb-col-2">
																<span id="label_city_workshop_20" class="input-label required-label label-cb" for="city_workshop_20" onclick="cb_city_workshop('20');" tabindex="34">Baltimore, MD</span>
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Oct 13</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_18" class="cb-button-test cb-valign"></div>
																 <%= f.check_box :city_workshop_18 %> 
															</td>
															<td class="cb-col-2">
																<span id="label_city_workshop_18" class="input-label required-label label-cb" for="city_workshop_18" onclick="cb_city_workshop('18');" tabindex="35">Boston, MA</span>
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Oct 15</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_19" class="cb-button-test cb-valign"></div>
																 <%= f.check_box :city_workshop_19 %> 
															</td>
															<td class="cb-col-2">
																<div class="reg-events-position-relative">
																	<div class="reg-events-position-top-1" onclick="cb_city_workshop('19');" tabindex="36">
																		<span id="label_city_workshop_19" class="input-label required-label label-cb" for="city_workshop_19"><strong>Albuquerque, NM</strong></span>
																		<div class="reg-events-spacer-inner-1"></div>
																		<span class="input-label required-label label-cb"><strong><em>National Gathering</em></strong></span>
																	</div>
																</div>
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span><strong>Oct 26-27</strong></span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_21" class="cb-button-test cb-valign"></div>
																 <%= f.check_box :city_workshop_21 %> 
															</td>
															<td class="cb-col-2">
																<span id="label_city_workshop_21" class="input-label required-label label-cb" for="city_workshop_21" onclick="cb_city_workshop('21');" tabindex="37">Sacramento, CA</span>
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Oct 29</span>
															</td>
														</tr>
														<tr class="cb-spacer"></tr>
														<tr>
															<td class="cb-col-1">
																<div id="cb_workshop_22" class="cb-button-test cb-valign"></div>
																 <%= f.check_box :city_workshop_22 %> 
															</td>
															<td class="cb-col-2">
																<span id="label_city_workshop_22" class="input-label required-label label-cb" for="city_workshop_22" onclick="cb_city_workshop('22');" tabindex="38">San Diego, CA</span>
															</td>
															<td class="cb-col-3"></td>
															<td class="cb-col-4">
																<span>Nov 5</span>
															</td>
														</tr>
													</table>
												</div>
											</div>
										</div>
										<div class="reg-events-state-1">
											<div class="reg-events-state-2">
												<div class="reg-events-state-3a"></div>
												<div class="reg-events-state-3b">
													<div class="reg-events-state-4">
														<div class="cell-error-reg-event-cb" id="state_reg_event_city_workshop">
															<p id="error_reg_event_city_workshop" class="cb-errors"></p>
														</div>      
													</div>							
												</div>
											</div>
										</div>
									</div>      	
								</div>	
									<!-- <div class="input-form-spacer"></div> -->
									<!-- <div class="input-form-spacer"></div> -->
									<!-- <div class="input-form-spacer"></div> -->
									<div class="input-form-spacer"></div>
									<div class="input-form-spacer"></div>
									<div class="input-form-spacer"></div>
									<div class="submit-button-event">
										<%= f.submit "Submit and Download", :id => 'btn_submit', :class => 'btn submitregevent', :tabindex => '39' %>
									</div>   		
								<% end %>
							</div>		
						</div>
					</section>
				</div>
			</div>
		</li>
	</ul>
	<div style="height: 100px;"></div>
	<div id="bottom-graphic">
		<%= image_tag("lc-box-cloud.png", alt: "lc-box-cloud.png") %>
		<div class="lc-landing-box-row"></div>
	</div>
	
	<div style="clear: both;"></div>
	