<% provide(:title, 'Papers') %>

<%= render 'share/backtotop' %>

<div class="papers">

	<div class="jqmWindow-papers-1" id="dialog_papers_1">
		<div class="seperator-papers" style="margin-top:0px;">
		<%= image_tag("logo-icon-come-together.png", alt: "X") %>
		DOWNLOAD
		</div>
   		<div class="table-dl-form">
   			<div class="row">
   				<div class="cell-100percent">
   					<div id="close_form1" class="form-edit-close jqmClose" tabindex="1">
   						<%= image_tag("x_close_w20_h20.png", alt: "X", height: "20px") %>
   					</div>
   					<div style="clear: both;"></div>
   				</div>
			</div>
		</div>				   				
		<hr class="dl-form-divider-line">
		<div style="height: 10px;"></div>
   		<div class="table-dl-form">
   			<div class="row">
   				<div class="cell-100percent" style="text-align: center;">
   					<span class="form-pdf-title">
   						<em>For free viewing and download,</em>
   						<br>
   						please enter the email tied with your Community Registration.
   					</span>
   				</div>
			</div>
		</div>				   				
		<div style="height: 20px;"></div>
		<form id="form_pdf" class="form-pdf">
			<div class="table-dl-form-background">
		   		<div class="table-dl-form">
		   			<div class="row">
		   				<div class="cell-200"></div>
		   				<div class="cell-300">
							<input class="input-gen" id="dl_email" name="dl[email]" placeholder="Email" tabindex="2" type="" autofocus />
		   				</div>
		   				<div class="cell-200">
		   					<div id="error_dl_email" class="form-dl-error error-div"><span></span></div>
		   				</div>
   					</div>
   				</div>
			</div>
			<div style="height: 10px;"></div>
			<div class="table-dl-form">
	   			<div class="row">
	   				<div class="cell-100percent" style="text-align: center;">
						<input id="submit_dl_contact" class="btn-submit" type="submit" value="Submit" tabindex="4">
	   				</div>
				</div>
			</div>														   				
		</form>
		<div style="height: 20px;"></div>
   		<div class="table-dl-form">
   			<div class="row">
   				<div class="cell-100percent" style="text-align: center;">
   					<span class="form-pdf-title">
   						<em>Not registered in our Community?</em>
   						<br>
   						<a href="/CommunityRegistration">&laquo; Community Registration &raquo;</a>
   					</span>
   				</div>
			</div>
		</div>				   								
	</div>

	<div class="wrapper">
		<div class="seperator-2">
			<%= image_tag("logo-boxes-alone-w80-h80.png", alt: "", width: "80px", height: "80px") %>
				PAPERS
		</div>

		<!-- <div class="height-30"></div>
		<div id="render_download_msg" class="render-download-msg blink-me"></div> -->

		<div class="kontainer">
			<div class="kontainer-space-1"></div>
				<div id="mainkolumn" class="withsidebar">
					<div id="k-articlecontent">
						<p class="papers-top-info">
							The Learning Counsel presents papers and briefs on critical topics in Digital Education.
							Click on the papers below to access and download.
						</p>
						<div class="kontainer-space-1"></div>
						<!-- Dream Box Paper added 21 Apr 15-->
						<div style="height: 30px; position: relative;"></div>
						<div class="k-governcell ktop kbottom">	
							<div class="k-outercell kol-619">
								<!-- <a href="http://www2.dreambox.com/l/14872/2015-04-06/58gslh" class="record-hit" data-record-hit-id="3"> -->
								<div class="record-hit" data-href="http://www2.dreambox.com/l/14872/2015-04-06/58gslh" class="record-hit" data-record-hit-id="3">
									<div class="k-inner-cell vertical-align-top padding-top-1">
										<div class="text_container b_container text-container-1">
											<div class="pdf-image-border">
											    <%= image_tag("papers/paper-dreambox-w200-h258.jpg", alt: "Dreambox Learning", width: "200px", height: "258px") %>
											</div>
										</div>
										<div class="kpaper-text-wrapper">
											<div class="kpaper-text">
												<h2 style="color: #0088b0;">
													Best Practices for<br/> Evaluating Digital Curricula</h2>
												<p>
													Whether a school is building a blended learning program 
													or simply wants to enhance learning with technology, it is 
													critical to evaluate the quality of digital learning programs.
													In this white paper, you’ll learn:<br/><br/>
													&bull; Some of the unique considerations involved in selecting digital resources<br/>
													&bull; Evidence-based learning principles to support student-centered environments<br/>
													&bull; An evaluation checklist
												</p>
												<%= image_tag("papers/dreambox-w150-h71.png", alt: "", width: "150px", height: "70px", class: "papers-logo img-margin-left-250") %>
												<span class="papers-download-btn">DOWNLOAD</span>
											</div>														
										</div>
									</div>
								</div>	
							</div>
						</div>
						
						<div style="height: 30px; position: relative;"></div>
						<div class="k-governcell ktop kbottom">	
							<div class="k-outercell kol-619">
								<!-- <a href="../pdfs/Netop-Brief-R4.pdf" class="record-hit gated" data-record-hit-id="1"> -->
								<div class="record-hit gated" data-href="../pdfs/Netop-Brief-R4.pdf" data-record-hit-id="1">
									<div class="k-inner-cell vertical-align-top padding-top-1">
										<div class="text_container b_container text-container-1">
											<div class="pdf-image-border">
											    <%= image_tag("papers/paper-thumb-netop-w200-h256.jpg", alt: "", width: "200px", height: "256px") %>
											</div>
										</div>
										<div class="kpaper-text-wrapper">
											<div class="kpaper-text">
												<h2 style="color: #9f1218;">App Planning for Instant Classroom<br/>
												Teaching &amp; Learning</h2>
												<p>
													This brief discusses a bold idea for apps in the classroom now that 50% of students nationally have access to computing devices for part or all of the day. This brief also showcases research and provides highlights on several key classroom app-planning points.
												</p>
												<%= image_tag("papers/logo-icon-come-together-tag-w150-h79.png", alt: "", width: "150px", height: "79px", class: "papers-logo") %>
												<span class="papers-download-btn">DOWNLOAD</span>
											</div>														
										</div>
									</div>
								</div>	
							</div>
						</div>
						<div style="height: 30px; position: relative;"></div>
						<div class="k-governcell ktop kbottom">	
							<div class="k-outercell kol-619">
								<!-- <a href="../pdfs/Digital-Curriculum-Strategy-Brief.pdf" class="record-hit gated" data-record-hit-id="2"> -->
								<div class="record-hit gated" data-href="../pdfs/Digital-Curriculum-Strategy-Brief.pdf" data-record-hit-id="2">
									<div class="k-inner-cell vertical-align-top padding-top-1">
										<div class="text_container b_container text-container-1">
											<div class="pdf-image-border">
											    <%= image_tag("papers/paper-thumb-digital-curriculum-2-w200-h249.jpg", alt: "", width: "200px", height: "249px") %>
											</div>
										</div>
										<div class="kpaper-text-wrapper">
											<div class="kpaper-text">
												<h2 style="color: #41b737;">2013-2014<br/>
												Digital Curriculum Strategy for K12 Schools</h2>
												<p>
													This brief addresses digital curriculum strategy from the
													viewpoint of innovation in K12 districts. It first defines a
													Digital Curriculum Strategy and then covers processes for
													developing a workable Digital Curriculum Strategy in your
													area.
												</p>
												<%= image_tag("papers/logo-icon-come-together-tag-w150-h79.png", alt: "", width: "150px", height: "79px", class: "papers-logo") %>
												<span class="papers-download-btn">DOWNLOAD</span>
											</div>														
										</div>
									</div>
								</div>	
							</div>
						</div>
						<div style="height: 30px; position: relative;"></div>
						<div class="k-governcell ktop kbottom">	
							<div class="k-outercell kol-619">
								<!-- <a href="http://education.i2i.org/wp-content/uploads/2014/07/IP_2_2014_web_b.pdf" class="record-hit" data-record-hit-id="4"> -->
								<div class="record-hit" data-href="http://education.i2i.org/wp-content/uploads/2014/07/IP_2_2014_web_b.pdf" data-record-hit-id="4">
									<div class="k-inner-cell vertical-align-top padding-top-1">
										<div class="text_container b_container text-container-1">
											<div class="pdf-image-border">
											    <%= image_tag("papers/paper-colorado-w200-h235.jpg", alt: "", width: "200px", height: "235px") %>
											</div>
										</div>
										<div class="kpaper-text-wrapper">
											<div class="kpaper-text">
												<h2 style="color: #1049BC;">
													School District Partnerships Help Colorado<br/>
													K12	Blended Learning Take Flight</h2>
												<p>
													Blended learning is a versatile teaching method that combines
													in-person instruction with online learning in the classroom,
													lab, or other work space including home. This paper focuses
													on syste m-wide efforts in three Front Range school districts
													and a group of rural districts in the San Luis Val- ley. The report
													also provides a list of state and national resources for
													schools and districts looking to implement blended learning
													techniques on a limited or system-wide basis and questions to
													consider prior to starting.
												</p>
												<%= image_tag("papers/independence-institute-w150-h66.jpg", alt: "", width: "150px", height: "66px", class: "papers-logo img-margin-left-250") %>
												<span class="papers-download-btn">DOWNLOAD</span>
											</div>														
										</div>
									</div>
								</div>	
							</div>
						</div>
						<div style="height: 30px; position: relative;"></div>
						<div class="k-governcell ktop kbottom">	
							<div class="k-outercell kol-619">
								<!-- <a href="https://s3.amazonaws.com/MHE_Social_Media/Whitepapers/District_Digital_Conversion_whitepaper_WEB_06162014.pdf" class="record-hit" data-record-hit-id="5"> -->
								<div class="record-hit" data-href="https://s3.amazonaws.com/MHE_Social_Media/Whitepapers/District_Digital_Conversion_whitepaper_WEB_06162014.pdf" data-record-hit-id="5">
									<div class="k-inner-cell vertical-align-top padding-top-1">
										<div class="text_container b_container text-container-1">
											<div class="pdf-image-border">
												<%= image_tag("papers/paper-McGraw-Hill-DDC-w200-h259.jpg", alt: "", width: "200px", height: "259px") %>												    					    
											</div>
										</div>
										<div class="kpaper-text-wrapper">
											<div class="kpaper-text">
												<h2 style="color: #e51b24;">
													District Digital Conversion<br/>
													Empowering Personalized Learning</h2>
												<p>
													How do we go from a status quo, paper driven organization,
													to a more progressive and engaging digital school system?
													This is a question many school district leadership teams
													are wrestling with today. It is very important to address this
													question because the mechanics of going digital can sometimes
													be daunting. However, additional and even more important
													questions to ask are: What defines success and how
													will a district know it’s attaining success?
												</p>
												<br>
												<%= image_tag("papers/mcgraw-hill-w72-h71.jpg", alt: "", width: "72px", height: "71px") %>
												<span class="papers-download-btn">DOWNLOAD</span>
											</div>														
										</div>
									</div>
								</div>	
							</div>
						</div>
					<div style="height: 30px; position: relative;"></div>
					<div class="k-governcell ktop kbottom">	
						<div class="k-outercell kol-619">
							<!-- <a href="../pdfs/Case-Study-Burbank-2013.pdf" class="record-hit" data-record-hit-id="6"> -->
							<div class="record-hit" data-href="../pdfs/Case-Study-Burbank-2013.pdf" data-record-hit-id="6">
								<div class="k-inner-cell vertical-align-top padding-top-1">
									<div class="text_container b_container text-container-1">
										<div class="pdf-image-border margin-bottom-1">
										    <%= image_tag("papers/paper-thumb-1-w200-h260.jpg", alt: "", width: "200px", height: "260px") %>
										</div>
									</div>
									<div class="kpaper-text-wrapper">
										<div class="kpaper-text">
											<h2><span style="color: #dc995c;">CASE STUDY:</span><br/>
											Burbank Elementary School</h2>
											<div style="height: 16px;"></div>
											<p>
												Burbank Elementary School provides an educational
												environment where students are safe and secure, fully
												motivated and able to achieve their fullest potential.
											</p>
											<br><br><br><br><br><br>
											<span class="papers-download-btn">DOWNLOAD</span>
										</div>														
									</div>
								</div>
							</div>	
						</div>
					</div>
					<div style="height: 30px; position: relative;"></div>
					<div class="k-governcell ktop kbottom">	
						<div class="k-outercell kol-619">
							<!-- <a href="../pdfs/Case-Study-Marquez-2013.pdf" class="record-hit" data-record-hit-id="7"> -->
							<div class="record-hit" data-href="../pdfs/Case-Study-Marquez-2013.pdf" data-record-hit-id="7">
								<div class="k-inner-cell vertical-align-top padding-top-1">
									<div class="text_container b_container text-container-1">
										<div class="pdf-image-border margin-bottom-1">												
										    <%= image_tag("papers/paper-thumb-2-w200-h255.jpg", alt: "", width: "200px", height: "255px") %>
										</div>
									</div>
									<div class="kpaper-text-wrapper">
										<div class="kpaper-text">
											<h2><span style="color: #dc995c;">CASE STUDY:</span><br/>
											Marquez Elementary Charter School</h2>
											<div style="height: 16px;"></div>
											<p>
												Marquez’ Digital Edge program is an exciting, high-tech
												initiative that puts laptop computers directly in students’
												hands.
											</p>
											<br><br><br><br><br><br><br>
											<span class="papers-download-btn">DOWNLOAD</span>
										</div>														
									</div>
								</div>
							</div>	
						</div>
					</div>
					<div style="height: 30px; position: relative;"></div>
					<div class="k-governcell ktop kbottom">	
						<div class="k-outercell kol-619">
							<!-- <a href="../pdfs/Model-Innovation-City-Case-Study-Final.pdf" class="record-hit" data-record-hit-id="8"> -->
							<div class="record-hit" data-href="../pdfs/Model-Innovation-City-Case-Study-Final.pdf" data-record-hit-id="8">
								<div class="k-inner-cell vertical-align-top padding-top-1">
									<div class="text_container b_container text-container-1">
										<div class="pdf-image-border margin-bottom-1">
										    <%= image_tag("papers/paper-thumb-mooresville-w200-h260.jpg", alt: "", width: "200px", height: "260px") %>					    
										</div>
									</div>
									<div class="kpaper-text-wrapper">
										<div class="kpaper-text">
											<h2><span style="color: #dc995c;">CASE STUDY:</span><br/>
											Moorefield, NC; Napa, CA; Revere, MA</h2>
											<div style="height: 16px;"></div>
											<p>
												Why innovative superintendents are creating Model
												Innovation Cities &#8482; to solve the third grade reading dilemma.
											</p>
											<%= image_tag("papers/footsteps2brilliance-w150-h96.jpg", alt: "", width: "150px", height: "96px", class: "img-margin-left-0 papers-logo") %>
											<br><br>
											<span class="papers-download-btn">DOWNLOAD</span>
										</div>														
									</div>
								</div>
							</div>	
						</div>
					</div>
					<div style="height: 30px; position: relative;"></div>
					<div class="k-governcell ktop kbottom">	
						<div class="k-outercell kol-619">
							<!-- <a href="../pdfs/Touro-University-FINAL.pdf" class="record-hit" data-record-hit-id="9"> -->
							<div class="record-hit" data-href="../pdfs/Touro-University-FINAL.pdf" data-record-hit-id="9">
								<div class="k-inner-cell vertical-align-top padding-top-1">
									<div class="text_container b_container text-container-1">
										<div class="pdf-image-border margin-bottom-2">
										    <%= image_tag("papers/paper-thumb-touro-w200-h262.jpg", alt: "", width: "200px", height: "262px") %>					    
										</div>
									</div>
									<div class="kpaper-text-wrapper">
										<div class="kpaper-text">
											<h2><span style="color: #dc995c;">EVALUATION STUDY:</span><br/>
											Touro Univeristy on Napa County Schools, CA</h2>
											<div style="height: 16px;"></div>
											<p>
												A 3rd party evaluation on using mobile technology and the
												Footsteps2Brilliance&copy; Academic Language Program to accelerate
												vocabulary and comprehension for early learners.
											</p>
											<%= image_tag("papers/tuorouniversity-logo-w150-h72.jpg", alt: "", width: "150px", height: "72px", class: "img-margin-left-0 papers-logo") %>
											<%= image_tag("papers/napa-learns-logo-w150-h47.jpg", alt: "", width: "150px", height: "47px", class: "img-margin-left-15 papers-logo") %>
											<span style="bottom: -26px;" class="papers-download-btn">DOWNLOAD</span>
										</div>														
									</div>
								</div>
							</div>	
						</div>
					</div>
					<div style="height: 30px; position: relative;"></div>
					<div class="k-governcell ktop kbottom">	
						<div class="k-outercell kol-619">
							<!-- <a href="../pdfs/ConceptuaMath-case-study_Mequon.pdf" class="record-hit" data-record-hit-id="10"> -->
							<div class="record-hit" data-href="../pdfs/ConceptuaMath-case-study_Mequon.pdf" data-record-hit-id="10">
								<div class="k-inner-cell vertical-align-top padding-top-1">
									<div class="text_container b_container text-container-1">
										<div class="pdf-image-border margin-bottom-1">
										    <%= image_tag("papers/paper-conceptual-math-mequon-w200-h259.jpg", alt: "", width: "200px", height: "259px") %>					    
										</div>
									</div>
									<div class="kpaper-text-wrapper">
										<div class="kpaper-text">
											<h2><span style="color: #dc995c;">CASE STUDY:</span><br/>
											Conceptua&reg; Math at Mequon-Thiensville<br/>
											School District</h2>
											<div style="height: 16px;"></div>
											<p>
												Conceptua&reg; Fractions is used to address Common Core
												at the Mequon-Thiensville School District.
											</p>
											<%= image_tag("papers/conceptua-logo-w150-h43.jpg", alt: "", width: "150px", height: "43px", class: "img-margin-top-70 papers-logo") %>
											<span class="papers-download-btn">DOWNLOAD</span>
										</div>														
									</div>
								</div>
							</div>	
						</div>
					</div>
					<div style="height: 30px; position: relative;"></div>
					<div class="k-governcell ktop kbottom">	
						<div class="k-outercell kol-619">
							<!-- <a href="../pdfs/ConceptuaMath-case-study-SunnysideUSD.pdf" class="record-hit" data-record-hit-id="11"> -->
							<div class="record-hit" data-href="../pdfs/ConceptuaMath-case-study-SunnysideUSD.pdf" data-record-hit-id="11">
								<div class="k-inner-cell vertical-align-top padding-top-1">
									<div class="text_container b_container text-container-1">
										<div class="pdf-image-border margin-bottom-1">
										    <%= image_tag("papers/paper-conceptual-math-sunnyside-w200-h259.jpg", alt: "", width: "200px", height: "259px") %>					    
										</div>
									</div>
									<div class="kpaper-text-wrapper">
										<div class="kpaper-text">
											<h2><span style="color: #dc995c;">CASE STUDY:</span><br/>
											Conceptua&reg; Math at<br/>
											Sunnyside Union School District</h2>
											<div style="height: 16px;"></div>
											<p>
												Sunnyside Unified School District & Conceptua&reg; Math succeed
												with fracions in an at- risk district.
											</p>
											<%= image_tag("papers/conceptua-logo-w150-h43.jpg", alt: "", width: "150px", height: "43px", class: "img-margin-top-70 papers-logo") %>
											<span class="papers-download-btn">DOWNLOAD</span>
										</div>														
									</div>
								</div>
							</div>	
						</div>
					</div>
					<div style="height: 30px; position: relative;"></div>
					<div class="k-governcell ktop kbottom">	
						<div class="k-outercell kol-619">
							<!-- <a href="../pdfs/STEM-U.pdf" class="record-hit" data-record-hit-id="12"> -->
							<div class="record-hit" data-href="../pdfs/STEM-U.pdf" data-record-hit-id="12">
								<div class="k-inner-cell vertical-align-top padding-top-1">
									<div class="text_container b_container text-container-1">
										<div class="pdf-image-border">
										    <%= image_tag("papers/paper-stem-u-w200-h259.jpg", alt: "", width: "200px", height: "259px") %>					    
										</div>
									</div>
									<div class="kpaper-text-wrapper">
										<div class="kpaper-text">
											<h2><span style="color: #dc995c;">CASE STUDY:</span><br/>
											STEM U</h2>
											<div style="height: 16px;"></div>
											<p>
												Robotics is the fastest-growing and most advanced
												technology used in education, research and industry.
												<br/><br/>
												The STEM-U program utilizes robtos in classes as they
												are the ideal partner for teaching Science, Technology,
												Engineering and Math's core concepts at all levels.
											</p>
											<%= image_tag("papers/robotslab-logo-w150-h49.png", alt: "", width: "150px", height: "49px", class: "img-margin-left-0 papers-logo") %>
											<span class="papers-download-btn">DOWNLOAD</span>
										</div>														
									</div>
								</div>
							</div>	
						</div>
					</div>
					<div style="height: 30px; position: relative;"></div>
					<div class="k-governcell ktop kbottom">	
						<div class="k-outercell kol-619">
							<!-- <a href="../pdfs/cengage.pdf" class="record-hit" data-record-hit-id="13"> -->
							<div class="record-hit" data-href="../pdfs/cengage.pdf" data-record-hit-id="13">
								<div class="k-inner-cell vertical-align-top padding-top-1">
									<div class="text_container b_container text-container-1">
										<div class="pdf-image-border">
										    <%= image_tag("papers/paper-cengage-w200-h259.jpg", alt: "", width: "200px", height: "259px") %>					    
										</div>
									</div>
									<div class="kpaper-text-wrapper">
										<div class="kpaper-text">
											<h2><span style="color: #dc995c;">CASE STUDY:</span><br/>
											Gale-Cengage Learning at McKinley<br/>
											High School</h2>
											<br>
											<p>
												This paper highlights the results of the McKinley/Gale Study
												Project conducted by Project Tomorrow for Cengage Learning
												at McKinley Technology High School in Washington, D.C. The
												purpose of this efficacy study is to evaluate and document how
												teachers can use high-quality, digitally rich Gale resources to
												develop students' 21st century skills and what effects the use of
												technology in the classroom has on student engagement and
												performance.
											</p>
											<%= image_tag("papers/gale-w150-h44.jpg", alt: "", width: "150px", height: "44px", class: "img-margin-left-220 papers-logo") %>
											<span class="papers-download-btn">DOWNLOAD</span>
										</div>														
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
				<br clear="all">
			</div>
			<div id="k-sidebar">
				<div id="k-sidebar_inner">
					<div class="sub">
						<div class="suba">
							<a href="/LetterRegistration">Subscribe to Newsletter</a>
						</div>
					</div>
					<a href="http://thelearningcounsel.com/ContactUs">
						<%= image_tag("banner-2.jpg", alt: "", width: "367px", height: "656px", class: "k-img") %>
					</a>
					<br/><br/>
					<a href="http://triumphlearning.com" target="blank">
						<%= image_tag("papers/waggle-ad-w215-h215.jpg", alt: "", width: "215px", height: "215px", class: "k-img") %>
					</a>
					<div id="select_services">
						<dl id="Services">
						</dl>
					</div>				
				</div>
			</div>
			<br clear="all">
			<div class="kontainer-space-2"></div>
		</div>
	</div>
</div>
	
