
<% @archives.each do |archive| %>

		<% if archive.id == 14 %>
		    <script id="articleTemplate_14" type="text/x-jQuery-tmpl">
				<span class="news-title">
			    	<%= link_to archive do %>
			    		Nationally Recognized 1:1 Initiative Chooses Prey to Protect Every Device
			    	<% end %>
				</span>
	    	</script>
			<script type="text/javascript">
				var id = "14";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 15 %>
		    <script id="articleTemplate_15" type="text/x-jQuery-tmpl">
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Pearson announces a strategic investment in English language learning platform Voxy
			    	<% end %>
				</span>
	    	</script>
			<script type="text/javascript">
				var id = "15";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 16 %>
		    <script id="articleTemplate_16" type="text/x-jQuery-tmpl">
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Tales2Go Releases Android Version of its Award-Winning Service
			    	<% end %>
				</span>
	    	</script>
			<script type="text/javascript">
				var id = "16";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 17 %>
		    <script id="articleTemplate_17" type="text/x-jQuery-tmpl">
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Actress Kathy Kinney Brings Mrs. P.’s Literacy Roadshow to MN Schools
			    	<% end %>
				</span>
	    	</script>
			<script type="text/javascript">
				var id = "17";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 20 %>
		    <script id="articleTemplate_20" type="text/x-jQuery-tmpl">
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Unique AZ District Closes Achievement Gap with Blended Learning Approach
			    	<% end %>
				</span>
	    	</script>
			<script type="text/javascript">
				var id = "20";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 2 %>
		    <script id="articleTemplate_2" type="text/x-jQuery-tmpl">
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Charter School Associates Selects observe4success as Classroom Observation Partner
			    	<% end %>
				</span>
	    	</script>
			<script type="text/javascript">
				var id = "2";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 3 %>
		    <script id="articleTemplate_3" type="text/x-jQuery-tmpl">
		  		<%= link_to( archive, :class => 'k-link-a' ) do %>
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-checklist-of-top-10-h300.png" class="k-img" height="200px" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox tactic">
			            			<span>TACTICS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							Checklist of Top 10 Benchmarks for Instructional Materials
							
							<span class="kbyline">by&nbsp<span class="k-b-link">The LC Staff</span></span>											
						</div>														
					</div>					
		  	  	<% end %>
	    	</script>
			<script type="text/javascript">
				var id = "3";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 22 %>
		    <script id="articleTemplate_22" type="text/x-jQuery-tmpl">
		  		<%= link_to( archive, :class => 'k-link-a' ) do %>
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-we-need-180w.png" class="k-img img300" height="200px" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox thoughts_catbox">
			            			<span>THOUGHTS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							We need new words for digital curriculum
							<span class="kbyline">by&nbsp<span class="k-b-link">The LC Staff</span></span>											
						</div>														
					</div>					
		  	  	<% end %>
	    	</script>
			<script type="text/javascript">
				var id = "22";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 19 %>
		    <script id="articleTemplate_19" type="text/x-jQuery-tmpl">
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Tulsa Charter School sells cookies to fund purchase of observe4success
			    	<% end %>
				</span>
	    	</script>
			<script type="text/javascript">
				var id = "19";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 13 %>
		    <script id="articleTemplate_13" type="text/x-jQuery-tmpl">
				<span class="news-title">
			    	<%= link_to archive do %>
				    	myCore now offers CCSS-Aligned Units and Lessons
			    	<% end %>
				</span>
	    	</script>
			<script type="text/javascript">
				var id = "13";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 9 %>
		    <script id="articleTemplate_9" type="text/x-jQuery-tmpl">
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Miami-Dade Renews contract with GuideK12 for Geovisual Analytics
			    	<% end %>
				</span>
	    	</script>
			<script type="text/javascript">
				var id = "9";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 7 %>
		    <script id="articleTemplate_7" type="text/x-jQuery-tmpl">
				<%= link_to archive, :class => 'k-link-a' do %>
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-facing-down.jpeg" class="k-img" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox thoughts_catbox">
			            			<span>THOUGHTS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							Facing Down the Learning Content Disruption 
							<span class="kbyline">by&nbsp<span class="k-b-link">David Kafitz</span></span>											
						</div>
					</div>
				<% end %>
	    	</script>
			<script type="text/javascript">
				var id = "7";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 4 %>
		    <script id="articleTemplate_4" type="text/x-jQuery-tmpl">
		  		<%= link_to( archive, :class => 'k-link-a' ) do %>
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-coffee-chat-with-memphis.jpg" class="k-img left65" height="200" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox coffee_chat_catbox">
			            			<span>PEOPLE</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							COFFEE CHAT WITH MEMPHIS
							<span class="kbyline">by&nbsp<span class="k-b-link">The LC Staff</span></span>											
						</div>														
					</div>					
		  	  	<% end %>
	    	</script>
			<script type="text/javascript">
				var id = "4";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 8 %>
		    <script id="articleTemplate_8" type="text/x-jQuery-tmpl">
				<%= link_to archive, :class => 'k-link-a' do %>
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-five-types.png" class="k-img" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox thoughts_catbox">
			            			<span>THOUGHTS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							FIVE TYPES OF CURRICULUM “THINGS”
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>
					</div>
				<% end %>					
	    	</script>
			<script type="text/javascript">
				var id = "8";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 10 %>
		    <script id="articleTemplate_10" type="text/x-jQuery-tmpl">
				<%= link_to archive, :class => 'k-link-a' do %>
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-health-care-curriculum.jpg" class="k-img" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox idea_catbox">
			            			<span>IDEAS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							Health Care Curriculum Guide
							<span class="kbyline">by&nbsp<span class="k-b-link">The LC Staff</span></span>											
						</div>
					</div>
				<% end %>					
	    	</script>
			<script type="text/javascript">
				var id = "10";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 25 %>
		    <script id="articleTemplate_25" type="text/x-jQuery-tmpl">
				<%= link_to archive, :class => 'k-link-a' do %>
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-plagiarism.jpg" class="k-img left65" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox research_catbox">
			            			<span>RESEARCH</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							School Risk of Plagiarism in Creating your own Digital Curriculum
							<span class="kbyline">by&nbsp<span class="k-b-link">The LC Staff</span></span>											
						</div>														
					</div>
				<% end %>					
	    	</script>
			<script type="text/javascript">
				var id = "25";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 27 %>
		    <script id="articleTemplate_27" type="text/x-jQuery-tmpl">
				<%= link_to archive, :class => 'k-link-a' do %>
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-coffee-chat-with-huston-large.jpg" class="k-img" width="300" onerror="this.src='../altgraphics/error-260-260.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox coffee_chat_catbox">
			            			<span>PEOPLE</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							COFFEE CHAT WITH HOUSTON ISD
							<span class="kbyline">by&nbsp<span class="k-b-link">The LC Staff</span></span>											
						</div>														
					</div>
				<% end %>					
	    	</script>
			<script type="text/javascript">
				var id = "27";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 5 %>
		    <script id="articleTemplate_5" type="text/x-jQuery-tmpl">
				<%= link_to archive, :class => 'k-link-a' do %>
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-whats-so-hard.png" class="k-img img300" height="236" onerror="this.src='../altgraphics/error-260-260.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox tactic_catbox">
			            			<span>THOUGHTS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							What’s so hard about choosing digital curriculum, you say? Time.
							<br>
							<span class="kbyline">by&nbsp<span class="k-b-link">The LC Staff</span></span>											
						</div>														
					</div>
				<% end %>					
	    	</script>
			<script type="text/javascript">
				var id = "5";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 6 %>
		    <script id="articleTemplate_6" type="text/x-jQuery-tmpl">
				<%= link_to archive, :class => 'k-link-a' do %>
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single-long">
								<img src="../repository/article-education-compared.jpg" class="k-img" width="260" onerror="this.src='../altgraphics/error-300-520.png'">
							</div>
							<div class="katcolorbox_posit posit2">
			            		<div class="katbox-article katbox perspective_catbox">
			            			<span>PERSPECTIVE</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							Education Compared to All Other Industry
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>														
					</div>
				<% end %>					
	    	</script>
			<script type="text/javascript">
				var id = "6";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 18 %>
		    <script id="articleTemplate_18" type="text/x-jQuery-tmpl">
				<%= link_to archive, :class => 'k-link-a' do %>
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-to-solution-300-200.png" class="k-img" height="200" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox tactic_catbox">
			            			<span>TACTICS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							To Solution or Element – That is the Question
							<span class="kbyline">by&nbsp<span class="k-b-link">The LC Staff</span></span>											
						</div>														
					</div>
				<% end %>					
	    	</script>
			<script type="text/javascript">
				var id = "18";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 21 %>
		    <script id="articleTemplate_21" type="text/x-jQuery-tmpl">
				<%= link_to archive, :class => 'k-link-a' do %>
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-wanted-new-leader.png" class="k-img" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox people_catbox">
			            			<span>PEOPLE</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							WANTED: NEW LEADER & TEACHER FEATURES
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>														
					</div>
				<% end %>					
	    	</script>
			<script type="text/javascript">
				var id = "21";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 26 %>

		    <script id="articleTemplate_26" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell" style="padding-top: 2px;">
						<div class="text_container b_container line-lead">
							<img src="../repository/article-educating-for-the-design.jpg" style="width: 400px;" onerror="this.src='../altgraphics/error-300-200.png'">
						</div>
						<div class="k-b-headline">
							Educating for the Design Economy
							<div style="padding: 10px;">
								<p style="font-family: KlavikaRegular;">
								</p>
							</div>
							
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>														
					</div>
				
				<% end %>					
		        
	    	</script>

			<script type="text/javascript">
				var id = "26";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 24 %>

		    <script id="articleTemplate_24" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell" style="padding-top: 2px;">
						<div class="text_container b_container line-lead">
							<img src="../repository/article-amazon-large.jpg" style="width: 400px; height: 315px" alt="article-amazon-large.jpg" onerror="this.src='../altgraphics/error-300-200.png'">
						</div>
						<div class="k-b-headline-kol2">
							Amazon Has the Most Education Apps
							<div style="padding: 10px;">
								<p style="font-family: KlavikaRegular;">
									A look at the App Universe across Microsoft Windows, Amazon, Google Android and Apple’s iTunes
								</p>
							</div>
							<span class="kbyline">by&nbsp<span class="k-b-link">The LC Staff</span></span>											
						</div>														
					</div>
				
				<% end %>					
		        
	    	</script>

			<script type="text/javascript">
				var id = "24";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>




		<% if archive.id == 32 %>

		    <script id="articleTemplate_32" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../event_news_images/SCpic1-h180.png" class="k-img img300" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox thoughts_catbox">
			            			<span>EVENT NEWS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							A Day of Discussions on Digital Curriculum in Columbia, SC<br>
							<!-- <span class="kbyline"><span class="k-b-link">March 5, 2014</span></span><br> -->
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "32";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 33 %>

		    <script id="articleTemplate_33" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../event_news_images/SCpic12-h180.png" class="k-img img300" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox thoughts_catbox">
			            			<span>EVENT NEWS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							South Carolina Districts Executive Panel Speaks Out about Digital Curriculum Strategies<br>
							<!-- <span class="kbyline"><span class="k-b-link">March 5, 2014</span></span><br> -->
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "33";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 34 %>

		    <script id="articleTemplate_34" type="text/x-jQuery-tmpl">
	
				<span class="news-title">
			    	<%= link_to archive do %>
			    		Scientific Research – Benchmark Literacy Program
			    	<% end %>
				</span>
				<!-- <br>
				<span class="news-author"><em>&ndash;&nbsp;
				    <#%= link_to archive do %#>
					 		by the LC Staff
				    <#% end %#>
				</span></em> -->
		        
	    	</script>

			<script type="text/javascript">
				var id = "34";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 35 %>

		    <script id="articleTemplate_35" type="text/x-jQuery-tmpl">
	
				<span class="news-title">
			    	<%= link_to archive do %>
			    		Hooda Math Unveils 50 Math Games – Free for Mobile
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "35";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 36 %>

		    <script id="articleTemplate_36" type="text/x-jQuery-tmpl">
	
				<span class="news-title">
			    	<%= link_to archive do %>
			    		Power of Music with Digital Reading
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "36";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 37 %>

		    <script id="articleTemplate_37" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../event_news_images_2/event2a-pic1-w270-h179.png" class="k-img img300" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox thoughts_catbox">
			            			<span>EVENT NEWS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							Starting Stages of Transition in Fresno, California <br>
							<!-- <span class="kbyline"><span class="k-b-link">April 9, 2014</span></span><br> -->
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "37";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 38 %>

		    <script id="articleTemplate_38" type="text/x-jQuery-tmpl">
					
				<%= link_to '/Event-News/California-Fresno-April-2', :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../event_news_images_2/Fresno-3-h180.png" class="k-img" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox thoughts_catbox">
			            			<span>EVENT PHOTOS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							Fresno, CA, April 2<br>Photo Montage
							<!-- <span class="kbyline"><span class="k-b-link">March 5, 2014</span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span> -->											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "38";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>










		<% if archive.id == 40 %>

		    <script id="articleTemplate_40" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Hooda Math releases three new online math games
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "40";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 41 %>

		    <script id="articleTemplate_41" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	MindPlay launches web-based reading program with guarantee of student success
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "41";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 42 %>

		    <script id="articleTemplate_42" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	NYIT NY State Teacher Centers &amp; Associated BOCES Partner with MyON
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "42";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<!-- <#% if archive.id == 22 %#>
		    <script id="articleTemplate_22" type="text/x-jQuery-tmpl">
				<span class="news-title">
			    	<#%= link_to archive do %#>
				    	WE NEED NEW WORDS FOR DIGITAL CURRICULUM
			    	<#% end %#>
				</span>
	    	</script>
			<script type="text/javascript">
				var id = "22"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<#% end %#> -->

		<% if archive.id == 44 %>

		    <script id="articleTemplate_44" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Learning Upgrade offers complimentary access to web-based Common Core aligned curriculum
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "44";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 45 %>

		    <script id="articleTemplate_45" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Louisiana's Calcasieu Parish Public Schools selects Teachscape
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "45";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 46 %>

		    <script id="articleTemplate_46" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Vernier launches its 2014 Summer Institute Series for Science and STEM Educators
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "46";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		
		<% if archive.id == 47 %>

		    <script id="articleTemplate_47" type="text/x-jQuery-tmpl">
					
				<div style="margin-left: 0%;">
					
			 		<%= link_to( archive ) do %>
			 			<img src="../repository/article-sparking-math-1-w600-h300.png" class="mainfeatureimage" height="300">
			 		<% end %>
				</div>

				<div class="channel-article header industry_news_royalred">
					<%= link_to archive do %>
						<span>INNOVATION</span>
					<% end %>
				</div>
				
			    <div class="kk-headlines">
		        	<div class="h1">
		        		<%= link_to archive do %>
		        			Sparking Math Interest with Robots
		        		<% end %>
		        	</div>
		            <div class="h2">
		            	<%= link_to archive, :class => 'k-decorate-none' do %>
							"We are giving teachers the ability to answer the ultimate question – Why? Why do I need to learn that?"
			            <% end %>
			            <%= link_to archive do %>
			            	<span class="byline">&nbsp;by&nbsp;
			            		LeiLani Cauthen
			            	</span>
		            	<% end %>		            	
		            </div>
		        	<div class="space-20"></div>
		        </div>
		        
	    	</script>

			<script type="text/javascript">
				var id = "47";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 48 %>

		    <script id="articleTemplate_48" type="text/x-jQuery-tmpl">
					
				<div style="margin-left: 0%;">
					
			 		<%= link_to( archive ) do %>
			 			<img src="../repository/article-dd-special-education-1-w600-h300.png" class="mainfeatureimage" height="300px">
			 		<% end %>
				</div>

				<div class="channel-article header industry_news_royalred">
					<%= link_to archive do %>
						<span>INNOVATION</span>
					<% end %>
				</div>
				
			    <div class="kk-headlines">
		        	<div class="h1">
		        		<%= link_to archive do %>
		        			Digitally Delivering Special Education in Tennessee
		        		<% end %>
		        	</div>
		            <div class="h2">
		            	<%= link_to archive, :class => 'k-decorate-none' do %>
		            		Many districts struggle with delivering on the promise of special education, 
		            		and the problem is only going to get worse. Enter a new distance-therapy online 
		            		model that can reduce costs and enhance outcomes.
			            <% end %>
			            <%= link_to archive do %>
			            	<span class="byline">&nbsp;by&nbsp;
			            		John Enright
			            	</span>
		            	<% end %>		            	
		            </div>
		        	<div class="space-20"></div>
		        </div>
		        
	    	</script>

			<script type="text/javascript">
				var id = "48";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 49 %>
		    <script id="articleTemplate_49" type="text/x-jQuery-tmpl">
				<div style="margin-left: 0%;">
			 		<%= link_to( archive ) do %>
			 			<img src="../repository/article-simulation-saves-6-w600-h300.png" alt="" class="mainfeatureimage" height="300px">
			 		<% end %>
				</div>
				<div class="channel-article header industry_news_royalred">
					<%= link_to archive do %>
						<span>INNOVATION</span>
					<% end %>
				</div>
			    <div class="kk-headlines">
		        	<div class="h1" style="text-align: center;">
		        		<%= link_to archive do %>
		        			New Simulation Curriculum<br>Saves Lives
		        		<% end %>
		        	</div>
		            <div class="h2">
		            	<%= link_to archive, :class => 'k-decorate-none' do %>
		            		Virtual driving simulation curriculum are taking student driver's education to a whole new level.
			            <% end %>
			            <%= link_to archive do %>
			            	<span class="byline">&nbsp;by&nbsp;
			            		LeiLani Cauthen
			            	</span>
		            	<% end %>		            	
		            </div>
		        	<div class="space-20"></div>
		        </div>
	    	</script>
			<script type="text/javascript">
				var id = "49";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 12 %>

		    <script id="articleTemplate_12" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-k12-digital-w300-h180.png" class="k-img" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox perspective_catbox">
			            			<span>PERSPECTIVE</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
			            	How BIG is the K-12 Digital Curriculum Market?
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "12";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 50 %>

		    <script id="articleTemplate_50" type="text/x-jQuery-tmpl">
					
				<div style="margin-left: 0%;">
					
			 		<%= link_to( archive ) do %>
			 			<!-- <img src="../repository/article-notes-on-the-nook-1-h300-w307.png" class="mainfeatureimage" height="300px" width="307px"> -->
			 			<img src="../repository/article-meeting-the-verb-1-w600-h300.png" height="300px">
			 		<% end %>
				</div>

				<div class="channel-article header industry_news_royalred">
					<%= link_to archive do %>
						<span>INNOVATION</span>
					<% end %>
				</div>
				
			    <div class="kk-headlines">
		        	<div class="h1">
		        		<%= link_to archive do %>
		        			Common Core Curriculum Choice - Meeting the "Verb"
		        		<% end %>
		        	</div>
		            <div class="h2">
		            	<%= link_to archive, :class => 'k-decorate-none' do %>
		            		An interesting new site and service has undertaken the arduous task of analyzing digital materials.
			            <% end %>
			            <%= link_to archive do %>
			            	<span class="byline">&nbsp;by&nbsp;
			            		the Learning Counsel Staff
			            	</span>
		            	<% end %>		            	
		            </div>
		        	<div class="space-20"></div>
		        </div>
		        
	    	</script>

			<script type="text/javascript">
				var id = "50";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>


		<% if archive.id == 43 %>

		    <script id="articleTemplate_43" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-notes-on-the-nook-1-w300-h180.png" class="k-img" height="180px" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox perspective_catbox">
			            			<span>PERSPECTIVE</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							Versatility: Our Notes on the NOOK
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "43";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 39 %>

		    <script id="articleTemplate_39" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-an-equation-for-engaged-students-w300-h180.png" class="k-img" height="180px" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox spotlight_catbox">
			            			<span>SPOTLIGHT</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							STEM + Tech x Hands On Learning = An Equation for Engaged Students
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">Christine Allman</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "39";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>





		<% if archive.id == 31 %>
		    <script id="articleTemplate_31" type="text/x-jQuery-tmpl">
				<span class="news-title">
			    	<%= link_to archive do %>
				    	A Few Words
			    	<% end %>
				</span>
	    	</script>
			<script type="text/javascript">
				var id = "31";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 11 %>
		    <script id="articleTemplate_11" type="text/x-jQuery-tmpl">
				<span class="news-title">
			    	<%= link_to archive do %>
				    	How to Be
			    	<% end %>
				</span>
	    	</script>
			<script type="text/javascript">
				var id = "11";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 52 %>
		    <script id="articleTemplate_52" type="text/x-jQuery-tmpl">
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Revising Adoption of Curriculum Materials &amp; the Hidden Inequity
			    	<% end %>
				</span>
	    	</script>
			<script type="text/javascript">
				var id = "52";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>

		<% if archive.id == 53 %>

		    <script id="articleTemplate_53" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Middletown Improves Student Outcomes with i-Ready
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "53";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 54 %>

		    <script id="articleTemplate_54" type="text/x-jQuery-tmpl">
					
				<div style="margin-left: 0%;">
					
			 		<%= link_to( archive ) do %>
			 			<img src="../repository/article-laundry-w600-h300.png" class="mainfeatureimage" height="300">
			 		<% end %>
				</div>

				<div class="channel-article header tactic">
					<%= link_to archive do %>
						<span>STRATEGY</span>
					<% end %>
				</div>
				
			    <div class="kk-headlines">
		        	<div class="h1">
		        		<%= link_to archive do %>
		        			Organizing Basics for the Digital Transition & the Laundry
		        		<% end %>
		        	</div>
		            <div class="h2">
		            	<%= link_to archive, :class => 'k-decorate-none' do %>
							In the transition to digital, a lot of districts and schools are simply adding staff to the existing organizations instead of going back to basics to re-think things.
			            <% end %>
			            <%= link_to archive do %>
			            	<span class="byline">&nbsp;by&nbsp;
			            		LeiLani Cauthen
			            	</span>
		            	<% end %>		            	
		            </div>
		        	<div class="space-20"></div>
		        </div>
		        
	    	</script>

			<script type="text/javascript">
				var id = "54";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>


		<% if archive.id == 58 %>

		    <script id="articleTemplate_58" type="text/x-jQuery-tmpl">
					
				<div style="margin-left: 0%;">
					
			 		<%= link_to( archive ) do %>
			 			<img src="../repository/35-ipad-w600-h300.png" height="300px">
			 		<% end %>
				</div>

				<div class="channel-article header idea">
					<%= link_to archive do %>
						<span>IDEA</span>
					<% end %>
				</div>
				
			    <div class="kk-headlines">
		        	<div class="h1">
		        		<%= link_to archive do %>
		        			35 New Capabilities of Digital Curriculum that left Textbooks in the Dust
		        		<% end %>
		        	</div>
		            <div class="h2">
		            	<%= link_to archive, :class => 'k-decorate-none' do %>
		            		Digital curriculum is evolving in leaps and bounds.  New capabilities really do make the days of textbooks look like a whole lot of manual work.
			            <% end %>
			            <%= link_to archive do %>
			            	<span class="byline">&nbsp;by&nbsp;
			            		LeiLani Cauthen
			            	</span>
		            	<% end %>		            	
		            </div>
		        	<div class="space-20"></div>
		        </div>
		        
	    	</script>

			<script type="text/javascript">
				var id = "58";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 59 %>

		    <script id="articleTemplate_59" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Sangari Active Science Releases Digital Edition of Middle School Science Program
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "59";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 60 %>

		    <script id="articleTemplate_60" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Teachscape Introduces New Online ELA & Literacy Courses
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "60";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 61 %>

		    <script id="articleTemplate_61" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Augmented Reality Is Changing The Way We Teach And Learn
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "61";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 62 %>

		    <script id="articleTemplate_62" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Ride Like Nothing Else Sweepstakes
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "62";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 63 %>

		    <script id="articleTemplate_63" type="text/x-jQuery-tmpl">
					
				<div style="margin-left: 0%;">
					
			 		<%= link_to( archive ) do %>
			 			<img src="../repository/teachers-learn-tech-title.jpeg" style="width:600px; height: 300px;">
			 		<% end %>
				</div>

				<div class="channel-article header research_catbox">
					<%= link_to archive do %>
						<span>RESEARCH</span>
					<% end %>
				</div>
				
			    <div class="kk-headlines">
		        	<div class="h1">
		        		<%= link_to archive do %>
		        			How teachers like to learn their tech.
		        		<% end %>
		        	</div>
		            <div class="h2">
		            	<%= link_to archive, :class => 'k-decorate-none' do %>
		            		Digital tools are now an integral part of teaching and learning.  
			            <% end %>
			            <%= link_to archive do %>
			            	<span class="byline">&nbsp;by&nbsp;
			            		Joe du Fore
			            	</span>
		            	<% end %>		            	
		            </div>
		        	<div class="space-20"></div>
		        </div>
		        
	    	</script>

			<script type="text/javascript">
				var id = "63";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 64 %>

		    <script id="articleTemplate_64" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Odysseyware earns approval for Georgia textbook replacement
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "64";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 65 %>

		    <script id="articleTemplate_65" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../event_news_images/dallas-event.jpg" class="k-img img300" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox thoughts_catbox">
			            			<span>EVENT NEWS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">					 	
							Dallas Education Executives Discuss Move to Digital Curriculum<br>
							<!-- <span class="kbyline"><span class="k-b-link">April 9, 2014</span></span><br> -->
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "65";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 66 %>

		    <script id="articleTemplate_66" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Putnam County Chooses Naiku’s Next-Gen Assessment Software
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "66";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 67 %>

		    <script id="articleTemplate_67" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../event_news_images/denver-article-1.jpg" class="k-img img300" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox thoughts_catbox">
			            			<span>EVENT NEWS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">					 	
							Denver’s Dynamic Discussion about Transitioning to Digital Curriculum<br>
							<!-- <span class="kbyline"><span class="k-b-link">April 9, 2014</span></span><br> -->
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>
							<br>
							<br>
							<br>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "67";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 68 %>

		    <script id="articleTemplate_68" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../event_news_images/newark-article-1.jpg" class="k-img img300" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox thoughts_catbox">
			            			<span>EVENT NEWS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">					 	
							Starting with Love to Create Digital Transformation at a Forum in Newark<br>
							<!-- <span class="kbyline"><span class="k-b-link">April 9, 2014</span></span><br> -->
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "68";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 69 %>

		    <script id="articleTemplate_69" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/strategy-flow.jpg" class="k-img" height="" width="300" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox perspective_catbox">
			            			<span>PERSPECTIVE</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
			            	Education Transformation End-Point
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "69";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 70 %>

		    <script id="articleTemplate_70" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	New Resource Portal and Test Prep Workbook from Learningpod
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "70";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 71 %>

		    <script id="articleTemplate_71" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Institute for Student Achievement (ISA) provides instructional expertise
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "71";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 72 %>

		    <script id="articleTemplate_72" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Curriculum Associates Expands Ready Mathematics
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "72";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 73 %>

		    <script id="articleTemplate_73" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Two schools achieve learning success with free math and reading licenses
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "73";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 74 %>

		    <script id="articleTemplate_74" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container" style="height: 285px;">
							<div class="k-img-cell-single">
								<img src="../repository/events/award-4.jpg" class="k-img" height="" width="300" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox spotlight_catbox">
			            			<span>SPOTLIGHT</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
			            	Top 10 U.S. Schools win awards for moving to Digital Curriculum
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "74";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 75 %>

		    <script id="articleTemplate_75" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	VINCI Education Announces New Virtual School For Toddlers & Preschoolers
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "75";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 76 %>

		    <script id="articleTemplate_76" type="text/x-jQuery-tmpl">
					
				<div style="margin-left: 0%;">
					
			 		<%= link_to( archive ) do %>
			 			<img src="../repository/teach-writing-img.jpg" style="width:600px; height: 300px;">
			 		<% end %>
				</div>

				<div class="channel-article header thoughts_catbox">
					<%= link_to archive do %>
						<span>THOUGHTS</span>
					<% end %>
				</div>
				
			    <div class="kk-headlines">
		        	<div class="h1">
		        		<%= link_to archive do %>
		        			Tech and Why Teaching Writing is Critical for Reading
		        		<% end %>
		        	</div>
		            <div class="h2">
		            	<%= link_to archive, :class => 'k-decorate-none' do %>
		            		As teachers and schools address transitioning to digital, it’s important to seize the chance to upgrade teaching and learning.  Enhanced writing skill is one way to speed greater achievement. 
			            <% end %>
			            <%= link_to archive do %>
			            	<span class="byline">&nbsp;by&nbsp;
			            		Dr. Marion Blank
			            	</span>
		            	<% end %>		            	
		            </div>
		        	<div class="space-20"></div>
		        </div>
		        
	    	</script>

			<script type="text/javascript">
				var id = "76";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 77 %>

		    <script id="articleTemplate_77" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Lake Oswego School District Embraces Data Visualization Platform for Decision Making
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "77";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 78 %>

		    <script id="articleTemplate_78" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Bridgeport Public Schools Expands Use of myON
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "78";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 79 %>

		    <script id="articleTemplate_79" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Naiku Signs Student Privacy Pledge
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "79";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 80 %>

		    <script id="articleTemplate_80" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container" style="height: 285px;">
							<div class="k-img-cell-single">
								<img src="../repository/reportcard.jpg" class="k-img" height="200px" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox idea_catbox">
			            			<span>IDEAS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							Calling for the End of “Mc”Report Cards
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">David Kafitz, Ed.D. & Leilani Cauthen</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "80";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 81 %>

		    <script id="articleTemplate_81" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container" style="height: 285px;">
							<div class="k-img-cell-single">
								<img src="../repository/alabama_dep_ed.jpg" class="k-img" height="" width="300" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox spotlight_catbox">
			            			<span>SPOTLIGHT</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
			            	[VIDEO]: Award Presented to Alabama State Department of Education
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">Cebron Walker</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "81";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
				
		<% if archive.id == 82 %>

		    <script id="articleTemplate_82" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Vernier Expands Its Data-Logging Capabilities for Chromebooks
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "82";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 83 %>

		    <script id="articleTemplate_83" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Curriculum Associates Launches New Math App
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "83";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 84 %>

		    <script id="articleTemplate_84" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	MetaMetrics and EvoText Announce Partnership to Help Teachers
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "84";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 85 %>

		    <script id="articleTemplate_85" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Aegis signing on to the Student Privacy Pledge
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "85";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 86 %>

		    <script id="articleTemplate_86" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../event_news_images/seattle-vid-img.png" class="k-img img300" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox thoughts_catbox">
			            			<span>EVENT NEWS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">					 	
							[VIDEO] 2015 - Learning Counsel Discussion Meetings launch in Seattle, Washington<br>
							<span class="kbyline">by&nbsp<span class="k-b-link">Cebron Walker</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "86";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 87 %>

		    <script id="articleTemplate_87" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container" style="height: 285px;">
							<div class="k-img-cell-single">
								<img src="../repository/gear-brain.png" class="k-img" height="" width="300" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox research_catbox">
			            			<span>RESEARCH</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
			            	Mind Over Mathematics
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">Cindy Bryant</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "87";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 88 %>

		    <script id="articleTemplate_88" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Quick Key Mobile for Android has Arrived
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "88";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 89 %>

		    <script id="articleTemplate_89" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container" style="height: 285px;">
							<div class="k-img-cell-single">
								<img src="../repository/bts-hollywood-vid.jpg" class="k-img" height="" width="300" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox design">
			            			<span>DESIGN</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
			            	[VIDEO]: Behind the Scenes: Hollywood Meets Digital Learning
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">Cebron Walker</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "89";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		
		<% if archive.id == 90 %>
		    <script id="articleTemplate_90" type="text/x-jQuery-tmpl">
				<%= link_to archive, :class => 'k-link-a' do %>
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/lu-music-vid.jpg" class="k-img" height="180" width="300" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox research">
			            			<span>INNOVATION</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
			            	[VIDEO]: Crank up the volume! Using Music for Learning Success
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">Vinod Lobo</span></span>											
						</div>
					</div>
				<% end %>
	    	</script>
			<script type="text/javascript">
				var id = "90";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>
		
		
		<% if archive.id == 91 %>

		    <script id="articleTemplate_91" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Aldine ISD (Texas) Picks Schoology
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "91";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 92 %>

		    <script id="articleTemplate_92" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Nepris Connects STEAM Professionals to Schools
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "92";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 93 %>

		    <script id="articleTemplate_93" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Schoology to Power Henry Mancini Online
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "93";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 94 %>

		    <script id="articleTemplate_94" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Curriculum Associates’ Ready TNCore Mathematics Selected for Tennessee Schools
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "94";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 95 %>

		    <script id="articleTemplate_95" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container" style="height: 285px;">
							<div class="k-img-cell-single">
								<img src="../repository/dig-it-games.png" class="k-img" height="" width="300" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox idea_catbox">
			            			<span>IDEAS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
			            	[VIDEO]: Gamification & The New Education Paradigm
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">Suzi Wilczynski</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "95";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 96 %>

		    <script id="articleTemplate_96" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../event_news_images/cbol-vid-img.png" class="k-img img300" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox thoughts_catbox">
			            			<span>EVENT NEWS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">					 	
							[VIDEO]: CBOL “Flipped” 2015 - Denver, Colorado<br>
							<span class="kbyline">by&nbsp<span class="k-b-link">Cebron Walker</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "96";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 97 %>

		    <script id="articleTemplate_97" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	The Most Challenging Common Core State Standards for Students
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "97";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 98 %>

		    <script id="articleTemplate_98" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Winners of the 2015 Vernier/NSTA Technology Awards Announced
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "98";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 99 %>
		    <script id="articleTemplate_99" type="text/x-jQuery-tmpl">
				<%= link_to archive, :class => 'k-link-a' do %>
					<div class="k-inner-cell">
						<!-- <div class="k-b-container" style="height: 285px;"> -->
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/myon-kid.jpg" class="k-img" height="200" width="300" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox research">
			            			<span>INNOVATION</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
			            	Read. Grow. Repeat. 
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">Teri Harris</span></span>											
						</div>
					</div>
				<% end %>
	    	</script>
			<script type="text/javascript">
				var id = "99";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		<% end %>
		
		<% if archive.id == 100 %>

		    <script id="articleTemplate_100" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container" style="height: 285px;">
							<div class="k-img-cell-single">
								<img src="../repository/presence-learn-vid-pic.png" class="k-img" height="" width="300" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox spotlight_catbox">
			            			<span>SPOTLIGHT</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
			            	[VIDEO]: An interview with Clay Whitehead — “Anytime, anywhere” online therapy
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">Cebron Walker</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "100";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 101 %>

		    <script id="articleTemplate_101" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Newsela Partners with The Washington Post
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "101";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 102 %>

		    <script id="articleTemplate_102" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/estella.jpg" class="k-img" height="169" width="300" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox spotlight_catbox">
			            			<span>SPOTLIGHT</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
			            	[VIDEO]: Estella's Brilliant Bus
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">Cebron Walker</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "102";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 103 %>

		    <script id="articleTemplate_103" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/at-risk-1.jpg" class="k-img" height="200" width="300" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox spotlight_catbox">
			            			<span>SPOTLIGHT</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
			            	Catching At-Risk Students 
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">Dennis Pierce</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "103";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 104 %>

		    <script id="articleTemplate_104" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Naiku Announces First Round of Innovative Educator Grant Recipients
			    	<% end %>
				</span>
		        
	    	</script>

			<script type="text/javascript">
				var id = "104";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 105 %>

		    <script id="articleTemplate_105" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/pbl-1.jpg" class="k-img" height="200" width="300" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox research">
			            			<span>INNOVATION</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
			            	STEM and Project Based Learning, a Perfect Pair! 
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">Emily Garner Sumner</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "105";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>
		
		<% if archive.id == 106 %>

		    <script id="articleTemplate_106" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/mobile-learning-1.jpg" class="k-img" height="200" width="300" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox idea_catbox">
			            			<span>IDEAS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
			            	Moving from Mobile Devices to Mobile Learning
							<span class="kbyline"><span class="k-b-link"></span></span><br> 
							<span class="kbyline">by&nbsp<span class="k-b-link">Jamie McQuiggan</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				var id = "106";
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>


<% end %>

