


<% @archives.each do |archive| %>


		<% if archive.id == 12 %>

		    <script id="articleTemplate_12" type="text/x-jQuery-tmpl">
					
				<div style="margin-left: 10%;">
					
			 		<%= link_to( archive ) do %>
			 			<img src="../repository/article-k12-digital.png" class="mainfeatureimage" height="450">
			 		<% end %>
				</div>

				<div class="channel-article header perspective">
					<%= link_to archive do %>
						<span>PERSPECTIVE</span>
					<% end %>
				</div>
				
			    <div class="kk-headlines">
		        	<div class="h1">
		        		<%= link_to archive do %>
		        			How BIG <em>is</em> the K-12 Digital Curriculum Market?
		        		<% end %>
		        	</div>
		            <div class="h2">
		            	<%= link_to archive, :class => 'k-decorate-none' do %>
			            	With so many schools in transition, executives want to know what others are doing with digital curriculum.  
			            	The question of what, how much of it, and more is being answered – from definitions to market size.
			            <% end %>
			            <%= link_to archive do %>
			            	<span class="byline">&nbsp;by&nbsp;
			            		LeiLani Cauthen
			            	</span>
		            	<% end %>		            	
		            </div>
		        	<div class="space-20"></div>
		        </div>
		        
	    	</script>

			<script type="text/javascript">
				id = "12"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 14 %>

		    <script id="articleTemplate_14" type="text/x-jQuery-tmpl">
	
				<span class="news-title">
			    	<%= link_to archive do %>
			    		Nationally Recognized 1:1 Initiative Chooses Prey to Protect Every Device
			    	<% end %>
				</span>
				<br>
				<span class="news-author"><em>&ndash;&nbsp;
				    <%= link_to archive do %>
					 		Jacob Hanson, Contributor
				    <% end %>
				</span></em>
		        
	    	</script>

			<script type="text/javascript">
				id = "14"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 15 %>

		    <script id="articleTemplate_15" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Pearson announces a strategic investment in English language learning platform Voxy
			    	<% end %>
				</span>
				<br>
				<span class="news-author"><em>&ndash;&nbsp;
				    <%= link_to archive do %>
					    The LC Staff
				    <% end %>
				</span></em>
		        
	    	</script>

			<script type="text/javascript">
				id = "15"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 16 %>

		    <script id="articleTemplate_16" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Tales2Go Releases Android Version of its Award-Winning Service
			    	<% end %>
				</span>
				<br>
				<span class="news-author"><em>&ndash;&nbsp;
				    <%= link_to archive do %>
						Sue Hanson, Contributor
				    <% end %>
				</span></em>
		        
	    	</script>

			<script type="text/javascript">
				id = "16"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 22 %>

		    <script id="articleTemplate_22" type="text/x-jQuery-tmpl">
					
				<div style="margin-left: 14%;">
		 			<%= link_to archive do %>
		 				<img src="../repository/article-we-need.png" class="mainfeatureimage" height="450">
		 			<% end %>
				</div>
		 		
				<div class="channel-article header idea">
					<%= link_to archive do %>
						<span>IDEA</span>
					<% end %>
				</div>

			    <div class="kk-headlines">
		        	<div class="h1">
		        		<%= link_to archive do %>
		        			WE NEED NEW WORDS FOR DIGITAL CURRICULUM
		        		<% end %>
		        	</div>
		            <div class="h2">
		            	<%= link_to archive, :class => 'k-decorate-none' do %>
		            	Digital Curriculum is a lot of things, but what it has yet to achieve is an agreed-upon 
		            	set of words describing what it <em>is</em> and <em>does</em> to give it more context of what’s 
		            	happening with it in schools today.
		            	<% end %>
		            	<%= link_to archive do %> 
		            	<span class="byline">&nbsp;by&nbsp;
		            		LeiLani Cauthen
		            	</span>
		            	<% end %>		            	
		            </div>
		        	<div class="space-20"></div>		            
		        </div>
		        
	    	</script>

			<script type="text/javascript">
				id = "22"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 17 %>

		    <script id="articleTemplate_17" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Actress Kathy Kinney Brings Mrs. P.’s Literacy Roadshow to MN Schools
			    	<% end %>
				</span>
				<br>
				<span class="news-author"><em>&ndash;&nbsp;
				    <%= link_to archive do %>
						Jacob Hanson, Contributor
				    <% end %>
				</span></em> 
		        
	    	</script>

			<script type="text/javascript">
				id = "17"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 20 %>

		    <script id="articleTemplate_20" type="text/x-jQuery-tmpl">

				<span class="news-title">
			    	<%= link_to archive do %>
				    	Unique AZ District Closes Achievement Gap with Blended Learning Approach
			    	<% end %>
				</span>
				<br>
				<span class="news-author"><em>&ndash;&nbsp;
				    <%= link_to archive do %>
				    	Jacob Hanson, Contributor
				    <% end %>
				</span></em> 
					
	    	</script>

			<script type="text/javascript">
				id = "20"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 2 %>

		    <script id="articleTemplate_2" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Charter School Associates Selects observe4success as Classroom Observation Partner
			    	<% end %>
				</span>
				<br>
				<span class="news-author"><em>&ndash;&nbsp;
				    <%= link_to archive do %>
				    	Jacob Hanson, Contributor
				    <% end %>
				</span></em> 
					
	    	</script>

			<script type="text/javascript">
				id = "2"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 3%>

		    <script id="articleTemplate_3" type="text/x-jQuery-tmpl">
					
				<div style="margin-left: 16%;">
			 		<%= link_to archive do %>
			 			<img src="../repository/article-checklist-of-top-10.png" class="mainfeatureimage" height="450">
			 		<% end %>
				</div>
		 		
				<div class="channel-article header tactic">
					<%= link_to archive do %>
						<span>TACTIC</span>
					<% end %>
				</div>
		 		
			    <div class="kk-headlines">
		        	<div class="h1">
		        		<%= link_to archive do %>
		        			Checklist of Top 10 Benchmarks for Instructional Materials
		        		<% end %>
		        	</div>
		            <div class="h2">
		            	<%= link_to archive, :class => 'k-decorate-none' do %>
		            	How do you know you have quality digital learning content?  This question could be made 
		            	incredibly complex, but luckily people in-the-know have given ten 
		            	simple guidelines.
		            	<% end %>
		            	<%= link_to archive do %>
		            	<span class="byline">&nbsp;by&nbsp;
		            		The LC Staff
		            	</span>
		            	<% end %>
		            </div>
		        </div>
		        
	    	</script>

			<script type="text/javascript">
				id = "3"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 19 %>

		    <script id="articleTemplate_19" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Tulsa Charter School sells cookies to fund purchase of observe4success
			    	<% end %>
				</span>
				<br>

				<span class="news-author"><em>&ndash;&nbsp;
				    <%= link_to archive do %>
						The LC Staff
				    <% end %>
				</span></em> 

	    	</script>

			<script type="text/javascript">
				id = "19"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 13 %>

		    <script id="articleTemplate_13" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	myCore now offers CCSS-Aligned Units and Lessons
			    	<% end %>
				</span>
				<br>

				<span class="news-author"><em>&ndash;&nbsp;
				    <%= link_to archive do %>
				    	Jacob Hanson, Contributor
				    <% end %>
				</span></em> 

	    	</script>

			<script type="text/javascript">
				id = "13"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 9 %>

		    <script id="articleTemplate_9" type="text/x-jQuery-tmpl">
					
				<span class="news-title">
			    	<%= link_to archive do %>
				    	Miami-Dade Renews contract with GuideK12 for Geovisual Analytics
			    	<% end %>
				</span>
				<br>

				<span class="news-author"><em>&ndash;&nbsp;
				    <%= link_to archive do %>
				    	Jacob Hanson, Contributor
				    <% end %>
				</span></em> 
		        
	    	</script>

			<script type="text/javascript">
				id = "9"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 7 %>

		    <script id="articleTemplate_7" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-facing-down.jpeg" class="k-img" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox thoughts_catbox">
			            			<span>THOUGHTS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							Facing Down the Learning Content Disruption 
							<span class="kbyline">by&nbsp<span class="k-b-link">David Kafitz</span></span>											
						</div>
					</div>
					
				<% end %>
						        
	    	</script>

			<script type="text/javascript">
				id = "7"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 4 %>

		    <script id="articleTemplate_4" type="text/x-jQuery-tmpl">
		  		<%= link_to( archive, :class => 'k-link-a' ) do %>
					
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-coffee-chat-with-memphis.jpg" class="k-img" height="200" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox coffee_chat_catbox">
			            			<span>PEOPLE</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							COFFEE CHAT WITH MEMPHIS
							
							<span class="kbyline">by&nbsp<span class="k-b-link">The LC Staff</span></span>											
						</div>														
					</div>					
							  		
		  	  	<% end %>
	    	</script>
				  		 
			<script type="text/javascript">
				id = "4"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 8 %>

		    <script id="articleTemplate_8" type="text/x-jQuery-tmpl">
				
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-five-types.png" class="k-img" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox thoughts_catbox">
			            			<span>THOUGHTS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							FIVE TYPES OF CURRICULUM “THINGS”
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>
					</div>
				
				<% end %>					
		        
	    	</script>

			<script type="text/javascript">
				id = "8"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 10 %>

		    <script id="articleTemplate_10" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-health-care-curriculum.jpg" class="k-img" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox idea_catbox">
			            			<span>IDEA</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							Health Care Curriculum Guide
							<span class="kbyline">by&nbsp<span class="k-b-link">The LC Staff</span></span>											
						</div>
					</div>
				
				<% end %>					
		        
	    	</script>

			<script type="text/javascript">
				id = "10"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 25 %>

		    <script id="articleTemplate_25" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-plagiarism.jpg" class="k-img" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox research_catbox">
			            			<span>RESEARCH</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							School Risk of Plagiarism in Creating your own Digital Curriculum
							<span class="kbyline">by&nbsp<span class="k-b-link">The LC Staff</span></span>											
						</div>														
					</div>
				
				<% end %>					
		        
	    	</script>

			<script type="text/javascript">
				id = "25"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 27 %>

		    <script id="articleTemplate_27" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-coffee-chat-with-huston-large.jpg" class="k-img" width="300" onerror="this.src='../altgraphics/error-260-260.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox coffee_chat_catbox">
			            			<span>PEOPLE</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							COFFEE CHAT WITH HOUSTON ISD
							<span class="kbyline">by&nbsp<span class="k-b-link">The LC Staff</span></span>											
						</div>														
					</div>
				
				<% end %>					
		        
	    	</script>

			<script type="text/javascript">
				id = "27"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 5 %>

		    <script id="articleTemplate_5" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-whats-so-hard.png" class="k-img" height="236" onerror="this.src='../altgraphics/error-260-260.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox tactic_catbox">
			            			<span>THOUGHTS</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							What’s so hard about choosing digital curriculum, you say? Time.
							<br>
							<span class="kbyline">by&nbsp<span class="k-b-link">The LC Staff</span></span>											
						</div>														
					</div>
				
				<% end %>					
		        
	    	</script>

			<script type="text/javascript">
				id = "5"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 1 %>

		    <script id="articleTemplate_1" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell" style="padding-top: 2px;">
						<div class="text_container b_container line-blog">
							
							<img src="../repository/article-blogs-and-links.png" alt="article-blogs-and-links.png" onerror="this.src='../altgraphics/error-300-200.png'">
							
							<div class="headline-junebug">
								<span class="gold">Blogs</span>
								<span class="red">&amp;</span>
								<span class="blue">Links</span>														
							</div>
						</div>
					</div>
				
				<% end %>					
		        
	    	</script>

			<script type="text/javascript">
				id = "1"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 6 %>

		    <script id="articleTemplate_6" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>

					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-education-compared.jpg" class="k-img" width="260" onerror="this.src='../altgraphics/error-300-520.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox perspective_catbox">
			            			<span>PERSPECTIVE</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							Education Compared to All Other Industry
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>														
					</div>
				
				<% end %>					
		        
	    	</script>

			<script type="text/javascript">
				id = "6"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 18 %>

		    <script id="articleTemplate_18" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-to-solution-300-200.png" class="k-img" height="200" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox tactic_catbox">
			            			<span>TACTIC</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							To Solution or Element – That is the Question
							<span class="kbyline">by&nbsp<span class="k-b-link">The LC Staff</span></span>											
						</div>														
					</div>
				
				<% end %>					
		        
	    	</script>

			<script type="text/javascript">
				id = "18"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 21 %>

		    <script id="articleTemplate_21" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell">
						<div class="k-b-container">
							<div class="k-img-cell-single">
								<img src="../repository/article-wanted-new-leader.png" class="k-img" height="180" onerror="this.src='../altgraphics/error-260-180.png'">
							</div>
							<div class="katcolorbox_posit">
			            		<div class="katbox-article katbox people_catbox">
			            			<span>PEOPLE</span>
			            		</div>
			        		</div>																								
						</div>
						<div class="k-b-headline">
							WANTED: NEW LEADER & TEACHER FEATURES
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>														
					</div>
				
				<% end %>					
		        
	    	</script>

			<script type="text/javascript">
				id = "21"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 26 %>

		    <script id="articleTemplate_26" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell" style="padding-top: 2px;">
						<div class="text_container b_container line-lead">
							<img src="../repository/article-educating-for-the-design.jpg" height="250" onerror="this.src='../altgraphics/error-300-200.png'">
						</div>
						<div class="k-b-headline">
							Educating for the Design Economy
							<div style="padding: 10px;">
								<p style="font-family: KlavikaRegular;">
								</p>
							</div>
							
							<span class="kbyline">by&nbsp<span class="k-b-link">LeiLani Cauthen</span></span>											
						</div>														
					</div>
				
				<% end %>					
		        
	    	</script>

			<script type="text/javascript">
				id = "26"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>

		<% if archive.id == 24 %>

		    <script id="articleTemplate_24" type="text/x-jQuery-tmpl">
					
				<%= link_to archive, :class => 'k-link-a' do %>
				
					<div class="k-inner-cell" style="padding-top: 2px;">
						<div class="text_container b_container line-lead">
							<img src="../repository/article-amazon-large.jpg" height="250" alt="article-amazon-large.jpg" onerror="this.src='../altgraphics/error-300-200.png'">
						</div>
						<div class="k-b-headline-kol2">
							Amazon Has the Most Education Apps
							<div style="padding: 10px;">
								<p style="font-family: KlavikaRegular;">
									A look at the App Universe across Microsoft Windows, Amazon, Google Android and Apple’s iTunes
								</p>
							</div>
							<span class="kbyline">by&nbsp<span class="k-b-link">The LC Staff</span></span>											
						</div>														
					</div>
				
				<% end %>					
		        
	    	</script>

			<script type="text/javascript">
				id = "24"
				var container = "#" + id;
				var ref		  = "#articleTemplate_"  + id;
			    $(ref).tmpl().appendTo(container);
			</script>
		
		<% end %>


<% end %>


