<% provide(:title, 'Contacts') %>

	<% if @admin_contacts.any? %>
					
    <table id="admin_list" style="width: 1000px; height: 300px;" title="Contacts" >    	    	
	    <tr align="left">
		    <th field="id" width = "40"><h4>ID</h4></th>
		    <th field="created_at" width = "180"><h4>Date</h4></th>			    		    	
		    <th field="name" width = "200"><h4>Name</h4></th>
		    <th field="email" width = "200"><h4>Email</h4></th>
		    <th field="subject" width = "200"><h4>Subject</h4></th>
		</tr>
		<% @admin_contacts.each do |contact| %>
	    <tr align="left">
		    <td width = "40"><h5><%= contact.id %></h5></td>
		    <td width = "180"><h5><%= contact.created_at %></h5></td>		    	
		    <td width = "200"><h5><%= contact.name %></h5></td>
		    <td width = "200"><h5><%= contact.email %></h5></td>
		    <td width = "200"><h5><%= contact.subject %></h5></td>
		    
		    <!-- = link_to('View', {:action => 'view', :id => contact.id}) -->		    
		     			    
		</tr>
		<% end %>	    	
	</table>
	<%= will_paginate @admin_contacts %>

	<% else %>
	<div class="row" style="color: red;">
		<h3>No record for Contacts</h3>
	</div>
	<div class="row-end">&nbsp;</div>			

	<% end %>
				
<div class="row" style="height: 20px;"></div>
<div class="row-end">&nbsp;</div>				
