<% provide(:title, 'Contacts List') %>

<h1>contacts list</h1>

<div class="wrapper row3">
  <div id="container" class="clear">
  	
  	<div>
		<%= link_to "Return", home_path %>
	</div>
		
  	<br />
  	<br />
  	<br />
  	
    <div id="content">
      
      <h2>Contacts List</h2>


		<div class="pagination">
			<%= will_paginate %>
		</div>
			
		<div style="height: 20px"></div>	
			
	    <table id="contacts" style="width: 1000px; height: 300px;" title="Contacts" >    	    	
		    <tr>
			    <th field="id" width = "40">ID</th>
			    <th field="created_at" width = "180">Date</th>			    		    	
			    <th field="name" width = "200">Name</th>
			    <th field="email" width = "200">Email</th>
			    <th field="subject" width = "200">Subject</th>
			    <th field="view">View</th>			    
			</tr>
    		<% @admin_contacts.each do |contact| %>
		    <tr>
			    <td><%= contact.id %></td>
			    <td><%= contact.created_at %></td>		    	
			    <td><%= contact.name %></td>
			    <td><%= contact.email %></td>
			    <td><%= contact.subject %></td>
			    <td><%= link_to('View', {:action => 'view', :id => contact.id}) %></td>			    
			</tr>
    		<% end %>	    	
	    </table>
			
		<div style="height: 10px"></div>	
				
		<div>
			<%= will_paginate %>
      	</div>
      	
    </div>
    
  </div>
</div>


<h1><%= link_to "<<< Cancel and return to previous page", :back %></h1>


			    <!-- = link_to('ATest', {:action => 'view', :id => '2', :remote => true, :format => 'js'}) 			     -->












        <!-- <div class="pagination">
          <ul>
            <li class="prev"><a href="#">&laquo; Previous</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="splitter">&hellip;</li>
            <li><a href="#">6</a></li>
            <li class="current">7</li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li class="splitter">&hellip;</li>
            <li><a href="#">14</a></li>
            <li><a href="#">15</a></li>
            <li class="next"><a href="#">Next &raquo;</a></li>
          </ul>
        </div> -->
        




