<% @title = "Publisher Product Metadata Edit" %>


	<script src="/assets/jquery.validate.js"></script>
	<script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script>

	<style>
		
		.text-area-metadata {
			height: 
		}
	</style>



	<header>
		<%= render 'share/backtotop' %>
	</header>

	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				
				<div class="col-left">
					<%= render 'share/dir_publishers_left'%>
				</div>
				
				<div class="col-midd">

					<div style="text-align: left;">
						<span class="normal pad-left-20">Publisher Products Metadata</span>
					</div>

					<div class="line-space-20"></div>
					
					<div>
						<span class="normal pad-left-20">
							<em>
							<%= @publisher_product_name %>
							</em>
						</span>
					</div>
					
					<div>
						<span class="normal pad-left-20">
							Product Id: <%= @publisher_product_id %>
						</span>
					</div>

					<div class="line-space-20"></div>


					<div class="line-space-20"></div>

					<div class="table-form" style="width: 600px;">
						<div class="row">
							<div class="cell-100percent" tabindex="1">
								
								 <!-- 
								 :description
								 :price 
								 -->
								 								
								<!-- = render 'shared/error_messages', object: f.object -->			
								<%= form_for(:publisher_product_metadatatag, :html => { :id => 'publisher-product'}, :url => {:action => 'update', :id => @publisher_product_metadatatag.id}) do |f| %>
								
								<div class="row">
									<div class="cell-left-form" style="vertical-align: top; padding-top: 6px;">
										<%= f.label(:text_metadata, 'Metadata', class: 'input-label-form') %>							
									</div>
									<div class="cell-right-form">
										<%= f.text_area :text_metadata, :class => 'input-form-metadata-1', :tabindex => '1', :autofocus => false %>
									</div>
									<div class="cell-error" id="state_text_metadata"><p id="error_text_metadata"></p></div>      					   							 								      	
								</div>

								<div class="input-form-spacer"></div>
								<div class="input-form-spacer"></div>
		
								<div class="row">
									<div style="width: 600px; text-align: center;">
									<%= f.submit 'Submit', :id => 'form-submit-edit', :class => 'form-btn', :tabindex => '6' %>
									</div>      					   							 	
								</div>      		
													
								<% end %>
								
							</div>
							
						</div>
						
					</div>
			
				</div>
				
				<div class="col-right">
					<%= render 'share/dir_publishers_right' %>
				</div>												
			</div>
		</div>
	</div>

	<script>
		
		// $(document).ready(function () {				
		// $(function() {
		// $(window).load( function() {
// 		
			// $("#publisher-product").submit(function() {	
// 				
				// var hidden1 = "<" + "% f.hidden_field :type_content, :value => '" + $("#select_type_content").val() + "'%" + ">";
				// $( "#render-select-type-content" ).html( hidden1 );				
			    // return false;
			// });
		// });		
		
	</script>
