<!DOCTYPE html>
<html>
    <head>
    	
  		<title><%= full_title(yield(:title)) %></title> 
  		

	  	<%= csrf_meta_tags %>
	  	<%= render 'layouts/shim' %>  
  		

    </head>
    <body>

        <div width="960px">
        	
            <div>
                    <h1>The Learning Councel</h1>
            </div>
            
            <%= render(:partial => "share/menu_bar") %> 
    	        
	  		<%= yield %> 
        
      		<%= render(:partial => "share/footer") %>
      		
      		access layout
      
        </div>

    </body>
</html>





<% if false %>
<!-- <!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title> 
  
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>  
</head>
<body>

<div>
  <% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <% end %>
</div>
	
  <%= yield %>

  <br />
  
  <%= debug(params) if Rails.env.development? %>

</body>
</html> -->
<% end %>
