<!DOCTYPE html>
<html>
    <head>
    	
  		<title><%= full_title(yield(:title)) %></title> 
  		
		<%= stylesheet_link_tag "application", media: "all" %>      	
    	<%= javascript_include_tag "application" %>
  		
  		
		<!-- = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true     	
    	= javascript_include_tag "application", "data-turbolinks-track" => true  -->
    	  		
  		
  		<!-- <link rel="stylesheet" type="text/css" href="vendor/assets/stylesheets/easyui.css">  		
  		<script type="text/javascript" src="vendor/assets/javascripts/jquery-1.8.0.min.js"></script>
  		<script type="text/javascript" src="vendor/assets/javascripts/jquery.easyui.min.js"></script> -->  		
  		
		<!-- <link rel="stylesheet" type="text/css" href="http://abelardo-jas.com/assets/easyui/themes/pepper-grinder/easyui.css">
		<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script> -->
		
	  	<%= csrf_meta_tags %>
	  	<%= render 'layouts/shim' %>  
  		
	<style type="text/css">
		body{
			margin: 0;
			padding: 0;
			border:0px none;
			text-align: center;
			background-color:#574934;
		}
		
		#main
		{
			width: 1060px;
			height: 800px;
			text-align: left;
			border: 4px;
			padding: 20px;
			margin: 0 auto;
			background-color:#F2EEE6;
		}
		
		#menu_admin
		{
			text-align: right;
			background-color:#B83B2A;			
			padding: 0px 10px 0px 10px;
			border: 0px;
		}
		
		#menu_bar
		{
			padding: 5px;
			border: 0px;
			background-color: #C9B09B;
		}
		
		.grid_header
		{
			background-color: #C9B09B;			
		}
		
		h1 { 
			color: #B8631D;
			/*color: #000000;*/
			font-size:15px;				
		}
		
		p {
			font-size:14px;
			color: #B8631D;			
		}
		
		#admin_login
		{
			text-align: center;
			background-color:#B83B2A;			
			padding: 40px 10px 0px 140px;
			width: 500px;
			height: 120px;			
		}
		#admin_login_container
		{
			
		}
		
	</style>

    </head>
    <body>
        <div id="main">
        	
            <div>
            	<h1>The Learning Councel</h1>
            </div>
            
            
            <%= render(:partial => "share/menu_bar") %> 

            <div>
      			<%= render(:partial => "share/menu_admin") %>            	
            </div>
    	        
	  		<%= yield %> 
        
      		<%= render(:partial => "share/footer") %>
      		
      		access layout
      		
			<%= debug(params) if Rails.env.development? %>      		
      
        </div>
    </body>
</html>





<% if false %>
<!-- <!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title> 
  
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>  
</head>
<body>

<div>
  <% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <% end %>
</div>
	
  <%= yield %>

  <br />
  
  <%= debug(params) if Rails.env.development? %>

</body>
</html> -->
<% end %>
