<!DOCTYPE html>
<html>
    <head>
    	
	<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="jquery,ui,easy,easyui,web">
	<meta name="description" content="easyui help you build your web page easily!"> -->    	
    	
  		<title><%= full_title(yield(:title)) %></title> 

    	<!-- = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true  -->
    	
    	
    	
    	<!-- http://abelardo-jas.com/assets/easyui/themes/pepper-grinder/images/
		http://abelardo-jas.com/assets/easyui/themes/pepper-grinder/easyui.css    	 -->    	
    	
    	
    	
    	
    	
    	    	    	
    	<!-- javascript_include_tag "application", "data-turbolinks-track" => true -->
    	
		<!-- <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
		<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css">
	    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/css/main.css">
	    <link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
	    <link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
		<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/demo.css"> -->
			
		
		<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script> -->
		
		
	    <!-- <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery-1.7.2.min.js"></script> -->	    
	    
		<!-- <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.min.js"></script> -->
		<!-- http://www.jeasyui.com/datagrid_data1.json -->

	<!-- link.attr('href', '/easyui/themes/'+theme+'/easyui.css'); -->
	
	
	
	
	<link rel="stylesheet" type="text/css" href="http://abelardo-jas.com/assets/easyui/themes/pepper-grinder/easyui.css">
	
	
	<!-- <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/metro-orange/easyui.css"> -->	
	
	
	
	
	<!-- <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">	 -->
	
				
	<!-- <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css">
	<link rel="stylesheet" href="http://www.jeasyui.com/css/main.css" type="text/css" />
	<link rel="stylesheet" href="http://www.jeasyui.com/css/demo1.css" type="text/css" /> -->
	


	<!-- <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css"> -->
	
	

	<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery-1.8.0.min.js"></script>
			



<!-- <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.edatagrid.js"></script>
<script type="text/javascript" src="http://www.jeasyui.com/easyui/datagrid-detailview.js"></script>
<script type="text/javascript" src="http://www.jeasyui.com/easyui/datagrid-groupview.js"></script>
<script type="text/javascript" src="http://www.jeasyui.com/easyui/datagrid-bufferview.js"></script>
<script type="text/javascript" src="http://www.jeasyui.com/easyui/datagrid-scrollview.js"></script>
<script type="text/javascript" src="http://www.jeasyui.com/easyui/datagrid-scrollview2.js"></script> -->











					
	<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script> -->
	
	
	<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
	

	<!-- <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.min.js"></script> -->
	
			
	  	<%= csrf_meta_tags %>
	  	
  		<%= include_gon %>
	  	
	  	<%= render 'layouts/shim' %>  

	<script>

		function getView(){
			alert('view');
		}
	
		function getSelected(){
			//alert('getSelected');			
			var row = $('#user_contacts').datagrid('getSelected');
			if (row){
				alert('Name:'+row.name+"\nEmail:"+row.email);
			}
			else {
				alert('no row selected');
			}
		}
		
		function getSelections(){
			var ids = [];
			var rows = $('#user_contacts').datagrid('getSelections');
			for(var i=0; i<rows.length; i++){
				ids.push(rows[i].name);
			}
			alert(ids.join('\n'));
		}
		
	</script>
	
	<style type="text/css">
		body{
			margin: 0;
			padding: 0;
			border:0px none;
			text-align: center;
			background-color:#574934;
		}
		
		#main
		{
			width: 1060px;
			height: 800px;
			text-align: left;
			border: 4px;
			padding: 20px;
			margin: 0 auto;
			background-color:#F2EEE6;
		}
		
		#menu_admin
		{
			text-align: right;
			background-color:#B83B2A;			
			padding: 0px 10px 0px 10px;
			border: 0px;
		}
		
		#menu_bar
		{
			padding: 5px;
			border: 0px;
			background-color: #C9B09B;
		}
		
		.grid_header
		{
			background-color: #C9B09B;			
		}
		
		h1 { 
			color: #B8631D;
			/*color: #000000;*/
			font-size:15px;				
		}
		
		p {
			font-size:14px;
			color: #B8631D;			
		}
		
	</style>
		
    </head>
    <body>

        <div id="main">
        	
            <div>
            	<h1>The Learning Councel</h1>
            </div>
            <div>
                <p><%= session[:username] %></p>
            </div>
            
            
            <%= render(:partial => "share/menu_bar") %> 

            <div>
      			<%= render(:partial => "share/menu_admin") %>            	
            </div>



    	        
	  		<%= yield %> 
        
      		<%= render(:partial => "share/footer") %>
      		
      		admin layout
      		
			<%= debug(params) if Rails.env.development? %>      		
      
        </div>

    </body>
</html>


<% if false %>
<!-- <!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title> 
  
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>  
</head>
<body>

<div>
  <% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <% end %>
</div>
	
  <%= render(:partial => "share/navigate") %>
  <%= render(:partial => "share/menu") %>

  <%= yield %>

  <br />
  
  <%= debug(params) if Rails.env.development? %>

</body>
</html> -->
<% end %>
