<!DOCTYPE html>
<html>
    <head>
    	
  		<title><%= full_title(yield(:title)) %></title> 

  			<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  			<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  		
  			<%#= stylesheet_link_tag "vendor/assets/yui/build/reset-fonts-grids/reset-fonts-grids.css" %>
  			<%#= stylesheet_link_tag "vendor/assets/yui/build/menu/assets/skins/sam/menu.css" %>

  			<%#= stylesheet_link_tag "reset-fonts-grids.css" %>
  			<%#= stylesheet_link_tag "menu.css" %>

  		
  			<%#= javascript_include_tag "application" %>  		
  			
  			<%#= javascript_include_tag "yahoo-dom-event.js" %>
  			<%#= javascript_include_tag "container_core.js" %>
  			<%#= javascript_include_tag "menu.js" %>
  			
  			  		
  			<%#= javascript_include_tag "../../../vendor/assets/yui/build/yahoo-dom-event/yahoo-dom-event.js" %>
  			<%#= javascript_include_tag "../../../vendor/assets/yui/build/container/container_core.js" %>
  			<%#= javascript_include_tag "../../../vendor/assets/yui/build/menu/menu.js" %>
  		
  			<%#= javascript_include_tag "yahoo-dom-event.js" %>
  			<%#= javascript_include_tag "container_core.js" %>
  			<%#= javascript_include_tag "menu.js" %>
  		
  		
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>  
  		
    	
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Example: Website Top Nav With Submenus Built From Markup (YUI Library)</title>
        

        <!-- <link rel="stylesheet" type="text/css" href="http://developer.yahoo.com/yui/build/reset-fonts-grids/reset-fonts-grids.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="http://developer.yahoo.com/yui/build/menu/assets/skins/sam/menu.css"> -->
                                                                         
        <!-- <link rel="stylesheet" type="text/css" href="../../../vendor/yui/build/reset-fonts-grids/reset-fonts-grids.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="../../../vendor/yui/build/menu/assets/skins/sam/menu.css">         -->        


        <!-- <script type="text/javascript" src="http://developer.yahoo.com/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
        <script type="text/javascript" src="http://developer.yahoo.com/yui/build/container/container_core.js"></script>
        <script type="text/javascript" src="http://developer.yahoo.com/yui/build/menu/menu.js"></script> -->
        

                                         
        <style type="text/css">

            div.yui-b p {
            
                margin: 0 0 .5em 0;
                color: #999;
            
            }
            
            div.yui-b p strong {
            
                font-weight: bold;
                color: #000;
            
            }
            
            div.yui-b p em {

                color: #000;
            
            }            
            
            h1 {

                font-weight: bold;
                margin: 0 0 1em 0;
                padding: .25em .5em;
                background-color: #8C7B68;

            }

            #productsandservices {
            
                margin: 0 0 10px 0;
            
            }

        </style>



        <!-- <script type="text/javascript" src="http://developer.yahoo.com/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
        <script type="text/javascript" src="http://developer.yahoo.com/yui/build/container/container_core.js"></script>
        <script type="text/javascript" src="http://developer.yahoo.com/yui/build/menu/menu.js"></script> -->


        <script type="text/javascript">

            YAHOO.util.Event.onContentReady("productsandservices", function () {

                var oMenuBar = new YAHOO.widget.MenuBar("productsandservices", { 
                                                            autosubmenudisplay: true, 
                                                            hidedelay: 750, 
                                                            lazyload: true });

                oMenuBar.render();
            });

        </script>

    <style>
        #toptitle { font-size:large;background-color: #FFA500 !important; }
    </style>

    </head>
    <body class="yui-skin-sam" id="yahoo-com">

        <div id="doc" class="yui-t1" style="width:960px">
        	
            <div id="hd">
                    <h1>The Learning Councel</h1>
            </div>
            
            <%= render(:partial => "share/menu_bar") %> 
    	        
	  		<%= yield %> 
        
      		<%= render(:partial => "share/footer") %>
      
        </div>

    </body>
</html>