<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
								    	
  		<title><%= full_title(yield(:title)) %></title> 

    	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  		<%= javascript_include_tag "application", "data-turbolinks-track" => false %>
		<%= favicon_link_tag source='fav-lc-2-w16-h14.png' %>
  		<%= include_gon %>
	  	<%= csrf_meta_tags %>
	  	<%= render 'layouts/shim' %>  
		
    </head>
    
	<body>
		
		<%= render 'layouts/nav_main' %>
		<%= yield %> 
		<%= render 'layouts/footer' %>
			
		<!-- Piwik -->
		<script type="text/javascript"> 
		  var _paq = _paq || [];
		  _paq.push(['trackPageView']);
		  _paq.push(['enableLinkTracking']);
		  (function() {
		    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://173.255.208.96:8001//";
		    _paq.push(['setTrackerUrl', u+'piwik.php']);
		    _paq.push(['setSiteId', 1]);
		    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
		    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		  })();
		
		</script>
		<noscript><p><img src="http://173.255.208.96:8001/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
		<!-- End Piwik Code -->

		<%= debug(params) if Rails.env.development? %>
		
	</body>
	
</html>
