<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
								    	
  		<title><%= full_title(yield(:title)) %></title> 

    	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  		
  		
		<link rel="icon" type="image/png" href="/assets/image_fav_2.png" />
  		
  		
   		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>    		   		
    	
	  	<%= csrf_meta_tags %>
	  	<%= render 'layouts/shim' %>  

	    	  							 	  	
	<script>

      // window.onload = function() {
          // var a = document.getElementById("mylink");
// 
          	// a.onclick = function() {
//           		
            // return false;
          // }
        // }	
	
		
		// jQuery.ajaxSetup({ 
		  // 'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
		// })
 		
		
		
		// function getMsg(){
			// msg = getSelected();
			// //msg = "msg";
			// alert(msg);
			// var p = document.getElementById("view_message");
			// p.innerHTML = "<em>" + msg  + "</em>";
 			
		// }
		
	</script>
		                		
    </head>
	<body>
		<div class="container">
			
			<% if !session[:admin] %>	
    			<%= render 'layouts/header' %>
			<% else %>
    			<%= render 'layouts/header_admin' %>			
			<% end %>
			    		    	    			
			<%= yield %> 

    		<%= render 'layouts/footer' %>
			
      		application layout
      		
			<%= debug(params) %>
			      		
		</div>	  
	</body>
</html>
