<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
								    	
  		<title><%= full_title(yield(:title)) %></title> 

    	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  		
		<!-- <link rel="icon" type="image/png" href="/assets/image_fav_2.png" /> -->		
		
		<link rel="icon" type="image/png" href="/assets/logo-lc-round-fav.png" />
  		
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Bubbler+One|Metrophobic' rel='stylesheet' type='text/css'>
				  		
   		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>    		   		
    	
  		<%= include_gon %>
    	
    	
	  	<%= csrf_meta_tags %>
	  	<%= render 'layouts/shim' %>  

		<!-- <link href="css/custom-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet">
		<script src="js/jquery-1.9.1.js"></script>
		<script src="js/jquery-ui-1.10.3.custom.js"></script> -->
		
		
		<style type="text/css">
		
			@font-face {
				font-family: KlavikaExtraLight;
				src: url('/assets/KlavikaWebDisplayExtraLight.eot');
				src: url('/assets/KlavikaWebDisplayExtraLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayExtraLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaLight;
				src: url('/assets/KlavikaWebBasicLight.eot');
				src: url('/assets/KlavikaWebBasicLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaRegular;
				src: url('/assets/KlavikaWebBasicRegular.eot');
				src: url('/assets/KlavikaWebBasicRegular.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicRegular.woff') format('woff');
			}		
			@font-face {
				font-family: KlavikaMedium;
				src: url('/assets/KlavikaWebBasicMedium.eot');
				src: url('/assets/KlavikaWebBasicMedium.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicMedium.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBold;
				src: url('/assets/KlavikaWebBasicBold.eot');
				src: url('/assets/KlavikaWebBasicBold.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicBold.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBlack;
				src: url('/assets/KlavikaWebDisplayBlack.eot');
				src: url('/assets/KlavikaWebDisplayBlack.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayBlack.woff') format('woff');
			}
		
			@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
			
		</style>
		
		<script>
	
	      // window.onload = function() {
	          // var a = document.getElementById("mylink");
	// 
	          	// a.onclick = function() {
	//           		
	            // return false;
	          // }
	        // }	
			
			// jQuery.ajaxSetup({ 
			  // 'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
			// })
	 		
			// function getMsg(){
				// msg = getSelected();
				// //msg = "msg";
				// alert(msg);
				// var p = document.getElementById("view_message");
				// p.innerHTML = "<em>" + msg  + "</em>";
	 			
			// }
	
			// $(function() {
				// $( "#button" ).button();
			// });
			
			
		</script>
		                		
    </head>
    
	<body>
		
		 <!-- if !session[:admin] 	 -->		
			<%= render 'layouts/header' %>
		 <!-- else 
			 render 'layouts/header_admin' 			
		 end  -->
		 		
		<!-- <div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;"> -->
									
			<%= yield %> 

		<!-- </div> -->
		
		<%= debug(params) if Rails.env.development? %>
		
	</body>
	
</html>
