<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
								    	
  		<title><%= full_title(yield(:title)) %></title> 

		<% if false %>
		<link rel="image_src" href="<%= @info.linkimg_url %>">
		<meta name="original-source" content="http://thelearningcounsel.com/archives/show?id=<%= @info.article_id %>">
		<meta property="og:title" content="<%= @info.linktitle %>">
		<meta property="og:description" content="<%= @info.description %>" >
		<meta property="og:type" content="article">
		<meta property="og:url" content="http://thelearningcounsel.com/archives/show?id=<%= @info.article_id %>">
		<meta property="og:image" content="http://thelearningcounsel.com/repository/<%= @info.linkimg %>">
		<% end %>


    	 <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>    	
    	
		<!-- <link href="/assets/custom_nav.css" media="all" rel="stylesheet">
		<link href="/assets/ink_screen_2.css" media="all" rel="stylesheet">    	
		<link href="/assets/custom.css" media="all" rel="stylesheet">    	
		<link href="/assets/custom_page_layout.css" media="all" rel="stylesheet"> -->    	

    	



  		
		<!-- <link rel="icon" type="image/png" href="/assets/image_fav_2.png" /> -->		
		
		<link rel="icon" type="image/png" href="/assets/logo-lc-round-fav.png">
  		
				  		
   		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>    		   		
    	
  		<%= include_gon %>
    	
    	
	  	<%= csrf_meta_tags %>
	  	<%= render 'layouts/shim' %>  

		<!-- <link href="css/custom-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet"> -->
		
		
		<script src="../scripts/jquery-2.1.2.js"></script>
		<!-- <script src="../scripts/jquery_002.js"></script> -->
		
		
		<!-- <script src="js/jquery-1.9.1.js"></script> -->
		<!-- <script src="js/jquery-ui-1.10.3.custom.js"></script> -->
		
		
		                		
    </head>
    
	<body>
		
		<%= render 'layouts/header' %>
									
		<%= yield %> 
		
		<%= debug(params) if Rails.env.development? %>
		
	</body>
	
</html>


