<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
								    	
  		<title><%= full_title(yield(:title)) %></title> 

    	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  		<%= javascript_include_tag "application", "data-turbolinks-track" => false %>
		<%= favicon_link_tag source='fav-lc-2-w16-h14.png' %>
  		<%= include_gon %>
	  	<%= csrf_meta_tags %>
	  	<%= render 'layouts/shim' %>  
		   
    </head>
    
	<body>
		<%= render 'layouts/nav_main' %>
		<%= yield %> 
		<%= render 'layouts/footer' %>

		<%= javascript_include_tag "jquery.validate" %>
		<%= javascript_include_tag "reg_events_new" %>
			
		<%= debug(params) if Rails.env.development? %>
	</body>
	
</html>

