<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#"><!-- <html> -->
    <head>
		<meta charset="utf-8">
								    	
  		<title><%= full_title(yield(:title)) %></title> 

		<link rel="image_src" href="<%= @info.linkimg_url %>">
		<meta name="original-source" content="http://thelearningcounsel.com/<%= @info.slug %>">
		<meta property="og:title" content="<%= @info.linktitle %>">
		<meta property="og:description" content="<%= @info.description %>" >
		<meta property="og:type" content="article">
		<meta property="og:url" content="http://thelearningcounsel.com/<%= @info.slug %>">

		<!-- <meta property="og:image" content="http://thelearningcounsel.com/<#%= @info.linkimg_url %#>/<#%= @info.linkimg %#>"> -->
		<meta property="og:image" content="http://thelearningcounsel.com/repository/cover-w350-h453.jpg">
		<!-- <meta property="og:image" content="http://example.com/ogp.jpg" /> -->
		<!-- <meta property="og:image:secure_url" content="https://secure.example.com/ogp.jpg" /> -->
		<meta property="og:image:type" content="image/jpeg" />
		<meta property="og:image:width" content="350" />
		<meta property="og:image:height" content="453" />		

    	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  		<%= javascript_include_tag "application", "data-turbolinks-track" => false %>
		<%= favicon_link_tag source='fav-lc-2-w16-h14.png' %>
  		<%= include_gon %>
	  	<%= csrf_meta_tags %>
	  	<%= render 'layouts/shim' %>  
		
		<!-- <script type="text/javascript" src="../scripts/jquery-1.4.1.min.js"></script> -->
		
		<script>
			
			function renderDownloadMsgFree() {
				$('#render_download_msg').html("<%= j render('special_reports/download_msg_free') %>");
			}
			function renderDownloadMsgRegister() {
				$('#render_download_msg').html("<%= j render('special_reports/download_msg_register') %>");
			}
			
		</script>
		
    </head>
    
	<body>
		
		<%= render 'layouts/nav_main' %>
		<%= yield %> 
		<%= render 'layouts/footer' %>
		<%= javascript_include_tag "special_reports" %>
					
					
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-57340003-1', 'auto');
		  ga('send', 'pageview');
		</script>		
					
					
		<% if false %>
		<!-- Piwik -->
		<script type="text/javascript"> 
		  var _paq = _paq || [];
		  _paq.push(['trackPageView']);
		  _paq.push(['enableLinkTracking']);
		  (function() {
		    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://173.255.208.96:8001//";
		    _paq.push(['setTrackerUrl', u+'piwik.php']);
		    _paq.push(['setSiteId', 1]);
		    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
		    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		  })();
		
		</script>
		<noscript><p><img src="http://173.255.208.96:8001/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
		<!-- End Piwik Code -->
		<% end %>
		
		<%= debug(params) if Rails.env.development? %>
		
	</body>
	
</html>

